Repository openthread/openthread, pull requests merged in 2018-11, with the labels that each got.

#3195 [thci] enhancements for ncp device
  tools/harness-thci/OpenThread_WpanCtl.py
Labels: P3, certification, enhancement

#3243 [cli] fix typo in CoapSecure
  src/cli/cli.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
Labels: P4, comp: cli, enhancement

#3244 [mac] move "Mac::ChannelMask" to its own files "mac/channel_mask.hpp|cpp"
  Android.mk
  etc/visual-studio/libopenthread.vcxproj
  etc/visual-studio/libopenthread.vcxproj.filters
  etc/visual-studio/libopenthread_k.vcxproj
  etc/visual-studio/libopenthread_k.vcxproj.filters
  src/core/Makefile.am
  src/core/mac/channel_mask.cpp
  src/core/mac/channel_mask.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: P4, enhancement

#3247 [posix-app] unsupported radio file error
  src/posix/platform/radio_spinel.cpp
Labels: P3, enhancement, posix-app

#3239 [link-raw] fix radio with multiple transmit buffers
  examples/platforms/posix/platform-posix.h
  examples/platforms/posix/sim/platform-sim.c
  examples/platforms/posix/sim/radio-sim.c
  include/openthread/link_raw.h
  src/core/api/link_raw_api.cpp
  src/core/common/instance.hpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac_frame.hpp
  src/ncp/ncp_base_radio.cpp
Labels: P2, bug

#3240 [tlv] update channel related TLVs to process channel page
  include/openthread/platform/radio.h
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/announce_sender.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
Labels: P4, enhancement

#3252 [clang-format] add diags to make pretty
  src/Makefile.am
  src/diag/diag_process.cpp
  src/diag/diag_process.hpp
  src/diag/openthread-diag.cpp
Labels: P4, enhancement

#3261 [docs] added link for OpenThread China and updated Doxygen TOC
  README.md
  include/openthread/error.h
Labels: docs

#3259 [dtls] map OT errors from send callback to MBEDTLS_ERR_NET_SEND_FAILED
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
Labels: P4, enhancement

#3260 [coap] fix header length calculation overflow error
  src/core/coap/coap_header.cpp
Labels: P4, bug, coap

#3237 [sntp] initial implementation of sntp client
  .travis/script.sh
  configure.ac
  examples/common-switches.mk
  include/openthread/Makefile.am
  include/openthread/error.h
  include/openthread/sntp.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/Makefile.am
  src/core/api/sntp_api.cpp
  src/core/common/instance.hpp
  src/core/net/sntp_client.cpp
  src/core/net/sntp_client.hpp
  src/core/openthread-core-default-config.h
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
Labels: P4, enhancement

#3263 [mac] move "FillMacCountersTlv()" to NetworkDiagnostic class
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
Labels: P4, enhancement

#3248 [netif] add notification for up or down
  include/openthread/instance.h
  src/core/thread/thread_netif.cpp
Labels: P3, api: user, enhancement

#3264 [posix-app] move die functions to misc.c
  src/posix/platform/misc.c
  src/posix/platform/platform-posix.h
  src/posix/platform/radio_spinel.cpp
Labels: P4, enhancement, posix-app

#3265 [spinel] add documentation on used commands in "spinel.h"
  src/ncp/spinel.h
Labels: NCP, P4, enhancement

#3267 [style] fix code style
  src/core/thread/thread_netif.cpp
Labels: P4, enhancement

#3254 [mac] remove dead code
  src/core/mac/mac.cpp
Labels: P4, enhancement, platform: windows

#3199 [api] update message API to create message with priority
  examples/drivers/windows/otLwf/eventprocessing.c
  include/openthread/coap.h
  include/openthread/ip6.h
  include/openthread/message.h
  include/openthread/udp.h
  src/cli/cli.cpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp_example.cpp
  src/core/api/coap_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/udp_api.cpp
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/thread/mle.cpp
  src/ncp/ncp_base_mtd.cpp
  src/posix/platform/udp.cpp
  tests/fuzz/ip6_send.cpp
  tests/unit/test_message_queue.cpp
Labels: P4, api: user, enhancement

#3251 [mle] add address outside of constructor
  src/core/api/thread_api.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/thread_netif.cpp
Labels: P3, enhancement

#3266 [core] rename UDP proxy to UDP forward
  .travis/script.sh
  configure.ac
  examples/Makefile-posix
  examples/common-switches.mk
  include/openthread-config-android.h
  include/openthread/udp.h
  src/core/api/udp_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
  src/ncp/spinel.c
  src/ncp/spinel.h
  src/posix/Makefile-posix
Labels: P4, api: user, enhancement

#3270 [harness-automation] add new test cases according to testplan changes
  tools/harness-automation/cases/commissioner_9_2_19.py
  tools/harness-automation/cases/fed_5_7_1.py
  tools/harness-automation/cases/fed_5_7_3.py
  tools/harness-automation/cases/leader_7_1_6.py
  tools/harness-automation/cases/leader_7_1_7.py
  tools/harness-automation/cases/leader_9_2_19.py
  tools/harness-automation/cases/reed_5_7_2.py
  tools/harness-automation/cases/router_5_7_3.py
Labels: P4, enhancement

#3272 [posix-app] update README.md for USB=0
  src/posix/README.md
Labels: P4, docs, posix-app

#3275 [ncp] fix constructor initializer list format
  src/ncp/ncp_base.cpp
Labels: NCP, P4, enhancement

#3278 [cli] fix network time format specifier
  src/cli/cli.cpp
Labels: P4, bug, comp: cli

#3238 [ncp] notify host asynchronously upon a significant thread network time change
  include/openthread/network_time.h
  src/core/api/network_time_api.cpp
  src/core/common/instance.hpp
  src/core/openthread-core-default-config.h
  src/core/thread/time_sync_service.cpp
  src/core/thread/time_sync_service.hpp
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_mtd.cpp
Labels: NCP, P4, enhancement

#3273 [api] expose API to select source address
  include/openthread/ip6.h
  src/core/api/ip6_api.cpp
Labels: P3, api: user, enhancement

#3201 [qos] process IPv6 packet priority
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_headers.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: P4, enhancement

#3258 [coaps] defer sending coaps message
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
Labels: P4, coap, enhancement

#3276 [style] use debug.hpp instead of assert.h in core
  src/cli/cli_instance.cpp
  src/core/crypto/ecdsa.cpp
  src/core/utils/heap.cpp
Labels: P4, enhancement

#3282 [docs] update Doxygen TOC
  include/openthread/error.h
Labels: docs

#3279 [cc1352] fix clearing source match entry issue
  examples/platforms/cc1352/radio.c
  examples/platforms/cc2650/radio.c
  examples/platforms/cc2652/radio.c
Labels: bug, platform: cc1352, platform: cc2650

#3274 [ncp] allow pcap without link-raw
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
  src/ncp/spinel.c
  src/ncp/spinel.h
Labels: NCP, P4, enhancement

#3283 [nrf52840] suppress warning in mbedtls in Keil and IAR compiler
  third_party/NordicSemiconductor/libraries/crypto/nrf52840-mbedtls-config.h
Labels: P4, enhancement, platform: nrf52840

#3277 [nrf52840] fix uart configuration of HWFC
  examples/platforms/nrf52840/platform-config.h
  examples/platforms/nrf52840/uart.c
Labels: P4, bug, platform: nrf52840

#3288 [coap] remove functional code from assert
  src/core/coap/coap.hpp
Labels: P3, bug, coap

#3289 [posix] enable sntp client by default
  examples/Makefile-posix
Labels: P4, comp: build, enhancement, platform: posix

#3291 [time-sync] fix incorrect status after boot
  src/core/thread/time_sync_service.cpp
Labels: P4, bug

#3292 [efr32] add missing volatile qualifiers
  examples/platforms/efr32/radio.c
  examples/platforms/efr32/uart.c
Labels: P3, bug, platform: efr32

#3290 [nrf52840] update README.md
  examples/platforms/nrf52840/README.md
Labels: P4, docs, enhancement, platform: nrf52840

#3293 [posix-app] add HdlcInterface class
  Android.mk
  src/posix/platform/Makefile.am
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/radio_spinel.cpp
  src/posix/platform/radio_spinel.hpp
Labels: P4, enhancement, posix-app

#3294 [mle] avoid shadow declaration with kVersion
  src/core/thread/mle.cpp
  src/core/thread/mle_constants.hpp
  src/core/thread/mle_router.cpp
Labels: P4, enhancement

#3297 [toranj] update test-010 to use verify_within
  tests/toranj/test-010-on-mesh-prefix-config-gateway.py
Labels: P4, continuous-integration, enhancement

#3249 [netif] add address callback
  include/openthread/ip6.h
  src/core/api/ip6_api.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/utils/slaac_address.cpp
Labels: P3, api: user, enhancement

#3298 [qos] check frame length when reading UDP header
  src/core/thread/mesh_forwarder.cpp
Labels: P4, bug

#3301 [radio-spinel] remove unused method HandleHdlcError
  src/posix/platform/radio_spinel.cpp
  src/posix/platform/radio_spinel.hpp
Labels: P4, enhancement, posix-app

#3302 [mac] log some of the less useful RX errors at debug log level
  src/core/mac/mac.cpp
Labels: P4, enhancement

#3303 [radio-spinel] remove dst address check logic
  src/posix/platform/radio_spinel.cpp
Labels: P4, enhancement, posix-app

#3304 [radio-spinel] use a dedicated mAckRadioFrame for acks
  src/posix/platform/radio_spinel.cpp
  src/posix/platform/radio_spinel.hpp
Labels: P4, enhancement, posix-app

#3305 [ncp] add new spinel capability SPINEL_CAP_THREAD_BORDER_ROUTER
  src/ncp/ncp_base.cpp
  src/ncp/spinel.c
  src/ncp/spinel.h
Labels: NCP, P4, enhancement

#3306 [toranj] update test-603 to use verify_within()
  tests/toranj/test-603-channel-manager-announce-recovery.py
Labels: P4, continuous-integration, enhancement

#3295 [mle] do not respond to MLE Parent Requests in detached state
  src/core/thread/mle_router.cpp
Labels: P4, enhancement

#3307 [ip6] use mesh local prefix length as ALOC prefix length
  src/core/net/dhcp6_server.cpp
  src/core/thread/mle.cpp
Labels: enhancement

#3309 [hdlc-interface] wait for socket to be writable when sending a frame
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
Labels: P4, enhancement, posix-app

#3310 [hdlc-interface] ignore errno EINTR in socket read
  src/posix/platform/hdlc_interface.cpp
Labels: P4, enhancement, posix-app

#3308 [docs] tag APIs that are reserved for testing/demo purposes
  include/openthread/dataset_ftd.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
Labels: docs

#3314 [radio-spinel] simplify state definitions in RadioSpinel
  src/posix/platform/radio_spinel.cpp
  src/posix/platform/radio_spinel.hpp
Labels: P4, enhancement, posix-app

#3316 [coap] update the Content-Format enumeration
  include/openthread/coap.h
Labels: P4, coap, enhancement

#3319 [radio-spinel] always be ready to read from socket
  src/posix/platform/radio_spinel.cpp
Labels: P4, enhancement, posix-app

#3320 [android] include user defined configuration in Android.mk
  Android.mk
Labels: P3, comp: build, posix-app

#3313 [radio-spinel] determine presence of Ack from spinel TxDone frame
  src/posix/platform/radio_spinel.cpp
  src/posix/platform/radio_spinel.hpp
Labels: P4, enhancement, posix-app

#3262 [mac] adding sub-MAC layer
  Android.mk
  etc/visual-studio/libopenthread.vcxproj
  etc/visual-studio/libopenthread.vcxproj.filters
  etc/visual-studio/libopenthread_k.vcxproj
  etc/visual-studio/libopenthread_k.vcxproj.filters
  src/core/Makefile.am
  src/core/api/link_raw_api.cpp
  src/core/common/instance.hpp
  src/core/common/timer.hpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_callbacks.cpp
Labels: P4, enhancement

#3327 [meshcop] simplify msg copy
  src/core/meshcop/joiner_router.cpp
Labels: P4, enhancement

#3328 [meshcop] initialize commissioner ALOC
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
Labels: P2, bug

#3329 [android] fix a typo in Android.mk
  Android.mk
Labels: P4, bug, comp: build

#3330 [nrf52840] make sure nrf_mbr.h is in include paths
  examples/platforms/nrf52840/Makefile.am
Labels: P4, comp: build, platform: nrf52840

#3332 [nrf52840] update softdevice headers
  third_party/NordicSemiconductor/softdevice/s140/doc/s140_nrf52_6.1.0_release-notes.pdf
  third_party/NordicSemiconductor/softdevice/s140/doc/s140_nrf52_6.1.1_license-agreement.txt
  third_party/NordicSemiconductor/softdevice/s140/doc/s140_nrf52_6.1.1_release-notes.pdf
  third_party/NordicSemiconductor/softdevice/s140/headers/ble.h
  third_party/NordicSemiconductor/softdevice/s140/headers/ble_gap.h
  third_party/NordicSemiconductor/softdevice/s140/headers/nrf52/nrf_mbr.h
  third_party/NordicSemiconductor/softdevice/s140/headers/nrf_sdm.h
Labels: P4, enhancement, platform: nrf52840

#3321 [thci] pass the channel mask as a comma separated channel string
  tools/harness-thci/OpenThread_WpanCtl.py
Labels: P4, certification, enhancement

#3333 [mle] print partition id as unsigned int
  src/core/thread/mle_router.cpp
Labels: P4, enhancement
