Repository openthread/openthread, pull requests merged in 2021-06, with the labels that each got.

#6694 [tests] give more time for SRP client to upgrade to router
  tests/scripts/thread-cert/test_srp_lease.py
Labels: cla: yes, continuous-integration

#6697 [udp] fix potential infinite loop in `Udp::GetEphemeralPort`
  src/core/net/udp6.cpp
Labels: bug, cla: yes

#6691 [cli] remove undefined method declarations in `Interpreter`
  src/cli/cli.hpp
Labels: P4, cla: yes, comp: cli, enhancement

#6692 [cli] use `const` name lists to output MAC/MLE/MsgBuffer/Coex counters
  src/cli/cli.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6698 [posix] fix strncpy warning about null terminated string length
  src/posix/platform/backbone.cpp
Labels: cla: yes, comp: build

#6693 [ip6] add public API to convert `otSockAddr` to string
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
  src/core/api/ip6_api.cpp
  src/core/net/socket.cpp
  src/core/net/socket.hpp
  tests/scripts/expect/tun-netstat.exp
Labels: P4, api: user, cla: yes, comp: cli, enhancement

#6699 [cli] use `OutputPrefix()` in `Cli::Dataset`
  src/cli/cli_dataset.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6696 [cli] add helper `Interpreter::OutputTableHeader()`
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  tests/scripts/expect/tun-netstat.exp
Labels: P4, cla: yes, comp: cli, enhancement

#6700 [cli] adding helper `ProcessGet/Set()` to handle simpler commands
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
  src/core/utils/parse_cmdline.hpp
Labels: P4, cla: yes, comp: cli, enhancement

#6703 [mac] new public API to validate and set `otNetworkName`
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/core/api/dataset_api.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
Labels: P4, api: user, cla: yes, comp: cli, comp: mac, enhancement

#6704 [mac] avoid potential assert with SetKeyId() on an invalid frame
  src/core/mac/sub_mac.cpp
Labels: bug, cla: yes, comp: mac

#6709 [posix] fix issue with logging CLI output
  src/posix/platform/daemon.cpp
Labels: P4, cla: yes, platform: posix

#6702 [srp-server] choose different UDP port from previous on reboot
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/config/openthread-core-config-check.h
  src/core/config/srp_server.h
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  tests/scripts/thread-cert/test_srp_server_reboot_port.py
Labels: cla: yes, comp: dns, enhancement

#6663 [posix] make platform udp as mainloop source
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  src/posix/platform/udp.cpp
  src/posix/platform/udp.hpp
Labels: cla: yes, enhancement, platform: posix

#6707 [cli] enhance `Cli::Coap/CoapSecure`
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  tests/scripts/expect/cli-coaps.exp
Labels: P4, cla: yes, comp: cli, comp: coap, enhancement

#6705 [docs] update README for ping command
  src/cli/README.md
Labels: cla: yes, comp: cli, comp: docs

#6710 [github-actions] enable Avahi in OTBR CI tests
  .github/workflows/otbr.yml
  script/test
Labels: cla: yes, comp: dns, continuous-integration

#6708 [cli] harmonize passing of arguments to command handlers
  src/cli/cli_coap.cpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_joiner.cpp
  src/cli/cli_srp_server.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6715 [tests] remove unnecessary host SLAAC assertions
  tests/scripts/thread-cert/border_router/test_single_border_router.py
Labels: cla: yes, continuous-integration

#6713 [mle] enable sending MLE Link Request on Adv timeout by default
  src/core/config/mle.h
  tests/scripts/thread-cert/Cert_9_2_15_PendingPartition.py
  tests/toranj/openthread-core-toranj-config.h
Labels: cla: yes, comp: mle, enhancement

#6711 [udp6] improve frame filtering (based on #6641)
  include/openthread/instance.h
  include/openthread/udp.h
  src/core/api/udp_api.cpp
  src/core/net/ip6.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
Labels: api: user, cla: yes, enhancement

#6609 [thci] enhance THCI for 1.2 Certification
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: Thread 1.2, certification, cla: yes, comp: backbone-router, enhancement

#6720 [numeric-limits] use `constexpr` variables for min/max
  src/cli/cli.cpp
  src/core/common/numeric_limits.hpp
  src/core/common/trickle_timer.hpp
  src/core/net/ip4_address.cpp
  src/core/net/ip6_address.cpp
  src/core/utils/parse_cmdline.cpp
  src/core/utils/ping_sender.cpp
  src/core/utils/ping_sender.hpp
Labels: P4, cla: yes, enhancement

#6722 [mle-router] ensure route table is logged only when changed
  src/core/thread/mle_router.cpp
Labels: P4, cla: yes, comp: mle, enhancement

#6725 [string] use `StringFind()` in core modules
  src/core/coap/coap_message.cpp
  src/core/utils/parse_cmdline.cpp
Labels: P4, cla: yes, enhancement

#6729 [docs] add Espressif and Telink logos and links
  README.md
  doc/images/ot-contrib-espressif-github.png
  doc/images/ot-contrib-telink-github.png
Labels: cla: yes, comp: docs

#6727 [srp-server] inline simple getter/setter methods
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6728 [settings] fix OT_LOG_LEVEL macros
  src/core/common/settings.cpp
Labels: P4, bug, cla: yes

#6723 [srp-client] allow callback to be invoked when client is stopped
  src/core/net/srp_client.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6730 [mle] ensure MLE messages are sent via broadcast
  src/core/thread/mesh_forwarder.cpp
Labels: P2, bug, cla: yes

#6731 [tests] fix intermittent failures in Cert_9_2_16
  tests/scripts/thread-cert/Cert_9_2_16_ActivePendingPartition.py
Labels: P4, bug, cla: yes, continuous-integration

#6712 [posix] increase default address cache size from 32 to 128
  src/posix/platform/openthread-core-posix-config.h
Labels: cla: yes, enhancement, platform: posix

#6739 [mesh-forwarder] calculate PAN ID compression according to 802.15.4-2015
  src/core/thread/mesh_forwarder.cpp
Labels: Thread 1.2, cla: yes, comp: mac

#6491 Proposal for a TCP API for OpenThread
  doc/ot_api_doc.h
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/tcp.h
Labels: api: user, cla: yes, comp: tcp, enhancement

#6745 [thci] fix THCI issue on Thread Dev Harness 1.1
  tools/harness-thci/OpenThread.py
Labels: bug, certification, cla: yes

#6717 [cmake] always use git hash for default package version
  CMakeLists.txt
  etc/cmake/functions.cmake
Labels: cla: yes, comp: build, enhancement

#6734 [csl] fix overflow in calculating semiWindow
  src/core/mac/sub_mac.cpp
Labels: Thread 1.2, cla: yes

#6733 [string] new `StringFind()/StringEndsWith()` for a sub-string
  src/core/common/string.cpp
  src/core/common/string.hpp
  tests/unit/test_string.cpp
Labels: P4, cla: yes, enhancement

#6726 [cmd-parser] simplify `ParseAsHexString()` & `Cli::UdpExample::ProcessSend()`
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/core/utils/parse_cmdline.cpp
  src/core/utils/parse_cmdline.hpp
  tests/unit/test_cmd_line_parser.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6749 [otci] remove debug prints
  tools/otci/otci/otci.py
Labels: P4, cla: yes, comp: otci

#6747 [srp-server] take ownership of resources on updating existing `Service`
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6741 [mle] enable announce sender by default
  src/core/config/announce_sender.h
  src/core/thread/announce_sender.hpp
  tests/toranj/openthread-core-toranj-config.h
Labels: P4, cla: yes, comp: mle, enhancement

#6754 [srp-server] free `aHost` in `CommitSrpUpdate()` in case of error
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: P4, bug, cla: yes, comp: dns

#6758 [dnssd-server] remove unused `using` for `HostSwap16()`
  script/make-pretty
  src/core/net/dnssd_server.cpp
Labels: P4, cla: yes, comp: dns, continuous-integration, enhancement

#6753 [otci] misc enhancements
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: P4, cla: yes, comp: otci, enhancement

#6719 [srp-client] add feature for switching server on failure
  src/core/config/srp_client.h
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/thread/network_data_service.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6716 [link-metrics] split OPENTHREAD_CONFIG_MLE_LINK_METRICS_ENABLE macro
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  examples/common-switches.mk
  examples/platforms/simulation/radio.c
  examples/platforms/utils/link_metrics.cpp
  examples/platforms/utils/mac_frame.cpp
  include/openthread/instance.h
  include/openthread/link_metrics.h
  script/check-size
  script/make-pretty
  script/test
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/api/link_metrics_api.cpp
  src/core/common/instance.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/config/mle.h
  src/core/config/openthread-core-config-check.h
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/radio/radio.hpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
  tests/unit/test_platform.cpp
Labels: Thread 1.2, cla: yes, comp: low-power

#6756 [diags] add minimal IEEE 802.15.4 frame size check
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
Labels: api: user, cla: yes, comp: diags

#6626 [udp] forbid udp duplicate open
  include/openthread/instance.h
  include/openthread/udp.h
  src/cli/cli_udp.cpp
  src/core/api/udp_api.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
Labels: api: user, bug, cla: yes, enhancement

#6762 [thci] remove assert which checks if the port is unicode
  tools/harness-thci/OpenThread.py
Labels: bug, certification, cla: yes

#6751 [backbone-router] fix Leader isn't always selected as PBBR
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
Labels: Thread 1.2, bug, cla: yes, comp: backbone-router

#6670 [otci] fix command issue after `factoryreset`
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: bug, cla: yes, comp: otci

#6765 [dua] fix `test_dua_dad` random fails
  tests/scripts/thread-cert/pktverify/packet_verifier.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, continuous-integration

#6759 [otci] fix wait duration
  tools/otci/otci/otci.py
Labels: bug, cla: yes, comp: otci

#6744 [tcp] add TCP class and stub implementations of the TCP API
  Android.mk
  include/openthread/instance.h
  include/openthread/tcp.h
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/tcp_api.cpp
  src/core/common/instance.hpp
  src/core/config/ip6.h
  src/core/net/checksum.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_filter.cpp
  src/core/net/tcp.hpp
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: api: user, cla: yes, comp: tcp

#6766 [simulation] remove use of internal definitions/headers in radio platform
  examples/platforms/simulation/radio.c
Labels: P4, cla: yes, enhancement, platform: simulation

#6764 [test] enhance `{Verify/Success}OrQuit()` and their use in unit test
  tests/unit/test_aes.cpp
  tests/unit/test_checksum.cpp
  tests/unit/test_child.cpp
  tests/unit/test_child_table.cpp
  tests/unit/test_cmd_line_parser.cpp
  tests/unit/test_dns.cpp
  tests/unit/test_ecdsa.cpp
  tests/unit/test_flash.cpp
  tests/unit/test_hdlc.cpp
  tests/unit/test_heap_string.cpp
  tests/unit/test_hkdf_sha256.cpp
  tests/unit/test_hmac_sha256.cpp
  tests/unit/test_ip_address.cpp
  tests/unit/test_link_quality.cpp
  tests/unit/test_linked_list.cpp
  tests/unit/test_lookup_table.cpp
  tests/unit/test_lowpan.cpp
  tests/unit/test_mac_frame.cpp
  tests/unit/test_macros.cpp
  tests/unit/test_message.cpp
  tests/unit/test_message_queue.cpp
  tests/unit/test_multicast_listeners_table.cpp
  tests/unit/test_ndproxy_table.cpp
  tests/unit/test_netif.cpp
  tests/unit/test_network_data.cpp
  tests/unit/test_pool.cpp
  tests/unit/test_priority_queue.cpp
  tests/unit/test_pskc.cpp
  tests/unit/test_spinel_buffer.cpp
  tests/unit/test_spinel_decoder.cpp
  tests/unit/test_spinel_encoder.cpp
  tests/unit/test_steering_data.cpp
  tests/unit/test_string.cpp
  tests/unit/test_timer.cpp
  tests/unit/test_toolchain.cpp
  tests/unit/test_util.h
Labels: P4, cla: yes, enhancement

#6767 [cli] simplify argument processing
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/core/diags/factory_diags.cpp
  src/core/utils/parse_cmdline.cpp
  src/core/utils/parse_cmdline.hpp
Labels: api: platform, cla: yes, comp: cli, enhancement

#6776 [tlv] update and fix `Tlv` documentations
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
Labels: P4, cla: yes, comp: docs, enhancement
