Repository openthread/openthread, pull requests merged in 2021-12, with the labels that each got.

#7207 [crypto] store sensitive dataset items in ITS
  src/core/crypto/storage.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
Labels: enhancement, security, cla: yes

#7214 [mle] fix out-of-bounds read (OVERRUN)
  src/core/thread/mle.cpp
Labels: bug, P4, cla: yes, comp: mle

#7216 [srp-client] fix lease time on remove host retransmission
  src/core/net/srp_client.cpp
Labels: bug, P2, cla: yes, comp: dns

#7218 [srp-client] skip appending services on host remove retry
  src/core/net/srp_client.cpp
Labels: enhancement, P4, cla: yes, comp:srp

#7223 [posix] deprioritize the added external routes
  src/posix/platform/openthread-posix-config.h
Labels: platform: posix, comp: border router

#7227 [mlr] send BMLR.ntf for de-registration
  src/core/backbone_router/bbr_manager.cpp
  tests/scripts/thread-cert/backbone/test_bmlr.py
Labels: bug, P2, Thread 1.2, comp: backbone-router

#7229 [build] add OT_POSIX_INSTALL_EXTERNAL_ROUTES option
  src/posix/platform/CMakeLists.txt
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
Labels: comp: build, platform: posix

#7107 [firewall] ingress filtering
  Android.mk
  script/test
  src/posix/platform/CMakeLists.txt
  src/posix/platform/Makefile.am
  src/posix/platform/firewall.cpp
  src/posix/platform/firewall.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/system.cpp
  src/posix/platform/utils.cpp
  src/posix/platform/utils.hpp
  tests/scripts/thread-cert/border_router/test_firewall.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/packet_verifier.py
  tests/scripts/thread-cert/pktverify/test_info.py
  tests/scripts/thread-cert/run_cert_suite.py
  tests/scripts/thread-cert/thread_cert.py
Labels: platform: posix, cla: yes, comp: border router

#7228 [posix] logging when infra/backbone interface is not provided
  src/posix/platform/backbone.cpp
  src/posix/platform/infra_if.cpp
Labels: enhancement, platform: posix, comp: backbone-router, comp: border router

#7230 [otci] add method to run shell commands
  tools/otci/otci/command_handlers.py
Labels: enhancement, P4, comp: otci

#7231 [linked-list] fix `OwningList::RemoveAllMatching()`
  src/core/common/owning_list.hpp
  tests/unit/test_linked_list.cpp
Labels: bug, P4

#7235 [bbr] allow lower MLR Timeout for reference device
  src/core/backbone_router/bbr_local.cpp
Labels: certification, Thread 1.2, comp: backbone-router

#7187 [ip6] change `aFromNcpHost` to false in `otIp6Send`
  src/core/api/ip6_api.cpp
  src/core/config/ip6.h
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: bug, P2, cla: yes, comp: border router

#7193 [thci] register multicast addresses on the host side
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2, cla: yes

#7239 [cli] limit `radiofilter` command to when 15.4 radio link is enabled
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: enhancement, P4, comp: cli

#7240 [documentation] update code comments and contributing section
  CONTRIBUTING.md
  STYLE_GUIDE.md
  doc/ot_api_doc.h
  include/openthread/history_tracker.h
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: comp: docs

#7236 [thci] drop empty lines returned in command outout from the response
  tools/harness-thci/OpenThread.py
Labels: certification

#7238 [posix] remove GPIO line offset check
  src/posix/platform/spi_interface.cpp
Labels: bug, P2, platform: posix

#7242 [border-routing] decide Router Solicitation state with `IsRouterSolicitationInProgress`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: P4, comp: border router

#7244 [routing-manager] don't reevaluate routing policy for OMR prefixes in RA messages
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#7248 [border-routing] add configuration for Vicarious Router Solicitation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_router.h
Labels: enhancement, P4, comp: border router

#7249 [thci] improve mDNS browsing using Zeroconf
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2

#7247 [border-routing] always respond to Router Solicit with `Router Advertisement`
  src/core/border_router/routing_manager.cpp
Labels: bug, P4, comp: border router

#7250 [routing-manager] start routing policy evaluation when on-link prefix state changes
  src/core/border_router/routing_manager.cpp
Labels: bug, P2, comp: border router

#7241 [border-routing] fix stale prefixes checking timer
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: bug, P1, comp: border router

#7260 [tests] add ping test using LLA source
  tests/scripts/thread-cert/test_ping_lla_src.py
Labels: P4, continuous-integration

#7251 [mlr] `MLR_TIMEOUT_MIN` does not apply to MLR.req
  src/core/backbone_router/bbr_manager.cpp
Labels: P2, certification, Thread 1.2

#7245 [cli] add option to print more information for `ipaddress`
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, comp: cli

#7263 [core] use `AsCoreType` in header files
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dtls.cpp
  src/core/net/dns_client.hpp
  src/core/net/netif.hpp
  src/core/net/socket.hpp
  src/core/net/srp_client.hpp
  src/core/net/udp6.hpp
  src/core/radio/trel_interface.cpp
  src/core/thread/network_data_types.hpp
  src/core/utils/ping_sender.hpp
Labels: enhancement, P4

#7267 [style] use `nullptr` with backticks in comment
  src/cli/cli_joiner.cpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_message.hpp
  src/core/common/array.hpp
  src/core/common/linked_list.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/common/owning_list.hpp
  src/core/common/pool.hpp
  src/core/common/settings_driver.hpp
  src/core/common/string.hpp
  src/core/common/tasklet.cpp
  src/core/crypto/storage.hpp
  src/core/diags/factory_diags.hpp
  src/core/mac/data_poll_handler.hpp
  src/core/mac/data_poll_sender.hpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.hpp
  src/core/mac/sub_mac.hpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/net/dns_client.hpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.hpp
  src/core/net/icmp6.hpp
  src/core/net/ip6.hpp
  src/core/net/ip6_address.hpp
  src/core/net/netif.cpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.hpp
  src/core/net/udp6.hpp
  src/core/radio/radio.hpp
  src/core/thread/discover_scanner.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/neighbor_table.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/router_table.hpp
  src/core/thread/topology.hpp
  src/core/utils/child_supervision.hpp
  src/core/utils/flash.hpp
  src/core/utils/lookup_table.hpp
  src/core/utils/slaac_address.cpp
Labels: enhancement, P4

#7265 [tlv] add `As<TlvType>()` helper methods
  src/core/backbone_router/bbr_manager.cpp
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_diagnostic.cpp
Labels: enhancement, P4

#7269 [cli] reuse `AddressOriginToString()` among CLI modules
  src/cli/README_HISTORY.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
Labels: enhancement, P4, comp: cli

#7270 [string] add `ToYesNo()` to convert a boolean to "yes" or "no"
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/meshcop/joiner.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.cpp
  src/core/utils/channel_manager.cpp
Labels: enhancement, P4

#7183 [border-router] add test to verify multicast traffic on a SBBR
  tests/scripts/thread-cert/border_router/test_manual_maddress.py
  tests/scripts/thread-cert/node.py
Labels: enhancement, P4, continuous-integration, Thread 1.2, cla: yes

#7272 [bbr] fix bbr header C compliance
  include/openthread/backbone_router_ftd.h
  include/openthread/instance.h
Labels: api: user

#7264 [posix-netif] reduce excess WARN logs
  src/posix/platform/netif.cpp
Labels: enhancement, P2, platform: posix

#7274 [meshcop] use `NewPriorityMessage()` for message allocation
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/panid_query_server.cpp
Labels: enhancement, P4, comp: meshcop

#7273 [cli] add `joiner state` command
  include/openthread/instance.h
  include/openthread/joiner.h
  src/cli/README_JOINER.md
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/core/api/joiner_api.cpp
  src/core/meshcop/joiner.hpp
Labels: enhancement, P4, api: user, comp: cli, comp: meshcop

#7246 [border-routing] invalidate discovered OMR prefixes when Network Data change
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router
