Repository openthread/openthread, pull requests merged in 2021-07, with the labels that each got.

#6777 [otci] fix OTCI.wait arg order
  tools/otci/otci/otci.py
Labels: bug, cla: yes, continuous-integration

#6775 [thci] add support for SSED DUT
  tools/harness-thci/OpenThread.py
Labels: Thread 1.2, certification, cla: yes

#6778 [mac] remove the out-of-band frame tx API
  include/openthread/instance.h
  include/openthread/link.h
  src/core/api/link_api.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: P4, api: user, cla: yes, comp: mac, enhancement

#6779 [cmd-parser] add `nullptr` check to `ParseHexString()`
  src/core/utils/parse_cmdline.cpp
Labels: bug, cla: yes, comp: cli

#6724 [srp-client] add support for service subtypes
  include/openthread/instance.h
  include/openthread/srp_client.h
  include/openthread/srp_client_buffers.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/core/api/srp_client_buffers_api.cpp
  src/core/config/srp_client.h
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/utils/srp_client_buffers.cpp
  src/core/utils/srp_client_buffers.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6760 [srp-server] add support for service subtypes
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/README_SRP_SERVER.md
  src/cli/cli_srp_server.cpp
  src/core/api/srp_server_api.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_register_single_service.py
  tests/scripts/thread-cert/test_srp_server_reboot_port.py
  tests/scripts/thread-cert/test_srp_sub_type.py
  tools/otci/otci/otci.py
Labels: P4, api: user, cla: yes, comp: dns, enhancement

#6773 [dnssd] add support for service subtypes in DNS-SD server and client
  include/openthread/instance.h
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/scripts/thread-cert/test_dnssd.py
Labels: P4, cla: yes, comp: dns, enhancement

#6780 [otci] add backward compability
  tools/otci/otci/otci.py
Labels: cla: yes, comp: otci, enhancement

#6791 [dnssd-server] typos and smaller style changes
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6785 [srp-server] avoid re-accessing committed SRP updates
  src/core/net/srp_server.cpp
Labels: cla: yes, comp: dns

#6781 [script] fix Thread version for check-simulation-build
  script/check-simulation-build-autotools
  script/check-simulation-build-cmake
Labels: P3, bug, cla: yes, continuous-integration, platform: simulation

#6795 [posix] remove constants defined by macros
  src/posix/platform/netif.cpp
Labels: cla: yes, platform: posix

#6797 [dua] fix infinite DUA.req loop
  src/core/thread/dua_manager.cpp
Labels: Thread 1.2, bug, cla: yes, comp: dua

#6799 [link-metrics] fix Link Metrics Status Sub-TLV value
  src/core/thread/link_metrics.cpp
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
Labels: Thread 1.2, bug, cla: yes

#6798 [dua] increase DUA registration test coverage
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/v1_2_test_domain_unicast_address_registration.py
Labels: Thread 1.2, cla: yes, continuous-integration

#6789 [thci] allow REED DUTs to upgrade
  tools/harness-thci/OpenThread.py
Labels: certification, cla: yes

#6786 [srp-server] track lease time per service instance
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_lease.py
Labels: cla: yes, comp: dns, enhancement

#6782 [posix] add external routes to kernel on POSIX
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/api/ip6_api.cpp
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
  tests/scripts/thread-cert/border_router/test_external_route.py
Labels: cla: yes, comp: border router, platform: posix

#6800 [mle] include the CCM flag in the Discovery Response
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/mle_router.cpp
Labels: Thread 1.2, cla: yes

#6803 [csl] avoid OT version dependencies in platform config files
  examples/platforms/simulation/openthread-core-simulation-config.h
  src/core/mac/sub_mac.cpp
Labels: Thread 1.2, cla: yes, comp: low-power

#6788 [mle] security policy router upgrading rules
  src/core/thread/key_manager.hpp
  src/core/thread/mle_router.cpp
Labels: Thread 1.2, cla: yes, enhancement, security

#6783 [dns-client] use NAT64 prefix from network data
  src/core/net/dns_client.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6771 [cli] IPv6 Counters
  src/cli/README.md
  src/cli/cli.cpp
  tests/scripts/expect/cli-counters.exp
Labels: cla: yes, comp: cli, enhancement

#6810 [network-key] Change thrNetworkKey for docs
  include/openthread/instance.h
  include/openthread/thread.h
Labels: api: user, cla: yes, comp: docs

#6787 [dns-client] feature to auto set the default server address
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/core/config/dns_client.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dns_client_config_auto_start.py
Labels: P4, cla: yes, comp: dns, enhancement

#6784 [netdata] allow zero-len external route prefix
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_types.cpp
  tests/scripts/expect/cli-misc.exp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_zero_len_external_route.py
Labels: P4, cla: yes, comp: netdata, enhancement

#6806 [network-diagnostic] fix initialization of max child timeout
  src/core/thread/mle_router.cpp
Labels: P4, bug, cla: yes, comp: diags

#6809 [mle] prefer higher weight partition even if singleton
  src/core/thread/mle_router.cpp
Labels: cla: yes, comp: mle, enhancement

#6812 [address-resolver] change max retry delay to 120 seconds
  src/core/config/tmf.h
Labels: cla: yes, enhancement

#6813 [meshcop] fix issues in sending updated datasets to leader
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: P2, bug, cla: yes, comp: meshcop

#6746 [diag] don't let the client of diag reserve the '\0' byte
  include/openthread/diag.h
  include/openthread/instance.h
  include/openthread/platform/diag.h
  src/cli/cli.cpp
  src/ncp/ncp_base.cpp
Labels: P3, cla: yes, comp: cli

#6815 [tasklet] declare `Scheduler` as nested type of `Tasklet`
  src/core/api/tasklet_api.cpp
  src/core/common/instance.hpp
  src/core/common/tasklet.cpp
  src/core/common/tasklet.hpp
Labels: P4, cla: yes, enhancement

#6817 [backbone-router] add deinit API
  src/posix/platform/backbone.cpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
Labels: P4, bug, cla: yes, comp: backbone-router

#6818 [routing-manager] update log messages
  src/core/border_router/routing_manager.cpp
Labels: P4, cla: yes, comp: border router, enhancement

#6819 [posix] update the logging in netif module
  src/posix/platform/netif.cpp
Labels: P4, cla: yes, enhancement, platform: posix

#6821 [multi-radio] fix clang-tidy warnings
  script/make-pretty
  src/core/api/multi_radio_api.cpp
  src/core/mac/mac_links.cpp
  src/core/mac/mac_types.hpp
  src/core/radio/trel_packet.cpp
  src/core/radio/trel_packet.hpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/radio_selector.hpp
Labels: P4, cla: yes, comp: trel, continuous-integration

#6822 [srp-server] fix clang-tidy warnings
  script/make-pretty
  src/core/net/srp_server.cpp
Labels: P4, cla: yes, comp: dns, continuous-integration

#6828 [tests] fix test_external_route test case name
  tests/scripts/thread-cert/border_router/test_external_route.py
Labels: cla: yes, continuous-integration

#6770 [cli] add support for TCP in the CLI tool
  Android.mk
  include/openthread/instance.h
  include/openthread/tcp.h
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_config.h
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
Labels: cla: yes, comp: cli, comp: tcp, enhancement

#6825 [test] add missing tests in the `Makefile.am` & update file access mode
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/coap.py
  tests/scripts/thread-cert/command.py
  tests/scripts/thread-cert/common.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/debug.py
  tests/scripts/thread-cert/dtls.py
  tests/scripts/thread-cert/ipv6.py
  tests/scripts/thread-cert/lowpan.py
  tests/scripts/thread-cert/mac802154.py
  tests/scripts/thread-cert/mcast6.py
  tests/scripts/thread-cert/mesh_cop.py
  tests/scripts/thread-cert/message.py
  tests/scripts/thread-cert/mle.py
  tests/scripts/thread-cert/net_crypto.py
  tests/scripts/thread-cert/network_data.py
  tests/scripts/thread-cert/network_diag.py
  tests/scripts/thread-cert/network_layer.py
  tests/scripts/thread-cert/pcap.py
  tests/scripts/thread-cert/run_cert_suite.py
  tests/scripts/thread-cert/simulator.py
  tests/scripts/thread-cert/sniffer_transport.py
  tests/scripts/thread-cert/test_set_mliid.py
  tests/scripts/thread-cert/thread_cert.py
  tests/scripts/thread-cert/tlvs_parsing.py
  tests/scripts/thread-cert/udp_send_host.py
  tests/scripts/thread-cert/wpan.py
Labels: P4, cla: yes, continuous-integration, enhancement

#6831 [dataset] remove mType from Dataset
  src/cli/cli_dataset.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner_router.cpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: P4, cla: yes, comp: netdata, enhancement

#6835 [posix] allow kernel to assign netlink socket port ID
  src/posix/platform/infra_if.cpp
Labels: bug, cla: yes, comp: border router, platform: posix

#6834 [netdata] update/simplify public API documentations
  include/openthread/instance.h
  include/openthread/netdata.h
Labels: P4, cla: yes, comp: netdata, enhancement

#6827 [cli] new config to log input command and the resulting output
  examples/apps/cli/cli_uart.cpp
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_config.h
Labels: P4, cla: yes, comp: cli, enhancement

#6752 [backbone-router] relax matching BBR dataset
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: bug, cla: yes, comp: backbone-router

#6833 [tests] fix intermittent failure in Cert_9_2_09_PendingPartition.py
  tests/scripts/thread-cert/Cert_9_2_09_PendingPartition.py
Labels: bug, cla: yes, continuous-integration

#6839 [posix] fix platform UDP init compile error
  src/posix/platform/system.cpp
Labels: P4, cla: yes, comp: build, platform: posix

#6840 [posix] fix memcpy compiler warning false positive
  src/posix/platform/netif.cpp
Labels: cla: yes, platform: posix

#6830 [border-routing] dump sent/received RA messages on infra if
  src/core/border_router/routing_manager.cpp
  src/core/common/logging.hpp
Labels: cla: yes, comp: border router

#6802 [csl] adding TLV for CSL clock accuracy
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/config/platform.h
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/topology.hpp
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/mesh_cop.py
  tests/scripts/thread-cert/mle.py
  tests/scripts/thread-cert/pktverify/consts.py
Labels: Thread 1.2, cla: yes, comp: low-power

#6846 [cli] use `OutputExtAddress()`
  src/cli/cli.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6837 [radio-spinel] fix incorrect RX channel after frame TX on another channel
  src/lib/spinel/radio_spinel_impl.hpp
Labels: P1, bug, cla: yes, comp: rcp, platform: posix

#6852 [simulation] add empty `otPlatInfraIf` platform APIs in simul/test
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/Makefile.am
  examples/platforms/simulation/infra_if.c
  tests/unit/test_platform.cpp
Labels: P4, cla: yes, enhancement, platform: simulation

#6855 [csl] fix typos in use of "uncertainty" term in constant/method names
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.hpp
  src/core/thread/mle.cpp
  src/core/thread/topology.hpp
Labels: P4, cla: yes, enhancement

#6854 [backbone-router] fix deinit MulticastRoutingManager
  src/posix/platform/multicast_routing.cpp
Labels: P2, bug, cla: yes, comp: backbone-router

#6856 [build] allow specify build date time
  script/check-android-build
  src/core/api/instance_api.cpp
Labels: cla: yes, comp: build

#6824 [mac] replace `enum` constants with `constexpr`
  src/core/mac/channel_mask.hpp
  src/core/mac/data_poll_handler.hpp
  src/core/mac/data_poll_sender.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_filter.hpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/mac_types.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
Labels: P4, cla: yes, comp: mac, enhancement

#6848 [link-metrics] renames, using namespace, and style changes
  src/core/api/link_metrics_api.cpp
  src/core/common/instance.hpp
  src/core/mac/mac.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/thread_netif.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: P4, Thread 1.2, cla: yes, enhancement

#6861 [csl] add check for `TimerMicro` when CSL RX is enabled
  src/core/mac/sub_mac.hpp
Labels: P4, cla: yes, enhancement

#6857 [cli] add README for TCP CLI tool
  src/cli/README_TCP.md
Labels: cla: yes, comp: cli, comp: docs, comp: tcp

#6867 [include] resolve the unknown type name issue
  examples/platforms/utils/logging_rtt.h
  include/openthread/instance.h
  include/openthread/platform/memory.h
Labels: P1, api: user, cla: yes, enhancement

#6870 [tests] simplify border router tests
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py
Labels: cla: yes, continuous-integration

#6875 [net] replace `enum` constants with `constexpr`
  src/core/net/checksum.hpp
  src/core/net/dhcp6.hpp
  src/core/net/dhcp6_client.hpp
  src/core/net/dhcp6_server.hpp
  src/core/net/dns_client.hpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.hpp
  src/core/net/icmp6.hpp
  src/core/net/ip4_address.cpp
  src/core/net/ip4_address.hpp
  src/core/net/ip6.hpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/net/ip6_filter.hpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_mpl.hpp
  src/core/net/netif.hpp
  src/core/net/sntp_client.cpp
  src/core/net/sntp_client.hpp
  src/core/net/socket.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.hpp
  src/core/net/tcp6.hpp
  src/core/net/udp6.hpp
Labels: P4, cla: yes, enhancement
