Repository openthread/openthread, pull requests merged in 2021-04, with the labels that each got.

#6374 [docs] fix typos in documentations/comments and small style changes
  include/openthread/backbone_router_ftd.h
  include/openthread/coap_secure.h
  include/openthread/dns_client.h
  include/openthread/icmp6.h
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/link_raw.h
  include/openthread/srp_server.h
  src/cli/README.md
  src/core/backbone_router/backbone_tmf.hpp
  src/core/backbone_router/bbr_local.hpp
  src/core/backbone_router/ndproxy_table.hpp
  src/core/border_router/routing_manager.hpp
  src/core/coap/coap.hpp
  src/core/common/settings.hpp
  src/core/net/dhcp6.hpp
  src/core/net/dhcp6_server.hpp
  src/core/net/dns_client.hpp
  src/core/net/netif.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.hpp
  src/core/radio/max_power_table.hpp
  src/core/thread/dua_manager.hpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_local.hpp
  src/core/thread/thread_tlvs.hpp
  src/core/thread/topology.hpp
  src/core/utils/heap.hpp
  src/core/utils/otns.hpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.h
  src/lib/url/url.hpp
  tools/otci/otci/otci.py
Labels: P4, cla: yes, comp: docs, enhancement

#6381 [tests] fix wrong usage of ping timeouts
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
Labels: bug, cla: yes, continuous-integration

#6362 [macos] fix binding interface and build
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  script/check-posix-pty
  src/posix/platform/daemon.cpp
  src/posix/platform/udp.cpp
Labels: cla: yes, platform: posix

#6388 [scripts] fix multicast routing test false fails
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py
Labels: P4, cla: yes, continuous-integration

#6393 [github-actions] add setup for i386 arch
  .github/workflows/simulation-1.2.yml
Labels: P1, bug, cla: yes, continuous-integration

#6361 [srp-client] add "service key record inclusion" mode for testing
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/core/api/srp_client_api.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: P4, api: user, cla: yes, comp: cli, comp: dns, comp: ncp, enhancement

#6385 [docs] add CLI documentation for channel manager/monitor
  src/cli/README.md
Labels: cla: yes, comp: cli, comp: docs

#6390 [spinel] use full names in string lookup table
  src/lib/spinel/spinel.c
Labels: P4, cla: yes, comp: ncp, enhancement

#6394 [cli] avoid div-by-zero in `HandlePingStatistics()`
  src/cli/cli.cpp
Labels: P4, bug, cla: yes, comp: cli

#6395 [data-poll-sender] use OT_MIN and replace enum with constexpr
  src/core/mac/data_poll_sender.cpp
  src/core/mac/data_poll_sender.hpp
Labels: P4, cla: yes, enhancement

#6387 [scripts] make BMLR test more reliable
  tests/scripts/thread-cert/backbone/test_bmlr.py
  tests/scripts/thread-cert/thread_cert.py
Labels: P4, cla: yes, continuous-integration

#6368 [dns] allow disabling of DNS name compression for testing
  include/openthread/dns.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/dns_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/net/dns_types.cpp
Labels: api: user, cla: yes, comp: dns, enhancement

#6402 [android] enable ping sender
  Android.mk
Labels: P2, cla: yes, comp: build

#5644 [scripts] add Backbone DUA routes test
  tests/scripts/thread-cert/backbone/bbr_5_11_01.py
  tests/scripts/thread-cert/backbone/test_dua_routing.py
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py
Labels: Thread 1.2, cla: yes, continuous-integration

#6396 [meshcop] fix UDP proxy
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/net/ip6_address.hpp
  src/core/net/udp6.cpp
Labels: cla: yes, comp: meshcop

#6228 [spinel] handle link metrics
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: Thread 1.2, cla: yes, comp: ncp, enhancement

#6404 [dns-types] add `Dns::ARecord` for A records
  src/core/net/dns_types.hpp
Labels: api: platform, cla: yes, comp: dns, enhancement

#6410 [spinel] fix missing initializer compiler error
  src/lib/spinel/spinel.c
Labels: cla: yes, comp: build, comp: ncp, comp: rcp

#6370 [ping-sender] let ping return statistics in OTCI
  include/openthread/instance.h
  include/openthread/ping_sender.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/utils/ping_sender.cpp
  tests/scripts/thread-cert/Cert_5_6_09_NetworkDataForwarding.py
  tests/scripts/thread-cert/Cert_9_2_09_PendingPartition.py
  tests/scripts/thread-cert/node.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: api: user, cla: yes, comp: cli, comp: otci, continuous-integration, enhancement

#6408 [cli] add more output to `eidcache` command
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  tools/otci/otci/otci.py
Labels: P4, cla: yes, comp: cli, enhancement

#6348 [border-router] accept RA initiated from the infra interface
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
Labels: cla: yes, comp: border router, enhancement

#6420 [github-actions] fix unknown option m4 --gnu in macos checks
  .github/workflows/build.yml
Labels: cla: yes, continuous-integration

#6400 [channel-manager] add cli/api functions to modify the CCA failure rate threshold
  include/openthread/channel_manager.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/core/api/channel_manager_api.cpp
  src/core/config/channel_manager.h
  src/core/utils/channel_manager.cpp
  src/core/utils/channel_manager.hpp
Labels: api: user, cla: yes, enhancement

#6191 [dnssd] implement DNS-SD Discovery Proxy
  .github/workflows/simulation-1.1.yml
  Android.mk
  doc/ot_api_doc.h
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/dnssd_server.h
  include/openthread/instance.h
  script/test
  src/cli/cli.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/dns_server_api.cpp
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/config/dnssd_server.h
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
Labels: P1, cla: yes, comp: dns, enhancement

#6421 [tests] fix shell format check warnings
  tests/toranj/start.sh
Labels: P4, cla: yes, enhancement

#6313 [border-router] add validation of updated on mesh prefixes
  src/core/api/border_router_api.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
Labels: cla: yes, comp: border router, enhancement

#6418 [docs] add link to UDP CLI commands
  src/cli/README.md
Labels: cla: yes, comp: cli, comp: docs

#6424 [build] update `toranj` build script to skip over empty "" args
  tests/toranj/build.sh
Labels: P4, bug, cla: yes, comp: build

#6407 [srp-server] replace SRP Host pointer with SRP service update ID
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/core/api/srp_server_api.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6426 [cli] adding helper method `ParseEnableOrDisable()`
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_udp.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6434 [style] bump yapf version to 0.31.0
  .github/workflows/build.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  script/bootstrap
  tests/scripts/thread-cert/command.py
  tests/scripts/thread-cert/test_coap.py
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_WpanCtl.py
Labels: P4, cla: yes

#6439 [github-actions] run `brew update`
  .github/workflows/build.yml
  .github/workflows/posix.yml
Labels: bug, cla: yes, continuous-integration

#6432 [posix] fix one wrong log level
  src/posix/platform/daemon.cpp
Labels: P4, cla: yes, platform: posix

#6433 [scripts] fix dig txt RR parsing
  tests/scripts/thread-cert/node.py
Labels: P4, bug, cla: yes, continuous-integration

#6373 [cmake] allow custom values for package name and package version
  CMakeLists.txt
Labels: cla: yes, comp: build, enhancement

#6419 [thread-cert] specify MAX_JOBS via env
  tests/scripts/thread-cert/run_cert_suite.py
Labels: P4, cla: yes, continuous-integration

#6442 [nrf528xx] ensure HWFC is triggered when SW buffer is full
  examples/platforms/nrf528xx/nrf52811/transport-config.h
  examples/platforms/nrf528xx/nrf52833/transport-config.h
  examples/platforms/nrf528xx/nrf52840/transport-config.h
  examples/platforms/nrf528xx/src/transport/uart.c
Labels: P3, cla: yes, enhancement, platform: nrf52811, platform: nrf52833, platform: nrf52840

#6342 [low-power] resync SSED with its parent after retransmission
  src/core/api/link_api.cpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/data_poll_sender.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  tests/scripts/thread-cert/v1_2_test_csl_transmission.py
Labels: P3, Thread 1.2, bug, cla: yes

#6409 [scripts] MATN-TC-02: Multicast listener registration and first use
  tests/scripts/thread-cert/border_router/MATN_02_MLRFirstUse.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/packet_filter.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6414 [dns-client] add support for NAT64 during address resolution
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/core/config/dns_client.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  tests/unit/test_ip_address.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6320 [meshcop] support Thread 1.2 Security Policy flags
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/core/mac/mac.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
  tests/scripts/thread-cert/Cert_5_8_04_SecurityPolicyTLV.py
  tests/scripts/thread-cert/node.py
  tools/otci/otci/otci.py
Labels: Thread 1.2, cla: yes, comp: meshcop, enhancement

#6427 [nrf528xx] set key id and frame counter for retransmissions
  examples/platforms/nrf528xx/src/radio.c
Labels: cla: yes, platform: nrf52811, platform: nrf52833, platform: nrf52840

#6452 [docs] remove old posix README
  src/posix/platform/README.md
Labels: cla: yes, comp: docs, platform: posix

#6448 [radio] update docs on frame counter when `RADIO_CAPS_TRANSMIT_SEC`
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: P4, api: platform, cla: yes, comp: docs, enhancement

#6451 [cmake] export compile commands
  script/cmake-build
Labels: cla: yes, comp: build

#6443 [scripts] fix parsing TXT RR containing `"`
  tests/scripts/thread-cert/node.py
Labels: P4, bug, cla: yes, continuous-integration

#6435 [scripts] MATN-TC-03: Thread device incorrectly attempts Commissioners (de)registration functions
  src/core/thread/mlr_manager.cpp
  tests/scripts/thread-cert/border_router/MATN_03_InvalidCommissionerDeregistration.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/v1_2_test_multicast_listener_registration.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6441 [scripts] MATN-TC-04: Removal of multicast listener by timeout expiry
  tests/scripts/thread-cert/border_router/MATN_04_MulticastListenerTimeout.py
  tests/scripts/thread-cert/pktverify/consts.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6459 [codecov] remove use of bash uploader
  script/test
Labels: cla: yes, comp: build, security

#6458 [nrf528xx] set frame counter and key idx in otPlatRadioTransmit()
  examples/platforms/nrf528xx/src/radio.c
Labels: bug, cla: yes, platform: nrf52811, platform: nrf52833, platform: nrf52840

#6468 [scripts] increase CSL ping timeout value
  tests/scripts/thread-cert/v1_2_LowPower_5_3_01_SSEDAttachment.py
  tests/scripts/thread-cert/v1_2_test_csl_transmission.py
Labels: bug, cla: yes, continuous-integration

#6464 [security-policy] remove assert from Get/SetSecurityPolicy()
  src/core/meshcop/meshcop_tlvs.cpp
Labels: cla: yes, comp: meshcop

#6428 [posix] remove NCP app
  .github/workflows/posix.yml
  .github/workflows/toranj.yml
  Android.mk
  configure.ac
  script/check-ncp-rcp-migrate
  script/check-simulation-build-cmake
  script/test
  src/lib/spinel/Makefile.am
  src/posix/CMakeLists.txt
  src/posix/Makefile-posix
  src/posix/Makefile.am
  src/posix/README.md
  src/posix/cli.cmake
  src/posix/daemon.cmake
  src/posix/main.c
  src/posix/ncp.cmake
  src/posix/ncp.cpp
  tests/toranj/start.sh
  tests/toranj/test-001-get-set.py
  tests/toranj/wpan.py
Labels: cla: yes, comp: ncp, platform: posix

#6480 [scripts] relax CSL ping timeout constraint
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
Labels: cla: yes, continuous-integration

#6467 [codecov] use Codecov GitHub Action to upload coverage
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
  script/test
Labels: P3, bug, cla: yes, continuous-integration

#6478 [otci] fix test random fails
  tools/otci/tests/test_otci.py
Labels: P4, cla: yes, comp: otci, continuous-integration

#6465 [trel] initialize TREL interface in `AfterInit`
  src/core/common/instance.cpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
Labels: P4, cla: yes, comp: trel

#6483 [neighbor-table] fix finding neighbor by Ip6 address issue
  src/core/thread/neighbor_table.cpp
Labels: P3, bug, cla: yes

#6487 [github-actions] install ninja in cli-ftd-otns
  .github/workflows/simulation-1.1.yml
Labels: bug, cla: yes, continuous-integration

#6477 [network-data] check and skip over incomplete TLVs during TLV iteration
  src/core/thread/network_data.cpp
Labels: P4, cla: yes, comp: netdata, enhancement

#6473 [network-data] add `FindNextMatchingService()`
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  tests/unit/test_network_data.cpp
Labels: P4, cla: yes, comp: netdata, enhancement

#6489 [cmake] print source directory
  CMakeLists.txt
Labels: cla: yes, comp: build, enhancement

#6475 [github-actions] download size reporter in workflow file
  .github/workflows/size.yml
  script/check-size
Labels: cla: yes, continuous-integration

#6430 [border-router] add platform API otPlatInfraIfHasAddress
  include/openthread/border_router.h
  include/openthread/instance.h
  include/openthread/platform/infra_if.h
  src/core/api/border_router_api.cpp
  src/core/border_router/infra_if_platform.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
Labels: cla: yes, comp: border router, enhancement

#6488 [srp-client] add missing `#ifndef` checks in config header file
  src/cli/cli_srp_client.hpp
  src/core/config/openthread-core-config-check.h
  src/core/config/srp_client.h
  src/core/utils/srp_client_buffers.hpp
  src/ncp/ncp_base.hpp
Labels: P4, cla: yes, comp: dns, enhancement

#6450 [border-agent] use ephemeral port
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/border_agent_api.cpp
  src/core/coap/coap_secure.hpp
  src/core/config/border_router.h
  src/core/config/srp_server.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
  src/core/meshcop/meshcop.hpp
  src/core/net/ip6_filter.cpp
  src/core/thread/mle_router.cpp
  tests/scripts/expect/cli-misc.exp
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/config.py
Labels: api: user, cla: yes, comp: meshcop, enhancement

#6497 [thread-cert] use `OT_TREL=OFF` for OTBR docker build
  script/test
Labels: cla: yes, comp: build, continuous-integration

#6499 [cli] fix false alarm when printing empty line
  examples/apps/cli/cli_uart.cpp
Labels: cla: yes

#6429 [network-data] add support for NAT64 flag in HasRoute TLV
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/cli.cpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
  src/core/thread/network_data_tlvs.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
  tests/unit/test_network_data.cpp
Labels: P4, api: user, cla: yes, comp: cli, comp: ncp, enhancement

#6495 [trel] fix potential compile issues
  src/core/mac/mac_frame.cpp
Labels: cla: yes, comp: trel

#6343 [low-power] add receive timing capability to CSL receiver
  examples/platforms/nrf528xx/nrf52811/openthread-core-nrf52811-config.h
  examples/platforms/nrf528xx/nrf52833/openthread-core-nrf52833-config.h
  examples/platforms/nrf528xx/nrf52840/openthread-core-nrf52840-config.h
  examples/platforms/nrf528xx/src/radio.c
  include/openthread/crypto.h
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/config/mac.h
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/posix/platform/radio.cpp
Labels: P3, Thread 1.2, cla: yes, comp: low-power, enhancement, platform: nrf52811, platform: nrf52833, platform: nrf52840

#6470 [cli] support -I {src-addr} for ping command
  include/openthread/instance.h
  include/openthread/ping_sender.h
  src/cli/cli.cpp
  src/core/utils/ping_sender.cpp
  src/core/utils/ping_sender.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_ping.py
Labels: api: user, cla: yes, comp: cli, enhancement

#6500 [cli] add cli to get All Thread Nodes multicast address
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/thread_api.cpp
  tests/scripts/expect/_common.exp
  tests/scripts/expect/cli-ipmaddr.exp
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: P4, api: user, cla: yes, comp: cli, enhancement

#6496 [scripts] MATN-TC-12: Hop limit processing
  tests/scripts/thread-cert/border_router/MATN_12_HopLimitProcessing.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/layer_fields.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6506 [github-actions] fix unstable issue of pty-macos
  script/check-posix-pty
Labels: bug, cla: yes, continuous-integration

#6444 [scripts] MATN-TC-05: Re-registration to same Multicast Group
  tests/scripts/thread-cert/border_router/MATN_02_MLRFirstUse.py
  tests/scripts/thread-cert/border_router/MATN_03_InvalidCommissionerDeregistration.py
  tests/scripts/thread-cert/border_router/MATN_05_ReregistrationToSameMulticastGroup.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/udp_send_host.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6502 [tmf] rename TMF agent class to `Tmf::Agent`
  src/core/api/message_api.cpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/common/instance.hpp
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: P4, cla: yes, comp: coap, enhancement

#6508 [github-actions] add more packet verification tests
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  tests/scripts/thread-cert/test_ping.py
Labels: cla: yes, continuous-integration

#6509 [dua-manager] avoid null dereference in CoAP response handler
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
Labels: P4, bug, cla: yes, enhancement

#6481 [border-agent] add logging for border agent events
  src/cli/README.md
  src/cli/cli.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
  tests/scripts/expect/cli-misc.exp
Labels: cla: yes, comp: border router

#6505 [backbone-router] fix incorrect PBBR ALOC
  src/core/backbone_router/bbr_local.cpp
  tests/scripts/thread-cert/test_pbbr_aloc.py
  tests/scripts/thread-cert/thread_cert.py
  third_party/openthread-test-driver/test-driver
Labels: Thread 1.2, bug, cla: yes, comp: backbone-router

#6507 [scripts] MATN-TC-16: Large number of multicast group subscriptions to BBR
  examples/platforms/simulation/openthread-core-simulation-config.h
  src/posix/platform/openthread-core-posix-config.h
  tests/scripts/thread-cert/border_router/MATN_16_LargeNumberOfMulticastGroupSubscriptionsToBBR.py
  tests/scripts/thread-cert/pktverify/consts.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6512 [otci] add SRP server & client utilities
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: cla: yes, comp: dns, comp: otci, enhancement

#6185 [thci] dump syslog when reset
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P4, certification, cla: yes, enhancement

#6503 [mesh-forwarder] allow 15.4 broadcast of unsecure link-local multicast
  src/core/thread/mesh_forwarder.cpp
Labels: P4, cla: yes, enhancement

#6463 [scripts] MATN-TC-09: Failure of Primary BBR – Outbound Multicast
  tests/scripts/thread-cert/border_router/MATN_09_DefaultBRMulticastForwarding.py
  tests/scripts/thread-cert/pktverify/layer_fields.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6510 [joiner] avoid null dereference in CoAP response handler
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner.hpp
Labels: P4, bug, cla: yes

#6498 [git] ignore vscode configuration files
  .gitignore
Labels: cla: yes

#6401 [announce-sender] use trickle to limit number of announce tx
  src/core/config/announce_sender.h
  src/core/config/openthread-core-config-check.h
  src/core/thread/announce_begin_server.cpp
  src/core/thread/announce_begin_server.hpp
  src/core/thread/announce_sender.cpp
  src/core/thread/announce_sender.hpp
  src/core/thread/mle.cpp
  tests/toranj/openthread-core-toranj-config.h
Labels: P4, cla: yes, comp: mle, enhancement

#6474 [posix] update `ot-cli` to include `ot-config` definitions
  src/posix/cli.cmake
  src/posix/daemon.cmake
Labels: cla: yes, comp: build, platform: posix

#6529 [test] wait factoryreset in check-posix-pty
  script/check-posix-pty
Labels: cla: yes, continuous-integration

#6516 [coap-message] remove the payload marker when no payload
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_diagnostic.cpp
Labels: P4, cla: yes, comp: coap

#6534 [tmf] avoid binding TMF port for user UDP
  src/core/net/udp6.cpp
Labels: cla: yes, enhancement

#6519 [api] expose API to obtain service ALOC for given service ID
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/api/thread_api.cpp
Labels: api: user, cla: yes, enhancement

#6518 [build] update build scripts and add multi-radio (TREL) CI build checks
  script/check-posix-build-autotools
  script/check-posix-build-cmake
  src/posix/platform/trel_udp6.cpp
  tests/toranj/build.sh
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
Labels: P3, cla: yes, comp: build, comp: trel, enhancement, platform: posix

#6431 [border-router] learn RA header and parameters from infra interface
  include/openthread/instance.h
  include/openthread/platform/infra_if.h
  src/core/border_router/router_advertisement.cpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_radvd_coexist.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/packet_filter.py
Labels: cla: yes, comp: border router, enhancement

#6524 [cli] simplify arg checking/parsing with new `Arg` class
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/core/utils/parse_cmdline.cpp
  src/core/utils/parse_cmdline.hpp
Labels: P4, cla: yes, comp: cli, enhancement

#6445 [mle] clear tag only on a "Child Update Req" Rx from a detached child
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: P4, cla: yes, comp: mle, enhancement

#6537 [tests] fix v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
Labels: P3, Thread 1.2, bug, certification, cla: yes, comp: low-power, continuous-integration, platform: simulation

#6542 [backbone-router] add cli command for MLR listeners
  src/cli/cli.cpp
  src/cli/cli.hpp
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: Thread 1.2, cla: yes, comp: cli, enhancement
