Repository openthread/openthread, pull requests merged in 2021-05, with the labels that each got.

#6547 [cli] add args length checking to `dns` command
  src/cli/cli.cpp
Labels: cla: yes, comp: cli, comp: dns

#6548 [cli] fix args length checking in `dataset securitypolicy`
  src/cli/cli_dataset.cpp
Labels: cla: yes, comp: cli, comp: meshcop

#6556 [posix] escape CLI arguments
  src/posix/client.cpp
Labels: cla: yes, comp: cli, platform: posix

#6551 [cmake] set cxx and c standard once
  CMakeLists.txt
  examples/platforms/cc2538/CMakeLists.txt
  examples/platforms/efr32/efr32mg1/efr32mg1.cmake
  examples/platforms/efr32/efr32mg12/efr32mg12.cmake
  examples/platforms/efr32/efr32mg13/efr32mg13.cmake
  examples/platforms/efr32/efr32mg21/efr32mg21.cmake
  examples/platforms/nrf528xx/nrf52811/nrf52811.cmake
  examples/platforms/nrf528xx/nrf52833/nrf52833.cmake
  examples/platforms/nrf528xx/nrf52840/nrf52840.cmake
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/utils/CMakeLists.txt
  src/cli/ftd.cmake
  src/cli/mtd.cmake
  src/core/ftd.cmake
  src/core/mtd.cmake
  src/core/radio.cmake
  src/lib/hdlc/CMakeLists.txt
  src/lib/spinel/CMakeLists.txt
  src/lib/url/CMakeLists.txt
  src/ncp/ftd.cmake
  src/ncp/mtd.cmake
  src/ncp/radio.cmake
  src/posix/cli.cmake
  src/posix/daemon.cmake
  src/posix/platform/CMakeLists.txt
  tests/unit/CMakeLists.txt
  third_party/silabs/cmake/mbedtls.cmake
Labels: cla: yes, comp: build

#6559 [router-advertisement] fix implicit conversion loss
  src/core/border_router/router_advertisement.hpp
Labels: cla: yes, comp: border router, comp: build

#6560 [routing-manager] add message to static_assert
  src/core/border_router/routing_manager.cpp
Labels: cla: yes, comp: border router, comp: build

#6543 [posix] use Url instead of RadioUrl in headers
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/platform-posix.h
  src/posix/platform/radio.cpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/system.cpp
Labels: cla: yes, platform: posix

#6562 [cli] fix extra error output when handling user CLI commands
  src/cli/cli.cpp
  tests/scripts/expect/cli-misc.exp
Labels: P4, bug, cla: yes, comp: cli

#6550 [test] add 'ot-' prefix to test targets
  tests/fuzz/CMakeLists.txt
  tests/fuzz/Makefile.am
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
Labels: cla: yes, comp: build, continuous-integration

#6540 [script] add package
  script/package
  script/test
Labels: cla: yes, comp: build, enhancement

#6541 [meshcop] support native commissioner
  .github/workflows/simulation-1.1.yml
  src/core/meshcop/meshcop.hpp
  src/core/net/ip6_filter.cpp
  src/core/net/ip6_filter.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/thread_netif.cpp
  src/posix/platform/netif.cpp
Labels: P4, cla: yes, comp: meshcop

#6535 [github-actions] fix MATN_15_ChangeOfPrimaryBBRTriggersRegistration
  tests/scripts/thread-cert/border_router/MATN_15_ChangeOfPrimaryBBRTriggersRegistration.py
Labels: P2, Thread 1.2, bug, cla: yes, comp: backbone-router, comp: border router

#6564 [string] introduce StringWriter class
  src/core/common/logging.cpp
  src/core/common/notifier.cpp
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/mac/channel_mask.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_types.cpp
  src/core/meshcop/meshcop.cpp
  src/core/net/ip4_address.cpp
  src/core/net/ip6_address.cpp
  src/core/net/socket.cpp
  src/core/radio/trel_packet.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_types.cpp
  src/core/thread/radio_selector.cpp
  src/core/utils/channel_monitor.cpp
  tests/unit/test_string.cpp
Labels: cla: yes, enhancement

#6515 [posix-trel] support TREL URL
  src/lib/url/url.cpp
  src/posix/main.c
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/system.cpp
  src/posix/platform/trel_udp6.cpp
Labels: cla: yes, comp: trel, enhancement, platform: posix

#6565 [border-router] send RA message when RA parameters are updated
  src/core/border_router/router_advertisement.cpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_radvd_coexist.py
Labels: bug, cla: yes, comp: border router

#6579 [tests] fix MATN_09_DefaultBRMulticastForwarding.py
  tests/scripts/thread-cert/border_router/MATN_09_DefaultBRMulticastForwarding.py
Labels: bug, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6569 [srp-server] accept optional KEY RRs
  src/core/net/srp_server.cpp
Labels: cla: yes, comp: dns

#6557 [cli] move netif command to posix platform
  include/openthread/instance.h
  include/openthread/platform/misc.h
  script/check-posix-pty
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/posix/main.c
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/netif.cpp
Labels: api: platform, cla: yes, comp: cli, platform: posix

#6544 [simulation] enhance command line arguments by using get_opt
  examples/platforms/simulation/system.c
  tests/toranj/wpan.py
Labels: P4, cla: yes, enhancement, platform: simulation

#6584 [log] fix uninitialized string use
  src/core/common/string.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_types.cpp
  src/core/net/ip4_address.cpp
  src/core/net/ip6_address.cpp
  src/core/net/socket.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_types.cpp
  src/core/thread/radio_selector.cpp
  src/core/utils/channel_monitor.cpp
  tests/unit/test_string.cpp
Labels: P3, bug, cla: yes

#6580 [router-adv] have `RouterAdvMessage` inherit from `Unequatable`
  src/core/border_router/router_advertisement.hpp
Labels: P4, cla: yes, comp: border router, enhancement

#6581 [doc] update the BR name in comments/documentations
  etc/cmake/options.cmake
  src/core/config/border_router.h
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
Labels: P4, cla: yes, comp: docs, enhancement

#6577 [tests] fix dig output TXT parsing
  tests/scripts/thread-cert/node.py
Labels: bug, cla: yes, comp: dns

#6558 [radio] add proprietary radio support
  src/core/config/openthread-core-default-config.h
  src/core/config/platform.h
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/radio/radio.hpp
  src/core/thread/network_diagnostic.cpp
Labels: cla: yes, enhancement

#6590 [dua/mlr-manager] refine logs
  src/core/thread/dua_manager.cpp
  src/core/thread/mlr_manager.cpp
Labels: P4, bug, cla: yes, enhancement

#6517 [srp-server] add API for getting LEASE and KEY-LEASE
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/README_SRP_SERVER.md
  src/cli/cli_srp_server.cpp
  src/core/api/srp_server_api.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: api: user, cla: yes, comp: dns

#6589 [tests] fix `bbr_5_11_01` random fails
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/thread_cert.py
Labels: Thread 1.2, certification, cla: yes, comp: backbone-router, continuous-integration

#6567 [border-router] add RA message dump for testing
  src/core/border_router/routing_manager.cpp
  src/core/common/logging.hpp
Labels: cla: yes, comp: border router, enhancement

#6552 [posix] support interface name in ot-ctl
  script/check-posix-pty
  src/posix/client.cpp
  src/posix/main.c
  src/posix/platform/daemon.cpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/system.cpp
  tests/scripts/misc/test_multicast_join.py
Labels: cla: yes, platform: posix

#6606 [ot-ctl] support no separator --
  script/check-posix-pty
  src/posix/client.cpp
Labels: cla: yes, comp: cli, enhancement, platform: posix

#6603 [cmake] add OT_POSIX_SETTINGS_PATH option
  etc/cmake/options.cmake
Labels: cla: yes, comp: build, enhancement

#6539 [mle] ignore "Child Update Request" from a child not yet in valid state
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: P4, bug, cla: yes, comp: mle, enhancement

#6597 [srp-client] disallow adding of duplicate services (same service/instc name)
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
Labels: P4, api: user, cla: yes, comp: dns, enhancement

#6605 [cli] process exit in ot-ctl
  examples/apps/cli/main.c
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/posix/client.cpp
  src/posix/main.c
Labels: cla: yes, comp: cli, enhancement, platform: posix

#6608 [github-actions] fix MATN_15_ChangeOfPrimaryBBRTriggersRegistration.py
  tests/scripts/thread-cert/border_router/MATN_15_ChangeOfPrimaryBBRTriggersRegistration.py
Labels: Thread 1.2, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6599 [ip6] set `Mesh Local IID` for Reference Devices
  include/openthread/instance.h
  include/openthread/ip6.h
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/ip6_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_set_mliid.py
Labels: P1, api: user, certification, cla: yes, comp: mle, enhancement

#6415 [docs] move openthread.io content to openthread/ot-docs
  doc/site/en/guides/border-router/beaglebone-black.md
  doc/site/en/guides/porting/_toc.yaml
  doc/site/en/guides/porting/certification-and-readme.md
  doc/site/en/guides/porting/implement-advanced-features.md
  doc/site/en/guides/porting/implement-platform-abstraction-layer-apis.md
  doc/site/en/guides/porting/index.md
  doc/site/en/guides/porting/set-up-the-build-environment.md
  doc/site/en/guides/porting/validate-the-port.md
  doc/site/en/guides/thread-primer/index.md
  doc/site/en/guides/thread-primer/ipv6-addressing.md
  doc/site/en/guides/thread-primer/network-discovery.md
  doc/site/en/guides/thread-primer/node-roles-and-types.md
  doc/site/en/guides/thread-primer/router-selection.md
  doc/site/zh-cn/guides/thread-primer/index.md
  doc/site/zh-cn/guides/thread-primer/ipv6-addressing.md
  doc/site/zh-cn/guides/thread-primer/network-discovery.md
  doc/site/zh-cn/guides/thread-primer/node-roles-and-types.md
  doc/site/zh-cn/guides/thread-primer/router-selection.md
Labels: cla: yes, comp: docs

#6613 [network-data] limit router upgrade delay when registering
  src/core/thread/dua_manager.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/network_data_local.cpp
Labels: P3, cla: yes, enhancement

#6615 [docs] remove outdated build instructions from CLI docs
  src/cli/README_COAP.md
  src/cli/README_COAPS.md
  src/cli/README_COMMISSIONING.md
  src/cli/README_SRP.md
Labels: P4, cla: yes, comp: cli, comp: docs

#6604 [address-resolver] simplify updating snooped cache entries
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: api: platform, cla: yes, enhancement

#6596 [netdata] simplify config definitions and implementations
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/border_router_api.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_data_types.cpp
  src/core/thread/network_data_types.hpp
Labels: P4, cla: yes, comp: netdata, enhancement

#6617 [gitignore] ignore ctags file
  .gitignore
Labels: P4, cla: yes, enhancement

#6592 [cli] make command output consistent
  src/cli/cli.cpp
  tests/scripts/thread-cert/test_diag.py
Labels: P4, cla: yes, comp: cli, enhancement

#6576 [github-actions] fix MATN_16_LargeNumberOfMulticastGroupSubscriptionsToBBR
  tests/scripts/thread-cert/border_router/MATN_02_MLRFirstUse.py
  tests/scripts/thread-cert/border_router/MATN_16_LargeNumberOfMulticastGroupSubscriptionsToBBR.py
  tests/scripts/thread-cert/pktverify/consts.py
Labels: Thread 1.2, bug, cla: yes, comp: backbone-router, comp: border router, continuous-integration

#6619 [cli] fix cli dataset README
  src/cli/README_DATASET.md
Labels: P4, bug, cla: yes, comp: cli, comp: docs

#6620 [posix] fix removing daemon socket
  src/posix/platform/daemon.cpp
Labels: bug, cla: yes, platform: posix

#6622 [github-actions] fix bootstrap for i386 build
  .github/workflows/build.yml
  .github/workflows/simulation-1.2.yml
Labels: P0, cla: yes, continuous-integration

#6625 [dua] send DUA.ntf to notify Child of unsuccessful DUA registration
  src/core/thread/dua_manager.cpp
Labels: P1, Thread 1.2, certification, cla: yes, comp: dua

#6627 [udp] allow Reference Devices to send UDP messages to TMF port
  src/core/net/ip6.cpp
Labels: P1, certification, cla: yes, enhancement

#6454 [posix] RCP(USB CDC ACM) hard reset support
  configure.ac
  examples/README.md
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/Makefile-posix
  src/posix/platform/CMakeLists.txt
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/system.cpp
Labels: cla: yes, comp: rcp, platform: posix

#6630 [trel] avoid compiler warning on use of strncpy
  src/posix/platform/trel_udp6.cpp
Labels: cla: yes, comp: build, comp: trel

#6628 [child-supervision] remove dummy implementation of child supervision
  src/core/api/child_supervision_api.cpp
  src/core/common/instance.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/core/utils/child_supervision.hpp
Labels: P4, api: user, cla: yes, enhancement

#6621 [netdata] add `TlvIterator` and `FindSubTlv<TlvType>()`
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_tlvs.cpp
  src/core/thread/network_data_tlvs.hpp
Labels: P4, cla: yes, comp: netdata, enhancement

#6637 [dua] fix Parent failed to send reregister for MTD Child on receiving `ST_DUA_REREGISTER`
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
Labels: P1, Thread 1.2, bug, certification, cla: yes, enhancement

#6642 [posix] fix unused variable when log level is less than OT_LOG_LEVEL_CRIT
  src/posix/platform/misc.cpp
Labels: cla: yes, comp: build, platform: posix

#6639 [daemon] logging CLI output
  src/posix/platform/daemon.cpp
Labels: cla: yes, enhancement, platform: posix

#6644 [posix] split readline and stdio handler
  Android.mk
  src/posix/Makefile.am
  src/posix/cli.cmake
  src/posix/cli_readline.cpp
  src/posix/cli_stdio.cpp
  src/posix/daemon.cmake
Labels: cla: yes, comp: cli, platform: posix

#6647 [bootstrap] add support for Ubuntu on Raspberry Pi
  script/bootstrap
Labels: P4, cla: yes, comp: build, enhancement

#6636 [ip6] add public APIs to convert an IPv6 address or prefix to string
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/cli.cpp
  src/cli/cli_network_data.cpp
  src/core/api/ip6_api.cpp
  src/core/common/string.hpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
Labels: P4, api: user, cla: yes, enhancement

#6649 [srp-server] fix removing expired services
  src/core/net/srp_server.cpp
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
Labels: bug, cla: yes, comp: dns

#6652 [github-actions] pin to clang-10 for coverage
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
Labels: P1, bug, cla: yes, continuous-integration

#6514 [border-router] add vicarious router solicitation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_vicarious_router_solicit.py
  tests/scripts/thread-cert/node.py
Labels: cla: yes, comp: border router, enhancement

#6646 [radio] remove `OT_RADIO_CHANNEL_PAGE_MAX` and address gcc warnings
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/config/platform.h
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/radio/radio.hpp
Labels: api: user, cla: yes

#6635 [doc] update posix app README
  src/posix/README.md
Labels: P4, cla: yes, comp: docs, enhancement, platform: cc2538, platform: nrf52840, platform: posix, platform: simulation

#6653 [posix] avoid compiler warning on use of strncpy
  src/posix/platform/infra_if.cpp
Labels: cla: yes, comp: build, platform: posix

#6611 [dnssd] add api for accessing queries in the dnssd server
  include/openthread/dnssd_server.h
  include/openthread/instance.h
  src/core/api/dns_server_api.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: cla: yes, comp: dns, enhancement

#6656 [posix] make all sockets non-blocking
  src/posix/platform/netif.cpp
  src/posix/platform/trel_udp6.cpp
Labels: cla: yes, platform: posix

#6660 [simulation] avoid unnecessary recompilation
  examples/platforms/simulation/CMakeLists.txt
Labels: cla: yes, comp: build, enhancement, platform: simulation

#6659 [posix] avoid unnecessary recompilation
  src/posix/cli.cmake
  src/posix/daemon.cmake
  src/posix/platform/CMakeLists.txt
Labels: cla: yes, comp: build, enhancement, platform: posix

#6661 [otci] fix parse dataset security policy
  tools/otci/otci/otci.py
Labels: bug, cla: yes, comp: otci

#6664 [cmake] no cxx extensions
  CMakeLists.txt
Labels: cla: yes, comp: build, enhancement

#6658 [string] change `String<kSize>` to inherit from `StringWriter`
  src/core/common/logging.cpp
  src/core/common/notifier.cpp
  src/core/common/string.hpp
  src/core/mac/channel_mask.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_types.cpp
  src/core/meshcop/meshcop.cpp
  src/core/net/ip4_address.cpp
  src/core/net/ip6_address.cpp
  src/core/net/socket.cpp
  src/core/radio/trel_packet.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_types.cpp
  src/core/thread/radio_selector.cpp
  src/core/utils/channel_monitor.cpp
  tests/unit/test_string.cpp
Labels: P4, cla: yes, enhancement

#6668 [docs] remove `doc/STYLE_GUIDE.md`
  CONTRIBUTING.md
  doc/Makefile.am
  doc/STYLE_GUIDE.md
Labels: cla: yes, comp: docs

#6651 [static-analysis] address static code analysis issues
  src/core/mac/data_poll_handler.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: cla: yes, comp: mac, comp: ncp

#6675 [low-power] extend EnableCsl API
  examples/platforms/simulation/radio.c
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/mac.cpp
  src/core/radio/radio.hpp
  src/core/thread/mle.cpp
  tests/unit/test_platform.cpp
Labels: api: platform, cla: yes

#6667 [meshcop] check channel page value in `ChannelTlv::IsValid()`
  src/core/meshcop/meshcop_tlvs.cpp
Labels: bug, cla: yes, comp: meshcop

#6672 [srp-client] support saving selected server info (by auto-start)
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/config/srp_client.h
  src/core/net/srp_client.cpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_srp_client_save_server_info.py
Labels: P4, cla: yes, comp: dns, enhancement

#6671 [logging] optimize dump log for multicast routing manager
  src/posix/platform/multicast_routing.cpp
Labels: P4, cla: yes, enhancement

#6662 [posix] make daemon as mainloop source
  src/posix/platform/daemon.cpp
  src/posix/platform/daemon.hpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
Labels: cla: yes, platform: posix

#6685 [posix] allow empty backbone interface name
  src/posix/platform/backbone.cpp
  src/posix/platform/infra_if.cpp
Labels: bug, cla: yes, platform: posix

#6678 [mac] always set Key Identifier for Transmit Security
  src/core/mac/sub_mac.cpp
Labels: cla: yes, comp: mac

#6598 [srp-client] add `Srp::Client::ClearService()`
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/core/api/srp_client_api.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
Labels: P4, api: user, cla: yes, comp: dns, enhancement

#6682 [github-actions] show parameter name in cli-sim
  .github/workflows/otci.yml
Labels: cla: yes, continuous-integration

#6679 [ip6] fix message leak when using platform TCP
  src/core/net/ip6.cpp
Labels: bug, cla: yes

#6689 [docs] fix info about default Thread version supported by OpenThread
  examples/README.md
Labels: cla: yes, comp: docs

#6683 [settings] simplify and enhance `Settings` (reuse similar patterns)
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/border_router/routing_manager.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/common/settings_driver.hpp
  src/core/net/srp_client.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mle.cpp
  src/core/utils/slaac_address.cpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: P4, cla: yes, enhancement
