Repository openthread/openthread, pull requests merged in 2021-11, with the labels that each got.

#7105 [tests] fix flaky advertising proxy tests
  src/core/net/srp_server.cpp
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
Labels: continuous-integration, cla: yes, comp: dns, comp: border router

#7121 [cli] add `OutputSockAddr()` method
  src/cli/cli.cpp
  src/cli/cli_history.cpp
  src/cli/cli_output.cpp
  src/cli/cli_output.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_tcp.cpp
Labels: enhancement, P4, comp: cli, cla: yes

#7124 [posix] use OT_MAX to simplify SPI code
  src/posix/platform/spi_interface.cpp
Labels: enhancement, P4, platform: posix, cla: yes

#7119 [mle] implement CSL accuracy rules from latest Thread spec
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P2, Thread 1.2, cla: yes, comp: low-power

#7117 [continuous-integration] fix test_dua_routing.py
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  tests/scripts/thread-cert/backbone/test_dua_routing.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration, Thread 1.2, cla: yes, comp: dua

#7122 [thci] add Thread 1.2 Certification fixes
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2, cla: yes

#7131 [thci] fix Zephyr detection
  tools/harness-thci/OpenThread.py
Labels: certification, cla: yes

#7132 [netdata] allow `Publisher` to be built with service only
  src/core/thread/network_data_publisher.cpp
Labels: enhancement, P4, cla: yes, comp: netdata

#7133 [dua] PBBR should resolve DUA dest for packet initiated from its MTD child
  src/core/backbone_router/bbr_manager.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/scripts/thread-cert/backbone/test_dua_routing_med.py
  tests/scripts/thread-cert/pktverify/consts.py
Labels: bug, P2, certification, Thread 1.2, cla: yes, comp: dua

#7134 [mle] `mParentChanges` counter without `INFORM_PREVIOUS_PARENT`
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: api: user, cla: yes, comp: mle

#7128 [core] move mapping of public to core type in the related headers
  src/core/api/border_router_api.cpp
  src/core/api/dns_api.cpp
  src/core/api/dns_server_api.cpp
  src/core/api/link_metrics_api.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_message.hpp
  src/core/common/as_core_type.hpp
  src/core/common/instance.hpp
  src/core/common/message.hpp
  src/core/crypto/sha256.hpp
  src/core/crypto/storage.hpp
  src/core/mac/mac_filter.hpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_types.hpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/meshcop.hpp
  src/core/net/dns_client.hpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.hpp
  src/core/net/icmp6.hpp
  src/core/net/ip6_address.hpp
  src/core/net/netif.hpp
  src/core/net/socket.hpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.hpp
  src/core/net/tcp6.hpp
  src/core/net/udp6.hpp
  src/core/thread/key_manager.hpp
  src/core/thread/link_metrics.hpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_types.hpp
  src/core/thread/topology.hpp
  src/core/utils/history_tracker.hpp
  src/core/utils/ping_sender.hpp
  src/core/utils/srp_client_buffers.hpp
Labels: enhancement, P4, cla: yes

#7135 [docs] clarify `otPlatRadioGetNow()` as free-running
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: comp: docs, api: platform, cla: yes

#7138 [log] check log level before dumping packet to string
  src/core/common/logging.cpp
Labels: enhancement, cla: yes

#7136 [srp-server] simplify calls to `RemoveHost()` & `RemoveService()`
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes, comp:srp

#7137 [srp-server] use `Array` for `Host` IPv6 address list
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes, comp:srp

#7139 [cli] fix parameter parse in ccm command
  src/cli/cli.cpp
Labels: bug, P2, comp: cli, cla: yes

#7142 [routing-manager] require on-link prefix to support SLAAC
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: P2, cla: yes, comp: border router

#7130 [thci] retrieve BA port from mDNS response
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: certification, cla: yes

#7141 [dnssd-server] fix TXT RR format when TXT length is zero
  src/core/net/dnssd_server.cpp
Labels: bug, P2, cla: yes, comp: dns

#7146 [spinel] fix serialization for SPINEL_PROP_RCP_ENH_ACK_PROBING
  src/lib/spinel/radio_spinel_impl.hpp
Labels: bug, comp: rcp, cla: yes

#7149 [thci] override `forceSetSlaac` for border router
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, platform: posix, cla: yes

#7129 [common] adding `HeapData` class
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/heap_data.cpp
  src/core/common/heap_data.hpp
  tests/unit/test_heap_string.cpp
Labels: enhancement, P4, cla: yes

#7148 [thci] fix THCI error on Harness 1.1
  tools/harness-thci/OpenThread.py
Labels: P2, certification, cla: yes

#7104 [otci] misc enhancements
  tools/otci/otci/otci.py
Labels: enhancement, P4, cla: yes, comp: otci

#7144 [srp-server] adding `MessageMetadata`
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes, comp:srp

#7157 [mle] record child netdata versions in `HandleChildUpdateRequest()`
  src/core/thread/mle_router.cpp
Labels: bug, certification, cla: yes, comp: mle

#7145 [border-router] add test for manual address reachability
  tests/scripts/thread-cert/border_router/test_manual_address.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, cla: yes, comp: border router

#7152 [tests] stop otbr-agent service for host nodes
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, cla: yes

#7158 [thci] allow for sufficient time after a ping from OTBR
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: certification, cla: yes, comp: border router

#7143 [dnssd] add tests for Service Instance names with spaces
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/border_router/test_dnssd_instance_name_with_space.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd_name_with_special_chars.py
  tools/otci/otci/otci.py
Labels: P4, continuous-integration, cla: yes, comp: dns

#7164 [dua] assume child does not have DUA if no space to store one
  src/core/thread/mle_router.cpp
Labels: P2, certification, Thread 1.2, cla: yes, comp: dua

#7165 [srp-server] free `mTxtData` buffer from `Description::Free()`
  src/core/net/srp_server.cpp
Labels: bug, P2, cla: yes, comp:srp

#7170 [settings] do not assert when SettingsFd is -1 in `Deinit`
  src/posix/platform/settings.cpp
Labels: bug, enhancement, P4, platform: posix, cla: yes

#7166 [srp-server] use `Heap::Data` to store TXT record data bytes
  src/core/common/heap_data.cpp
  src/core/common/heap_data.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_heap_string.cpp
Labels: enhancement, P4, cla: yes, comp:srp

#7167 [mlr] remove unnecessary calls to `UpdateMldReport`
  src/posix/platform/multicast_routing.cpp
Labels: bug, Thread 1.2, cla: yes

#7172 [heap] include `stddef.h` for `size_t`
  src/core/common/heap.hpp
Labels: P4, comp: build, cla: yes

#7173 [posix] add OT_TOOL_WEAK for otPlatLog
  src/posix/platform/logging.cpp
Labels: comp: build, platform: posix, cla: yes

#7154 [thci] fix `mdns_query`
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2, cla: yes

#7174 [tests] add test to make sure BR works in FED role
  tests/scripts/thread-cert/border_router/test_border_router_as_fed.py
Labels: P4, continuous-integration, cla: yes, comp: border router

#7160 [thci] fix issue with isPowerDown flag and reset method
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2, cla: yes

#7074 [tcp] add TCPlp's FreeBSD-derived protocol code, with explanatory comments
  third_party/tcplp/CMakeLists.txt
  third_party/tcplp/Makefile.am
  third_party/tcplp/bsdtcp/cc.h
  third_party/tcplp/bsdtcp/cc/cc_module.h
  third_party/tcplp/bsdtcp/cc/cc_newreno.c
  third_party/tcplp/bsdtcp/icmp_var.h
  third_party/tcplp/bsdtcp/ip.h
  third_party/tcplp/bsdtcp/ip6.h
  third_party/tcplp/bsdtcp/sys/queue.h
  third_party/tcplp/bsdtcp/tcp.h
  third_party/tcplp/bsdtcp/tcp_const.h
  third_party/tcplp/bsdtcp/tcp_fsm.h
  third_party/tcplp/bsdtcp/tcp_input.c
  third_party/tcplp/bsdtcp/tcp_output.c
  third_party/tcplp/bsdtcp/tcp_reass.c
  third_party/tcplp/bsdtcp/tcp_sack.c
  third_party/tcplp/bsdtcp/tcp_seq.h
  third_party/tcplp/bsdtcp/tcp_subr.c
  third_party/tcplp/bsdtcp/tcp_timer.c
  third_party/tcplp/bsdtcp/tcp_timer.h
  third_party/tcplp/bsdtcp/tcp_timewait.c
  third_party/tcplp/bsdtcp/tcp_usrreq.c
  third_party/tcplp/bsdtcp/tcp_var.h
  third_party/tcplp/bsdtcp/types.h
  third_party/tcplp/tcplp.c
  third_party/tcplp/tcplp.h
Labels: cla: yes, comp: tcp

#7163 [thci] fix for GRL TH1.1 Leader 5.5.2, Leader 5.5.3
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, cla: yes

#7184 [tcplp] suppress warnings by target_compile_options
  third_party/tcplp/CMakeLists.txt
Labels: comp: build, cla: yes, comp: tcp

#7178 [ip6] log encapsulated IPv6 messages
  src/core/net/ip6.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: cla: yes

#7168 [common] adding `Heap::Allocatable` and use it in `Srp::Server`
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/common/heap_allocatable.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes, comp:srp

#7171 [common] adding `OwnedPtr` and `RetainPtr` classes
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/common/owned_ptr.hpp
  src/core/common/retain_ptr.hpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_smart_ptrs.cpp
Labels: enhancement, P4, cla: yes

#7179 [thci] add setCcmState method in thci
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2, cla: yes

#7181 [common] adding `OwningList` (a linked list which owns its entries)
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/common/owning_list.hpp
  tests/unit/test_linked_list.cpp
Labels: enhancement, P4, cla: yes

#7192 [tests] verify the number of published meshcop services
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, cla: yes, comp: meshcop

#7196 [thci] fix issue with not initialized isPowerDown flag
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2, cla: yes

#7194 [github-actions] push `README.md` to Dockerhub
  .github/workflows/docker.yml
Labels: enhancement, comp: docs, P4, continuous-integration, cla: yes

#7197 Revert "[github-actions] push `README.md` to Dockerhub"
  .github/workflows/docker.yml
Labels: bug, comp: docs, continuous-integration, cla: yes

#6962 [tests] update meshcop service test case
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration, cla: yes, comp: meshcop

#7202 [tests] fix test_publish_meshcop_service.py
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: continuous-integration, cla: yes, comp: meshcop

#7199 [thci] fix failing Thread 1.1 Cert Tests
  tools/harness-thci/OpenThread.py
Labels: bug, certification, cla: yes, comp: thci

#7201 [heap-allocatable] new method to allocate and init using constructor
  src/core/common/heap_allocatable.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes

#7203 [mesh-forwarder] ensure message allocation with correct priority
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: bug, P3, cla: yes

#7209 [cli] add option to disable prompt
  src/cli/cli.cpp
  src/cli/cli_config.h
Labels: comp: build, comp: cli, cla: yes

#7156 [mac] add "Radio Filter" mechanism
  include/openthread/instance.h
  include/openthread/link.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/link_api.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_radio_filter.py
Labels: enhancement, P4, api: user, comp: cli, cla: yes

#7210 [message] simplify method for allocating new message from pool
  src/core/coap/coap_secure.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/net/dns_client.cpp
  src/core/net/ip6.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/utils/child_supervision.cpp
  tests/unit/test_dns.cpp
  tests/unit/test_heap_string.cpp
  tests/unit/test_hmac_sha256.cpp
  tests/unit/test_lowpan.cpp
  tests/unit/test_message.cpp
  tests/unit/test_message_queue.cpp
  tests/unit/test_priority_queue.cpp
  tests/unit/test_spinel_buffer.cpp
Labels: enhancement, P4, cla: yes

#7191 [tcplp] remove unused type defines
  third_party/tcplp/bsdtcp/types.h
Labels: comp: build, cla: yes, comp: tcp

#7204 [tests] use xa instead of dd in the test case
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
Labels: P1, continuous-integration, cla: yes

#7182 [cli] add command to skip VR check when upgrading to router or leader
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: P2, api: user, comp: cli, certification, Thread 1.2, cla: yes

#7213 [timer] declare `Timer` constructor as `protected`
  src/core/common/timer.hpp
Labels: enhancement, P4, cla: yes
