Repository openthread/openthread, pull requests merged in 2021-08, with the labels that each got.

#6880 [mesh-forwarder] fix `RemoveDataResponseMessages()` accessing freed msg
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: P4, bug, cla: yes

#6865 [border-agent] update meshcop test cases
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: cla: yes, comp: border router, continuous-integration

#6883 [coap] fix `CoapSecure::Stop()` accessing freed message instance
  src/core/coap/coap_secure.cpp
Labels: P2, bug, cla: yes, comp: coap

#6869 [test] fix reporting expect failures
  .github/workflows/posix.yml
  script/test
  src/cli/cli.cpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_joiner.cpp
  src/core/net/dns_client.cpp
  src/core/net/sntp_client.cpp
  tests/scripts/expect/cli-channel.exp
  tests/scripts/expect/cli-coaps.exp
  tests/scripts/expect/cli-counters.exp
  tests/scripts/expect/cli-dataset.exp
  tests/scripts/expect/cli-ipmaddr.exp
  tests/scripts/expect/cli-mac.exp
  tests/scripts/expect/cli-misc.exp
  tests/scripts/expect/cli-ping.exp
  tests/scripts/expect/cli-promiscuous.exp
  tests/scripts/expect/cli-routereligible.exp
  tests/scripts/expect/cli-scan-discover.exp
  tests/scripts/expect/cli-udp.exp
  tests/scripts/expect/tun-netstat.exp
  tests/scripts/expect/tun-realm-local-multicast.exp
  tests/scripts/expect/tun-udp.exp
Labels: cla: yes, continuous-integration

#6888 [tests] fix test_publish_meshcop_service.py
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: bug, cla: yes, continuous-integration

#6851 [otci] allow callbacks on all read lines
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: cla: yes, comp: otci, enhancement

#6889 [mle] ensure Link Metrics methods free newly allocated msg on error
  src/core/thread/mle.cpp
Labels: P4, bug, cla: yes, comp: mle

#6892 [mle] correct failure errors of `Start()` doc
  src/core/thread/mle.hpp
Labels: cla: yes, comp: docs, comp: mle

#6894 [tests] update meshcop service instance name in test case
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: continuous-integration, cla: yes, comp: border router

#6891 [csl] fix switch between SSED -> MED -> SSED modes
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/thread/mle.cpp
Labels: bug, Thread 1.2, cla: yes

#6838 [dns-sd] add DNS-SD server network interface binding configuration
  script/test
  src/core/config/dnssd_server.h
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/udp6.cpp
Labels: enhancement, cla: yes, comp: dns

#6899 [docs] update retval doc style
  src/core/backbone_router/bbr_leader.hpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.hpp
Labels: comp: docs, cla: yes

#6895 [thread] replace `enum` constants with `constexpr`
  src/core/net/netif.hpp
  src/core/thread/address_resolver.hpp
  src/core/thread/announce_begin_server.hpp
  src/core/thread/announce_sender.hpp
  src/core/thread/child_table.hpp
  src/core/thread/csl_tx_scheduler.hpp
  src/core/thread/discover_scanner.hpp
  src/core/thread/dua_manager.hpp
  src/core/thread/energy_scan_server.hpp
  src/core/thread/indirect_sender.hpp
  src/core/thread/key_manager.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/lowpan.cpp
  src/core/thread/lowpan.hpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/mlr_types.hpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader_ftd.hpp
  src/core/thread/network_data_notifier.hpp
  src/core/thread/network_data_service.hpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
  src/core/thread/panid_query_server.hpp
  src/core/thread/radio_selector.hpp
  src/core/thread/router_table.hpp
  src/core/thread/thread_tlvs.hpp
  src/core/thread/tmf.hpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, cla: yes

#6871 [tcp] style changes, typo fixes, and smaller changes
  include/openthread/instance.h
  include/openthread/tcp.h
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
Labels: enhancement, api: platform, cla: yes, comp: tcp

#6901 [srp-server] fix adding service with subtypes to existing host
  src/core/net/srp_server.cpp
  tests/scripts/thread-cert/test_dnssd.py
Labels: bug, P4, cla: yes, comp: dns

#6896 [srp-client] config to allow/disallow server switch if host is registered
  src/core/config/srp_client.h
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
Labels: enhancement, P4, cla: yes, comp: dns

#6903 [logging] simplify logging functions
  src/core/common/logging.cpp
  src/core/common/logging.hpp
Labels: enhancement, P4, cla: yes

#6761 [cli-udp] bind CLI UDP socket to unspecified interface
  include/openthread/instance.h
  include/openthread/platform/udp.h
  include/openthread/udp.h
  src/cli/README_UDP.md
  src/cli/cli_udp.cpp
  src/core/api/udp_api.cpp
  tools/otci/otci/__init__.py
  tools/otci/otci/otci.py
  tools/otci/otci/types.py
  tools/otci/tests/test_otci.py
Labels: bug, api: user, comp: cli, cla: yes

#6897 [mle] wait till end of announce tx on all channels to attach
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, cla: yes, comp: mle

#6904 [tests] add test to verify name conflict resolution for meshcop service
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, cla: yes, comp: border router

#6849 [mac] add `mIsHeaderUpdated` frame flag
  examples/platforms/simulation/radio.c
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/data_poll_handler.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/thread/csl_tx_scheduler.cpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_radio.cpp
Labels: api: platform, platform: posix, comp: rcp, cla: yes, comp: mac

#6908 [cli] fix usage of strncpy in coap
  src/cli/cli_coap.cpp
  src/cli/cli_coap_secure.cpp
Labels: bug, comp: coap, comp: cli, cla: yes

#6905 [posix] set compile-time minimum log level to debug
  src/posix/platform/openthread-core-posix-config.h
Labels: platform: posix, cla: yes

#6858 [tests] attempt to fix intermittent failures of MATN-12
  tests/scripts/thread-cert/node.py
Labels: bug, continuous-integration, cla: yes, comp: border router

#6907 [meshcop] replace `enum` constants with `constexpr`
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.hpp
  src/core/meshcop/dtls.hpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/joiner_router.hpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_leader.hpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/timestamp.hpp
Labels: enhancement, P4, cla: yes, comp: meshcop

#6910 [utils] replace `enum` constants with `constexpr`
  src/core/utils/channel_manager.hpp
  src/core/utils/channel_monitor.hpp
  src/core/utils/child_supervision.hpp
  src/core/utils/flash.hpp
  src/core/utils/heap.hpp
  src/core/utils/jam_detector.hpp
  src/core/utils/ping_sender.hpp
  src/core/utils/slaac_address.hpp
  src/core/utils/srp_client_buffers.hpp
Labels: enhancement, P4, cla: yes

#6911 [bbr/br] replace `enum` constants with `constexpr`
  src/core/backbone_router/backbone_tmf.hpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/backbone_router/multicast_listeners_table.hpp
  src/core/backbone_router/ndproxy_table.hpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, cla: yes, comp: backbone-router, comp: border router

#6887 [dataset] add callback to receive MGMT_SET responses
  include/openthread/dataset.h
  include/openthread/error.h
  include/openthread/instance.h
  src/cli/cli_dataset.cpp
  src/core/api/dataset_api.cpp
  src/core/common/error.cpp
  src/core/common/error.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, cla: yes, comp: meshcop

#6768 [netdata] adding `NetworkData::Publisher`
  Android.mk
  etc/cmake/options.cmake
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/netdata_publisher.h
  script/check-scan-build
  script/check-size
  script/cmake-build
  script/make-pretty
  script/test
  src/cli/README.md
  src/cli/README_NETDATA.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/netdata_publisher_api.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/common/instance.hpp
  src/core/common/notifier.cpp
  src/core/config/netdata_publisher.h
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/openthread-core-config.h
  src/core/thread/network_data.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_data_types.hpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/posix/Makefile-posix
  tests/fuzz/oss-fuzz-build
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_netdata_publisher.py
  tests/scripts/thread-cert/test_srp_auto_start_mode.py
  tests/scripts/thread-cert/test_srp_client_save_server_info.py
  tests/scripts/thread-cert/test_srp_sub_type.py
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, api: user, comp: cli, cla: yes, comp: netdata

#6915 [docs] fix comment in spinel buffer
  src/lib/spinel/spinel_buffer.hpp
Labels: enhancement, comp: docs, P4, cla: yes

#6877 [dataset] add API `otDatasetParseTlvs`
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
  src/core/api/dataset_api.cpp
  tests/scripts/expect/cli-dataset.exp
Labels: enhancement, api: user, cla: yes

#6816 [dua] fix potential issue in DUA.rsp & DUA.ntf processing
  src/core/thread/dua_manager.cpp
Labels: bug, Thread 1.2, cla: yes, comp: dua

#6917 [border-routing] fix on-link prefix validation
  src/core/border_router/routing_manager.cpp
  src/core/net/ip6_address.hpp
Labels: bug, cla: yes, comp: border router

#6913 [csl] allow to configure the CSL auto synchronization
  etc/cmake/options.cmake
  examples/common-switches.mk
  src/core/config/mac.h
  src/core/mac/data_poll_sender.cpp
Labels: Thread 1.2, cla: yes, comp: mac

#6914 [cli] add API/CLI to support querying SRP server state
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/README_SRP_SERVER.md
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/core/api/srp_server_api.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_netdata_publisher.py
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: enhancement, api: user, comp: cli, cla: yes

#6916 [netdata] add `RoutePreference` and related helper functions
  src/core/border_router/router_advertisement.cpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/dns_client.cpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_data_types.cpp
  src/core/thread/network_data_types.hpp
Labels: enhancement, P4, cla: yes, comp: netdata

#6886 [posix] refine system initialization and deinitialization
  src/posix/main.c
  src/posix/platform/backbone.cpp
  src/posix/platform/daemon.cpp
  src/posix/platform/daemon.hpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  src/posix/platform/udp.cpp
  src/posix/platform/udp.hpp
Labels: enhancement, platform: posix, cla: yes

#6807 [utils] adding `HistoryTracker` module
  .github/workflows/simulation-1.1.yml
  Android.mk
  etc/cmake/options.cmake
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/history_tracker.h
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/thread.h
  script/check-scan-build
  script/check-simulation-build-autotools
  script/cmake-build
  script/make-pretty
  script/test
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/README.md
  src/cli/README_HISTORY.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/history_tracker_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/thread_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/common/notifier.cpp
  src/core/config/history_tracker.h
  src/core/net/ip6.hpp
  src/core/net/ip6_headers.hpp
  src/core/openthread-core-config.h
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
  src/posix/Makefile-posix
  src/posix/platform/openthread-core-posix-config.h
  tests/fuzz/oss-fuzz-build
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_history_tracker.py
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, api: user, comp: cli, cla: yes

#6918 [dataset-manager] avoid nullptr dereference
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: bug, cla: yes

#6919 [mle] check netif is up before processing discover scan
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/thread/discover_scanner.cpp
  src/core/thread/discover_scanner.hpp
  tests/scripts/expect/cli-scan-discover.exp
Labels: enhancement, P4, cla: yes, comp: mle

#6924 [test] extra wait on multiple prefix add in `test_netdata_publisher`
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, continuous-integration, cla: yes

#6921 [mac] tx beacon on the same radio as the request in multi-radio config
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: enhancement, P4, cla: yes, comp: trel, comp: mac

#6925 [tcp] link third_party TCPlp module in CMake build
  src/core/ftd.cmake
  src/core/mtd.cmake
  third_party/tcplp/CMakeLists.txt
Labels: comp: build, cla: yes, comp: tcp

#6920 [mle] skip removing and re-adding of RLOC IPv6 address on no change
  src/core/net/netif.hpp
  src/core/thread/mle.cpp
Labels: enhancement, P4, cla: yes, comp: mle

#6938 [ncp] fix auto in enhanced loop
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, comp: ncp, P4, cla: yes

#6932 [docs] add markup for history tracker
  doc/ot_api_doc.h
  include/openthread/history_tracker.h
  include/openthread/instance.h
Labels: comp: docs, cla: yes

#6928 [netif] define related types (unicast/mcast addr, iterator) as nested types
  src/core/api/ip6_api.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.hpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_client.hpp
  src/core/net/dhcp6_server.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/nd_agent.hpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/thread/address_resolver.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/utils/slaac_address.cpp
  src/core/utils/slaac_address.hpp
  tests/unit/test_netif.cpp
Labels: enhancement, P4, cla: yes

#6941 [mac] append header termination IE2 when data payload is present
  src/core/thread/mesh_forwarder.cpp
Labels: Thread 1.2, cla: yes, comp: mac

#6881 [cmake] avoid unnecessary rebuild when git commit id changes
  CMakeLists.txt
  src/cli/CMakeLists.txt
  src/core/CMakeLists.txt
  src/ncp/CMakeLists.txt
Labels: comp: build, cla: yes

#6935 [docs] update README_SRP_SERVER.md
  src/cli/README_SRP_SERVER.md
Labels: comp: docs, comp: cli, cla: yes, comp: dns

#6943 [Android.mk] add missing TREL source
  Android.mk
Labels: comp: build, cla: yes

#6931 [csl] allow more tx failures when sending CSL data poll
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle_types.hpp
Labels: Thread 1.2, cla: yes, comp: mac

#6936 [csl] disable CSL when detaching
  src/core/thread/mle.cpp
Labels: Thread 1.2, cla: yes, comp: mac

#6946 [otci] dns query timeout fix
  tools/otci/otci/otci.py
Labels: continuous-integration, cla: yes

#6945 [linked-list] range-based `for` loop iteration over all entries
  src/core/api/ip6_api.cpp
  src/core/coap/coap.cpp
  src/core/common/iterator_utils.hpp
  src/core/common/linked_list.hpp
  src/core/common/timer.cpp
  src/core/net/icmp6.cpp
  src/core/net/ip6.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/net/tcp6.cpp
  src/core/net/udp6.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/mle.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/topology.cpp
  src/core/utils/slaac_address.cpp
  tests/unit/test_linked_list.cpp
  tests/unit/test_netif.cpp
Labels: enhancement, P4, cla: yes

#6942 [csl] message transmission timer fixes
  src/core/thread/mle.cpp
Labels: Thread 1.2, cla: yes, comp: mle

#6947 [history-tracker] add support for neighbor table history
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/core/api/history_tracker_api.cpp
  src/core/config/history_tracker.h
  src/core/thread/child_table.cpp
  src/core/thread/neighbor_table.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, api: user, comp: cli, cla: yes, comp:history-tracker

#6948 [router-table] fix signalling when neighbor routers are removed
  src/core/thread/router_table.cpp
Labels: enhancement, P4, cla: yes

#6949 [cli-trel] add CLI command to enable/disable TREL
  include/openthread/instance.h
  include/openthread/platform/trel-udp6.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/posix/platform/trel_udp6.cpp
Labels: enhancement, comp: cli, platform: posix, cla: yes, comp: trel

#6957 [tcp] fix uninitialized variable warning in TcpExample::ProcessBenchmark()
  src/cli/cli_tcp.cpp
Labels: comp: build, comp: cli, cla: yes, comp: tcp

#6969 [simulation] fix handling of overflow in virtual-time simulation
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/virtual_time/alarm-sim.c
  examples/platforms/simulation/virtual_time/platform-sim.c
Labels: bug, P4, platform: simulation, cla: yes

#6967 [history-tracker] fix `EntryAgeToString()` calculation of minutes
  src/core/utils/history_tracker.cpp
Labels: bug, P4, cla: yes, comp:history-tracker

#6966 [test] simplify unit test platform implementation
  tests/unit/test_multicast_listeners_table.cpp
  tests/unit/test_platform.cpp
  tests/unit/test_platform.h
  tests/unit/test_timer.cpp
Labels: enhancement, P4, cla: yes

#6963 [spinel] refactor connection handling for USB transport
  configure.ac
  examples/README.md
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/Makefile-posix
  src/posix/platform/CMakeLists.txt
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/radio_url.cpp
  src/posix/platform/spi_interface.hpp
Labels: comp: rcp, cla: yes

#6973 [coap] remove unnecessary value store
  src/core/coap/coap.cpp
Labels: P4, comp: coap, cla: yes
