Repository openthread/openthread, pull requests merged in 2021-02, with the labels that each got.

#6124 [dns-header] new helper method to find i-th record matching name and type
  src/core/net/dns_headers.cpp
  src/core/net/dns_headers.hpp
  tests/unit/test_dns.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6122 [trel-posix] disable DAD when adding unicast address on trel netif
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/trel_udp6.cpp
  tests/toranj/openthread-core-toranj-config-posix.h
Labels: P4, cla: yes, comp: trel, enhancement, platform: posix

#6132 [cli] ensure to init 'mInstance' before other member variables
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: P4, cla: yes, comp: cli, enhancement

#5384 [posix] enable expect tests on macOS
  .github/workflows/posix.yml
  script/test
  src/core/config/mac.h
  src/core/mac/mac.hpp
  src/posix/platform/udp.cpp
  tests/scripts/expect/_common.exp
  tests/scripts/expect/_multinode.exp
  tests/scripts/expect/posix-rcp-restoration.exp
  tests/scripts/expect/tun-sntp.exp
Labels: P4, bug, cla: yes, continuous-integration, platform: posix

#6137 [nrf528xx] update nrf_security license
  third_party/NordicSemiconductor/libraries/nrf_security/config/nrf-config.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/ccm_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/chacha20_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/chachapoly_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/ecp_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/platform_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/poly1305_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/sha1_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/sha256_alt.h
  third_party/NordicSemiconductor/libraries/nrf_security/include/mbedtls/threading_alt.h
Labels: cla: yes, comp: docs, platform: nrf52811, platform: nrf52833, platform: nrf52840

#6136 [harness-thci] remove `pylint` issues from THCI file
  tools/harness-thci/OpenThread.py
Labels: cla: yes

#6135 [spinel] add CSL-related properties
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: Thread 1.2, cla: yes, comp: low-power, enhancement

#6134 [srp-client] new methods to get server address, set callback
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/core/api/srp_client_api.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6138 [locator] remove OwnerLocator class
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/border_router/routing_manager.cpp
  src/core/common/locator-getters.hpp
  src/core/common/locator.hpp
  src/core/common/notifier.cpp
  src/core/common/tasklet.cpp
  src/core/common/tasklet.hpp
  src/core/common/time_ticker.cpp
  src/core/common/timer.hpp
  src/core/common/trickle_timer.cpp
  src/core/common/trickle_timer.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/sub_mac.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dns_client.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6_mpl.cpp
  src/core/net/sntp_client.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/radio/trel_link.cpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/announce_sender.cpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/key_manager.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/panid_query_server.cpp
  src/core/thread/time_sync_service.cpp
  src/core/utils/channel_manager.cpp
  src/core/utils/channel_monitor.cpp
  src/core/utils/child_supervision.cpp
  src/core/utils/dataset_updater.cpp
  src/core/utils/jam_detector.cpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_spi.cpp
  src/ncp/ncp_uart.cpp
  tests/unit/test_timer.cpp
Labels: P4, cla: yes

#6141 [socket] add 'SockAddr::ToString()'
  Android.bp
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/net/socket.cpp
  src/core/net/socket.hpp
  src/core/net/srp_client.cpp
Labels: P4, cla: yes, enhancement

#6143 [tests] fix test_srp_name_confclicts.py
  tests/scripts/thread-cert/test_srp_name_conflicts.py
Labels: cla: yes, continuous-integration

#6142 [url] fix returning empty value
  src/lib/url/url.cpp
Labels: P4, bug, cla: yes

#6147 [fuzz] add CMake support
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/fuzz/CMakeLists.txt
Labels: cla: yes, comp: build, continuous-integration, enhancement

#6150 [thread-cert] fix python syntax warning
  tests/scripts/thread-cert/node.py
Labels: P4, cla: yes

#6153 [script] support to specify cmake build directory in script/test
  script/test
Labels: P4, cla: yes, comp: build, enhancement, platform: simulation

#6144 [spinel] add domain name spinel property
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
Labels: cla: yes, comp: ncp, enhancement

#6131 [dns-sd] add CI tests for SRP server & Advertising Proxy
  .github/workflows/simulation-1.2.yml
  script/test
  src/core/net/srp_server.cpp
  tests/scripts/thread-cert/backbone/bbr_5_11_01.py
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/requirements.txt
Labels: P4, cla: yes, comp: dns, continuous-integration

#6125 [settings] add APIs to securely store critical settings
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/posix/platform/include/openthread/platform/secure_settings.h
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/settings.cpp
Labels: P2, api: platform, cla: yes, enhancement

#6103 [dns-sd] DNS-SD server implementation
  Android.mk
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  script/check-size
  script/test
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/instance.hpp
  src/core/config/dnssd_server.h
  src/core/net/dns_headers.cpp
  src/core/net/dns_headers.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/openthread-core-config.h
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/posix/Makefile-posix
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/border_routing/test_dnssd_server.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
Labels: P3, cla: yes, comp: dns, enhancement

#6158 [cli] add helper method to output "Enabled/Disabled" status
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_udp.cpp
Labels: P4, cla: yes, comp: cli, enhancement

#6154 [efr32] update for compatibility with Gecko SDK 3.1.1
  examples/Makefile-efr32mg1
  examples/Makefile-efr32mg12
  examples/Makefile-efr32mg13
  examples/Makefile-efr32mg21
  examples/platforms/efr32/Makefile.platform.am
  examples/platforms/efr32/efr32_platform_defs.am
  examples/platforms/efr32/efr32mg1/Makefile.platform.am
  examples/platforms/efr32/efr32mg1/README.md
  examples/platforms/efr32/efr32mg1/crypto/mbedtls_config_autogen.h
  examples/platforms/efr32/efr32mg12/Makefile.platform.am
  examples/platforms/efr32/efr32mg12/README.md
  examples/platforms/efr32/efr32mg12/crypto/mbedtls_config_autogen.h
  examples/platforms/efr32/efr32mg13/Makefile.platform.am
  examples/platforms/efr32/efr32mg13/README.md
  examples/platforms/efr32/efr32mg13/crypto/mbedtls_config_autogen.h
  examples/platforms/efr32/efr32mg21/Makefile.platform.am
  examples/platforms/efr32/efr32mg21/README.md
  examples/platforms/efr32/efr32mg21/crypto/mbedtls_config_autogen.h
  examples/platforms/efr32/src/alarm.c
  examples/platforms/efr32/src/ieee802154mac.h
  examples/platforms/efr32/src/memory.c
  examples/platforms/efr32/src/openthread-core-efr32-config.h
  examples/platforms/efr32/src/radio.c
  examples/platforms/efr32/src/system.c
  examples/platforms/efr32/src/uart.c
  third_party/silabs/Makefile.am
Labels: cla: yes, platform: efr32

#6160 [fuzz] add OSS-Fuzz build script
  tests/fuzz/oss-fuzz-build
Labels: P4, cla: yes, continuous-integration, enhancement

#6149 [low-power] fix csl code wrapper
  src/core/common/instance.hpp
  src/core/mac/data_poll_handler.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/indirect_sender.hpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: P4, Thread 1.2, cla: yes, comp: low-power, enhancement

#6166 [mle] set router's Thread version in Link Accept handler
  src/core/thread/mle_router.cpp
Labels: P4, bug, cla: yes, comp: mle

#6163 [coap-message] fix buffer overflow in AppendUintOption()
  src/core/coap/coap_message.cpp
Labels: P4, bug, cla: yes, comp: coap

#6167 [efr32] implement otPlatUartFlush()
  examples/platforms/efr32/src/openthread-core-efr32-config.h
  examples/platforms/efr32/src/uart.c
Labels: cla: yes, platform: efr32

#6173 [coap] remove use of `nullptr` in coap.h
  include/openthread/coap.h
  include/openthread/instance.h
Labels: bug, cla: yes, comp: build, comp: coap

#6162 [trel] update simulation platform to verify port and IPv6 address
  examples/platforms/simulation/trel.c
Labels: P4, cla: yes, comp: trel, enhancement, platform: simulation

#6175 [cmake] using cmake -E echo instead of shell echo command
  CMakeLists.txt
  etc/cmake/print.cmake
Labels: P4, cla: yes, comp: build

#6169 [dns] update DNS/SRP client documentation to use doxygen lists
  include/openthread/dns_client.h
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/core/net/dns_client.hpp
Labels: P4, cla: yes, comp: dns, comp: docs, enhancement

#6176 [efr32] change sleepy-demo-mtd to start awake
  examples/platforms/efr32/sleepy-demo/sleepy-demo-mtd/main.c
Labels: cla: yes, enhancement, platform: efr32

#6177 [ip6] enqueue reassembly buffer immediately
  src/core/net/ip6.cpp
Labels: P4, bug, cla: yes

#6179 [srp-server] specify format string when printing names
  src/cli/cli_srp_server.cpp
Labels: cla: yes, comp: cli, comp: dns, enhancement

#6181 [nrf52840] update docs to list new cc310/mbedtls libs
  examples/platforms/nrf528xx/nrf52840/README.md
Labels: P4, cla: yes, comp: docs, platform: nrf52840

#6070 [test] add posix verification for OT 1.2
  .github/workflows/simulation-1.2.yml
  script/test
  tests/scripts/expect/v1_2-rcp.exp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/simulator.py
  tests/scripts/thread-cert/v1_2_LowPower_5_3_01_SSEDAttachment.py
  tests/scripts/thread-cert/v1_2_test_csl_transmission.py
Labels: Thread 1.2, cla: yes, continuous-integration

#6183 [posix] set readline screen cols
  src/posix/console_cli.cpp
Labels: bug, cla: yes, platform: posix

#6182 [makefile] add missing files in different build/make files
  Android.bp
  Android.mk
  include/openthread/BUILD.gn
  include/openthread/instance.h
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
Labels: P4, cla: yes, comp: build, enhancement

#6165 [bbr] handle case where no PBBR exists in network data
  src/core/backbone_router/bbr_leader.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
Labels: P4, Thread 1.2, bug, cla: yes, comp: backbone-router

#6174 [spinel] update domain prefix spinel property
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
Labels: cla: yes, comp: ncp, enhancement

#6178 [cli] add CLI commands for multi-radio feature
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: api: platform, cla: yes, comp: cli, comp: trel, enhancement

#6155 [dns-server] handle multiple questions
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
Labels: cla: yes, comp: dns, enhancement

#6140 [srp-client] adding auto-start feature
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP.md
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/core/api/srp_client_api.cpp
  src/core/config/srp_client.h
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_auto_start_mode.py
Labels: P4, cla: yes, comp: dns, enhancement

#6172 [dns-client] add 'QueryConfig' and default config
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/dns_api.cpp
  src/core/config/dns_client.h
  src/core/config/openthread-core-config-check.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
Labels: P4, cla: yes, comp: cli, comp: dns, enhancement

#6157 [dns-header] add common TXT record entry parsing API
  include/openthread/dns.h
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/core/api/dns_api.cpp
  src/core/api/srp_server_api.cpp
  src/core/net/dns_headers.cpp
  src/core/net/dns_headers.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
  tests/unit/test_dns.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6126 [github-actions] use cmake to build nrf in size action
  script/check-size
Labels: P4, cla: yes, comp: build, continuous-integration, enhancement, platform: nrf52840

#6196 [thread-cert] reduce simulator UDP buffer size
  tests/scripts/thread-cert/simulator.py
  tests/scripts/thread-cert/sniffer_transport.py
Labels: P4, cla: yes, continuous-integration

#6193 [dns] rename to 'dns_types.hpp'
  Android.bp
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/dns_api.cpp
  src/core/net/dns_client.hpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.hpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_dns.cpp
Labels: P4, cla: yes, comp: dns, enhancement

#6194 [dns-client] add arg validation on ResolveService()
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
Labels: P4, cla: yes, comp: cli, comp: dns, enhancement

#6187 [dns] fix and simplify OPT record reuse of TTL field
  src/core/net/dns_types.hpp
Labels: P4, bug, cla: yes, comp: dns, enhancement

#6195 [github-actions] move POSIX expects to POSIX workflow
  .github/workflows/posix.yml
  .github/workflows/simulation.yml
Labels: P4, cla: yes, continuous-integration, enhancement

#6190 [spinel] replace otPlatSettings with SettingsDriver
  src/lib/spinel/radio_spinel_impl.hpp
Labels: cla: yes, comp: rcp, enhancement

#6192 [netdiag] fix setting DIAG_GET response callback
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
  src/core/api/netdiag_api.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
Labels: cla: yes

#6198 [crypto] update PBKDF2 module to use c++ style
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/crypto/pbkdf2_cmac.cpp
  src/core/crypto/pbkdf2_cmac.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/meshcop.cpp
Labels: P4, cla: yes, enhancement

#6199 [spinel] simplify functions spinel_*_to_cstr()
  src/lib/spinel/spinel.c
Labels: P4, cla: yes, comp: ncp, enhancement

#6189 [mac] refactor code to add frame version and header IE in TX frames
  examples/platforms/utils/mac_frame.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/unit/test_mac_frame.cpp
Labels: P3, Thread 1.2, cla: yes, comp: low-power, enhancement

#6202 [mle] add wait time for resetting attach backoff interval after attach
  src/core/config/mle.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: P4, cla: yes, comp: mle, enhancement

#6186 [posix] handle dynamic infra interface status
  include/openthread/border_router.h
  include/openthread/instance.h
  include/openthread/platform/infra_if.h
  src/core/api/border_router_api.cpp
  src/core/border_router/infra_if_platform.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/node.py
Labels: cla: yes, enhancement, platform: posix

#6205 [nrf528xx] enlarge internal heap size
  examples/platforms/nrf528xx/nrf52833/openthread-core-nrf52833-config.h
  examples/platforms/nrf528xx/nrf52840/openthread-core-nrf52840-config.h
Labels: P1, bug, cla: yes, platform: nrf52833, platform: nrf52840

#6206 [mle] update 'ToString()' methods in MLE to use string array
  src/core/thread/mle.cpp
Labels: P4, cla: yes, comp: mle, enhancement

#6207 [mac] update 'ToString()' methods to use string array
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
Labels: P4, cla: yes, comp: mac, enhancement

#6212 [efr32] revert removal of support for multiple efr32BandConfig's
  examples/platforms/efr32/src/radio.c
Labels: bug, cla: yes, platform: efr32

#6213 [indirect-sender] free and dequeue the supervision message when removed
  src/core/thread/indirect_sender.cpp
Labels: P1, bug, cla: yes, comp: mac
