Repository openthread/openthread, pull requests merged in 2021-09, with the labels that each got.

#6977 [netdata] remove `mType` in `NetworkData` class
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, cla: yes, comp: netdata

#6978 [common] add template helper `AsConst()/AsNonConst()` functions
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/coap/coap_message.hpp
  src/core/common/array.hpp
  src/core/common/const_cast.hpp
  src/core/common/linked_list.hpp
  src/core/common/message.hpp
  src/core/mac/mac_frame.hpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/net/srp_server.cpp
  src/core/thread/child_table.hpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/router_table.hpp
  src/core/utils/heap.hpp
Labels: enhancement, P4, cla: yes

#6879 [message] simplify `Metadata`
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
Labels: enhancement, P4, cla: yes

#6983 [cmake] remove obsolete efr32 cmake file
  examples/platforms/efr32/efr32mg1/efr32mg1.cmake
Labels: comp: build, platform: efr32, cla: yes

#6990 [github-actions] fix brew install issue on macOS
  .github/workflows/build.yml
  .github/workflows/posix.yml
Labels: continuous-integration, cla: yes

#6826 [srp-server] support address modes & sharing of socket with DNS-SD
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/README_SRP_SERVER.md
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/core/api/srp_server_api.cpp
  src/core/config/srp_server.h
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_server_anycast_mode.py
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, api: user, comp: cli, cla: yes, comp: dns

#6988 [network-name] implement additional validation rules
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/mac/mac_types.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  tests/unit/test_string.cpp
Labels: enhancement, api: user, cla: yes

#6997 [csl] fixes on the receiver window duration calculation
  src/core/mac/sub_mac.hpp
  src/core/thread/mle.cpp
Labels: Thread 1.2, cla: yes

#6982 [script] update `scan-build` to use cmake/ninja
  .github/workflows/build.yml
  script/check-scan-build
Labels: enhancement, P4, continuous-integration, cla: yes

#6985 [message] update `Message:Settings` and the default settings
  include/openthread/instance.h
  include/openthread/message.h
  src/core/api/coap_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/udp_api.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
Labels: enhancement, P4, cla: yes

#6986 [mle] simplify `Start()`, `Stop()`, and `SendAnnounce()`
  src/core/api/thread_api.cpp
  src/core/thread/announce_sender.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, cla: yes, comp: mle

#6695 [cli] disallow concurrent commands
  examples/apps/cli/cli_uart.cpp
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/utils/ping_sender.cpp
  src/posix/cli_readline.cpp
  src/posix/cli_stdio.cpp
  src/posix/platform/daemon.cpp
  tests/scripts/expect/_common.exp
  tools/otci/otci/command_handlers.py
Labels: enhancement, comp: cli, cla: yes

#6995 [mle] send Delayed Data Request with latest Active/Pending Timestamp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: bug, cla: yes, comp: mle

#6996 [mle] evicts delayed MLE Data Request when sending a newer one
  src/core/common/message.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, cla: yes, comp: mle

#6992 [cli] fix warning of strncpy
  src/cli/cli_coap.cpp
Labels: enhancement, P4, comp: cli, cla: yes

#7003 [thread-cert] output more logs in OTBR tests
  script/test
  tests/scripts/thread-cert/node.py
Labels: enhancement, P4, cla: yes, comp: border router

#7009 [crypto] remove unused references to get key attributes
  include/openthread/instance.h
  include/openthread/platform/crypto.h
  src/core/crypto/storage.hpp
Labels: api: user, cla: yes

#7007 [network-data] fix missing header in `network_data_publisher.cpp`
  src/core/thread/network_data_publisher.cpp
Labels: P4, comp: build, cla: yes

#7011 [github-actions] use `--no-check-certificates` when invoking `wget`
  .github/workflows/build.yml
  script/bootstrap
  script/check-size
Labels: P0, continuous-integration, cla: yes

#7015 [mesh-forwarder] call `UpdateRoutes` on rx of first fragment frame
  src/core/thread/mesh_forwarder.cpp
Labels: bug, P1, cla: yes

#7005 [thread-cert] add test to verify MED can inform previous parent on reattach
  examples/platforms/simulation/openthread-core-simulation-config.h
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_inform_previous_parent_on_reattach.py
Labels: P4, continuous-integration, cla: yes

#6993 [common] adding `AsCoreType()` to covert from public to core types
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/api/backbone_router_api.cpp
  src/core/api/backbone_router_ftd_api.cpp
  src/core/api/border_agent_api.cpp
  src/core/api/border_router_api.cpp
  src/core/api/channel_manager_api.cpp
  src/core/api/channel_monitor_api.cpp
  src/core/api/child_supervision_api.cpp
  src/core/api/coap_api.cpp
  src/core/api/coap_secure_api.cpp
  src/core/api/commissioner_api.cpp
  src/core/api/crypto_api.cpp
  src/core/api/dataset_api.cpp
  src/core/api/dataset_ftd_api.cpp
  src/core/api/dataset_updater_api.cpp
  src/core/api/diags_api.cpp
  src/core/api/dns_api.cpp
  src/core/api/dns_server_api.cpp
  src/core/api/history_tracker_api.cpp
  src/core/api/icmp6_api.cpp
  src/core/api/instance_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/jam_detection_api.cpp
  src/core/api/joiner_api.cpp
  src/core/api/link_api.cpp
  src/core/api/link_metrics_api.cpp
  src/core/api/link_raw_api.cpp
  src/core/api/message_api.cpp
  src/core/api/multi_radio_api.cpp
  src/core/api/netdata_api.cpp
  src/core/api/netdata_publisher_api.cpp
  src/core/api/netdiag_api.cpp
  src/core/api/network_time_api.cpp
  src/core/api/ping_sender_api.cpp
  src/core/api/server_api.cpp
  src/core/api/sntp_api.cpp
  src/core/api/srp_client_api.cpp
  src/core/api/srp_client_buffers_api.cpp
  src/core/api/srp_server_api.cpp
  src/core/api/tasklet_api.cpp
  src/core/api/tcp_api.cpp
  src/core/api/thread_api.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/api/udp_api.cpp
  src/core/common/as_core_type.hpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, cla: yes

#6513 [tmf] add `AnycastLocator` module
  Android.mk
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  include/openthread/instance.h
  include/openthread/thread.h
  script/check-scan-build
  script/check-simulation-build-autotools
  script/check-size
  script/cmake-build
  script/make-pretty
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/thread_api.cpp
  src/core/common/instance.hpp
  src/core/config/tmf.h
  src/core/thread/anycast_locator.cpp
  src/core/thread/anycast_locator.hpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  src/core/thread/tmf.hpp
  src/core/thread/uri_paths.cpp
  src/core/thread/uri_paths.hpp
  src/posix/Makefile-posix
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_anycast_locator.py
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, cla: yes

#6999 [history-tracker] add unicast/multicast IPv6 address history
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/core/api/history_tracker_api.cpp
  src/core/config/history_tracker.h
  src/core/net/dhcp6_client.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, api: user, comp: cli, cla: yes, comp:history-tracker

#6645 [radio] use stack reset in RCP
  .github/workflows/posix.yml
  include/openthread/instance.h
  src/core/api/instance_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  tests/scripts/expect/posix-rcp-stack-reset.exp
  tests/scripts/expect/v1_2-rcp-stack-reset.exp
  tests/scripts/misc/test_rcp_reset.py
  tests/unit/test_platform.cpp
Labels: enhancement, P4, comp: rcp, cla: yes

#7001 [mbedtls] add support for version 3.0.0
  .github/workflows/build.yml
  src/core/common/random_manager.cpp
  src/core/common/random_manager.hpp
  src/core/config/dtls.h
  src/core/crypto/crypto_platform.cpp
  src/core/crypto/ecdsa.cpp
  src/core/crypto/mbedtls.cpp
  src/core/crypto/mbedtls.hpp
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
  third_party/mbedtls/CMakeLists.txt
  third_party/mbedtls/mbedtls-config.h
Labels: security, cla: yes

#7017 [simulation] update `alarm` to avoid cast from `uint` to `int`
  examples/platforms/simulation/alarm.c
Labels: enhancement, P4, platform: simulation, cla: yes

#7020 [mac] remove unnecessary cast of `mMode2KeyMaterial` to `KeyMaterial`
  src/core/mac/mac.cpp
Labels: enhancement, P4, cla: yes, comp: mac

#7016 [posix] fix posix logging level
  src/core/api/logging_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/thread/mesh_forwarder.cpp
Labels: bug, platform: posix, cla: yes

#7019 [message] update `Message::Chunk` definitions to use `Data`
  src/core/common/data.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/crypto/hmac_sha256.cpp
  src/core/crypto/sha256.cpp
  src/core/net/checksum.cpp
  tests/unit/test_data.cpp
Labels: enhancement, P4, cla: yes

#7004 [netdata] enhance and simplify `NetworkData` class
  src/core/api/border_router_api.cpp
  src/core/api/netdata_api.cpp
  src/core/api/server_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
  src/core/thread/network_diagnostic.cpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, cla: yes, comp: netdata

#7012 [cli] simplify generating output (adding `Output` & `OutputWrapper`)
  Android.mk
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_output.cpp
  src/cli/cli_output.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/cli/radio.cmake
Labels: enhancement, P4, comp: cli, cla: yes

#7018 [mac] fix the `Mac::NetworkName` length check (`length >= 1`)
  src/core/mac/mac_types.cpp
  tests/unit/test_mac_frame.cpp
Labels: bug, P4, cla: yes, comp: mac

#7024 [github-actions] upgrade to macOS-11
  .github/workflows/build.yml
  .github/workflows/posix.yml
Labels: P4, continuous-integration, cla: yes

#7023 [meshcop] ensure msg has timestamp TLV in `DatasetManager::HandleSet()`
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: bug, P4, cla: yes, comp: meshcop

#7025 [dtls] ensure mbedtls_ssl_key_export_type is defined
  src/core/meshcop/dtls.hpp
Labels: cla: yes

#7026 [mac] update `Mac::NameData` to use `Data`
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, cla: yes, comp: mac

#7021 [mac] remove "packed" requirement for `Mac::KeyMaterial`
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/mac_types.hpp
Labels: enhancement, P4, cla: yes, comp: mac

#7027 [meshcop] update handling of Active/Pending Timestamp TLVs
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/timestamp.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, cla: yes, comp: mle, comp: meshcop

#6926 [tcp] add TCPlp data buffering code (used instead of FreeBSD's data buffering)
  third_party/tcplp/CMakeLists.txt
  third_party/tcplp/Makefile.am
  third_party/tcplp/lib/bitmap.c
  third_party/tcplp/lib/bitmap.h
  third_party/tcplp/lib/cbuf.c
  third_party/tcplp/lib/cbuf.h
  third_party/tcplp/lib/lbuf.c
  third_party/tcplp/lib/lbuf.h
Labels: comp: build, cla: yes, comp: tcp

#7030 [cli] skip CLI prompt when emitting command input/output to logs
  src/cli/cli.cpp
  src/cli/cli_output.cpp
  src/cli/cli_output.hpp
Labels: enhancement, P4, comp: cli, cla: yes

#7034 [key-manager] set frame counter on `SubMac` on a counter reset
  src/core/thread/key_manager.cpp
Labels: bug, P1, cla: yes

#7035 [link-metrics] add reverse linear scale for metrics in enh ack
  src/core/thread/link_metrics.cpp
Labels: Thread 1.2, cla: yes

#7036 [spinel-decoder] add extra check to address compiler warnings
  src/lib/spinel/spinel_decoder.cpp
Labels: enhancement, comp: ncp, P4, cla: yes

#7037 [ip6] clear radio type (link info) when forwarding received message
  src/core/net/ip6.cpp
  tests/toranj/test-703-multi-radio-mesh-header-msg.py
Labels: bug, P4, cla: yes, comp: trel

#7022 [br-tests] enable BR tests with TREL
  .github/workflows/otbr.yml
  script/test
Labels: continuous-integration, cla: yes, comp: trel, comp: border router

#7048 [tcp] apply ot-config compile options
  third_party/tcplp/CMakeLists.txt
Labels: comp: build, cla: yes, comp: tcp

#7038 [routing-manager] retry sending failed RS messages
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_single_border_router.py
Labels: cla: yes, comp: border router

#7045 [posix] fix potential timeout calculation overflows
  src/posix/platform/alarm.cpp
  src/posix/platform/radio.cpp
Labels: bug, P4, platform: posix, cla: yes

#7042 [routing-manager] check LLA before enabling routing manager
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
Labels: cla: yes, comp: border router

#7047 [posix-trel] retry adding interface address if failed
  src/posix/platform/trel_udp6.cpp
Labels: enhancement, platform: posix, cla: yes, comp: trel

#7046 [link-metrics] fix endianess for PDU in link metrics report sub-tlv
  src/core/thread/link_metrics.cpp
Labels: bug, Thread 1.2, cla: yes
