Repository openthread/openthread, pull requests merged in 2022-09, with the labels that each got.

#8109 [thread-cert] import `Crypto` on demand
  tests/scripts/thread-cert/net_crypto.py
Labels: enhancement, P4, continuous-integration

#8105 [mle] update `DetachGracefully()` to stop BR routing manager
  src/core/border_router/routing_manager.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8108 [link-metrics] add blocking CLI query command and enhance tests
  src/cli/cli.cpp
  src/cli/cli.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
  tests/scripts/thread-cert/v1_2_test_single_probe.py
Labels: enhancement, P4, comp: cli, continuous-integration, comp: link-metrics

#8113 [routing-manager] rename published NAT64 prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8111 [discover-scanner] invoke handler when scan is done from a tasklet
  src/core/thread/discover_scanner.cpp
  src/core/thread/discover_scanner.hpp
Labels: bug, P4, comp: mle

#8115 [routing-manager] add `ScheduleRoutingPolicyEvaluation()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8116 [link-metrics] simplify processing of `SeriesFlags`
  src/core/api/link_metrics_api.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/link_metrics_types.cpp
  src/core/thread/link_metrics_types.hpp
Labels: enhancement, P4, comp: link-metrics

#8125 [srp-client] update document about selected preferred server
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/core/net/srp_client.hpp
Labels: enhancement, comp: docs, P4, comp:srp

#8131 [srp-server] log the content of processed SRP update message
  src/core/net/srp_server.cpp
Labels: enhancement, P4, comp:srp, comp: logging

#8075 [harness-simulation] add multiple-version support
  tools/harness-simulation/README.md
  tools/harness-simulation/harness/Thread_Harness/THCI/OpenThread_BR_Sim.py
  tools/harness-simulation/harness/Thread_Harness/THCI/OpenThread_Sim.py
  tools/harness-simulation/harness/Thread_Harness/simulation/config.py
  tools/harness-simulation/harness/install.bat
  tools/harness-simulation/posix/build_docker_image.sh
  tools/harness-simulation/posix/config.py
  tools/harness-simulation/posix/install.sh
  tools/harness-simulation/posix/launch_testbed.py
  tools/harness-simulation/posix/otbr_sim/otbr_docker.py
  tools/harness-simulation/posix/simulation.conf
Labels: enhancement, certification, comp: thci

#8133 [tcp] extend test to cover `otTcpStopListening` API
  tests/scripts/expect/cli-tcp.exp
Labels: continuous-integration, comp: tcp

#8124 [routing-manager] add `RsSender` nested class
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8112 [routing-manager] deprecate previous local on-link prefix on xpanid change
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8146 [config] include `misc.h` in `srp_client.h`
  src/core/config/srp_client.h
Labels: enhancement, P4

#7868 [tcplp] add test for contiguify functionality
  .github/workflows/posix.yml
  third_party/tcplp/lib/test/Makefile
  third_party/tcplp/lib/test/test_all.c
Labels: enhancement, continuous-integration, comp: tcp

#8142 [link-metrics] simplify preparation of MLE Data Request
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: link-metrics

#8153 [github-actions] use external repo for arm build check
  .github/workflows/build.yml
  script/check-arm-build
  script/check-arm-build-autotools
  script/check-arm-build-cmake
Labels: enhancement, P4, continuous-integration

#8158 [cli] document the `ping async` option
  src/cli/README.md
Labels: comp: docs, comp: cli

#8092 [harness-simulation] add support for RF enclosure simulation
  examples/apps/cli/main.c
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/radio.c
  examples/platforms/simulation/virtual_time/platform-sim.c
  include/openthread/cli.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/posix/main.c
  tools/harness-simulation/harness/Thread_Harness/Sniffer/SimSniffer.py
  tools/harness-simulation/harness/Thread_Harness/THCI/OpenThread_BR_Sim.py
  tools/harness-simulation/harness/Thread_Harness/THCI/OpenThread_Sim.py
  tools/harness-simulation/posix/launch_testbed.py
  tools/harness-simulation/posix/simulation.conf
  tools/harness-simulation/posix/sniffer_sim/sniffer.py
  tools/harness-thci/OpenThread.py
Labels: enhancement, api: user, certification, comp: thci

#8143 [cmake] add files allowing direct integration to Zephyr's west
  examples/platforms/zephyr/CMakeLists.txt
  examples/platforms/zephyr/README.md
  zephyr/module.yml
Labels: comp: build

#8137 [thci] allow custom otbr-agent log dumping command via `Param9`
  tools/harness-thci/OpenThread_BR.py
Labels: enhancement, certification, comp: thci

#8126 [nat64] implement functions for NAT64 on the client side
  include/openthread/instance.h
  include/openthread/nat64.h
  src/cli/README.md
  src/cli/README_TCP.md
  src/cli/README_UDP.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
  src/core/api/ip6_api.cpp
  src/core/api/nat64_api.cpp
  src/core/utils/parse_cmdline.cpp
  src/core/utils/parse_cmdline.hpp
Labels: enhancement

#8159 [thci] fix `mdns_query` incorrect `ip6tables` rules
  tools/harness-thci/OpenThread_BR.py
Labels: bug, certification, comp: thci

#8154 [github-actions] use `concurrency` feature to cancel outstanding jobs
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/makefile-check.yml
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/size.yml
  .github/workflows/toranj.yml
  .github/workflows/version.yml
Labels: enhancement, continuous-integration

#8168 [dtls] fix DTLS connection issues
  src/core/meshcop/dtls.cpp
Labels: bug, P2, certification, platform: posix

#8166 [thci] wait for connection reset in `powerDown`
  tools/harness-thci/OpenThread.py
Labels: bug, certification, comp: thci

#8169 [cc2538] move to openthread/ot-cc2538
  configure.ac
  examples/Makefile-cc2538
  examples/platforms/Makefile.am
  examples/platforms/Makefile.platform.am
  examples/platforms/cc2538/CMakeLists.txt
  examples/platforms/cc2538/Makefile.am
  examples/platforms/cc2538/Makefile.platform.am
  examples/platforms/cc2538/README.md
  examples/platforms/cc2538/alarm.c
  examples/platforms/cc2538/arm-none-eabi.cmake
  examples/platforms/cc2538/cc2538-reg.h
  examples/platforms/cc2538/cc2538.ld
  examples/platforms/cc2538/diag.c
  examples/platforms/cc2538/entropy.c
  examples/platforms/cc2538/flash.c
  examples/platforms/cc2538/logging.c
  examples/platforms/cc2538/misc.c
  examples/platforms/cc2538/openthread-core-cc2538-config-check.h
  examples/platforms/cc2538/openthread-core-cc2538-config.h
  examples/platforms/cc2538/platform-cc2538.h
  examples/platforms/cc2538/radio.c
  examples/platforms/cc2538/rom-utility.h
  examples/platforms/cc2538/startup-gcc.c
  examples/platforms/cc2538/system.c
  examples/platforms/cc2538/uart.c
  script/cmake-build
  src/posix/README.md
Labels: P4, platform: cc2538

#8177 [harness-simulation] update `deviceInputFields.xml` automatically
  tools/harness-simulation/README.md
  tools/harness-simulation/harness/Web/data/updateDeviceFields.py
  tools/harness-simulation/harness/install.bat
Labels: enhancement, certification

#8178 [routing-manager] add `Nat64PrefixManager` nested class.
  src/core/border_router/infra_if.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8175 [cmake] add separate `tcplp` libraries for `ftd` and `mtd`
  src/core/ftd.cmake
  src/core/mtd.cmake
  tests/unit/CMakeLists.txt
  third_party/tcplp/CMakeLists.txt
Labels: enhancement, P4, comp: build, continuous-integration

#8164 [gh-action] add new case to run unit test with `toranj` config
  .github/workflows/toranj.yml
Labels: enhancement, P4, continuous-integration

#8129 [srp-server] add `AutoEnableMode` to give control to BR
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/core/api/srp_server_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router, comp:srp

#8163 [test] add unit test `test_srp_server`
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_srp_server.cpp
Labels: enhancement, continuous-integration, comp:srp

#8188 [examples] make built-in otPlatCalloc and otPlatFree definitions weak
  examples/apps/cli/main.c
  examples/apps/ncp/main.c
Labels: enhancement, comp: build

#8192 [routing-manager] fix prefix comparison in `EvaluateOnLinkPrefix()`
  src/core/border_router/routing_manager.cpp
Labels: bug, P3, comp: border router

#8193 [routing-manager] allow old deprecating PIOs when checking RA is from router
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8151 [routing-manager] remove old deprecating prefix on multiple xpanid change
  src/core/border_router/routing_manager.cpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8198 [clearable] update `Clearable` to ensure CRTP-style use
  src/core/backbone_router/ndproxy_table.hpp
  src/core/border_router/routing_manager.hpp
  src/core/common/clearable.hpp
  src/core/common/message.hpp
  src/core/common/settings.hpp
  src/core/net/ip6.hpp
  src/core/net/nd6.hpp
  src/core/net/srp_client.hpp
Labels: enhancement, P4

#8199 [equatable] update `Equatable` to ensure CRTP-style use
  src/core/common/equatable.hpp
Labels: enhancement, P4

#8196 [harness-simulation] add the usage of the CLI command `nodeidfilter`
  examples/apps/cli/main.c
Labels: comp: docs

#8204 [address-cache] increase default to 32
  src/core/config/tmf.h
Labels: enhancement, P4

#8203 [posix] fix OT_DAEMON flag definitions
  src/posix/platform/CMakeLists.txt
Labels: bug, platform: posix

#8205 [srp-server] update the default min/max lease/key-lease intervals
  src/core/net/srp_server.hpp
  tools/otci/tests/test_otci.py
Labels: enhancement, P4, comp:srp

#8206 [srp-server] lease info for a deleted service or host entry
  src/core/net/srp_server.cpp
Labels: enhancement, P4, comp:srp

#8208 [test] update SRP unit test to prepare service entries in all cases
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, continuous-integration, comp:srp

#8210 [cli] print missing mac counters
  src/cli/cli.cpp
Labels: comp: cli

#8213 [nat64] fix typo: `synthersize` -> `synthesize`
  include/openthread/instance.h
  include/openthread/nat64.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/nat64_api.cpp
Labels: bug, api: user

#8207 [srp-client] update "single service mode" to handle many removes
  src/core/net/srp_client.cpp
  tests/scripts/thread-cert/test_srp_many_services_mtu_check.py
Labels: enhancement, P4, comp:srp

#8215 [crypto] update the signature algorithm used for 3.2.0 mbedTLS
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
Labels: bug, security

#8220 [fuzz] declare `otPlatLog` as weak
  tests/fuzz/fuzzer_platform.cpp
Labels: bug, continuous-integration

#8219 [ip6] define `Ip6::NetifIdentifier` mirroring `otNetifIdentifier`
  src/core/api/udp_api.cpp
  src/core/backbone_router/backbone_tmf.cpp
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/meshcop/dtls.cpp
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/sntp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/thread/tmf.cpp
Labels: enhancement, P4

#8216 [cmake] allow configuring `OPENTHREAD_CONFIG_MLE_MAX_CHILDREN` with a CMake option
  etc/cmake/options.cmake
Labels: comp: build

#8222 [fuzz] add `set -euxo pipefail` to build script
  tests/fuzz/oss-fuzz-build
Labels: enhancement, continuous-integration
