Repository openthread/openthread, pull requests merged in 2022-01, with the labels that each got.

#7255 [border-routing] unify initiating routing policy evaluation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: P4, comp: border router

#7277 [thci] discard IPv4 link local address in mDNS browsing
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification

#7198 [tests] add test steps to verify case-insensitive query works
  tests/scripts/thread-cert/border_router/test_dnssd_instance_name_with_space.py
  tests/scripts/thread-cert/test_dnssd_name_with_special_chars.py
Labels: P4, continuous-integration, cla: yes, comp: dns

#7275 [posix-netif] lower transmit log level for `OT_ERROR_DROP`
  src/posix/platform/netif.cpp
Labels: enhancement, P2, platform: posix

#7268 [logging] simplify logging by removing `DEFINE_AS_MACRO_ONLY`
  include/openthread/instance.h
  include/openthread/platform/logging.h
  script/check-simulation-build-autotools
  src/core/common/logging.cpp
  src/core/common/logging.hpp
  src/core/config/logging.h
  src/core/config/openthread-core-config-check.h
Labels: enhancement, P4

#7253 [cli] support 1 or more mcast addresses for `ipmaddr add` command
  src/cli/cli.cpp
Labels: P2, comp: cli, certification, Thread 1.2

#7271 [posix-netif] refactor address changing logs
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/posix/platform/netif.cpp
  tests/unit/test_netif.cpp
Labels: enhancement, P2, api: user, platform: posix

#7285 [mle] set ChannelPage value in MLE Announce messages
  src/core/thread/mle.cpp
Labels: bug, P4, comp: mle

#7288 [posix] enable all ICMPv6 echo handling for reference device
  src/posix/platform/netif.cpp
Labels: P2, certification, platform: posix, Thread 1.2

#7287 [flash] fix typo `initalized`
  src/core/utils/flash.cpp
Labels: comp: docs, P4

#7289 [mac] simplify tracking of pending operations
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: enhancement, P4

#7290 [diag] only do re-tx for diag sending
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: bug, P2, comp: diags

#7279 [core] use const array lookup for converting enum to string
  src/cli/cli.cpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_history.cpp
  src/cli/cli_output.cpp
  src/cli/cli_output.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_tcp.cpp
  src/core/backbone_router/bbr_leader.cpp
  src/core/radio/trel_link.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/topology.cpp
Labels: enhancement, P4, comp: cli

#7293 [docs] fix the link to route command in CLI doc
  src/cli/README.md
Labels: comp: docs, comp: cli

#7281 [srp-server] identify name conflicts by comparing only ECDSA public keys
  src/core/crypto/ecdsa.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: bug, P2, comp:srp

#7262 [simulation] fix the wrong timeout value issue
  examples/platforms/simulation/alarm.c
Labels: bug, P4, platform: simulation

#7295 [logging] print basename of source file
  src/lib/platform/exit_code.h
Labels: enhancement, P4

#7296 [csl] fix the CSL RX window when not using RX AT mode (#7284)
  src/core/mac/sub_mac.cpp
Labels: bug, P2, Thread 1.2, comp: low-power

#7299 [sub-mac] fix `elapsed` time in `GetCslWindowEdges()`
  src/core/mac/sub_mac.cpp
Labels: bug, P2, Thread 1.2, comp: low-power

#7294 [common] add `BinarySearch` module and `Stringfy`
  Android.mk
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_output.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/coap/coap_message.cpp
  src/core/common/binary_search.cpp
  src/core/common/binary_search.hpp
  src/core/common/string.hpp
  src/core/net/ip6.cpp
  src/core/utils/lookup_table.hpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_binary_search.cpp
  tests/unit/test_string.cpp
Labels: enhancement, P4, comp: cli

#7297 [time] add constants for one sec, minute, hour, or day interval in msec
  src/core/common/time.hpp
  src/core/common/time_ticker.hpp
  src/core/common/uptime.cpp
  src/core/common/uptime.hpp
  src/core/net/ip6.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
  src/core/utils/jam_detector.cpp
  src/core/utils/jam_detector.hpp
Labels: enhancement, P4

#7301 [github-actions] set MAX_JOBS=3 for `Border Router` tests
  .github/workflows/otbr.yml
Labels: P4, continuous-integration

#7300 [posix] add a method to get the infra interface name
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
Labels: enhancement, P3, platform: posix

#7305 [firewall] disable firewall by default
  etc/cmake/options.cmake
  src/posix/platform/openthread-posix-config.h
Labels: platform: posix

#7298 [thread-cert] misc enhancements to improve reliability
  .github/workflows/otbr.yml
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/thread_cert.py
Labels: enhancement, P4, continuous-integration

#7303 [thread-cert] cache Border Router test results
  .github/workflows/otbr.yml
  tests/scripts/thread-cert/thread_cert.py
Labels: enhancement, P4, continuous-integration

#7307 [cli] smaller style changes
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_srp_client.cpp
Labels: enhancement, P4, comp: cli

#7310 [core] remove extra `#if` config check before header includes
  src/core/api/ip6_api.cpp
  src/core/common/instance.hpp
  src/core/common/settings.hpp
  src/core/net/dhcp6.hpp
  src/core/thread/thread_netif.hpp
Labels: enhancement, P4

#7283 [bbr] add `bbr skipseqnuminc` command for reference device
  include/openthread/backbone_router_ftd.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/backbone_router_ftd_api.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  tools/harness-thci/OpenThread.py
Labels: P2, api: user, certification, Thread 1.2, comp: backbone-router

#7308 [github-actions] run MATN test cases as an individual job
  .github/workflows/otbr.yml
  tests/scripts/thread-cert/border_router/MATN/MATN_02_MLRFirstUse.py
  tests/scripts/thread-cert/border_router/MATN/MATN_03_InvalidCommissionerDeregistration.py
  tests/scripts/thread-cert/border_router/MATN/MATN_04_MulticastListenerTimeout.py
  tests/scripts/thread-cert/border_router/MATN/MATN_05_ReregistrationToSameMulticastGroup.py
  tests/scripts/thread-cert/border_router/MATN/MATN_09_DefaultBRMulticastForwarding.py
  tests/scripts/thread-cert/border_router/MATN/MATN_12_HopLimitProcessing.py
  tests/scripts/thread-cert/border_router/MATN/MATN_15_ChangeOfPrimaryBBRTriggersRegistration.py
  tests/scripts/thread-cert/border_router/MATN/MATN_16_LargeNumberOfMulticastGroupSubscriptionsToBBR.py
Labels: continuous-integration

#7309 [netdata] simplify checking if network data contains certain entries
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
Labels: enhancement, P4, comp: netdata

#7319 [csl] properly provide IsDataPoll info for determining number of CSL retx
  src/core/mac/data_poll_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: bug, P2, Thread 1.2, comp: low-power

#7325 [cli] fix invalid `commissioner mgmtget` cli arguments in tests
  tests/scripts/expect/cli-commissioner.exp
Labels: bug, comp: cli, continuous-integration

#7280 [srp-client] add lease changing test
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/layer_fields.py
  tests/scripts/thread-cert/pktverify/layers.py
  tests/scripts/thread-cert/pktverify/packet.py
  tests/scripts/thread-cert/pktverify/utils.py
  tests/scripts/thread-cert/test_srp_client_change_lease.py
Labels: P4, continuous-integration, comp:srp

#7320 [spinel] recover from RCP failure in `Init`
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P1, comp: rcp

#7306 [cmake] make TCP configurable with `OT_TCP` option
  etc/cmake/options.cmake
  examples/README.md
  src/core/ftd.cmake
  src/core/mtd.cmake
  third_party/CMakeLists.txt
Labels: enhancement, comp: build, comp: tcp

#7323 [dataset] accept too small Rotation Time in Security Policy TLV
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/thread/key_manager.cpp
Labels: comp: meshcop

#7321 [continuous-integration] enable `BORDER_ROUTING` in some of build scripts
  script/check-scan-build
  script/check-simulation-build-autotools
  script/check-simulation-build-cmake
  script/make-pretty
Labels: enhancement, P4, comp: build, continuous-integration

#7326 [mle] simplify management of service ALOCs
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
Labels: enhancement, P4, comp: mle, comp: netdata

#7316 [cli] add ability to show local network data
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
Labels: enhancement, P4, comp: cli

#7232 [routing-manager] generate random nat64 prefix and add it to netdata
  etc/cmake/options.cmake
  examples/README.md
  examples/common-switches.mk
  include/openthread/border_router.h
  include/openthread/instance.h
  include/openthread/platform/settings.h
  script/check-scan-build
  script/make-pretty
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_router_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/config/border_router.h
Labels: enhancement, comp: border router

#7329 [thci] add implementation of setVrCheckSkip in THCI
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2

#7324 [history-tracker] support tracking netdata prefix and route entries
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/api/history_tracker_api.cpp
  src/core/config/history_tracker.h
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, comp: cli, comp:history-tracker

#7335 [tcp] fix minor bugs
  src/cli/cli_tcp.cpp
  third_party/tcplp/bsdtcp/tcp_reass.c
Labels: bug, P4, comp: tcp

#7331 [otci] fix read error after close
  tools/otci/otci/command_handlers.py
  tools/otci/otci/connectors.py
Labels: bug, comp: otci

#7328 [netdata] add `NetworkData::Type` enum for full or stable subset
  src/core/api/border_router_api.cpp
  src/core/api/netdata_api.cpp
  src/core/api/server_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_types.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/otns.cpp
  tests/unit/test_lowpan.cpp
Labels: enhancement, P4, comp: mle, comp: netdata

#7334 [common] add `SerialNumber::Is{Greater/Less}>()`
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/common/serial_number.hpp
  src/core/common/time.hpp
  src/core/net/ip6_mpl.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_data_service.hpp
  src/core/thread/topology.hpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4, comp: mle

#7332 [github-actions] set fail-fast=false for border router tests
  .github/workflows/otbr.yml
Labels: P4, continuous-integration

#7345 [github-actions] add BR `--radio-version` test
  tests/scripts/thread-cert/border_router/test_rcp_radio_version.py
  tests/scripts/thread-cert/node.py
Labels: P4, continuous-integration, comp: border router

#7340 [thci] reset and multicast changes
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, Thread 1.2

#7354 [bbr] fix `bbr skipseqnuminc` command response
  src/cli/cli.cpp
Labels: P2, certification, Thread 1.2, comp: backbone-router

#7341 [mac] smaller style changes
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
Labels: enhancement, P4, comp: mac

#7347 [cli] inline simple sub-command process methods
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: enhancement, P4, comp: cli

#7348 [cli] add helper method to output an `otMacFilterEntry`
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: enhancement, P4, comp: cli

#7343 [ip6] always enable ICMP6 filtering when forwarding to Thread
  src/core/net/ip6.cpp
Labels: enhancement, P3

#7350 [address-resolver] add `LookUp()` method to check cache entries
  src/core/backbone_router/bbr_manager.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#7342 [bbr] implement new Sequence Number increase rules
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2, comp: backbone-router

#7337 [nat64] withdraw greater NAT64 prefix in network data
  src/core/border_router/routing_manager.cpp
Labels: enhancement, comp: border router

#7351 [coap] add `otCoapMessageSetCode` (#7339)
  include/openthread/coap.h
  include/openthread/instance.h
  src/core/api/coap_api.cpp
Labels: P4, api: user, comp: coap

#7360 [logging] remove `otLogResult`
  src/core/backbone_router/backbone_tmf.cpp
  src/core/backbone_router/backbone_tmf.hpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/common/logging.hpp
  src/posix/platform/multicast_routing.cpp
Labels: enhancement, P4

#7365 [cli] do not update aError which is not read
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli

#7362 [mle] no failing logs for broadcast security check
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#7370 [spi] dump garbage in debug level
  src/posix/platform/spi_interface.cpp
Labels: platform: posix

#7368 [docker] modified environment Dockerfile to support Docker OT simulation
  etc/docker/environment/Dockerfile
Labels: platform: simulation

#7358 [ip6] remove `UNSECURE_TRAFFIC_MANAGED_BY_STACK_ENABLE` config
  Android.mk
  src/core/config/ip6.h
  src/core/config/openthread-core-config-check.h
  src/core/net/ip6.cpp
Labels: enhancement, P4

#7356 [thci] print traceback and re-raise exceptions
  tools/harness-thci/OpenThread.py
Labels: P4, certification, comp: thci

#7364 [thci] update `registerMulticast` to align with #7253
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2

#7373 [thci] fix implementation of `setKeepAliveTimeOut`
  tools/harness-thci/OpenThread.py
Labels: P2, certification

#5308 [github-actions] add OTNS stress tests
  .github/workflows/otns.yml
  .github/workflows/simulation-1.1.yml
Labels: P4, continuous-integration, cla: yes

#7367 [thci] prefix fix for TH 1.1 border router 7.x.x cases
  tools/harness-thci/OpenThread.py
Labels: P2, certification

#7379 [tcp] improve logging in TCPlp
  src/core/net/tcp6.cpp
  third_party/tcplp/bsdtcp/cc/cc_newreno.c
  third_party/tcplp/bsdtcp/tcp.h
  third_party/tcplp/bsdtcp/tcp_input.c
  third_party/tcplp/bsdtcp/tcp_output.c
  third_party/tcplp/bsdtcp/tcp_reass.c
  third_party/tcplp/bsdtcp/tcp_sack.c
  third_party/tcplp/bsdtcp/tcp_subr.c
  third_party/tcplp/bsdtcp/tcp_timer.c
  third_party/tcplp/bsdtcp/tcp_usrreq.c
  third_party/tcplp/lib/bitmap.c
  third_party/tcplp/tcplp.h
Labels: P4, comp: build, comp: tcp

#7381 [crypto] add feature flag around kEntropyMinThreshold
  src/core/crypto/crypto_platform.cpp
Labels: security, P2, comp: build
