Repository openthread/openthread, pull requests merged in 2022-12, with the labels that each got.

#8463 [mle] update `RouteTlv` to check number of allocated IDs
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/num_utils.hpp
  src/core/thread/mle_tlvs.cpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/router_table.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4, comp: mle

#8464 [csl] ensure current window is not missed when preparing CSL frame
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
Labels: bug, P1, comp: low-power

#8465 [mle] rename variables to indicate if they are a TLV
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8476 [nat64] delete nat64_set_enabled() when starting BR in tests
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_single_border_router.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
Labels: continuous-integration

#8472 [netdata] ensure to update version on leader if there is any change
  src/core/thread/network_data_leader_ftd.cpp
Labels: bug, P4, comp: netdata

#8482 [mpl] reset seed entry lifetime on rx/tx
  src/core/net/ip6_mpl.cpp
Labels: enhancement, P4, comp: ip6-mpl

#8444 [cli] add `platform` command which returns current platform
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, comp: cli

#8488 [mpl] use `TimeTicker` for aging `mSeedSet` entries
  src/core/common/time_ticker.cpp
  src/core/common/time_ticker.hpp
  src/core/config/ip6.h
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
Labels: enhancement, P4, comp: ip6-mpl

#8355 [github-actions] add codeql workflow
  .github/workflows/codeql.yml
Labels: continuous-integration

#8497 [docs] add security policy
  SECURITY.md
Labels: comp: docs

#8498 [mle] allow rx-on/off with no re-attach based on initial attach mode
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#8493 [tests] verify that SRP services are removed when their host expires
  tests/scripts/thread-cert/test_srp_lease.py
Labels: continuous-integration

#8499 [mle] remember current RLOC16 in a member variable
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#8506 [github-actions] enable OSSF Scorecards supply-chain security analysis
  .github/workflows/scorecards.yml
Labels: enhancement, P4, continuous-integration

#8511 [cli] document `pskcref`
  src/cli/README.md
Labels: comp: docs, comp: cli

#8515 [simul-plat] fix parsing of "enable-energy-scan" option
  examples/platforms/simulation/system.c
Labels: bug, P4, platform: simulation

#8514 [crypto] remove legacy `otCryptoEcdsaSign`
  Android.mk
  include/openthread/crypto.h
  include/openthread/instance.h
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/crypto_api.cpp
  src/core/crypto/aes_ecb.hpp
  src/core/crypto/ecdsa.cpp
  src/core/crypto/ecdsa.hpp
Labels: enhancement, security, P4, api: user

#8509 [github-actions] apply step-security updates
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/makefile-check.yml
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/size.yml
  .github/workflows/toranj.yml
  .github/workflows/version.yml
Labels: enhancement, P4, continuous-integration

#8494 [tests] verify the RA/RS fields in border routing counters
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: border router

#8518 [github-actions] set top-level permissions to `read`
  .github/workflows/build.yml
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/size.yml
  .github/workflows/toranj.yml
Labels: enhancement, P4, continuous-integration

#8520 [test] ensure NAT64 is enabled when running NAT64 tests
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_single_border_router.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
Labels: continuous-integration, comp: nat64

#8483 [router-table] simplify tracking of routers and allocated IDs
  src/core/common/array.hpp
  src/core/radio/trel_link.cpp
  src/core/thread/key_manager.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  src/core/thread/thread_tlvs.hpp
Labels: enhancement, P4, comp: mle

#8521 [posix] enable receiving Neighbor Advertisement on infra interface
  src/posix/platform/infra_if.cpp
Labels: bug, platform: posix, comp: border router

#8528 [continuous-integration] remove LGTM.com
  .lgtm.yml
  README.md
Labels: enhancement, P4, continuous-integration

#8534 [mle] avoid multiple `return` in `HasSmallNumberOfChildren()`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8532 [router-table] add documentation for `{Get/Set}RouterIdRange()`
  src/core/api/thread_ftd_api.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4, comp: mle

#8408 [rcp] fix transaction ID caching and guard max power table code
  src/lib/spinel/radio_spinel_impl.hpp
  src/ncp/ncp_base_radio.cpp
Labels: bug, comp: rcp

#8535 [mle] fix `NeighborHasComparableConnectivity()`
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: bug, P4, comp: mle

#8505 [posix] add / delete route to NAT64 CIDR according to NAT64 translator state
  include/openthread/instance.h
  src/core/common/notifier.hpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  src/posix/platform/netif.cpp
Labels: enhancement, platform: posix, comp: nat64

#8537 [otci] fix parsing route flags
  tools/otci/otci/otci.py
Labels: comp: otci

#8540 [posix] add build option for posix infra if implementation
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/system.cpp
Labels: enhancement, P4, platform: posix

#8546 [posix] make `mInfraIfIndex` non-static for `posix::InfraIf`
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
Labels: enhancement, P4, platform: posix

#8544 [mle] remove redundant `OPENTHREAD_FTD` checks in `mle_router.cpp`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8545 [cli] add config for log level for emitting cli input/output to logs
  src/cli/cli_config.h
  src/cli/cli_output.cpp
Labels: enhancement, P4, comp: cli

#8548 [mle] simplify `IsSingleton()` methods
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#8549 [test] replace `sprintf` with `snprintf` in `otPlatDiagProcess()`
  src/ncp/ncp_hdlc.cpp
  tests/unit/test_platform.cpp
Labels: enhancement, P4

#8536 [mle] define constant for "Child ID Response" timeout
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
Labels: enhancement, P4, comp: mle

#8543 [mle] add `ShouldDowngrade()` method
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8541 [docs] SRP Service Clarification
  src/cli/README_SRP_SERVER.md
Labels: comp: docs, comp: cli, comp:srp

#8550 [pretty] combine strings in `node.py`
  tests/scripts/thread-cert/node.py
Labels: enhancement, P4

#8512 [spinel] remove incorrect static_cast
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: comp: rcp, Thread 1.2, comp: low-power

#8559 [netif] add helper to signal fixed multicast address changes
  src/core/net/netif.cpp
  src/core/net/netif.hpp
Labels: enhancement, P4, platform: posix

#8538 [diag] modify gpio diag functions description
  include/openthread/instance.h
  include/openthread/platform/diag.h
Labels: enhancement, comp: docs, api: platform

#8293 [posix] add power calibration support
  .github/workflows/posix.yml
  Android.mk
  CMakeLists.txt
  examples/platforms/simulation/openthread-core-simulation-config.h
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/config/platform.h
  src/core/config/power_calibration.h
  src/core/openthread-core-config.h
  src/core/utils/power_calibration.cpp
  src/core/utils/power_calibration.hpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/Makefile.am
  src/posix/platform/config_file.cpp
  src/posix/platform/config_file.hpp
  src/posix/platform/openthread-core-posix-config.h
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/openthread.conf.example
  src/posix/platform/power.cpp
  src/posix/platform/power.hpp
  src/posix/platform/power_updater.cpp
  src/posix/platform/power_updater.hpp
  src/posix/platform/radio.cpp
  tests/scripts/expect/ot-fct.exp
  tests/unit/CMakeLists.txt
  tests/unit/test_power_calibration.cpp
  tools/CMakeLists.txt
  tools/ot-fct/CMakeLists.txt
  tools/ot-fct/README.md
  tools/ot-fct/cli.cpp
  tools/ot-fct/cli.hpp
  tools/ot-fct/logging.cpp
  tools/ot-fct/main.cpp
Labels: enhancement, P3, api: platform, platform: posix

#8516 [simul-plat] new option to write logs to a given file
  examples/platforms/simulation/logging.c
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/system.c
Labels: enhancement, P4, platform: simulation

#8561 [link-quality] move `CostForLinkQuality()` to `link_quality.hpp`
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/router_table.cpp
Labels: enhancement, P4

#8562 [core] use `kThreadVersion1pX` constants
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4

#8572 [github-actions] disable `harden-runner` in OTBR workflow
  .github/workflows/otbr.yml
Labels: continuous-integration

#8571 [cli] fix incorrect mask "channel manager" CLI output
  src/cli/cli.cpp
Labels: bug, comp: cli

#8558 [nat64] NAT64 translator should be active only when local prefix is published
  src/core/border_router/routing_manager.cpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
  tests/scripts/thread-cert/thread_cert.py
Labels: enhancement, P4, comp: nat64

#8560 [common] add `Callback<HandlerType>` class
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/backbone_router/multicast_listeners_table.cpp
  src/core/backbone_router/multicast_listeners_table.hpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/backbone_router/ndproxy_table.hpp
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/common/callback.hpp
  src/core/common/type_traits.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/dataset_updater.hpp
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/energy_scan_client.hpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/panid_query_client.cpp
  src/core/meshcop/panid_query_client.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/anycast_locator.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/discover_scanner.hpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/time_sync_service.cpp
  src/core/thread/time_sync_service.hpp
  src/core/utils/jam_detector.cpp
  src/core/utils/jam_detector.hpp
Labels: enhancement, P4

#8547 [test] update toranj-cli logging to use log to file model
  tests/toranj/cli/cli.py
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, P4, continuous-integration

#8565 [routing-manager] `GetFavoredOmrPrefix` should return an error when Routing Manager is not running
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: api: user, comp: border router

#8568 [link-metrics] fix build flags for Link Metrics Initiator
  src/core/api/link_metrics_api.cpp
  src/core/thread/link_metrics.hpp
Labels: bug, comp: build, Thread 1.2, comp: low-power

#8569 [mesh-forwarder] use constant for `hopsLeft` in lowpan `MeshHeader`
  src/core/thread/lowpan.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4

#8573 [router-table] signal if router is removed from `UpdateRouterIdSet()`
  src/core/thread/router_table.cpp
Labels: enhancement, P4, comp: mle

#8508 [cli] add new command `neighbor linkquality`
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli_output.cpp
  src/cli/cli_output.hpp
Labels: enhancement, P4, comp: cli

#8574 [routing-manager] determine RIO preference based on current role
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_types.cpp
  src/core/thread/network_data_types.hpp
Labels: enhancement, P4, comp: border router

#8578 [tcplp] fix code scanning alerts relating to integer overflow in multipication
  third_party/tcplp/bsdtcp/tcp_input.c
Labels: comp: tcp

#8563 [routing-manager] add feature to skip NS probe with router on same device
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8582 [network-data] ensure `ExternalRouteLookup()` picks longest match
  src/core/thread/network_data_leader.cpp
Labels: bug, P4, comp: netdata

#8592 [nat64] fix message leak when NAT64 translator is enabled
  src/core/net/ip6.cpp
Labels: bug, P4, comp: nat64

#8593 [tcplp] TCP support on 15.4 (#8590)
  src/core/net/ip6.cpp
Labels: comp: build, platform: posix, comp: tcp

#8586 [mle] update `GetPathCost()` calculation to handle child dest
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/network_data_leader.cpp
Labels: bug, enhancement, P4, comp: mle, comp: netdata
