Repository openthread/openthread, pull requests merged in 2022-04, with the labels that each got.

#7544 [mle] simplify sending/processing of address solicit/response
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#7547 [ip6] add header `ip6_types.hpp` for common types and constants
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_headers.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_types.hpp
  src/core/net/socket.hpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4

#7548 [ip6] copy the parsed ECN value from IPv6 msg in `MessageInfo`
  src/core/net/ip6.cpp
Labels: enhancement, P4

#7555 [ip6] set priority on fragments when fragmenting an IPv6 datagram
  src/core/net/ip6.cpp
Labels: bug, P4

#7549 [sub-mac] fix semiWindow overflow in GetCslWindowEdges()
  src/core/mac/sub_mac.cpp
Labels: bug, Thread 1.2, comp: low-power

#7556 [mesh-forwarder] fix and enhance `LogMessage()`
  src/core/net/ip6.cpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#7557 [thci] do not set `P_slaac` flag for Domain prefix
  tools/harness-thci/OpenThread.py
Labels: P2, certification, comp: thci

#7554 [message] add timestamp field in `Message` metadata
  src/core/common/message.hpp
  src/core/net/ip6.cpp
  src/core/thread/mesh_forwarder.cpp
Labels: enhancement, P4

#7563 [message] static assert `Meatdata::mPriority` is of proper bit size
  src/core/common/message.cpp
Labels: enhancement, P4

#7569 [tests] disable check in test_firewall.py
  tests/scripts/thread-cert/border_router/test_firewall.py
Labels: continuous-integration, comp: border router

#7472 [mac] remove beacons payload
  examples/apps/cli/README.md
  include/openthread/dataset.h
  include/openthread/instance.h
  include/openthread/link.h
  src/cli/README.md
  src/cli/README_COMMISSIONING.md
  src/cli/README_DATASET.md
  src/cli/README_NETDATA.md
  src/cli/README_SRP.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_dataset.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/key_manager.cpp
  src/ncp/ncp_base_mtd.cpp
  tests/scripts/expect/cli-dataset.exp
  tests/scripts/expect/cli-networkname.exp
  tests/scripts/expect/cli-scan-discover.exp
  tests/scripts/expect/posix-scan-tx-to-sleep.exp
  tests/scripts/thread-cert/Cert_5_8_04_SecurityPolicyTLV.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_mac_scan.py
  tests/toranj/README_NCP.md
  tests/toranj/ncp/test-001-get-set.py
  tests/toranj/ncp/test-008-permit-join.py
  tests/toranj/ncp/test-009-insecure-traffic-join.py
  tests/toranj/ncp/wpan.py
  tests/toranj/start.sh
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_WpanCtl.py
  tools/otci/otci/otci.py
Labels: P2, certification

#7561 [ip6] new methods in `Header` and add unit test
  src/core/net/ip6.cpp
  src/core/net/ip6_headers.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_types.hpp
  src/core/net/tcp6.hpp
  src/core/net/udp6.hpp
  src/core/thread/lowpan.cpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_ip6_header.cpp
  tests/unit/test_ip_address.cpp
  tests/unit/test_lowpan.hpp
Labels: enhancement, P4

#7550 [posix] stop setting up and de-initializing uninitialized modules when dry run
  src/posix/platform/settings.cpp
  src/posix/platform/system.cpp
Labels: bug, P4, platform: posix

#7570 [tcp] remove extraneous #define and restrict inclusion of TCPlp headers
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
  third_party/tcplp/bsdtcp/tcp.h
  third_party/tcplp/bsdtcp/tcp_input.c
  third_party/tcplp/bsdtcp/tcp_reass.c
  third_party/tcplp/bsdtcp/tcp_var.h
  third_party/tcplp/tcplp.h
Labels: bug, comp: tcp

#7558 [thci] increase BBR Sequence Number when dataset changes
  tools/harness-thci/OpenThread.py
Labels: P2, certification, Thread 1.2, comp: thci

#7562 [mesh-forwarder] update `LogMessage()` to include ECN from IPv6 header
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#7507 [docs] community discussion change
  .github/ISSUE_TEMPLATE.md
  README.md
  examples/platforms/simulation/CMakeLists.txt
  src/posix/CMakeLists.txt
Labels: comp: docs

#7566 [cli] allow to run `factoryreset` under the diag mode
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli

#7573 [instance] move `otMessageGetBufferInfo()` impl to `Instance`
  src/core/api/message_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
Labels: enhancement, P4

#7581 [test] update `Cert_9_2_17_Orphan` to make it more robust
  tests/scripts/thread-cert/Cert_9_2_17_Orphan.py
Labels: enhancement, P4, certification, continuous-integration

#7582 [srp-server] add more error tracing logs
  src/core/net/srp_server.cpp
Labels: comp:srp, comp: logging

#7586 [otci] support filter new log formats
  tools/otci/otci/command_handlers.py
Labels: enhancement, comp: otci

#7577 [mesh-forwarder] keep msgs waiting for address resolution in `mSendQueue`
  src/core/common/instance.cpp
  src/core/common/message.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#7588 [test] update SRP name conflict test to cover more cases
  tests/scripts/thread-cert/test_srp_name_conflicts.py
Labels: enhancement, P4, continuous-integration, comp:srp

#7559 [crypto] update emplace method to expect read failure during key export
  src/core/meshcop/dataset_local.cpp
Labels: security

#7580 [spinel] map `kMaxSpinelFrame` to `SPINEL_FRAME_MAX_SIZE`
  src/lib/spinel/radio_spinel.hpp
Labels: enhancement, comp: rcp

#7545 [logging] add log level platform handler
  include/openthread/instance.h
  include/openthread/platform/logging.h
  src/core/common/instance.cpp
  src/core/common/instance.hpp
Labels: enhancement, P1, api: platform, comp: logging

#7543 [netdata] get the list or count of RLOC16s of border routers
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_types.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#7589 [tmf] add `Tmf::MessageInfo`
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_data.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: enhancement, P4, comp: coap

#7578 [mle-router] leader to handle "BR request" in an Address Solicit
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/thread_tlvs.hpp
Labels: enhancement, P4, comp: mle

#7593 [net-diags] set the sock addr based on dest in GetQuery response
  src/core/thread/network_diagnostic.cpp
Labels: enhancement, P4, comp: diags

#7503 [srp-client] update how auto-start mode prefers netdata entries
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/scripts/thread-cert/test_srp_auto_start_mode.py
Labels: enhancement, P4, comp: netdata, comp:srp

#7488 [netdata] update srp/dns anycast entry seq num selection
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#7599 [mle] reject parent when processing `ChildIdResponse` with ill-formed dataset TLV
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle, comp: dataset

#7601 [tmf] use priority message for ServerData and AddressRelease
  src/core/thread/mle_router.cpp
  src/core/thread/network_data.cpp
Labels: enhancement, P4, comp: tmf

#7602 [settings] update Dataset related methods to use `Dataset::Type`
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/meshcop/dataset_local.cpp
Labels: enhancement, P4

#7603 [random] move `Random::Manager` in `ranadom.hpp`
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/instance.hpp
  src/core/common/random.cpp
  src/core/common/random.hpp
  src/core/common/random_manager.hpp
Labels: enhancement, P4

#7596 [message] update and simplify `otBufferInfo`
  include/openthread/instance.h
  include/openthread/message.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/common/instance.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/ncp/ncp_base_mtd.cpp
  tests/unit/test_message_queue.cpp
  tests/unit/test_priority_queue.cpp
Labels: enhancement, P4

#7605 [posix-netif] configure metric for prefix routes
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, P3, platform: posix

#7512 [mesh-forwarder] collision avoidance delay mechanism
  src/core/config/mac.h
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mac

#7611 [posix] fix binding to interface for macOS
  src/posix/platform/infra_if.cpp
Labels: bug, platform: posix, platform: darwin

#7620 [simulation] use 128 max children for simulation
  examples/platforms/simulation/openthread-core-simulation-config.h
Labels: platform: simulation, comp: mle

#7623 [cli] update `dataset securitypolicy` README
  src/cli/README_DATASET.md
Labels: comp: docs, comp: cli

#7583 [tcp] add support for otTcpForwardProgress callback
  include/openthread/instance.h
  include/openthread/tcp.h
  src/core/api/tcp_api.cpp
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
  third_party/tcplp/bsdtcp/tcp_input.c
  third_party/tcplp/bsdtcp/tcp_reass.c
  third_party/tcplp/lib/lbuf.c
  third_party/tcplp/lib/lbuf.h
  third_party/tcplp/tcplp.h
Labels: enhancement, api: user, comp: tcp

#7616 [meshcop] separate Network Name from Mac (#7609)
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/thread_api.cpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/common/instance.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/network_name.cpp
  src/core/meshcop/network_name.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_mac_frame.cpp
  tests/unit/test_network_name.cpp
  tests/unit/test_pskc.cpp
Labels: P4, comp: meshcop, comp: mac

#7617 [mle-router] fix `HasOneNeighborWithComparableConnectivity()`
  src/core/thread/mle_router.cpp
Labels: bug, P2, comp: mle

#7614 [mle] perform in-place AES-CCM encryption/decryption
  src/core/common/message.hpp
  src/core/crypto/aes_ccm.cpp
  src/core/crypto/aes_ccm.hpp
  src/core/thread/mle.cpp
  tests/unit/test_aes.cpp
Labels: enhancement, P4, comp: mle

#7628 [meshcop] remove unnecessary `MeshCoP::` qualifier
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/dataset_updater.hpp
  src/core/meshcop/dtls.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: P4, comp: meshcop

#7629 [gcov] use __gcov_dump() instead for gcc 11
  .github/workflows/build.yml
  examples/apps/cli/main.c
  examples/apps/ncp/main.c
  src/lib/platform/Makefile.am
  src/lib/platform/reset_util.h
  src/posix/main.c
Labels: enhancement, comp: build

#7635 [posix-netif] remove IFA_RT_PRIORITY definition
  src/posix/platform/netif.cpp
Labels: P4, platform: posix

#7627 [mle] add `RxInfo` struct and pass in `Handle{MleMsg}()` methods
  src/core/thread/discover_scanner.cpp
  src/core/thread/discover_scanner.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#7630 [meshcop] rename dataset managers
  src/core/api/dataset_api.cpp
  src/core/api/dataset_ftd_api.cpp
  src/core/api/link_api.cpp
  src/core/api/thread_api.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/common/instance.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/thread/announce_sender.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/thread_netif.hpp
Labels: P4, comp: meshcop
