Repository openthread/openthread, pull requests merged in 2022-06, with the labels that each got.

#7768 [border-agent] log the listening port
  src/core/meshcop/border_agent.cpp
Labels: P4, comp: meshcop

#7738 [srp-server] implement TTL processing
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/core/api/srp_server_api.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_ttl.py
  tests/toranj/cli/cli.py
  tools/otci/otci/otci.py
Labels: enhancement, comp:srp, Thread 1.3

#7774 [platform] update documentation of otPlatSettings API
  include/openthread/instance.h
  include/openthread/platform/settings.h
Labels: comp: docs, P4, api: platform

#7767 [mac] enable Beacon Payload in outgoing beacons
  script/check-simulation-build-autotools
  src/core/config/mac.h
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.hpp
Labels: comp: mac

#7666 [mle] add API to detach gracefully
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/thread_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_detach.py
Labels: enhancement, P4, api: user, comp: mle

#7743 [log] add log to record the RCP restoration state
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P4, comp: logging

#7778 [routing-manager] add `OmrPrefix` class, include OMR preference in RIO
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_types.hpp
Labels: enhancement, P4, comp: border router

#7782 [cmake] add build option to configure outgoing beacon payload
  etc/cmake/options.cmake
Labels: enhancement, comp: build, comp: mac

#7781 [cmake] add option for RCP specific mbedtls library
  examples/apps/cli/radio.cmake
  src/cli/radio.cmake
  src/core/radio_cli.cmake
Labels: enhancement, comp: build

#7739 [dataset] use full Timestamp TLV value in otOperationalDataset
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/timestamp.cpp
  src/core/meshcop/timestamp.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/ncp/ncp_base_mtd.cpp
  tests/unit/test_meshcop.cpp
Labels: P3, api: user, comp: meshcop, comp: dataset

#7786 [mle] fix handling of MLE Orphan Announce messages
  src/core/meshcop/timestamp.hpp
  src/core/thread/mle.cpp
Labels: bug, P1, comp: mle

#7788 [tests] relax MLE Adv delay check in Cert_5_3_06_RouterIdMask
  tests/scripts/thread-cert/Cert_5_3_06_RouterIdMask.py
Labels: bug, continuous-integration

#7776 [srp-client] message MTU check and single service mode
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/posix/platform/openthread-core-posix-config.h
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_srp_many_services_mtu_check.py
Labels: enhancement, P4, comp:srp

#7756 [tests] change 1.2 builds to 1.3
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/simulation-1.2.yml
  script/check-arm-build-autotools
  script/check-arm-build-cmake
  script/check-gn-build
  script/check-simulation-build-autotools
  script/check-simulation-build-cmake
  script/check-size
  script/make-pretty
  script/test
  src/core/BUILD.gn
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/packet_verifier.py
  tests/scripts/thread-cert/run_cert_suite.py
  tests/scripts/thread-cert/thread_cert.py
  tests/scripts/thread-cert/v1_2_LowPower_6_1_07_PreferringARouterOverAReed.py
  tests/scripts/thread-cert/v1_2_router_5_1_1.py
  tests/scripts/thread-cert/v1_2_test_enhanced_keep_alive.py
Labels: enhancement, P4, continuous-integration

#7801 [tests] add `1.3.0` as valid version in `test_publish_meshcop_service.py`
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: continuous-integration, comp: meshcop

#7807 [tests] verify a Router can establish links quickly via multicast Link Request
  tests/scripts/thread-cert/test_router_multicast_link_request.py
Labels: P4, continuous-integration, comp: mle

#7795 [srp-server] validate sub-types and treat as atomic
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: bug, enhancement, P4, comp:srp

#7780 [border-router] use `Ip6::Nd` namespace for IPv6 Neighbor Discovery types
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#7798 [thci] wait for netdata to stabilize if `BORDER_ROUTING` is enabled
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: certification, comp: border router, comp: thci

#7789 [routing-manager] simplify RA message parsing and preparation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#7812 [mle] move method definitions of the `Tx/RxMessage` close to each other
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#7802 [routing-manager] self-generated OMR prefix to use `P_preference=Low`
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/test_manual_omr_prefix.py
Labels: P4, comp: border router, Thread 1.3

#7818 [routing-manager] fix calculation if an entry's stale time is in past
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4

#7813 [ip6] update `Ip6::Prefix` comparison
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, P4

#7821 [routing-manager] add `DiscoveredPrefixTable`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#7597 [netdata] add feature for BR to request router role upgrade
  src/core/common/time_ticker.cpp
  src/core/common/time_ticker.hpp
  src/core/config/border_router.h
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_notifier.hpp
  src/core/thread/thread_tlvs.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_br_upgrade_router_role.py
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#7827 [netdata] update `Publisher` to allow change to previous entries
  include/openthread/instance.h
  include/openthread/netdata_publisher.h
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, api: user, comp: netdata

#7831 [owning-list] fix typos in comments
  src/core/common/owning_list.hpp
Labels: enhancement, P4

#7833 [script] fix multiple `LOG_OUTPUT` definitions
  script/check-simulation-build-autotools
Labels: bug, P4, comp: build, continuous-integration

#7834 [thread-tlvs] define min/max num of addrs under `Ip6AddressesTlv`
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/cli.cpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/thread_tlvs.hpp
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, P4

#7672 [mle] handle rx key seq update based on MLE message class
  src/core/thread/child_table.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_mle_msg_key_seq_jump.py
Labels: enhancement, P4, comp: mle

#7841 [mle] reuse `ScheduleChildUpdateRequest` where possible
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#7826 [thci] support 1.3 border router configurations
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P4, certification, comp: thci, Thread 1.3

#7749 [docs] add Doxygen support for CLI comments
  include/openthread/border_agent.h
  include/openthread/border_router.h
  include/openthread/instance.h
  include/openthread/joiner.h
  include/openthread/netdata_publisher.h
  include/openthread/platform/radio.h
  src/cli/cli.cpp
  src/cli/cli_joiner.cpp
  src/cli/cli_network_data.cpp
Labels: comp: docs, comp: cli

#7847 [cmake] add option for RCP specfific mbedtls library
  src/core/radio.cmake
Labels: comp: build, comp: rcp

#7804 [thci] configure backbone netif
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: enhancement, certification, comp: thci

#7848 [cli] use snprintf instead
  src/cli/cli_history.cpp
Labels: enhancement, P4, comp: cli

#7838 [netdata] wait for sync before accepting new data on leader restart
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
Labels: enhancement, P4, comp: mle, comp: netdata

#7846 [routing-manager] skip self-prepared RA when learning host RA header
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#7842 [instance] move definition of all OT core objects in `Instance`
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
Labels: enhancement, P4

#7849 [routing-manager] get/set preference to advertise OMR prefix in RA msg
  include/openthread/border_router.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_router_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, Thread 1.3
