Repository openthread/openthread, pull requests merged in 2022-02, with the labels that each got.

#7382 [github-actions] fix branch filter in OTNS workflow
  .github/workflows/otns.yml
Labels: bug, P3, continuous-integration

#7336 [tcp] add basic CLI-based test
  tests/scripts/expect/cli-tcp.exp
Labels: continuous-integration, comp: tcp

#7378 [docker] fix ot-daemon build in environment Dockerfile
  etc/docker/environment/Dockerfile
Labels: P4, comp: build

#7386 [docs] trel doxygen updates
  doc/ot_api_doc.h
  include/openthread/instance.h
  include/openthread/trel.h
Labels: comp: docs, api: user

#7389 [docs] fix typos `FLASE` -> `FALSE`
  src/core/common/data.hpp
  src/core/common/ptr_wrapper.hpp
  src/core/thread/network_data_publisher.hpp
Labels: comp: docs, P4

#7391 [android] disable legacy support
  include/openthread-config-android.h
Labels: comp: build

#7390 [mle] fix comparing PAN ID to skip logging
  include/openthread/instance.h
  include/openthread/link.h
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.cpp
Labels: bug, P2, comp: mle

#7396 [docker] remove `codelab_otsim` Dockerfile
  .github/workflows/docker.yml
  etc/docker/codelab_otsim/Dockerfile
Labels: comp: docs, P4

#7400 [docs] update Thread version in NOTICE
  NOTICE
Labels: comp: docs, P4

#7404 [docs] update Thread version to 1.2 in README
  README.md
Labels: comp: docs, P4

#7372 [otci] address small reliability issues
  tools/otci/otci/connectors.py
  tools/otci/otci/otci.py
Labels: enhancement, P4, comp: otci

#7401 [trel] change TXT data format to use binary value
  src/core/net/dns_types.hpp
  src/core/radio/trel_interface.cpp
Labels: enhancement, P4, comp: trel

#7357 [tests] make sure BRs not sending disallowed ICMPv6 in Thread traffic
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/packet_filter.py
  tests/scripts/thread-cert/thread_cert.py
Labels: P4, continuous-integration, comp: border router

#7407 [posix] exit the program when creating a folder fails
  src/posix/platform/settings.cpp
Labels: enhancement, P4, platform: posix

#7361 [tests] add tests for NAT64 prefix advertisement
  script/test
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_nat64_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_nat64_single_border_router.py
  tests/scripts/thread-cert/border_router/test_radvd_coexist.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/border_router/test_vicarious_router_solicit.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: border router

#7411 [mle] remove unnecessary usages of `OT_UNUSED_VARIABLE()`
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#7413 [common] add `GetArrayLength()` and `GetArrayEnd()`
  src/core/backbone_router/multicast_listeners_table.cpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/coap/coap.cpp
  src/core/coap/coap_message.cpp
  src/core/common/array.hpp
  src/core/common/error.cpp
  src/core/common/instance.hpp
  src/core/common/notifier.cpp
  src/core/common/pool.hpp
  src/core/common/settings.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_filter.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/joiner.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dns_client.cpp
  src/core/net/dns_dso.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/ip6_address.cpp
  src/core/radio/trel_interface.cpp
  src/core/thread/mle.cpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/topology.cpp
  src/core/utils/slaac_address.cpp
  src/core/utils/srp_client_buffers.hpp
  src/lib/hdlc/hdlc.hpp
  tests/unit/test_child_table.cpp
  tests/unit/test_dns.cpp
  tests/unit/test_hkdf_sha256.cpp
  tests/unit/test_hmac_sha256.cpp
  tests/unit/test_link_quality.cpp
  tests/unit/test_timer.cpp
Labels: enhancement, P4

#7363 [tests] add a test case of mDNS service restarting
  tests/scripts/thread-cert/border_router/test_mdns_restart.py
Labels: continuous-integration

#7402 [config] rename config header file
  include/openthread/instance.h
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/config/misc.h
  src/core/openthread-core-config.h
Labels: enhancement, P4

#7380 [ip6] rename `aFromNcpHost` to `aFromHost`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#7422 [ip6] fix static code analysis errors
  src/core/meshcop/dataset_manager.cpp
  src/core/net/ip6.cpp
Labels: comp: meshcop

#7428 [mle] check router ID match when sending Child Id Response
  src/core/thread/mle_router.cpp
Labels: bug, P3, comp: mle

#7430 [mle] drop Child ID Response if Router IDs do not match
  src/core/thread/mle.cpp
Labels: comp: mle

#7431 [spi-interface] send pending frame from `WaitForFrame()`
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
Labels: bug, P1, platform: posix

#7414 [build] avoid unnecessary openthread config file
  Android.mk
  CMakeLists.txt
  configure.ac
  etc/cmake/checks.cmake
  etc/cmake/openthread-config-generic.h.in
  etc/gn/openthread.gni
  include/openthread-config-android.h
  include/openthread/BUILD.gn
  include/openthread/config.h
  include/openthread/instance.h
  script/check-android-build
Labels: P4, comp: build

#7412 [cli] use template `Process<Cmd("command")>` to simplify handlers
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/cli/cli_joiner.cpp
  src/cli/cli_joiner.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_output.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
Labels: enhancement, P4, comp: cli

#7425 [crypto] changes to dtls code to match mbedtls 3.1.0
  src/core/meshcop/dtls.cpp
Labels: security

#7369 [logging] refine `NOTE` and `WARN` logs
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/cli_output.cpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/border_router/routing_manager.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/meshcop.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/thread/address_resolver.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/netif.cpp
  tests/unit/test_netif.cpp
Labels: enhancement, comp: logging

#7442 [otci] add `srp_client_clear_service`
  tools/otci/otci/otci.py
Labels: enhancement, P3, comp: otci

#7438 [dns-client] allow empty question section in response with error code
  src/core/net/dns_client.cpp
Labels: enhancement, P4, comp: dns

#7443 [build] disable Commissioner by default in Android.mk
  Android.mk
Labels: P2, comp: build

#7440 [tests] add advertising test case of removing a host
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
Labels: continuous-integration, comp: dns

#7446 [test] fix `test_ecdsa` to use array of char as message string
  tests/unit/test_ecdsa.cpp
Labels: bug, P4, continuous-integration

#7405 [routing-manager] fix small OMR prefix election issue
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
Labels: bug, P4, comp: border router
