Repository openthread/openthread, pull requests merged in 2022-08, with the labels that each got.

#7940 [test] update `RoutingManager` unit test to check default-route
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#7969 [github-actions] remove clang-6,7,8 from build check
  .github/workflows/build.yml
Labels: continuous-integration

#7970 [docker] upgrade pip before installing cmake
  etc/docker/environment/Dockerfile
Labels: continuous-integration

#7957 [docs] CLI channel
  include/openthread/channel_manager.h
  include/openthread/channel_monitor.h
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/platform/radio.h
  include/openthread/thread.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#7971 [lowpan] update `Context` and add `FindContext()` methods
  src/core/thread/lowpan.cpp
  src/core/thread/lowpan.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
Labels: enhancement, P4

#7950 [border-agent] refine meshcop service state bitmap checks
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: continuous-integration

#7979 [cmake] enhance OT CMake config options (allow on/off/unspecified)
  etc/cmake/options.cmake
Labels: enhancement, P4, comp: build

#7990 [mesh-forwarder] add `Mac::Addresses` (src and dst address)
  src/core/mac/mac_types.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/lowpan.cpp
  src/core/thread/lowpan.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/unit/test_lowpan.cpp
  tests/unit/test_lowpan.hpp
Labels: enhancement, P4

#7894 [crypto] allow selecting randomized ECDSA instead of deterministic
  examples/platforms/simulation/openthread-core-simulation-config.h
  src/core/config/misc.h
  src/core/crypto/ecdsa.cpp
  src/core/crypto/ecdsa_tinycrypt.cpp
  tests/unit/test_ecdsa.cpp
  third_party/mbedtls/mbedtls-config.h
Labels: security

#7998 [message] document buffer size needs
  src/core/coap/coap_message.hpp
  src/core/common/message.hpp
  src/core/config/misc.h
Labels: comp: docs

#7991 [api] allow CSL receiver to gather parent CSL capabilities
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
Labels: api: user, comp: low-power

#7999 [thci] add SSH keepalive
  tools/harness-thci/OpenThread_BR.py
Labels: enhancement, certification, comp: thci

#7975 [thci] generate more logs
  tools/harness-thci/OpenThread.py
Labels: P4, certification, comp: thci

#7981 [thci] enhance SSH connection
  tools/harness-simulation/harness/Thread_Harness/THCI/OpenThread_Sim.py
Labels: enhancement, certification, comp: thci

#8001 [mle] helper method appending TLV Request TLV
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8002 [mle] add array bound check to avoid overflow in `HandleDataRequest()`
  src/core/thread/mle_router.cpp
Labels: bug, P4, comp: mle

#8004 [mle] fix processing of CSL TLVs
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
Labels: bug, P4, comp: mle, comp: low-power

#8006 [link-metrics] fix `u32` endian-ness in `ReportSubTlv`
  src/core/thread/link_metrics_tlvs.hpp
Labels: bug, P4

#8005 [csl] update CSL Channel TLV process to allow for unspecified case
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  tests/scripts/thread-cert/v1_2_test_csl_transmission.py
Labels: comp: low-power

#7986 [docs] CLI bbr
  include/openthread/backbone_router_ftd.h
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/platform/radio.h
  include/openthread/thread.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8003 [tests] add test for Advertising Proxy to publish zero or multiple host addrs
  src/core/config/srp_client.h
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#8000 [thci] enhance `mdns_query` to use `ip6tables` to filter mDNS responses
  tools/harness-thci/OpenThread_BR.py
Labels: enhancement, certification, comp: thci

#7997 [thci] restore BBR config for 1.2 BR_1/BR_2 roles
  tools/harness-thci/OpenThread.py
Labels: bug, comp: thci

#8008 [mle] add `TlvList` to track list of TLV types
  src/core/common/array.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8011 [ip6-address] move more complex `Prefix` methods to `cpp` file
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, P4

#8012 [routing-manager] use `Ip6::Prefix::IsUniqeLocal()` to check OMR prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#7977 [meshcop] update deprecated functions for Mbed TLS `v3.2.1`
  .github/workflows/build.yml
  src/core/meshcop/dtls.cpp
  src/core/meshcop/dtls.hpp
Labels: security, comp: meshcop

#8017 [core] add new generic `Min()`, `Max()` and `Clamp()` functions
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/border_router/routing_manager.cpp
  src/core/common/data.hpp
  src/core/common/log.cpp
  src/core/common/min_max.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/sub_mac.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/net/dns_dso.cpp
  src/core/net/dns_dso.hpp
  src/core/net/dns_types.cpp
  src/core/net/ip6_address.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/net/tcp6.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/ping_sender.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4

#8013 [routing-manager] add `RaInfo` tracking all RA related info
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8016 [routing-manager] accept any ULA/GUA with 64-bit len as OMR prefix
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8019 [mle] add method to get parent info
  src/core/api/thread_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/topology.cpp
Labels: enhancement, P4, comp: mle

#8018 [mle] new API to trigger search for better parent
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, api: user, comp: mle

#8020 [doc] fix RCP building information for nRF52840
  src/posix/README.md
Labels: comp: docs

#7954 [thci] send mdns queries without `dig`
  tools/harness-thci/OpenThread_BR.py
Labels: bug, certification, comp: thci

#7982 [routing-manager] increase routing policy evaluation jitters
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8021 [slaac] only allow SLAAC for prefixes with 64-bit length
  src/core/utils/slaac_address.cpp
Labels: enhancement, P4

#8034 [routing-manager] fix call to `StartRoutingPolicyEvaluationJitter()`
  src/core/border_router/routing_manager.cpp
Labels: bug, comp: build, comp: border router

#8022 [mle] define `ParentSearch` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#8023 [ip6] update `HandlePayload()` (avoid msg clone if not needed)
  src/core/net/ip6.cpp
Labels: enhancement, P4

#8027 [thread] add version consts & use `uint16_t` for `Neighbor::mVersion`
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/api/thread_api.cpp
  src/core/common/settings.hpp
  src/core/thread/child_table.cpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
  src/core/thread/version.hpp
Labels: enhancement, P4

#8030 [github-actions] upgrade pyshark to 0.4.6
  tests/scripts/thread-cert/requirements.txt
Labels: P4, continuous-integration

#8024 [csl] add `CslAccuracy` type
  src/core/mac/mac.hpp
  src/core/mac/mac_types.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle, comp: mac

#8039 [link-metrics] fix the endian-ness of `mPduCountValue`
  src/core/thread/link_metrics.cpp
Labels: bug, P4

#8032 [router-table] simplify `Allocate()` and random selection of ID
  src/core/thread/router_table.cpp
Labels: enhancement, P4

#8029 [mle] add `Parent` class (tracking CSL accuracy info)
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle

#8031 [api] harmonize nullptr assert check of pointer input parameters
  src/core/api/backbone_router_api.cpp
  src/core/api/backbone_router_ftd_api.cpp
  src/core/api/border_router_api.cpp
  src/core/api/border_routing_api.cpp
  src/core/api/coap_secure_api.cpp
  src/core/api/crypto_api.cpp
  src/core/api/dataset_api.cpp
  src/core/api/diags_api.cpp
  src/core/api/dns_api.cpp
  src/core/api/dns_server_api.cpp
  src/core/api/history_tracker_api.cpp
  src/core/api/instance_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/link_api.cpp
  src/core/api/link_metrics_api.cpp
  src/core/api/link_raw_api.cpp
  src/core/api/message_api.cpp
  src/core/api/netdata_api.cpp
  src/core/api/netdiag_api.cpp
  src/core/api/network_time_api.cpp
  src/core/api/srp_client_buffers_api.cpp
  src/core/api/thread_api.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/api/udp_api.cpp
  src/core/common/as_core_type.hpp
  src/core/common/debug.hpp
  src/core/config/misc.h
  src/posix/platform/openthread-core-posix-config.h
Labels: enhancement, P4

#8025 [multicast-routing] don't add MFC entries using mesh local as the source address
  src/posix/platform/multicast_routing.cpp
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py
Labels: comp: backbone-router

#7836 [nat64] implement nat64 translator (ot::Nat64::Translator)
  Android.mk
  etc/cmake/options.cmake
  examples/README.md
  examples/common-switches.mk
  include/openthread/instance.h
  include/openthread/nat64.h
  script/check-scan-build
  script/check-simulation-build-autotools
  script/check-simulation-build-cmake
  script/make-pretty
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/ip6_api.cpp
  src/core/api/nat64_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/common/message.hpp
  src/core/config/border_router.h
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_nat64.cpp
Labels: comp: border router

#8036 [ip6] add `MessageOrigin` to indicate origin or IPv6 message
  src/core/api/ip6_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#8014 [routing-manager] allow domain prefix to be considered as OMR
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8043 [link-metrics] fix integer conversions & use of `u8` for offset
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
Labels: enhancement, P4, comp: link-metrics

#8044 [mle] define `DetachGraecfuly` variables as `private`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#8040 [link-metrics] add `link_metrics_types.hpp`
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/link_metrics_types.cpp
  src/core/thread/link_metrics_types.hpp
Labels: enhancement, P4, comp: link-metrics

#8045 [border-agent] update logging for filtered messages
  src/core/meshcop/border_agent.cpp
Labels: enhancement, comp: meshcop

#8057 [nat64] extend wait time between test cases and verify netdata stabilized
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
Labels: continuous-integration

#8042 [link-metrics] simplify `AddReport()`
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
Labels: enhancement, P4, comp: link-metrics

#8049 [topology] add `Router::GetTwoWayLinkQuality()` method
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/router_table.cpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4

#8052 [mle] track `LeaderCost` in `Parent` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle

#8053 [docs] update Thread version
  NOTICE
  README.md
Labels: comp: docs

#8059 [multicast-routing] block egress multicast packets from LLA
  src/posix/platform/multicast_routing.cpp
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py
Labels: comp: backbone-router

#8055 [address-resolver] simplify `EntryInfo` and `Iterator`
  src/core/api/thread_ftd_api.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
Labels: enhancement, P4

#8051 [link-metrics] define `StatusSubTlv` to simplify appending/parsing it
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
Labels: enhancement, P4, comp: link-metrics

#8050 [core] add generic three-way comparison function
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/border_router/routing_manager.cpp
  src/core/common/data.hpp
  src/core/common/log.cpp
  src/core/common/num_utils.hpp
  src/core/common/string.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/sub_mac.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/timestamp.cpp
  src/core/net/dns_dso.cpp
  src/core/net/dns_dso.hpp
  src/core/net/dns_types.cpp
  src/core/net/ip6_address.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/net/tcp6.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/ping_sender.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4

#8067 [mesh-forwarder] fix random ieee frame version 2015 while attaching
  src/core/thread/mesh_forwarder.cpp
Labels: bug, P1, Thread 1.2, comp: low-power

#8065 [nat64] disable discovering NAT64 AIL prefix for OpenWRT
  src/posix/platform/CMakeLists.txt
  src/posix/platform/infra_if.cpp
  src/posix/platform/openthread-posix-config.h
Labels: continuous-integration

#8054 [link-metrics] simplify `HandleReport()`
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: link-metrics

#8063 [mac] add `ComputeLinkMargin()`
  src/core/api/link_api.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/thread/link_metrics.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mac

#8060 [mle] move simple RLOC to Router ID conversion fns to `mle_types.hpp`
  src/core/api/thread_api.cpp
  src/core/common/settings.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/child_table.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/router_table.cpp
  src/core/thread/topology.cpp
Labels: enhancement, P4, comp: mle

#7704 [thci] remove unused methods
  tools/harness-thci/OpenThread.py
Labels: certification, comp: thci

#8041 [docs] CLI child commands
  include/openthread/child_supervision.h
  include/openthread/instance.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
Labels: comp: docs, api: user, comp: cli

#8064 [tasklet] add template `TaskletIn` to simplify handler functions
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/locator_getters.hpp
  src/core/common/notifier.cpp
  src/core/common/notifier.hpp
  src/core/common/tasklet.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_notifier.hpp
Labels: enhancement, P4

#8069 [mle] add `ParentCandidate` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8072 [harness-simulation] fix `build_docker_image.sh` error
  tools/harness-simulation/posix/build_docker_image.sh
  tools/harness-simulation/posix/launch_testbed.py
Labels: comp: thci

#8070 [posix] initialize `hints` in `InfraNetif::DiscoverNat64Prefix`
  src/posix/platform/infra_if.cpp
Labels: bug, platform: posix

#8071 [child-table] check neighbor is in `ChildTable` before cast as `Child`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/neighbor_table.cpp
Labels: enhancement, P4

#8078 [link-metrics] update the scaling of link margin and RSSI metrics
  src/core/common/num_utils.hpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  tests/unit/test_link_quality.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4, comp: link-metrics

#8079 [routing-manager] advert local on-link prefix if same as discovered prefix
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8080 [srp-server] update validation of instance and service names
  src/core/net/srp_server.cpp
Labels: enhancement, P4, comp:srp

#7944 [docs] CLI Dataset
  doc/ot_api_doc.h
  include/openthread/dataset.h
  include/openthread/dataset_ftd.h
  include/openthread/dataset_updater.h
  include/openthread/instance.h
  src/cli/cli_dataset.cpp
Labels: comp: docs, comp: cli

#8073 [link-metrics] simplify sending MLE Mgmt Request
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/link_metrics_types.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: link-metrics

#8081 [link-quality] helper fn to convert link margin, link quality, RSS
  examples/platforms/utils/link_metrics.cpp
  src/core/api/link_api.cpp
  src/core/mac/mac.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4

#8088 [otci] support ADB connection for OTCI
  tools/otci/otci/__init__.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
  tools/otci/setup.py
Labels: enhancement, comp: otci

#8061 [github-actions] migrate to ubuntu 20.04 from 18.04
  .github/workflows/build.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/toranj.yml
  tests/toranj/start.sh
Labels: continuous-integration

#8099 [link-metrics] fix reading of Report sub-tlv from message
  src/core/thread/link_metrics.cpp
Labels: bug, P2, comp: link-metrics

#8097 [radio] define `Radio::kInvalidRssi` constant
  src/core/api/thread_api.cpp
  src/core/common/message.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/meshcop/joiner.cpp
  src/core/radio/radio.hpp
  src/core/radio/trel_link.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/mle.cpp
  src/core/utils/channel_monitor.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
  src/core/utils/jam_detector.cpp
  tests/unit/test_link_quality.cpp
Labels: enhancement, P4

#8100 [tlvs] rename method to `ReadTlvValue()` from `ReadTlv()`
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/thread/discover_scanner.cpp
Labels: enhancement, P4

#7220 [posix] make base class destructor virtual
  src/posix/platform/mainloop.hpp
Labels: P4, platform: posix, cla: yes
