Repository openthread/openthread, pull requests merged in 2022-05, with the labels that each got.

#7592 [tests] verify meshcop service after a `factoryreset`
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#7646 [posix-trel] allow using fixed TREL UDP port
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/trel.cpp
Labels: P4, platform: posix, comp: trel

#7633 [mle] enhance `NewMleMessage()` to prepare the MLE header
  src/core/thread/discover_scanner.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#7637 [github-actions] remove caching OTBR test results
  .github/workflows/otbr.yml
Labels: P4, continuous-integration

#7651 [thci] remove support for legacy Harness tool
  tools/harness-thci/OpenThread.py
Labels: P4, certification

#7643 [netdata] always check `IsConsistent()` before netdata registration
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
Labels: bug, enhancement, P4, comp: netdata

#7662 [github-actions] remove pyspinel tests
  .github/workflows/simulation-1.1.yml
Labels: P4, continuous-integration

#7653 [netdata] remove duplicate prefixes in local network data
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_local.hpp
Labels: bug, P4, comp: netdata

#7654 [thci] logging cleanup
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: certification

#7520 [commissioner] add command line option to specify commissioner ID
  include/openthread/commissioner.h
  include/openthread/instance.h
  src/cli/README_COMMISSIONER.md
  src/cli/cli_commissioner.cpp
  src/core/api/commissioner_api.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  tests/scripts/expect/cli-commissioner-multiple-ftds.exp
  tests/scripts/expect/cli-commissioner.exp
Labels: enhancement, P4, api: user, comp: cli

#7663 [cli] add command to set mesh-local prefix
  src/cli/README.md
  src/cli/cli.cpp
  tests/scripts/expect/cli-misc.exp
Labels: P4, comp: cli

#7631 [coap] add new helper methods to allocate and init CoAP message
  src/core/backbone_router/bbr_manager.cpp
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: enhancement, P4, comp: coap, comp: tmf

#7667 [mle] enhance `ProcessRouteTlv()` to update neighbor pointer
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: bug, enhancement, P4, comp: mle

#7668 [tests] initialize mesh-local prefix instead of extended pan id
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
Labels: P4, continuous-integration

#7669 [crypto] make sure MAC keys are exportable
  src/core/config/platform.h
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
Labels: security

#7673 [link-quality] define `LinkQuality` enumeration
  src/core/api/link_api.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
  src/core/thread/router_table.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4

#7675 [rcp] add enable-coex switch
  src/posix/platform/radio.cpp
  src/posix/platform/radio_url.cpp
  tests/scripts/expect/posix-url-enable-coex.exp
Labels: enhancement, P4, comp: rcp

#7656 [routing-manager] add new config for `MAX_DISCOVERED_PREFIXES`
  src/core/border_router/routing_manager.hpp
  src/core/config/border_router.h
Labels: enhancement, P4, comp: border router

#7665 [thci] version string depending on capabilities
  tools/harness-thci/OpenThread.py
Labels: enhancement, certification

#7678 [github-actions] do not delete artifacts if coverage upload fails
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
Labels: enhancement, P4, continuous-integration

#7636 [posix] install high priority kernel routes for OMR prefixes
  include/openthread/instance.h
  include/openthread/netdata.h
  src/core/api/netdata_api.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
  src/core/thread/network_data_types.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
Labels: P2, platform: posix, comp: border router

#7677 [csl] allow scheduling delayed reception in any radio state
  src/core/mac/sub_mac.cpp
Labels: Thread 1.2, comp: low-power

#7687 [toranj] update `test-018-child-supervision` to make it more robust
  tests/toranj/ncp/test-018-child-supervision.py
Labels: enhancement, P4, continuous-integration

#7638 [spinel] add CSL Accuracy and CSL Uncertainty properties
  src/core/config/openthread-core-config-check.h
  src/core/config/platform.h
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/posix/platform/radio.cpp
Labels: enhancement, comp: rcp, Thread 1.2, comp: low-power

#7676 [routing-manager] BR not to use `P_on_mesh=0` or `P_stable=0` prefixes as OMR prefixes
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/test_manual_omr_prefix.py
  tests/scripts/thread-cert/node.py
Labels: bug, comp: border router

#7686 [mesh-local-prefix] remove coupling to Extended PAN ID
  src/core/api/thread_api.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/net/dhcp6_server.hpp
  src/core/net/ip6_address.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  tests/scripts/thread-cert/config.py
  tests/unit/test_lowpan.cpp
Labels: enhancement, P4, comp: meshcop

#7679 [locator] add `GetProvider` base to provide `Get<Type>()` on `Message`
  src/core/common/instance.hpp
  src/core/common/locator.hpp
  src/core/common/locator_getters.hpp
  src/core/common/message.hpp
Labels: enhancement, P4

#7683 [thread-cert] run LowPower cert tests for OTBR Posix
  .github/workflows/otbr.yml
  tests/scripts/thread-cert/border_router/LowPower/v1_2_LowPower_5_3_01_SSEDAttachment_BR.py
  tests/scripts/thread-cert/border_router/LowPower/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks_BR.py
  tests/scripts/thread-cert/border_router/LowPower/v1_2_LowPower_7_2_01_ForwardTrackingSeries_BR.py
  tests/scripts/thread-cert/v1_2_LowPower_5_3_01_SSEDAttachment.py
  tests/scripts/thread-cert/v1_2_LowPower_6_1_07_PreferringARouterOverAReed.py
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
Labels: certification, continuous-integration, comp: low-power, comp: border router

#7690 [csl] rename to `CslUncertainty`
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/core/thread/mle.cpp
  src/core/thread/topology.hpp
  src/ncp/ncp_base.cpp
  src/posix/platform/radio.cpp
Labels: api: platform, Thread 1.2, comp: low-power

#7692 [config] introduce `OT_THREAD_VERSION_1_3`
  CMakeLists.txt
  examples/common-switches.mk
  src/core/openthread-core-config.h
Labels: enhancement, P4

#7693 [routing-manager] use sizeof explicit type `Ip6::Icmp::Header`
  src/core/border_router/routing_manager.cpp
Labels: P4, comp: border router

#7694 [tests] set `routereligible` to `False` for FED
  tests/scripts/thread-cert/v1_2_test_multicast_listener_registration.py
Labels: P4, continuous-integration

#7688 [routing-manager] prefer OMR prefix with higher Pref
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/test_manual_omr_prefix.py
Labels: bug, P4, comp: border router

#7695 [routing-manager] derive on-link prefix from Extended PAN ID
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/border_router/test_vicarious_router_solicit.py
  tests/scripts/thread-cert/thread_cert.py
Labels: enhancement, P2, comp: border router

#7647 [docs] add Doxygen group for new TCP Abstractions API
  doc/ot_api_doc.h
Labels: comp: docs

#7689 [mle] add `Tx/RxMessage` providing `Append/Read{Tlv}` methods
  src/core/thread/discover_scanner.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#7699 [routing-manager] prepare route/prefix info options in place
  src/core/border_router/router_advertisement.cpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, comp: border router

#7715 [routing-manager] `PublishExternalRoute()` to return success on `kErrorAlready`
  src/core/border_router/routing_manager.cpp
Labels: bug, P0, comp: border router

#7714 [tests] add wait time in test_border_router_as_fed.py
  tests/scripts/thread-cert/border_router/test_border_router_as_fed.py
Labels: P2, continuous-integration

#7706 [ip6] simplify `Ip6::ShouldForwardToThread()`
  src/core/net/ip6.cpp
Labels: enhancement, P4

#7718 [codecov] migrate to v2 uploader
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
Labels: P4, continuous-integration

#7722 [tcp6] `Endpoint` and `Listener` to act as `GetProvider`
  src/core/net/tcp6.cpp
  src/core/net/tcp6.hpp
Labels: enhancement, P4, comp: tcp

#7700 [border-router] adding `InfraIf` class
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/border_router/infra_if.cpp
  src/core/border_router/infra_if.hpp
  src/core/border_router/infra_if_platform.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/instance.hpp
Labels: enhancement, P4, comp: border router

#7721 [tests] use common definition for border router startup delay
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/scripts/thread-cert/border_router/test_border_router_as_fed.py
  tests/scripts/thread-cert/border_router/test_dnssd_instance_name_with_space.py
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_end_device_udp_reachability.py
  tests/scripts/thread-cert/border_router/test_external_route.py
  tests/scripts/thread-cert/border_router/test_firewall.py
  tests/scripts/thread-cert/border_router/test_manual_address.py
  tests/scripts/thread-cert/border_router/test_manual_maddress.py
  tests/scripts/thread-cert/border_router/test_manual_omr_prefix.py
  tests/scripts/thread-cert/border_router/test_mdns_restart.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_nat64_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_nat64_single_border_router.py
  tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/border_router/test_radvd_coexist.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/border_router/test_trel_connectivity.py
  tests/scripts/thread-cert/border_router/test_vicarious_router_solicit.py
  tests/scripts/thread-cert/config.py
Labels: P4, continuous-integration, comp: border router

#7393 [simulation] simulate energy scan
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/radio.c
  examples/platforms/simulation/system.c
  include/openthread/instance.h
  include/openthread/link_raw.h
  include/openthread/platform/radio.h
  src/core/mac/link_raw.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  tests/scripts/expect/posix-rcp-energy-scan.exp
Labels: enhancement, P4, platform: simulation

#7720 [router-advert] `RouterAdvMessage` to provide default router prf
  src/core/border_router/router_advertisement.cpp
  src/core/border_router/router_advertisement.hpp
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#7725 [data-poll-sender] return `kErrorNone` when Data Request is already enqueued
  include/openthread/instance.h
  include/openthread/link.h
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: enhancement, P4, api: user, comp: mac

#7735 [srp-client] add API to specify TTL
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/core/api/srp_client_api.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_client_change_lease.py
Labels: enhancement, P4, api: user, comp:srp, Thread 1.3

#7724 [routing-manager] fix BR incorrectly removing route for local on-link prefix
  src/core/border_router/routing_manager.cpp
Labels: bug, comp: border router, Thread 1.3

#7703 [routing-manager] handle deprecated OMR prefix
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/test_manual_omr_prefix.py
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/layer_fields.py
Labels: enhancement, P4, comp: border router, Thread 1.3

#7727 [routing-manager] remove vicarious router discovery feature
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_router.h
  src/core/config/openthread-core-config-check.h
  tests/scripts/thread-cert/border_router/test_on_link_prefix.py
Labels: enhancement, P4, comp: border router, Thread 1.3

#7717 [srp-server] check allocated `UpdateMetadata` is not `nullptr`
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: bug, P4, comp:srp

#7723 [routing-manager] simplify `ExternalPrefix`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#7726 [routing-manager] simplify `EvaluateOnLinkPrefix()` and sending RA
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P2, comp: border router

#7740 [log] add region code log
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/radio_url.cpp
Labels: enhancement, P4, comp: logging

#7708 [dnssd-server] add `otDnssdGetCounters` for telemetry
  include/openthread/dnssd_server.h
  include/openthread/instance.h
  src/core/api/dns_server_api.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: api: user, comp: dns

#7737 [srp-client] prefer the numerically lowest server address
  src/core/net/srp_client.cpp
Labels: enhancement, comp:srp, Thread 1.3

#7747 [routing-manager] simplify invalidation of specific prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: bug, enhancement, P4, comp: border router

#7757 [tests] `mcast6.py` to receive UDP messages without `JOIN_GROUP`
  tests/scripts/thread-cert/mcast6.py
Labels: enhancement, P4

#7745 [mle] delay sending multicast Link Request
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  tests/scripts/thread-cert/Cert_5_2_04_REEDUpgrade.py
  tests/scripts/thread-cert/v1_2_test_parent_selection.py
  tools/otci/tests/test_otci.py
Labels: enhancement, P4, comp: mle

#7751 [routing-manager] remove invalidated prefixes from array in place
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#7771 [tests] disable some checks in Cert_9_2_09
  tests/scripts/thread-cert/Cert_9_2_09_PendingPartition.py
Labels: continuous-integration

#7770 [mle-router] fix uninitialized pointer in `SendLinkRequest()`
  src/core/thread/mle_router.cpp
Labels: bug, P1, comp: mle

#7765 [mle] evaluate neighbor links before upgrade to router
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/scripts/thread-cert/Makefile.am
  tests/scripts/thread-cert/test_router_upgrade.py
Labels: enhancement, P4, comp: mle

#7752 [ndproxy] fix typo `Attampts` -> `Attempts`
  src/core/backbone_router/ndproxy_table.cpp
  src/core/backbone_router/ndproxy_table.hpp
Labels: P4, comp: backbone-router

#7764 [routing-manager] directly remove on-link prefix from list on advert start
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router
