Repository openthread/openthread, pull requests merged in 2022-03, with the labels that each got.

#7399 [thci] support ssh connection with `root` user
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification, comp: thci

#7450 [doxygen] add missing `@def OPENTHREAD_CONFIG_TMF_PROXY_MLR_ENABLE`
  src/core/config/tmf.h
Labels: comp: docs, P4

#7455 [thci] fix `setBbrDataset`
  tools/harness-thci/OpenThread.py
Labels: bug, certification, comp: thci

#7453 [tests] add a multi-BR DNS-SD server test case
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_mdns_restart.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: dns, comp: border router

#7449 [ip6] forward IPv6 fragments only if reassebling is disabled
  src/core/net/ip6.cpp
Labels: comp: ncp

#7441 [dns-client] add support address resolution query for IPv4 directly
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/core/api/dns_api.cpp
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  tests/scripts/expect/tun-dns-client.exp
Labels: enhancement, P4, comp: dns

#7459 [test] address uninitialized reference use warning
  tests/unit/test_data.cpp
Labels: enhancement, P4

#7452 [thci] find IPv6 border agents only
  tests/scripts/thread-cert/find_border_agents.py
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: P2, certification

#7346 [mac] feature to add delay on no-ack error before tx retry
  src/core/config/mac.h
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
Labels: enhancement, P4, comp: mac

#7457 [thci] avoid further delay after `ping` command
  tools/harness-thci/OpenThread.py
Labels: P2, certification

#7456 [log] add `OT_SHOULD_LOG_AT(aLevel)`
  script/check-simulation-build-autotools
  src/core/api/logging_api.cpp
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/common/log.cpp
  src/core/common/log.hpp
  src/core/common/notifier.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/radio_selector.cpp
  src/core/utils/channel_monitor.cpp
  src/posix/platform/multicast_routing.cpp
Labels: enhancement, P4, comp: logging

#7436 [nat64] allocate NAT64 prefix and OMR prefix from the same /48 BR ULA prefix
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/net/ip6_address.hpp
Labels: enhancement, comp: border router

#6522 [multi-radio] add mechanism to timeout last received frag tag
  src/core/config/radio_link.h
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, cla: yes

#7471 [tests] replace ifconfig command with ip command in node.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#7463 [csl] adjust polling closer to the CSL Timeout end
  src/core/mac/data_poll_sender.cpp
Labels: P2, certification, Thread 1.2, comp: low-power

#7461 [doxygen] change `[inout]` to `[in,out]`
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/utils/logging_rtt.c
  examples/platforms/utils/mac_frame.h
  include/openthread/backbone_router_ftd.h
  include/openthread/border_router.h
  include/openthread/coap.h
  include/openthread/commissioner.h
  include/openthread/crypto.h
  include/openthread/history_tracker.h
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/link.h
  include/openthread/netdata.h
  include/openthread/netdiag.h
  include/openthread/network_time.h
  include/openthread/platform/crypto.h
  include/openthread/platform/settings.h
  include/openthread/server.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
  src/core/common/instance.hpp
  src/core/common/notifier.hpp
  src/core/common/settings_driver.hpp
  src/core/common/string.hpp
  src/core/common/uptime.hpp
  src/core/crypto/aes_ccm.hpp
  src/core/crypto/ecdsa.hpp
  src/core/crypto/storage.hpp
  src/core/mac/channel_mask.hpp
  src/core/mac/mac_filter.hpp
  src/core/meshcop/commissioner.hpp
  src/core/net/checksum.hpp
  src/core/net/dns_types.hpp
  src/core/thread/address_resolver.hpp
  src/core/thread/neighbor_table.hpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_service.hpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/radio_selector.hpp
  src/core/thread/time_sync_service.hpp
  src/core/utils/flash.hpp
  src/core/utils/history_tracker.hpp
  src/core/utils/parse_cmdline.hpp
  src/core/utils/slaac_address.hpp
  src/lib/hdlc/hdlc.hpp
  src/posix/main.c
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/include/openthread/platform/secure_settings.h
  src/posix/platform/infra_if.hpp
  src/posix/platform/mainloop.hpp
  src/posix/platform/platform-posix.h
  src/posix/platform/spi_interface.hpp
  src/posix/platform/system.cpp
Labels: comp: docs, P4

#7475 [mle] add `SendDelayedResponse()` method
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#7476 [mle] add `RemoveDelayedMessage()` helper method
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#7477 [thci] unify IPv6 prefix representation
  tools/harness-thci/OpenThread.py
Labels: certification

#7479 [tcp6] use range-based `for` when iterating over lists
  src/core/net/tcp6.cpp
Labels: enhancement, P4, comp: tcp

#7483 [dataset] use `AsCoreType()` in `Generate()`
  src/core/meshcop/dataset.cpp
Labels: enhancement, P4, comp: dataset

#7489 [routing-manager] fix BR can't send RA in the first 3 seconds
  src/core/border_router/routing_manager.cpp
Labels: bug, comp: border router

#7490 [github-actions] set `fail-fast: false` for matrix
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
Labels: P4, continuous-integration

#7487 [crypto] compilation fix for clang10 -Wdeprecated-copy
  src/core/mac/mac_types.hpp
Labels: security, comp: build

#7454 [ecdsa] integrate TinyCrypt ECC operations
  Android.mk
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/crypto/ecdsa.cpp
  src/core/crypto/ecdsa_tinycrypt.cpp
Labels: security

#7491 [thci] selectively configure Domain Prefix advertisement on the host
  tools/harness-thci/OpenThread_BR.py
Labels: certification, Thread 1.2, comp: dua

#7481 [message] add range-based `for` loop for message/priority queue
  src/core/coap/coap.cpp
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/net/dns_client.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6_mpl.cpp
  src/core/net/sntp_client.cpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  tests/unit/test_message_queue.cpp
  tests/unit/test_priority_queue.cpp
Labels: enhancement, P4

#7504 [routing-manager] resend failed RS messages in 4 seconds
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_single_border_router.py
Labels: enhancement, P1, comp: border router

#7502 [mesh-forwarder] remove assert in `HandleFrameRequest`()`
  src/core/thread/mesh_forwarder.cpp
Labels: enhancement, P4

#7506 [thci] fix RA configuration for eth0 in the host device
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_BR.py
Labels: certification, comp: thci

#7508 [mesh-forwarder] rename method to `PrepareNextDirectTransmission()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4

#7509 [mle-router] fix uninitialized `message` in `SendChildUpdateRequest()`
  src/core/thread/mle_router.cpp
Labels: bug, P4, comp: mle

#7510 [message] change `GetDirectTransmission()` to `IsDirectTransmission()`
  src/core/common/message.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: P4

#7498 [netdata] update `Service::DnsSrpUnicast` to include `Origin`
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#7514 [mac] log `AddressFiltered` rx errors at debug level
  src/core/mac/mac.cpp
Labels: enhancement, P4, comp: mac

#7516 [radio-spinel] fix `GetNextTid()`
  src/lib/spinel/radio_spinel_impl.hpp
Labels: bug, P2, platform: posix, comp: rcp

#7517 [cmake] add option to enable secure settings API
  src/posix/platform/CMakeLists.txt
Labels: enhancement, P4, comp: build

#7496 [settings] set sensitive keys in platform settings initialization
  examples/platforms/utils/settings_ram.c
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/common/settings_driver.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/settings.cpp
  tests/fuzz/fuzzer_platform.cpp
  tests/unit/test_platform.cpp
Labels: enhancement

#7495 [posix] expose platform settings interfaces
  src/posix/platform/settings.cpp
  src/posix/platform/settings.hpp
Labels: enhancement, platform: posix

#7515 [mle] renames and small changes
  src/core/api/thread_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
Labels: enhancement, P4, comp: mle

#7524 [mle] add `kBetterParent` in `AttachMode` enum
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#7523 [docs] add Infineon to list of contributors
  README.md
  doc/images/ot-contrib-infineon.png
Labels: comp: docs

#7528 [cli] add link to `tcp` command `README_TCP.md` in the main doc
  src/cli/README.md
Labels: enhancement, comp: docs, P4, comp: cli

#7531 [net-diag] fix `kChildIdMask` value
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: bug

#7535 [logging] fix log level for `LogCacheEntryChange`
  src/core/thread/address_resolver.cpp
Labels: bug, P4

#7537 [mle] change `Restore()` to return `void`
  src/core/common/instance.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#7532 [settings] reserve settings keys for vendor use
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/common/settings.hpp
Labels: enhancement, P4

#7519 [mle] avoid setting mode `D` flag on MTD builds
  src/core/thread/mle.cpp
Labels: enhancement, comp: mle

#7521 [commissioner] add cli command to print joiner list
  src/cli/README_COMMISSIONER.md
  src/cli/cli_commissioner.cpp
Labels: enhancement, P4, comp: cli

#7533 [routing-manager] update legacy comments in routing manager
  src/core/border_router/routing_manager.cpp
Labels: enhancement, comp: border router, comp: logging

#7540 [build] enable coexistence parameter build
  etc/gn/openthread.gni
  src/core/BUILD.gn
Labels: enhancement, comp: build
