Repository openthread/openthread, pull requests merged in 2022-10, with the labels that each got.

#8224 [cli] update sub-modules to use `Process<Cmd("cmd")>` method
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  tests/scripts/expect/cli-udp.exp
Labels: enhancement, P4, comp: cli

#8231 [doxygen] change `inout` to `in,out`
  src/posix/platform/vendor_interface.hpp
Labels: comp: docs, platform: posix

#8232 [dns] allow partial read of TXT data and add config for max size in CLI
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_config.h
  src/core/net/dns_client.cpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, api: platform, comp: dns

#8230 [meshcop] simplify energy scan client and server
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/energy_scan_server.hpp
Labels: enhancement, P4, comp: tmf

#8243 [fuzz] advance time before fuzz input to enable more services
  tests/fuzz/cli_received.cpp
  tests/fuzz/ip6_send.cpp
  tests/fuzz/ncp_hdlc_received.cpp
  tests/fuzz/radio_receive_done.cpp
Labels: enhancement, continuous-integration

#8244 [test] update `AdvanceTime()` in unit tests to handle overflow
  tests/unit/test_dso.cpp
  tests/unit/test_routing_manager.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4

#8254 [border-agent] fix logging of `RelayTx` URI
  src/core/meshcop/border_agent.cpp
Labels: bug, P1

#8255 [log] fix incorrect format strings
  src/core/net/srp_client.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: bug, P4, comp: logging

#8246 [link-metrics] simplify handling of Type IDs
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/link_metrics_tlvs.hpp
  src/core/thread/link_metrics_types.cpp
  src/core/thread/link_metrics_types.hpp
Labels: enhancement, P4, comp: link-metrics

#8262 [dns-types] verify pointer refers to prior occurrence
  src/core/net/dns_types.cpp
Labels: bug, P3, comp: dns

#8266 [docs] remove versioning note
  README.md
Labels: comp: docs

#8265 [backbone-router] simplify TMF URI resource handling
  src/core/backbone_router/backbone_tmf.cpp
  src/core/backbone_router/backbone_tmf.hpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/bbr_manager.hpp
Labels: enhancement, P4, comp: backbone-router, comp: tmf

#8148 [netdata] update `Publisher` to reserve entries for `RoutingManager`
  src/core/api/netdata_publisher_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/netdata_publisher.h
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
Labels: enhancement, P4, comp: border router, comp: netdata

#8241 [meshcop] support a zero-length network name for backwards compatibility
  src/core/api/thread_api.cpp
  src/core/config/misc.h
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/network_name.cpp
  tests/unit/test_network_name.cpp
Labels: api: user, comp: meshcop

#8270 [cli] fix `log filename` command arg check
  src/cli/cli.cpp
Labels: bug, P4, comp: cli

#8167 [nat64] fix build issues related to NAT64 on POSIX
  src/cli/README.md
  src/cli/cli.cpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
Labels: bug, platform: posix

#8269 [github-actions] migrate to `actions/checkout@v3`
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/makefile-check.yml
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/size.yml
  .github/workflows/toranj.yml
  .github/workflows/version.yml
Labels: P4, continuous-integration

#8264 [cmake-build] allow specify multiple targets
  script/cmake-build
Labels: enhancement, P4, comp: build

#8271 [link-metrics] update method finding neighbor to validate its version
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
Labels: enhancement, P4, comp: link-metrics

#8253 [docs] CLI commands ifconfig - linkmetrics
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/link_metrics.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8187 [routing-manager] enhance mechanism to publish/unpublish route prefixes
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8274 [core] remove `OT_UNREACHABLE_CODE(break)`
  src/core/coap/coap.cpp
  src/core/mac/data_poll_handler.cpp
  src/core/mac/sub_mac.cpp
  src/core/meshcop/joiner.cpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_notifier.cpp
  src/ncp/ncp_base.cpp
Labels: enhancement, P4

#8275 [dns-client] validate response timeout <= `TimerMilli::kMaxDelay`
  src/core/net/dns_client.cpp
Labels: P4, comp: dns

#8119 [routing-manager] adv local on-link prefix after added in net data
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8263 [docs] who supports OT updates
  README.md
  doc/images/ot-contrib-amazon.png
  doc/images/ot-contrib-eero.png
  doc/images/ot-contrib-mmb-networks.png
  doc/images/ot-contrib-nanoleaf.png
Labels: comp: docs

#8278 [github-actions] migrate to `actions/upload-artifact@v3`
  .github/workflows/otbr.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
Labels: P4, continuous-integration

#8279 [docs] resized Qorvo logo
  doc/images/ot-contrib-qorvo.png
Labels: comp: docs

#8286 [docs] Doxygen formatting updates
  include/openthread/instance.h
  include/openthread/ip6.h
Labels: comp: docs

#8282 [cmake] disable `OPENTHREAD_CONFIG_NCP_HDLC_ENABLE` when `OT_NCP_SPI` is set
  src/lib/spinel/CMakeLists.txt
  src/ncp/radio.cmake
Labels: comp: ncp, comp: build

#8292 [multicast-forwarding] reduce warn logs
  src/posix/platform/multicast_routing.cpp
Labels: P4, comp: border router, comp: logging

#8194 [nat64] add runtime switch for NAT64 prefix publisher and translator
  include/openthread/instance.h
  include/openthread/nat64.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/nat64_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_single_border_router.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
  tests/scripts/thread-cert/node.py
Labels: enhancement

#8299 [srp-client] inform server on service remove even if not added yet
  src/core/net/srp_client.cpp
Labels: enhancement, P4, comp:srp

#8306 [docs] fix build option table format
  examples/README.md
Labels: comp: docs

#8285 [routing-manager] add `OnLinkPrefixManager`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#8314 [github-actions] update `geekyeggo/delete-artifact` to `v2`
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
Labels: continuous-integration

#8297 [coap] Bugfix: CoAP not sending 4.04 when URI handler is not found
  src/core/coap/coap.cpp
Labels: bug, comp: coap

#8310 [android] only set -std=c99 for mbedtls
  Android.mk
  script/check-android-build
Labels: comp: build

#8277 [string] add compile-time check for `printf` style arg consistency
  include/openthread/instance.h
  include/openthread/platform/toolchain.h
  src/core/common/num_utils.hpp
  src/core/common/string.hpp
  src/core/common/uptime.cpp
  src/core/meshcop/meshcop.cpp
  src/core/radio/trel_packet.cpp
  src/core/thread/network_data_publisher.cpp
Labels: enhancement, P4

#8312 [mle] add time tracking to mle roles
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  tools/otci/tests/test_otci.py
Labels: enhancement, comp: mle

#8033 [netif-posix] add an option to persistent interface
  src/posix/main.c
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
Labels: enhancement, platform: posix

#8326 [mac] add reserved value to source address parsing
  src/core/mac/mac_frame.cpp
Labels: comp: mac

#8090 [routing-manager] add Neighbor Solicit probe mechanism
  include/openthread/icmp6.h
  include/openthread/instance.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  src/core/net/icmp6.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8318 [address-resolver] allow addr resolution using net data service
  src/core/config/tmf.h
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4

#8327 [tcplp] fix call to tcplp_sys_accept_ready()
  third_party/tcplp/bsdtcp/tcp_input.c
Labels: bug, comp: tcp

#8322 [test] increase wait time after `ether` re-enable
  tests/scripts/thread-cert/border_router/test_single_border_router.py
Labels: enhancement, P4

#8328 [mle] log sending of "Link Accept and Request"
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8332 [network-data] do not process TMF messages if waiting for sync
  src/core/thread/network_data_leader_ftd.cpp
Labels: bug, P4, comp: tmf

#8330 [routing-manager] persist deprecating old prefixes in `Settings`
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  tests/unit/test_platform.cpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8338 [netif] fix bug in print statement by removing a stray format tag with no corresponding argument
  src/posix/platform/netif.cpp
Labels: bug, platform: posix

#8340 [cli] enhance parsing of flags for `route` commands
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli
