Repository openthread/openthread, pull requests merged in 2023-12, with the labels that each got.

#9670 [test] update `channel-announce-recovery` test to check router recovery
  tests/toranj/cli/test-603-channel-announce-recovery.py
Labels: enhancement, P4, comp: unit-test

#9666 [posix] fix a few compiler warnings around nat64
  src/posix/platform/netif.cpp
Labels: platform: posix

#9671 [meshcop-tlvs] update name style in `DiscoveryResponseTlv`
  src/core/meshcop/meshcop_tlvs.hpp
Labels: enhancement, P4, comp: meshcop

#9669 [cli] SRP Server Readme update - add srp server auto command
  src/cli/README_SRP_SERVER.md
Labels: comp: docs, comp: cli

#9652 [srp-client] track registered addresses
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/thread/address_resolver.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp:srp

#9674 [meshcop] `MeshCoP::ChannelTlv` to utilize `Mle::ChannelTlvValue`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/mle_tlvs.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: meshcop

#9560 [spinel] add vendor hook for the host side of spinel
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/example_vendor_hook.cpp
  src/lib/spinel/example_vendor_hook.hpp
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
Labels: comp: spinel

#9210 [tcat] initial commit of bluetooth-based commissioning
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/ble.c
  include/openthread/BUILD.gn
  include/openthread/ble_secure.h
  include/openthread/instance.h
  include/openthread/platform/ble.h
  include/openthread/tcat.h
  script/check-simulation-build-cmake
  src/cli/CMakeLists.txt
  src/cli/README.md
  src/cli/README_TCAT.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_config.h
  src/cli/cli_tcat.cpp
  src/cli/cli_tcat.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/ble_secure_api.cpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/common/message.hpp
  src/core/config/ip6.h
  src/core/config/openthread-core-config-check.h
  src/core/config/secure_transport.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/meshcop/tcat_agent.cpp
  src/core/meshcop/tcat_agent.hpp
  src/core/openthread-core-config.h
  src/core/radio/ble_secure.cpp
  src/core/radio/ble_secure.hpp
  src/core/thread/thread_netif.cpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
  src/core/utils/heap.hpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/ble.cpp
  tests/unit/test_platform.cpp
  third_party/mbedtls/mbedtls-config.h
Labels: enhancement, api: platform

#9645 [telemetry] add api for DHCPv6 PD telemetry
  include/openthread/border_routing.h
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/ip6.cpp
Labels: api: user, comp: border router

#9672 [posix] expose `platformInfraIfIsRunning()` as `otSysInfraIfIsRunning()`
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/platform-posix.h
Labels: platform: posix, comp: border router

#9678 [tests] rename `get_netdata_nat64_prefix()` to `get_netdata_nat64_routes()`
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_single_border_router.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_on_link_prefix.py
  tests/scripts/thread-cert/border_router/test_radvd_coexist.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: nat64

#9675 [meshcop-tlvs] simplify and enhance `ChannelMaskTlv`
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/panid_query_client.cpp
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle_tlvs.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
Labels: enhancement, P4, comp: meshcop

#9682 [mesh-forwarder] finalize message direct tx on drop or eviction
  src/core/thread/discover_scanner.cpp
  src/core/thread/discover_scanner.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mesh_forwarder_mtd.cpp
Labels: bug, enhancement, P4, comp: mesh-forwarder

#9686 [secure-transport] rename `HandleUdpReceive` to `HandleReceive`
  src/core/coap/coap_secure.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/radio/ble_secure.cpp
Labels: comp: meshcop

#9687 [spinel] make `kTxWaitUs` configurable during compile time
  etc/cmake/options.cmake
  script/check-scan-build
  script/cmake-build
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel.hpp
Labels: comp: spinel

#9691 [coap] remove duplicate method for setting `ConnectedCallback`
  src/core/api/coap_secure_api.cpp
  src/core/coap/coap_secure.hpp
Labels: enhancement, P4, comp: coap, comp: tmf

#9690 [tests] reduce flakiness of `test_publish_meshcop_service.py`
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: continuous-integration

#9689 [mle] fix uninitialized `mLinkRequestAttempts`
  src/core/thread/mle.cpp
Labels: bug, P3, comp: mle

#9692 [secure-transport] add `SetState()` and log state changes
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: meshcop

#9695 [github-actions] add arm-gcc-13 to build check
  .github/workflows/build.yml
Labels: continuous-integration

#9587 [cli] add `debug` command
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  tests/scripts/expect/cli-debug.exp
Labels: enhancement, comp: cli

#9702 [docs] SRP README update minor fix
  src/cli/README_SRP.md
Labels: comp: docs, comp: cli

#9707 [cli] add aliases for TCP and SRP concepts guides
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_tcp.cpp
Labels: comp: docs, comp: cli

#9703 [routing-manager] advertise local OMR in RA after present in netdata
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#9711 [unit-test] make sure `otPlatLog()` is defined as `extern "C"`
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: unit-test

#9696 [posix] verify in `otPlatUdpBindToNetif` if Backbone Interface is set
  src/posix/platform/udp.cpp
Labels: platform: posix

#9709 [docs] reference groups added and typos fixed
  doc/ot_api_doc.h
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: comp: docs, api: user

#9714 [posix] fix usage of `__linux__`
  src/posix/platform/daemon.cpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/netif.cpp
  src/posix/platform/udp.cpp
Labels: comp: build, platform: posix

#9719 [posix] fix circular dependency on `OPENTHREAD_POSIX_CONFIG_DAEMON_ENABLE`
  src/posix/platform/openthread-core-posix-config.h
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/openthread-posix-daemon-config.h
Labels: comp: build, platform: posix

#9722 [posix] prevent implicit conversion of `aUrl` to `RadioUrl`
  src/posix/platform/radio.cpp
  src/posix/platform/radio_url.cpp
  src/posix/platform/radio_url.hpp
Labels: bug, P2, platform: posix

#9718 [spinel] fix `OPENTHREAD_ENABLE_SPINEL_VENDOR_HOOK`
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/example_vendor_hook.cpp
  src/lib/spinel/example_vendor_hook.hpp
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/radio.hpp
Labels: bug, comp: build, platform: posix, comp: spinel

#9725 [config] fix typos in config docs
  src/core/config/dnssd_server.h
  src/core/config/srp_client.h
Labels: comp: docs

#9728 [github-actions] avoid `dependabot` pull requests in forks
  .github/dependabot.yml
Labels: continuous-integration, github_actions

#9720 [dns-types] add template variants for reading DNS names or labels
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_dns.cpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#9731 [spinel] add spinel net role DISABLED
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
Labels: enhancement, P4, comp: spinel

#9736 [factory-diags] fix usage of `OPENTHREAD_RADIO`
  src/core/diags/factory_diags.cpp
Labels: bug, comp: build

#9721 [docs] create config variables list
  doc/ot_config_doc.h
  src/core/config/announce_sender.h
  src/core/config/backbone_router.h
  src/core/config/border_agent.h
  src/core/config/border_router.h
  src/core/config/border_routing.h
  src/core/config/channel_manager.h
  src/core/config/channel_monitor.h
  src/core/config/child_supervision.h
  src/core/config/coap.h
  src/core/config/commissioner.h
  src/core/config/crypto.h
  src/core/config/dataset_updater.h
  src/core/config/dhcp6_client.h
  src/core/config/dhcp6_server.h
  src/core/config/diag.h
  src/core/config/dns_client.h
  src/core/config/dns_dso.h
  src/core/config/dnssd_server.h
  src/core/config/history_tracker.h
  src/core/config/ip6.h
  src/core/config/joiner.h
  src/core/config/link_metrics_manager.h
  src/core/config/link_quality.h
  src/core/config/link_raw.h
  src/core/config/logging.h
  src/core/config/mac.h
  src/core/config/mesh_diag.h
  src/core/config/mesh_forwarder.h
  src/core/config/misc.h
  src/core/config/mle.h
  src/core/config/nat64.h
  src/core/config/netdata_publisher.h
  src/core/config/network_diagnostic.h
  src/core/config/parent_search.h
  src/core/config/ping_sender.h
  src/core/config/platform.h
  src/core/config/power_calibration.h
  src/core/config/radio_link.h
  src/core/config/secure_transport.h
  src/core/config/sntp_client.h
  src/core/config/srp_client.h
  src/core/config/srp_server.h
  src/core/config/time_sync.h
  src/core/config/tmf.h
Labels: comp: docs

#9734 [dns] add `Name::Matches()` to compare DNS names
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns

#9733 [cmake] always define `OPENTHREAD_FTD/MTD/RADIO`
  src/cli/ftd.cmake
  src/cli/mtd.cmake
  src/cli/radio.cmake
  src/core/ftd.cmake
  src/core/mtd.cmake
  src/core/radio.cmake
  src/core/radio_cli.cmake
  src/lib/spinel/CMakeLists.txt
  src/ncp/ftd.cmake
  src/ncp/mtd.cmake
  src/ncp/radio.cmake
  src/posix/platform/CMakeLists.txt
  tests/fuzz/CMakeLists.txt
  tests/unit/CMakeLists.txt
Labels: comp: build

#9717 [posix] ignore required anycast address
  include/openthread/instance.h
  include/openthread/ip6.h
  src/posix/platform/netif.cpp
Labels: api: user, platform: posix

#9740 [heap-data] add `Matches()` to compare `Heap::Data` with a given buffer
  src/core/common/heap_data.cpp
  src/core/common/heap_data.hpp
  tests/unit/test_heap_string.cpp
Labels: enhancement, P4

#9743 [dns] clarify trailing dot in `Name::ExtractLabels()`
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns

#9744 [dns] add `Name::ComapreMultipleLabels()` and update `Matches()`
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns
