Repository openthread/openthread, pull requests merged in 2023-05, with the labels that each got.

#8986 [routing-manager] `RoutePublisher` and new route publishing model
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  tests/scripts/thread-cert/border_router/test_manual_maddress.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
  tests/scripts/thread-cert/border_router/test_on_link_prefix.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#8950 [posix] vendor support with lib dependencies
  src/posix/platform/CMakeLists.txt
  src/posix/platform/FindExampleVendorDeps.cmake
  src/posix/platform/radio_url.cpp
  src/posix/platform/vendor.cmake
Labels: comp: build, platform: posix

#9011 [mle] fix how time per role is tracked after counters are reset
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_types.hpp
Labels: bug, P4, comp: mle

#8956 [mle] request "Route TLV" after quick re-attach as FED
  src/core/thread/link_metrics.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  tests/toranj/cli/test-012-reset-recovery.py
Labels: enhancement, P4, comp: mle

#8898 [net-diag] vendor name, model, and sw version TLVs
  etc/cmake/options.cmake
  include/openthread/instance.h
  include/openthread/netdiag.h
  script/check-scan-build
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/api/netdiag_api.cpp
  src/core/config/network_diagnostic.h
  src/core/openthread-core-config.h
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
  src/core/utils/parse_cmdline.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-020-net-diag-vendor-info.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, comp: cli, comp: netdiag

#9012 [netdata] prefer BR acting as router over ED (when all other checks are same)
  src/core/thread/network_data_leader.cpp
Labels: enhancement, P4, comp: netdata

#9016 [ip6] add `otIp6PrefixFromString()`
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/api/ip6_api.cpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/utils/parse_cmdline.cpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, P4, comp: ip6

#9022 [cli] refactor br command prefix type
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
Labels: enhancement, comp: cli, comp: border router

#8966 [link-metrics] refactor link metrics module
  src/core/api/link_metrics_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/mac/mac.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.cpp
  tests/unit/test_link_quality.cpp
Labels: enhancement, P3, comp: low-power

#8972 [posix] update upstream DNS addresses after a few minutes
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
Labels: bug, platform: posix, comp: dns

#8971 [border-agent] add new API for retrieving border agent ID
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  include/openthread/border_agent.h
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/api/border_agent_api.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/config/border_agent.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: comp: meshcop, comp: border router

#9030 [border-agent] fix BorderAgentId compile and enable it in CI tests
  script/cmake-build
  src/core/common/settings.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: bug, comp: border router

#9013 [netdata] add `otNetDataReplacePublishedExternalRoute()` API
  include/openthread/instance.h
  include/openthread/netdata_publisher.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/core/api/netdata_publisher_api.cpp
  src/core/thread/network_data_publisher.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, api: user, comp: cli, comp: netdata

#8883 [tcp] remove EXCLUDE_TCPLP_LIB option
  etc/cmake/options.cmake
  examples/README.md
  src/core/ftd.cmake
  src/core/mtd.cmake
  third_party/CMakeLists.txt
Labels: comp: build, comp: tcp

#9010 [build] add CMake Android NDK support
  .github/workflows/build.yml
  CMakeLists.txt
  etc/cmake/options.cmake
  script/cmake-build
  src/core/api/instance_api.cpp
  src/core/config/openthread-core-config-check.h
  src/posix/platform/CMakeLists.txt
Labels: comp: build

#9033 [link-metrics] fix compilation errors
  src/core/mac/mac.hpp
  src/core/thread/topology.cpp
Labels: Thread 1.2, comp: low-power

#9026 [string] add `StringParseUint8()` helper function
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/net/ip4_types.cpp
  src/core/net/ip6_address.cpp
  tests/unit/test_ip_address.cpp
  tests/unit/test_string.cpp
Labels: enhancement, P4

#9007 [topology] track connection time of neighbors
  include/openthread/instance.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/core/common/log.cpp
  src/core/common/uptime.cpp
  src/core/common/uptime.hpp
  src/core/config/misc.h
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
  tests/unit/CMakeLists.txt
Labels: enhancement, P4, api: user, comp: cli

#9036 [network-name] consolidate default network name definition
  src/core/meshcop/dataset.cpp
  src/core/meshcop/network_name.cpp
  src/core/meshcop/network_name.hpp
Labels: P4, comp: meshcop

#9018 [posix] define posix `RadioSpinel` accessor
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
Labels: platform: posix, comp: rcp

#9035 [github-actions] add arm-gcc {10,11,12} checks
  .github/workflows/build.yml
Labels: enhancement, P4, continuous-integration

#9037 [ip6] simplify and update `NewMessageFromData()`
  src/core/api/ip6_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#9039 [log] log the port for backbone
  src/core/backbone_router/backbone_tmf.cpp
Labels: enhancement, P4, comp: backbone-router

#9038 [ip6] add new versions of `NewMessage()`
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/dtls.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/icmp6.cpp
  src/core/net/icmp6.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/utils/ping_sender.cpp
Labels: enhancement, P4, comp: ip6

#9044 [dns-client] check all responses in `GetHostAddress()`
  src/core/net/dns_client.cpp
Labels: bug, P4, comp: dns

#9043 [alarm] update docs to explicitly require 32-bit alarms
  include/openthread/instance.h
  include/openthread/platform/alarm-micro.h
  include/openthread/platform/alarm-milli.h
Labels: comp: docs, api: platform

#9042 [routing-manager] update OMR prefix def-route flag when publishing `::/0`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P2, comp: border router

#8995 [nat64] check OMR prefix before favoring AIL NAT64 prefix
  src/core/border_router/routing_manager.cpp
  tests/scripts/thread-cert/border_router/nat64/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/nat64/test_with_infrastructure_prefix.py
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/test_routing_manager.cpp
Labels: enhancement, continuous-integration, comp: nat64

#9053 [tests] fix `routing_manager` unit tests
  tests/unit/test_routing_manager.cpp
Labels: bug, continuous-integration, comp: border router

#9061 [mle] echo back "Supervision TLV" in Child ID Response
  src/core/thread/mle_router.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle

#9059 [radio-spinel] add log on RCP timeout error during init
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P4, platform: posix

#9041 [csl] split min receive window into MHR ahead and after times
  src/core/config/mac.h
  src/core/config/openthread-core-config-check.h
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
Labels: Thread 1.2, comp: low-power

#9062 [routing-manager] add `OmrPrefixManager`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#9054 [dns-client] new API resolve host and address
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/dns_api.cpp
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#9049 [border-agent] set Border Agent ID via CLI
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/core/api/border_agent_api.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: comp: cli, comp: border router

#9064 [ncp] fix RegisterPeekPokeDelegates call
  src/ncp/ncp_base.cpp
Labels: bug, comp: ncp

#9068 [cli] fix config check for "vendor" command
  src/cli/README.md
  src/cli/cli.cpp
Labels: bug, P4, comp: cli, comp: netdiag

#9055 [core] add instance id
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/instance_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  tests/scripts/expect/cli-misc.exp
Labels: enhancement, P4, api: user, comp: cli

#9069 [cli] add CLI DNS sub-module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_dns.cpp
  src/cli/cli_dns.hpp
Labels: enhancement, P4, comp: cli

#9067 [alarm] `otPlatAlarm` requirements clarification
  include/openthread/instance.h
  include/openthread/platform/alarm-micro.h
  include/openthread/platform/alarm-milli.h
Labels: comp: docs, api: platform

#9079 [uptime] requires UPTIME feature to be enabled on FTD build
  src/core/common/uptime.hpp
Labels: enhancement, P4

#9075 [tests] check whether the unreachable address is included in the DNS-SD response
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#9087 [cli] add helper `OutputNat64Counters()`
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: enhancement, P4, comp: cli, comp: nat64

#9088 [cli] add CLI `MacFilter` sub-module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_mac_filter.cpp
  src/cli/cli_mac_filter.hpp
  tests/scripts/expect/cli-macfilter.exp
Labels: enhancement, P4, comp: cli

#9093 [cli] update documentation of `Process()` method in CLI sub-modules
  src/cli/cli_br.hpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.hpp
  src/cli/cli_dns.hpp
  src/cli/cli_history.hpp
  src/cli/cli_joiner.hpp
  src/cli/cli_mac_filter.hpp
  src/cli/cli_network_data.hpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_tcp.hpp
  src/cli/cli_udp.hpp
Labels: enhancement, P4, comp: cli

#9098 [radio] fix return code doc of link metrics api
  src/core/radio/radio.hpp
Labels: enhancement, P4, comp: low-power

#9089 [posix] add Thread network default interface name configuration
  src/posix/client.cpp
  src/posix/main.c
  src/posix/platform/daemon.cpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, P4, platform: posix

#9103 [csl] fix 15.4-secured broadcast frames
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_links.hpp
  src/core/thread/mesh_forwarder.cpp
Labels: bug, Thread 1.2, comp: low-power

#9097 [random] add `Fill<ObjectType>()` function
  src/core/common/random.cpp
  src/core/common/random.hpp
  src/core/mac/mac_types.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/dataset.cpp
  src/core/net/dhcp6.hpp
  src/core/net/ip6_address.cpp
  src/core/net/nat64_translator.cpp
  src/core/net/tcp6.cpp
  src/core/thread/key_manager.hpp
  src/core/utils/slaac_address.cpp
  tests/unit/test_checksum.cpp
  tests/unit/test_ndproxy_table.cpp
  tests/unit/test_spinel_buffer.cpp
Labels: enhancement, P4

#9095 [routing-manager] update logs
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/uptime.hpp
Labels: enhancement, P4, comp: border router

#9090 [posix] fix setting non-standard baudrate on mac
  src/posix/platform/hdlc_interface.cpp
Labels: platform: posix

#9102 [link-quality] fix corner case of `ScaleRawValueToRssi`
  src/core/common/num_utils.hpp
  src/core/thread/link_metrics.cpp
  tests/unit/test_link_quality.cpp
Labels: bug, P4, comp: low-power

#8947 [nat64] notify platform when NAT64 CIDR is updated
  src/cli/cli.cpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  tests/scripts/thread-cert/border_router/nat64/test_single_border_router.py
  tests/scripts/thread-cert/node.py
Labels: platform: posix, comp: nat64

#9111 [build] delete the removed child supervision config in `cmake-build`
  script/cmake-build
Labels: enhancement, P4
