Repository openthread/openthread, pull requests merged in 2023-07, with the labels that each got.

#9179 [posix] fix missing `nullptr` pointer check
  src/posix/platform/infra_if.cpp
Labels: platform: posix

#9080 [routing-manager] determine route preference from parent link quality
  examples/platforms/simulation/infra_if.c
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/notifier.cpp
  src/core/common/notifier.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-021-br-route-prf.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: border router

#9162 [address-resolver] implement ramp-down mechanism for retry delay
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  tests/toranj/cli/test-014-address-resolver.py
Labels: enhancement, P4

#8793 [csl] add APIs to retrieve status
  include/openthread/instance.h
  include/openthread/link.h
  src/core/api/link_api.cpp
Labels: api: user, Thread 1.2, comp: low-power

#9247 [ncp] keep timeout zero during ramp-down in spinel `ADDRESS_CACHE_TABLE`
  src/ncp/ncp_base_ftd.cpp
Labels: enhancement, comp: ncp, P4

#9244 [spinel] return error from `SaveFrame` if not enough space is available
  src/lib/spinel/multi_frame_buffer.hpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: bug, comp: spinel

#9201 [cli] fix `childsupervision` commands documentation
  include/openthread/child_supervision.h
  include/openthread/instance.h
  src/cli/README.md
Labels: comp: docs, comp: cli

#9256 [test] fix unused returned value warning in `test_hdlc`
  tests/unit/test_hdlc.cpp
Labels: enhancement, P4, comp: unit-test

#9262 [commissioner] simplify and fix scheduling of expiration timer
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
Labels: bug, P4, comp: meshcop

#8866 [net-diag] define child and Child IPv6 Address List TLV
  include/openthread/instance.h
  include/openthread/mesh_diag.h
  include/openthread/netdiag.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/mesh_diag_api.cpp
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
  tests/scripts/thread-cert/Cert_5_7_02_CoapDiagCommands.py
  tests/scripts/thread-cert/Cert_5_7_03_CoapDiagCommands.py
  tests/toranj/cli/test-023-mesh-diag.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: cli, comp: netdiag, comp: mesh-diag

#9170 [mesh-forwarder] add time-in-queue statistics collection feature
  etc/cmake/options.cmake
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/core/config/mesh_forwarder.h
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, api: user, comp: cli

#9271 [mle] ensure key sequence is updated in MLE responses
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  tests/scripts/thread-cert/test_mle_msg_key_seq_jump.py
Labels: bug, comp: mle

#9208 [srp-server] simplify sub-type services
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/cli_srp_server.cpp
  src/core/api/srp_server_api.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, api: user, comp:srp

#9278 [spinel] fix error code when waiting rcp response timeout
  src/lib/spinel/radio_spinel_impl.hpp
Labels: bug, comp: spinel

#9277 [border-agent] fix struct typedef for `otBorderAgentId`
  include/openthread/border_agent.h
  include/openthread/instance.h
Labels: api: user

#9273 [routing-manager] add `SetState()` in `OnLinkPrefixManager`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#9279 [github-action] install `prettier@2.0.4` in `pretty` job
  .github/workflows/build.yml
Labels: enhancement, P4, continuous-integration

#9276 [toranj] remove docs from test specific config headers
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4

#9274 [routing-manager] support Advertising PIO (AP) flag in published route
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/README.md
  src/cli/README_NETDATA.md
  src/cli/cli.cpp
  src/cli/cli_network_data.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_tlvs.hpp
  src/core/thread/network_data_types.cpp
  tests/toranj/cli/test-021-br-route-prf.py
  tests/unit/test_network_data.cpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, api: user, comp: border router, comp: netdata

#9287 [posix] fix logging of netlink errors
  src/posix/platform/netif.cpp
Labels: bug, platform: posix

#9281 [dnssd-server] skip additional records on a PTR query with multiple answers
  src/cli/README.md
  src/core/net/dnssd_server.cpp
  tests/scripts/thread-cert/border_router/test_dnssd_instance_name_with_space.py
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_mdns_restart.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
  tests/scripts/thread-cert/test_srp_server_anycast_mode.py
Labels: enhancement, P4, comp: dns

#9288 [cmake] add macros to simplify CMake config definition
  CMakeLists.txt
  etc/cmake/functions.cmake
  etc/cmake/options.cmake
Labels: enhancement, P4, comp: build

#9188 [link-metrics] minimize the Link Metrics entry count for MTD
  src/core/config/mle.h
  src/core/thread/link_metrics.hpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: low-power

#9292 [mle] simplify `HandleChildIdRequest()`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9286 [random] remove mbedtls header from api
  include/openthread/instance.h
  include/openthread/random_crypto.h
Labels: api: user, comp: build

#9297 [posix] fix name of vendor-supplied target to `OT_POSIX_CONFIG_RCP_VENDOR_INTERFACE`
  src/posix/platform/vendor.cmake
  src/posix/platform/vendor_extension_example.cmake
Labels: comp: build, platform: posix

#9299 [posix] loose check for NETLINK_EXT_ACK and NETLINK_CAP_ACK
  src/posix/platform/netif.cpp
Labels: platform: posix

#9295 [srp-server] simplify `RemoveHost()` method
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, comp:srp

#9296 [srp-server] simplify tracking of host key
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, comp:srp

#9285 [csl] update CSL public APIs to use microseconds unit for period
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/platform/radio.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/link_api.cpp
  src/core/common/time.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.hpp
  src/core/thread/mle.cpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_mtd.cpp
  tests/scripts/expect/cli-discover.exp
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/v1_2_test_single_probe.py
  tools/harness-thci/OpenThread.py
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: api: user, comp: csl

#9304 [mle] define separate `TxChallenge` and `RxChallenge` types
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle

#9291 [config] define separate project and platform core config header
  CMakeLists.txt
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/openthread-core-simulation-config.h
  src/core/openthread-core-config.h
  src/posix/platform/CMakeLists.txt
  src/posix/platform/openthread-core-posix-config.h
  tests/toranj/build.sh
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, P4, comp: build

#9303 [cli] add docs for `detach` command
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, comp: docs, comp: cli

#9309 [srp-server] ensure `Host` is freed when committing with zero key-lease
  src/core/net/srp_server.cpp
  tests/unit/test_srp_server.cpp
Labels: bug, P4, comp:srp

#9308 [clang-tidy] move config to `.clang-tidy` file
  .clang-tidy
  script/make-pretty
  third_party/tcplp/tcplp.h
Labels: enhancement, continuous-integration

#9305 [routing-manager] add `SetIfIndex` in `RoutingManager`
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/core/border_router/infra_if.hpp
  src/core/border_router/routing_manager.cpp
Labels: enhancement, comp: border router

#9311 [link-metrics] verify neighbor state when processing messages
  src/core/thread/mle.cpp
Labels: bug, comp: link-metrics

#9307 [mle] update Avd trickle timer interval based on router neighbor count
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/common/trickle_timer.cpp
  src/core/common/trickle_timer.hpp
  src/core/net/ip6_mpl.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/neighbor_table.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-024-mle-adv-imax-change.py
  tests/toranj/start.sh
  tests/unit/CMakeLists.txt
  tests/unit/test_trickle_timer.cpp
Labels: enhancement, P4, comp: mle

#9315 [mac-frame] check rx frame security level in `GenerateEnhAck()`
  src/core/mac/mac_frame.cpp
Labels: bug, P3, comp: mac

#9317 [mle] change `protected` declarations as `private` in `Mle` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#9324 [docs] fix some typos
  src/cli/cli_dataset.cpp
  src/core/config/border_agent.h
Labels: comp: docs

#9328 [thci] fix for ncs thci issues
  tools/harness-thci/OpenThread.py
Labels: comp: thci

#9320 [mle] reorder `Mle` class member variables
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#9327 [spinel] networkInfo may not exist when recovering from RCP failure
  src/lib/spinel/radio_spinel_impl.hpp
  tests/scripts/expect/posix-rcp-restoration.exp
Labels: P3, comp: rcp, comp: spinel
