Repository openthread/openthread, pull requests merged in 2023-09, with the labels that each got.

#9375 [link-metrics] implement link metrics manager
  etc/cmake/options.cmake
  examples/config/ot-core-config-check-size-br.h
  examples/config/ot-core-config-check-size-ftd.h
  examples/config/ot-core-config-check-size-mtd.h
  include/openthread/instance.h
  include/openthread/link_metrics.h
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/link_metrics_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/common/notifier.cpp
  src/core/config/link_metrics_manager.h
  src/core/openthread-core-config.h
  src/core/thread/mle.hpp
  src/core/utils/link_metrics_manager.cpp
  src/core/utils/link_metrics_manager.hpp
  tests/scripts/expect/v1_2-linkmetricsmgr.exp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/v1_2_LowPower_test_link_metrics_manager.py
  tests/unit/CMakeLists.txt
  tests/unit/test_link_metrics_manager.cpp
Labels: Thread 1.2, comp: low-power, comp: link-metrics

#9397 [data-poll-handler] reset tx attempts when replacing a frame
  src/core/mac/data_poll_handler.cpp
  src/core/mac/data_poll_handler.hpp
Labels: bug, comp: mac

#9382 [script] `check-size` to generate formatted table on push
  .github/workflows/size.yml
  script/check-size
Labels: enhancement, P4, continuous-integration

#9398 [srp-server] process completed update from proxy from taskelt
  src/core/common/linked_list.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_linked_list.cpp
Labels: enhancement, P4, comp:srp

#9401 [docs] CLI updates
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9406 [cli] add Doxygen tags to all `trel` commands
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9388 [mle] suppress Announce response to orphan child on same channel and PAN ID
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#9322 [mac] document and adjust to standards based timing concepts
  include/openthread/instance.h
  include/openthread/platform/radio.h
  include/openthread/platform/time.h
  src/core/mac/mac_frame.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
Labels: api: platform, comp: mac

#9414 [csl] ignore zero valued CSL IE period
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: comp: csl

#9417 [include] remove include of core config file
  include/openthread/instance.h
  include/openthread/link_metrics.h
Labels: P3, api: user, comp: link-metrics

#9411 [address-resolver] remove cache entry if its RLOC16 is unreachable
  src/core/thread/address_resolver.cpp
Labels: enhancement, P4

#9405 [mac] fix channel switching issue during energy scan
  src/core/mac/mac.cpp
Labels: bug, comp: mac

#9392 [url] add methods to parse parameters from url
  src/lib/url/CMakeLists.txt
  src/lib/url/url.cpp
  src/lib/url/url.hpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/spi_interface.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_url.cpp
Labels: enhancement, P4, platform: posix

#9419 [docs] add Doxygen tags for CLI commands (`tvcheck` - `unsecure`)
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9412 [posix] add a flag to turn posix multicast routing feature on/off
  src/posix/platform/backbone.cpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/openthread-posix-config.h
Labels: comp: build, platform: posix

#9421 [netdata] remove unallocated router ID entries on recovery after reset
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: netdata

#9402 [firewall] implement packet filtering in OT core
  .github/workflows/otbr.yml
  script/test
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  tests/scripts/thread-cert/border_router/test_firewall.py
  tests/scripts/thread-cert/node.py
Labels: comp: border router

#9391 [posix] add channel mask configurations to configuration file
  src/posix/platform/CMakeLists.txt
  src/posix/platform/config_file.cpp
  src/posix/platform/config_file.hpp
  src/posix/platform/configuration.cpp
  src/posix/platform/configuration.hpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/openthread.conf.example
  src/posix/platform/power.cpp
  src/posix/platform/power_updater.cpp
  src/posix/platform/radio.cpp
  tests/scripts/expect/_common.exp
  tests/scripts/expect/posix-channel-mask.exp
Labels: enhancement, P3, platform: posix

#9407 [spinel] save MAC frame counter to a local variable
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P4, comp: spinel

#9432 [border-agent] smaller enhancements
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#9433 [cli] fix `ba state` output and conversion of state to string
  src/cli/cli.cpp
Labels: bug, P4, comp: cli, comp: border agent

#9443 [posix] update the default channel masks in the configuration file
  src/posix/platform/openthread.conf.example
  tests/scripts/expect/posix-channel-mask.exp
Labels: enhancement, continuous-integration

#9444 [border-agent] simplify `ForwardContext` allocation and ownership
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#9424 [docs] add Doxygen tags for CLI commands (`macfilter` - `macfilter addr`)
  include/openthread/instance.h
  include/openthread/link.h
  src/cli/cli_mac_filter.cpp
Labels: comp: docs, comp: cli

#9441 [nat64] enable discovering NAT64 AIL prefix for OpenWRT
  src/posix/platform/CMakeLists.txt
Labels: comp: build, comp: nat64

#9440 [tmf] set default snoop cache entry count to 1/16 of total
  src/core/config/tmf.h
Labels: enhancement, P4

#9450 [spinel] reset `mState` to `kStateDisabled` if recovering from `kStateDisabled`
  src/lib/spinel/radio_spinel_impl.hpp
Labels: comp: spinel

#9460 [address-resolver] set minimum `kMaxNonEvictableSnoopedEntries` to `1`
  src/core/thread/address_resolver.hpp
Labels: comp: build, comp: tmf

#9442 [docs] add Doxygen tags for CLI commands (`macfilter rss add` - `macfilter rss remove`)
  include/openthread/instance.h
  include/openthread/link.h
  src/cli/README.md
  src/cli/cli_mac_filter.cpp
Labels: comp: docs, comp: cli

#9451 [docs] adding Doxygen tags for CLIs `mac retries direct` - `mac send`
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9457 [script] exclude `ot_testing` and `__pycache__` when building the OTBR docker
  script/test
Labels: enhancement

#9453 [posix] address coverity warning: argument cannot be negative
  src/posix/platform/netif.cpp
Labels: continuous-integration, platform: posix

#9445 [joiner] check for non-zero joiner UDP port before electing a joiner router
  src/core/meshcop/joiner.cpp
Labels: Thread 1.2, comp: mle

#9465 [mle] simplify `ProcessRouteTlv()` call in `HandleAdvertisement()`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9448 [nd6] add `RaFlagsExtOption` and track flags in received RAs
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#9466 [docs] Doxygen tags for CLI commands [`neighbor linkquality` — `networkidtimeout`]
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9455 [routing-manager] new config to use heap for `PrefixTable` entries
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router
