Repository openthread/openthread, pull requests merged in 2023-08, with the labels that each got.

#9321 [clang-tidy] fix `bugprone-too-small-loop-variable` warnings
  .clang-tidy
  examples/platforms/simulation/flash.c
  examples/platforms/simulation/radio.c
  src/cli/cli.cpp
  src/cli/cli_dns.cpp
  src/cli/cli_mac_filter.cpp
  src/core/meshcop/meshcop.cpp
  src/core/thread/network_diagnostic.cpp
  tests/unit/test_cmd_line_parser.cpp
  tests/unit/test_hkdf_sha256.cpp
  tests/unit/test_ip_address.cpp
  tests/unit/test_mac_frame.cpp
  tests/unit/test_nat64.cpp
  tests/unit/test_toolchain.cpp
Labels: enhancement, P4

#9331 [dnssd-server] send response if `ResolveByUpstream()` fails
  src/core/net/dnssd_server.cpp
Labels: enhancement, P4, comp: dns

#9334 [dnssd-server] simplifications and enhancements
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/dns.c
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: enhancement, P4, comp: dns

#9335 [netdata] fix the source address check in `LeaderBase::RouteLookup()`
  src/core/thread/network_data_leader.cpp
  tests/scripts/thread-cert/border_router/test_firewall.py
Labels: comp: netdata

#9339 [dns-client] handle multiple CNAME record in response
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
Labels: enhancement, P4, comp: dns

#9348 [mesh-forwarder] disallow new message eviction in `ApplyDirectTxQueueLimit()`
  src/core/thread/mesh_forwarder.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#9314 [posix] fix rcp reset flow in `ResetRcp`
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/hdlc_interface.hpp
Labels: comp: rcp

#9343 [link-metrics] update link metrics callback parameter
  include/openthread/instance.h
  include/openthread/link_metrics.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/thread/link_metrics.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, P4, comp: link-metrics

#9352 [docs] added Doxygen tags to 4 CLIs
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9148 [cli] support RTT as cli interface
  examples/platforms/utils/CMakeLists.txt
  examples/platforms/utils/uart_rtt.c
  examples/platforms/utils/uart_rtt.h
Labels: enhancement, comp: cli

#9337 [mac-frame] update `InitMacFrame()`
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac

#9355 [mle] reorganize MLE constants
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4, comp: mle

#9338 [mac-frame] update `GenerateEnhAck()` to use `InitMacHeader()`
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac

#9349 [dnssd-server] determine query type & simplify processing of query name
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns.cpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#9353 [dnssd-server] simplify resolving of query by proxy
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#9357 [posix] allow disabling CLI for daemon
  src/posix/main.c
  src/posix/platform/daemon.cpp
  src/posix/platform/daemon.hpp
  src/posix/platform/openthread-posix-config.h
Labels: Android

#9364 [mesh-forwarder] minimize use of default parameters in methods
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#9354 [docs] cli cmd doc updates (locate - log level)
  include/openthread/instance.h
  include/openthread/radio_stats.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9366 [cli] simplify `dataset` commands
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
Labels: enhancement, P4, comp: cli

#9371 [trel] bugfix for MAC security failure on key sequence change
  src/core/mac/mac.cpp
Labels: bug, comp: trel

#9368 [script] update the `check-size` report
  examples/config/ot-core-config-check-size-br.h
  examples/config/ot-core-config-check-size-ftd.h
  examples/config/ot-core-config-check-size-mtd.h
  script/check-arm-build
  script/check-size
  script/test
  src/cli/cli_history.cpp
  src/core/border_router/infra_if.cpp
  src/core/config/border_routing.h
  src/core/config/dns_dso.h
  src/core/config/dnssd_server.h
  src/core/net/dns_dso.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/nat64_translator.cpp
Labels: enhancement, continuous-integration

#9367 [docs] add tags to new CLIs
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9378 [mesh-forwarder] update `aIp6Header` arg name to follow style guide
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#9350 [meshcop] print TLV State after receiving responses
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: enhancement, comp: meshcop

#9384 [docs] added Doxygen tags to new CLIs
  src/cli/cli.cpp
Labels: comp: docs, comp: cli
