Repository openthread/openthread, pull requests merged in 2023-04, with the labels that each got.

#8896 [network-data] change 6LoWPAN context ID reuse delay to 5 minutes
  src/core/thread/network_data_leader_ftd.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-019-netdata-context-id.py
Labels: enhancement, P4, comp: netdata

#8919 [tmf] allow pan-id query on MTD
  src/core/thread/tmf.cpp
Labels: bug, P4, comp: tmf

#8743 [csl] take into account radio header for aiming at the CSL phase
  include/openthread/instance.h
  src/core/config/mac.h
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/mle_tlvs.hpp
Labels: Thread 1.2, comp: low-power

#8927 [data-poll-sender] clamp poll period based on child timeout
  src/core/mac/data_poll_sender.cpp
Labels: comp: mac

#8926 [tmf] skip copying `MessageInfo` for empty ack
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/panid_query_server.cpp
Labels: enhancement, P4, comp: tmf

#8772 [dns-client] add `ServiceMode` to control service resolution
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/config/dns_client.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/scripts/expect/tun-dns-over-tcp-client.exp
  tests/unit/CMakeLists.txt
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#8928 [spinel] add openthread config header file
  src/lib/spinel/openthread-spinel-config.h
Labels: enhancement, P3

#8930 [tmf] add `UriToString()` for logging
  src/core/meshcop/announce_begin_client.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/energy_scan_client.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/panid_query_client.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/announce_begin_server.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/panid_query_server.cpp
  src/core/thread/uri_paths.cpp
  src/core/thread/uri_paths.hpp
Labels: enhancement, P4, comp: tmf

#8934 [posix] reset the signal actions after processing signals
  src/posix/platform/backtrace.cpp
Labels: enhancement, P3, platform: posix

#8924 [build] address new warnings with clang-14
  examples/platforms/simulation/diag.c
  src/cli/cli.cpp
  third_party/mbedtls/CMakeLists.txt
Labels: enhancement, P4, comp: build

#8932 [coap] avoid using default parameter values for common methods
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
Labels: enhancement, P4, comp: coap, comp: tmf

#8937 [joiner] use `Clamp()` function to calculate priority from RSS
  src/core/meshcop/joiner.cpp
Labels: enhancement, P4, comp: meshcop

#7869 [tmf] add local IPv6 DSCP values to indicate TMF message priority
  src/core/net/ip6.cpp
  src/core/net/ip6_types.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: enhancement, P4, comp: tmf

#8936 [net-diag] introduce `Server` and `Client` classes
  etc/cmake/options.cmake
  etc/gn/openthread.gni
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  include/openthread/instance.h
  include/openthread/netdiag.h
  script/check-arm-build
  script/check-scan-build
  script/check-simulation-build-autotools
  script/check-size
  script/cmake-build
  script/make-pretty
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/api/netdiag_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/config/openthread-core-config-check.h
  src/core/config/tmf.h
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/tmf.cpp
  src/posix/Makefile-posix
  tests/fuzz/oss-fuzz-build
Labels: enhancement, P4, comp: netdiag

#8942 [posix] initialize pointers to avoid potential use of uninitialized pointers
  src/posix/platform/resolver.cpp
Labels: bug, platform: posix

#8858 [posix] unify the RCP reset sequence
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel_interface.hpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/vendor_interface.hpp
  src/posix/platform/vendor_interface_example.cpp
Labels: enhancement, P3, platform: posix

#8951 [mle] simplify `SendChildUpdateRequest()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#8957 [net-diags] fix `GetNextDiagTlv()` when skipping over unknown TLVs
  src/core/thread/network_diagnostic.cpp
Labels: bug, P4, comp: netdiag

#8958 [mle] simplify appending of Address Registration TLV entries
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#8954 [nat64] add function for parsing IPv4 CIDR
  include/openthread/instance.h
  include/openthread/nat64.h
  src/core/api/nat64_api.cpp
  src/core/net/ip4_types.cpp
  src/core/net/ip4_types.hpp
  src/posix/platform/system.cpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, comp: nat64

#8969 [mle] enable Inform Previous Parent feature by default
  src/core/config/mle.h
Labels: enhancement, P4, comp: mle

#8976 [github-actions] replace deprecated `set-output` commands
  .github/workflows/docker.yml
Labels: continuous-integration

#8982 [dns-client] fix finalizing query from `HandleTimer()`
  src/core/net/dns_client.cpp
Labels: bug, P2, comp: dns

#8978 [sub-mac] check key-id to match before `SignalFrameCounterUsed()`
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
Labels: comp: mac

#8959 [test] require either mdns or avahi
  tests/scripts/thread-cert/node.py
Labels: P4, continuous-integration

#8961 [crypto] allow key reference usage for ECDSA
  include/openthread/instance.h
  include/openthread/platform/crypto.h
  src/core/common/instance.cpp
  src/core/crypto/crypto_platform.cpp
  src/core/crypto/ecdsa.hpp
  src/core/crypto/storage.cpp
  src/core/crypto/storage.hpp
  src/core/mac/mac.hpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  src/core/mac/sub_mac.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  tests/unit/test_platform.cpp
Labels: api: platform

#8994 [daemon] remove log of CLI input
  src/posix/platform/daemon.cpp
Labels: enhancement, P4, platform: posix

#8977 [cli] store cli user commands in container and support list prepend
  examples/apps/cli/main.c
  include/openthread/cli.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_config.h
  src/posix/main.c
Labels: comp: cli

#8996 [otci] fix some style issues
  .github/workflows/otci.yml
  tools/otci/otci/__init__.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/connectors.py
  tools/otci/otci/otci.py
  tools/otci/otci/types.py
  tools/otci/otci/utils.py
Labels: comp: otci

#9006 [build] add cmake option for generating .map files
  etc/cmake/options.cmake
  examples/apps/cli/ftd.cmake
  examples/apps/cli/mtd.cmake
  examples/apps/cli/radio.cmake
  examples/apps/ncp/ftd.cmake
  examples/apps/ncp/mtd.cmake
  examples/apps/ncp/rcp.cmake
  src/posix/cli.cmake
  src/posix/daemon.cmake
Labels: comp: build

#8962 [dns-client] update API docs
  include/openthread/dns_client.h
  include/openthread/instance.h
Labels: enhancement, P4, comp: dns

#8989 [mle] add parent request callback config
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/api/thread_api.cpp
  src/core/config/mle.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_ftd.cpp
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, api: user, comp: mle

#8987 [mle] clear address cache entries on promotion of child to router
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/router_table.cpp
Labels: enhancement, P4, comp: mle
