Repository openthread/openthread, pull requests merged in 2023-11, with the labels that each got.

#9530 [build] move `radio_spinel.cpp` to new lib `openthread-radio-spinel`
  src/lib/spinel/CMakeLists.txt
  src/posix/cli.cmake
  src/posix/daemon.cmake
  src/posix/platform/CMakeLists.txt
Labels: enhancement, P4, comp: build

#9578 [docs] TCP Commands - add Doxygen tags
  src/cli/cli_tcp.cpp
Labels: comp: docs, comp: cli

#9568 [csl] use host time for counting CSL synchronization elapsed time
  etc/cmake/options.cmake
  src/core/config/mac.h
  src/core/mac/sub_mac.cpp
Labels: comp: csl

#9579 [slaac] simplify adding/removing addresses and other enhancements
  src/core/thread/dua_manager.cpp
  src/core/utils/slaac_address.cpp
  src/core/utils/slaac_address.hpp
Labels: enhancement, P4, comp: ip6

#9583 [posix] allow OT process to run when infra netif gets lost
  src/posix/platform/infra_if.cpp
  src/posix/platform/openthread-posix-config.h
Labels: platform: posix

#9592 [routing-manager] use `Heap::Array` for `OnMeshPrefixArray`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, P4, comp: border router

#9590 [multi-radio] perform tag duplication check for first fragment
  src/core/thread/mesh_forwarder.cpp
Labels: bug, P3, comp: trel, comp: mesh-forwarder

#9594 [routing-manager] check `mIsRunning` in `ScheduleRoutingPolicyEvaluation()`
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9595 [toranj] update config header to use `OT_LOG_LEVEL_INFO`
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4

#9603 [test] address occasional failure of `test_routing_manager`
  tests/unit/test_routing_manager.cpp
Labels: bug, P4, comp: unit-test

#9598 [mle] define `IsRouterIdValid()` helper in `mle_types.hpp`
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
Labels: enhancement, P4, comp: mle

#9554 [radio] add `OT_RADIO_CAPS_RX_ON_WHEN_IDLE` capability
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/config/mac.h
  src/core/mac/mac.cpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  tests/fuzz/fuzzer_platform.cpp
  tests/unit/test_platform.cpp
Labels: api: platform

#9606 [test] ensure to `FinalizeTest()` in `TestProcessPlatfromGeneratedNd()`
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router, comp: unit-test

#9511 [cli] adding set ipv4 CIDR for NAT64 in README
  src/cli/README.md
Labels: comp: docs, comp: cli

#9609 [mle] fix responding to "Child Update Request" from non-parent device
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: bug, comp: mle

#9610 [mle] remove `MleRouter` class definition under `MTD` build
  src/core/api/thread_api.cpp
  src/core/instance/instance.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#9611 [cli] remove extra line in `trel peers` docs in `README.md`
  src/cli/README.md
Labels: enhancement, comp: docs, P4, comp: cli

#9612 [mle] add `ChannelTlvValue` to use in `ChannelTlv` & `CslChannelTlv`
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#9613 [posix] more robust netlink message handler
  src/posix/platform/netif.cpp
Labels: platform: posix

#9614 [joiner-router] enhance & fix appending TLVs to Joiner Entrust msg
  src/core/meshcop/joiner_router.cpp
Labels: bug, enhancement, P4, comp: meshcop

#9617 [test] define all unit tests in `ot` namespace
  tests/unit/test_aes.cpp
  tests/unit/test_child.cpp
  tests/unit/test_child_table.cpp
  tests/unit/test_cmd_line_parser.cpp
  tests/unit/test_dso.cpp
  tests/unit/test_heap.cpp
  tests/unit/test_hkdf_sha256.cpp
  tests/unit/test_ip_address.cpp
  tests/unit/test_link_metrics_manager.cpp
  tests/unit/test_link_quality.cpp
  tests/unit/test_lowpan.cpp
  tests/unit/test_mac_frame.cpp
  tests/unit/test_macros.cpp
  tests/unit/test_message_queue.cpp
  tests/unit/test_multicast_listeners_table.cpp
  tests/unit/test_ndproxy_table.cpp
  tests/unit/test_network_data.cpp
  tests/unit/test_pool.cpp
  tests/unit/test_power_calibration.cpp
  tests/unit/test_priority_queue.cpp
  tests/unit/test_pskc.cpp
  tests/unit/test_routing_manager.cpp
  tests/unit/test_spinel_buffer.cpp
  tests/unit/test_srp_server.cpp
  tests/unit/test_timer.cpp
  tests/unit/test_toolchain.cpp
  tests/unit/test_trickle_timer.cpp
  tests/unit/test_url.cpp
Labels: enhancement, P4, comp: unit-test

#9616 [dns] support longer key length in `otDnsTxtEntryIterator`
  include/openthread/dns.h
  include/openthread/instance.h
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/radio/trel_interface.cpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns

#9618 [num-limits] add `kBitsPerByte`, `BitSizeOf()`, and `BytesForBitSize()`
  include/openthread/instance.h
  include/openthread/platform/toolchain.h
  src/cli/cli.cpp
  src/core/coap/coap_message.cpp
  src/core/common/bit_vector.hpp
  src/core/common/encoding.hpp
  src/core/common/notifier.cpp
  src/core/common/numeric_limits.hpp
  src/core/common/time_ticker.hpp
  src/core/crypto/aes_ccm.cpp
  src/core/crypto/crypto_platform.cpp
  src/core/mac/channel_mask.hpp
  src/core/mac/mac_frame.hpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/net/ip4_types.cpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/thread/lowpan.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/utils/slaac_address.cpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_mtd.cpp
  src/posix/platform/netif.cpp
  tests/unit/test_checksum.cpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, P4

#9567 [posix] clear SPI tx buffer after usage
  src/posix/platform/spi_interface.cpp
Labels: platform: posix

#9601 [routing-manager] new API to get list of discovered routers
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: cli, comp: border router

#9615 [cli] add Doxygen tags to SRP commands
  src/cli/cli_srp_client.cpp
Labels: comp: docs, comp: cli

#9607 [routing-manager] learn and copy `M` & `O` flags from discovered routers
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9624 [simulation] SIGHUP when parent dies
  examples/apps/cli/main.c
  examples/apps/ncp/main.c
  src/posix/main.c
Labels: platform: simulation

#9524 [ip6] add API functions to enable multicast looping of a message
  include/openthread/instance.h
  include/openthread/message.h
  src/core/api/message_api.cpp
Labels: api: user, comp: ip6

#9619 [cli] make linkmetrics cli as a separate module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_link_metrics.cpp
  src/cli/cli_link_metrics.hpp
Labels: enhancement, P4, comp: cli, comp: link-metrics

#9501 [spinel] expose RestoreProperties as a public method within RadioSpinel
  src/lib/spinel/radio_spinel.hpp
Labels: comp: spinel

#9627 [docs] update Code of Conduct to Contributor Covenant v2.1
  CODE_OF_CONDUCT.md
Labels: comp: docs

#9643 [continuous-integration] fix bootstrap issue for ot-commissioner
  .github/workflows/simulation-1.1.yml
Labels: continuous-integration

#9640 [platform] fix compiling issue when use `SuccessOrDie`
  src/lib/platform/BUILD.gn
  src/lib/platform/exit_code.h
Labels: comp: build

#9646 [typo] fix error message of link metrics option dependency
  src/core/utils/link_metrics_manager.hpp
Labels: enhancement, P4

#9633 [mlr-manager] define `AddressArray` which uses `Array<Ip6::Address>`
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
Labels: enhancement, P4, comp: mlr

#9634 [ip6] update `Ip6::SelectSourceAddress()` to prefer non-deprecated addresses
  src/core/net/ip6.cpp
Labels: bug, P3, comp: ip6

#9630 [config] define `OPENTHREAD_CONFIG_TLS_UPDATE` in all cases
  src/core/config/ip6.h
Labels: enhancement, P4

#9635 [mlr] use shorter variable/method names
  src/core/api/ip6_api.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
Labels: enhancement, P4, comp: mlr

#9644 [posix] fix unused private variables
  src/posix/platform/configuration.cpp
  src/posix/platform/configuration.hpp
Labels: platform: posix

#9639 [csl] fix `TimerMicro::GetNow()` call in `sub_mac.cpp`
  .github/workflows/simulation-1.2.yml
  src/core/mac/sub_mac.cpp
Labels: bug, comp: mac, comp: csl

#9648 [tests] fix the check of external routes in `test_multi_thread_networks.py`
  tests/scripts/thread-cert/border_router/test_multi_thread_networks.py
Labels: continuous-integration, comp: border router

#9608 [dhcp6-pd] stop `PrefixManager` when `RoutingManager` is stopped
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: bug, comp: border router

#9626 [dataset] simplify saving/reading of TLVs in/from secure storage
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
Labels: comp: meshcop

#9658 [dataset-updater] fix possible use of uninitialized `Timestamp`
  src/core/meshcop/dataset_updater.cpp
Labels: enhancement, P4, comp: dataset

#9654 [border-router] add missing `otBorderRoutingDhcp6PdGetState()` declaration
  include/openthread/border_routing.h
  include/openthread/instance.h
Labels: enhancement, P4, api: user, comp: border router

#9638 [posix] unify the infra netif and backbone netif
  src/posix/platform/CMakeLists.txt
  src/posix/platform/backbone.cpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/platform-posix.h
  src/posix/platform/system.cpp
  src/posix/platform/udp.cpp
Labels: platform: posix, comp: backbone-router

#9653 [cli] add Doxygen for SRP server
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
Labels: comp: docs, comp: cli

#9659 [spinel] fix multipan rcp enable config
  src/lib/spinel/radio_spinel.hpp
Labels: bug, comp: build, comp: spinel

#9657 [bbr-local] smaller enhancements
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
Labels: enhancement, P4, comp: backbone-router

#9661 [tlvs] add `ReadValueAs()` & `WriteValueAs()` to simplify `MeshCop::Tlv`
  src/core/common/encoding.hpp
  src/core/common/tlvs.hpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/meshcop_leader.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: enhancement, P4, comp: meshcop

#9642 [srp-client] exclude non-preferred addresses in `AutoAddress` mode
  include/openthread/instance.h
  include/openthread/srp_client.h
  src/cli/README_SRP_CLIENT.md
  src/cli/cli_srp_client.cpp
  src/core/net/srp_client.cpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_srp_auto_host_address.py
Labels: enhancement, P4, comp:srp
