Repository openthread/openthread, pull requests merged in 2023-10, with the labels that each got.

#9482 [github-actions] fix the `codespell` version in `spell-check` job
  .github/workflows/build.yml
Labels: continuous-integration

#9477 [bbr-local] simplify `AddService()` and its use
  src/core/api/backbone_router_ftd_api.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: backbone-router

#9479 [mle] simplify reattach on losing connectivity to leader
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9264 [mle] send data polls after Child ID Request ack
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, comp: mle

#9485 [docs] fix typos in Doxygen documentation
  include/openthread/crypto.h
  include/openthread/instance.h
  include/openthread/joiner.h
  include/openthread/nat64.h
  include/openthread/netdata_publisher.h
  include/openthread/thread_ftd.h
  src/core/border_router/routing_manager.hpp
  src/core/coap/coap.hpp
  src/core/mac/mac_frame.hpp
  src/core/meshcop/dataset.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
  src/core/thread/router_table.hpp
  src/core/utils/mesh_diag.hpp
Labels: enhancement, comp: docs, P4

#9484 [mle] handle received Advertisements from `RxOnlyNeighbor` on FED
  src/core/radio/trel_interface.cpp
  src/core/thread/mle.cpp
  src/core/thread/neighbor_table.cpp
  src/core/thread/neighbor_table.hpp
Labels: enhancement, P4, comp: mle

#9437 [ip6] drop UDP datagrams from an untrusted origin to TMF port
  include/openthread/coap.h
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/message.h
  include/openthread/udp.h
  src/core/api/coap_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/message_api.cpp
  src/core/api/udp_api.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/nat64_translator.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/posix/platform/netif.cpp
  tests/scripts/thread-cert/border_router/test_firewall.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/pktverify/verify.py
  tests/unit/test_message.cpp
Labels: enhancement, comp: ip6

#9486 [routing-manager] include Stub Router flag in emitted RAs by BR
  src/core/border_router/routing_manager.cpp
  src/core/config/border_routing.h
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9490 [mle-router] add `RouterRoleTransition` nested class
  src/core/api/thread_ftd_api.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/network_data_notifier.cpp
Labels: enhancement, P4, comp: mle

#9492 [crypto-platform] fix build issue with mbedtls v3.5.0
  .github/workflows/build.yml
  src/core/crypto/crypto_platform.cpp
  third_party/mbedtls/mbedtls-config.h
Labels: comp: build

#9495 [mesh-forwarder] remove message if no pending tx in `SendMessage()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: bug, P4, comp: mesh-forwarder

#9496 [test] fix unused returned `error` warning in `test_message`
  tests/unit/test_message.cpp
Labels: enhancement, P4, comp: unit-test

#9506 [message] add `IsOrigin{}()` helper methods
  src/core/api/coap_api.cpp
  src/core/api/ip6_api.cpp
  src/core/api/udp_api.cpp
  src/core/common/message.hpp
  src/core/net/ip6.cpp
Labels: enhancement, P4

#9488 [cli] update `ip6addr -v` to include more info about address
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli

#9505 [mesh-forwarder] simplify multicast forward to sleepy children
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#9393 [spinel] create spinel interface based on the radio url protocol
  etc/cmake/options.cmake
  script/check-posix-build-cmake
  src/lib/hdlc/hdlc.cpp
  src/lib/hdlc/hdlc.hpp
  src/lib/spinel/BUILD.gn
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_metrics.h
  src/lib/spinel/spinel_interface.hpp
  src/lib/url/url.cpp
  src/lib/url/url.hpp
  src/ncp/ncp_hdlc.cpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/radio_url.cpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/trel.cpp
  src/posix/platform/vendor.cmake
  src/posix/platform/vendor_interface.hpp
  src/posix/platform/vendor_interface_example.cpp
  tests/scripts/expect/cli-region.exp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/unit/test_hdlc.cpp
Labels: P4, platform: posix, comp: spinel

#9509 [ip6-mpl] simplify `Mpl::HandleRetransmissionTimer()`
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
Labels: enhancement, P4, comp: ip6-mpl

#9510 [ip6-mpl] remove `aIsOutbound` input and use `aMessage.GetOrigin()`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
Labels: enhancement, P4, comp: ip6-mpl, comp: ip6

#9512 [ip6] fix constant name style and simplify filtering of ICMP types
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#9494 [ping-sender] allow setting multicast loop
  include/openthread/instance.h
  include/openthread/ping_sender.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/utils/ping_sender.cpp
  tests/toranj/cli/test-008-multicast-traffic.py
Labels: enhancement, P4, api: user, comp: cli

#9504 [docs] UDP commands - added Doxygen tags
  src/cli/README_UDP.md
  src/cli/cli_udp.cpp
Labels: comp: docs, comp: cli

#9503 [ip6] update tunnel message receive in `HandleDatagram()`
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#9513 [ip6] add `PrepareMulticastToLargerThanRealmLocal()`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#9519 [ip6] update `otNetifAddress.mNext` to be pointer to `const`
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/cli.cpp
  src/core/api/ip6_api.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/posix/platform/netif.cpp
Labels: enhancement, P4, api: user, comp: ip6

#9522 [mac] skip logging trel frame tx error when trel interface is disabled
  src/core/mac/mac.cpp
Labels: enhancement, P4, comp: mac

#9526 [meshcop-leader] update local variable name to follow convention
  src/core/meshcop/meshcop_leader.cpp
Labels: enhancement, P4, comp: meshcop

#9527 [netif] simplify applying mesh-local prefix change to addresses
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dhcp6_server.hpp
  src/core/net/nd_agent.cpp
  src/core/net/nd_agent.hpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/toranj/cli/test-025-mesh-local-prefix-change.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, comp: mle, comp: ip6

#9531 [meshcop] check `IsLeader()` before processing `LeaderPetition/KeepAlive`
  src/core/meshcop/meshcop_leader.cpp
Labels: enhancement, P4, comp: meshcop

#9532 [github-actions] add job summary to `size.yml` workflow
  .github/workflows/size.yml
Labels: enhancement, P4, github_actions

#9533 [ip6] use `OwnedPtr<Message>` to simplify message lifetime
  src/core/api/ip6_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/nat64_translator.cpp
  src/core/thread/child_supervision.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mesh_forwarder_mtd.cpp
Labels: enhancement, P4, comp: ip6

#9534 [dataset] highlight `SetTlv<ValueType>()` specializations in the docs
  src/core/meshcop/dataset.hpp
Labels: enhancement, P4, comp: dataset

#9475 [cli] update Dataset documentation with Pending Dataset usage and time units
  src/cli/README_DATASET.md
Labels: comp: docs, comp: cli, comp: meshcop

#9538 [tlv] add helper method to find/read TLVs in a sequence of TLVs
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/network_data_leader.cpp
Labels: enhancement, P4

#9516 [logging] add new `otLogPlat()` APIs with sub-module name
  include/openthread/instance.h
  include/openthread/logging.h
  src/core/api/logging_api.cpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: enhancement, P4, platform: posix, comp: logging

#9536 [spinel] use local variables to export mac key before sending over SPINEL
  src/lib/spinel/radio_spinel.cpp
Labels: comp: spinel

#9540 [meshcop-leader] simplify adding `CommissioningData`
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/meshcop_leader.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
Labels: enhancement, P4, comp: meshcop

#9539 [radio-spinel] simplify `SetMacKey()`
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: enhancement, P4, platform: posix, comp: spinel

#9541 [netdata] simplify parsing of Commissioning Dataset sub-TLVs
  src/core/backbone_router/bbr_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/joiner_router.hpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: meshcop, comp: netdata

#9543 [meshcop] simplify processing of Commissioner ID TLV
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/meshcop_leader.hpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  tests/scripts/expect/cli-commissioner.exp
  tests/unit/test_string.cpp
Labels: enhancement, P4, comp: meshcop

#9546 [netdata-leader] simplify `HandleTmf<kUriCommissionerGet>`
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
Labels: enhancement, P4, comp: netdata, comp: tmf

#9547 [udp] remove `aIpProto` from `Ip6::Udp::SendDatagram()`
  src/core/api/udp_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
Labels: enhancement, P4, comp: ip6

#9548 [tests] fix verification in `test_routing_manager.cpp`
  tests/unit/test_routing_manager.cpp
Labels: comp: unit-test

#9549 [netdata] resign active commissioner on NetData restore on leader
  src/core/meshcop/meshcop_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: meshcop, comp: netdata

#9550 [netdata] simplify and update `HandleTmf<kUriCommissionerSet>()`
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
Labels: enhancement, P4, comp: meshcop, comp: netdata

#9551 [nedata] add API to retrieve Commissioning Dataset
  include/openthread/commissioner.h
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/api/netdata_api.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/meshcop.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  tests/scripts/thread-cert/node.py
  tests/toranj/cli/cli.py
  tools/harness-thci/OpenThread.py
Labels: enhancement, P4, api: user, comp: cli, comp: netdata

#9556 [ip6] log checksum error from `Checksum::VerifyMessageChecksum()`
  src/core/net/checksum.cpp
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#9558 [docs] added xrefs from UDP CLI to UDP Concepts Guide
  src/cli/cli_udp.cpp
Labels: comp: docs, comp: cli

#9472 [posix] addressing coverity warning: resource leak
  src/posix/platform/settings.cpp
Labels: platform: posix

#9559 [mle] add `TxMessage::AppendSteeringData()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: netdata

#9528 [posix] add `otSysSetInfraNetif` API
  src/core/border_router/infra_if.cpp
  src/lib/platform/exit_code.h
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/system.cpp
Labels: P4, api: platform, platform: posix, comp: border router

#9555 [log] add `otLogGenerateNextHexDumpLine()` to generate hex dump
  include/openthread/instance.h
  include/openthread/logging.h
  src/cli/cli.cpp
  src/core/api/logging_api.cpp
  src/core/common/log.cpp
  src/core/common/log.hpp
  src/core/common/string.cpp
  src/core/common/string.hpp
  tests/scripts/expect/cli-promiscuous.exp
  tests/toranj/openthread-core-toranj-config.h
Labels: api: user, comp: cli, comp: logging

#9562 [posix] fix uninitialized pointer read (#9552)
  src/posix/platform/infra_if.cpp
Labels: platform: posix

#9523 [api] add API to reset to bootloader mode
  etc/cmake/options.cmake
  examples/platforms/simulation/misc.c
  include/openthread/instance.h
  include/openthread/platform/misc.h
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/instance_api.cpp
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/posix/platform/radio.cpp
  tests/scripts/expect/cli-reset.exp
  tests/unit/test_platform.cpp
Labels: api: platform

#9565 [mac] validate received ack frame PSDU in `ProcessEnhAckSecurity()`
  src/core/mac/mac.cpp
Labels: comp: mac

#9563 [netdata] simplify `Leader` class
  src/core/BUILD.gn
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
Labels: enhancement, P4, comp: netdata
