Repository openthread/openthread, pull requests merged in 2023-03, with the labels that each got.

#8819 [docs] add plat-dns module to Doxygen menu
  doc/ot_api_doc.h
Labels: comp: docs

#8815 [dnssd] add API for getting the upstream query status
  include/openthread/dnssd_server.h
  include/openthread/instance.h
  src/cli/cli.cpp
  src/core/api/dns_server_api.cpp
  src/core/net/dnssd_server.hpp
Labels: api: user, comp: cli, comp: dns

#8682 [mesh-diag] new module and new API to discover network topology
  doc/ot_api_doc.h
  etc/cmake/options.cmake
  examples/common-switches.mk
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/mesh_diag.h
  script/check-scan-build
  script/make-pretty
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/mesh_diag_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/config/mesh_diag.h
  src/core/openthread-core-config.h
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, comp: mesh-diag

#8824 [docs] dns browse: explain dns-sd proxy zone
  src/cli/README.md
Labels: comp: docs, comp: cli, comp: dns

#8307 [mle] send MLE adv on promotion router role / accept former child as router
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/scripts/thread-cert/Cert_5_1_01_RouterAttach.py
  tests/scripts/thread-cert/Cert_5_2_04_REEDUpgrade.py
  tests/scripts/thread-cert/Cert_5_3_06_RouterIdMask.py
  tests/scripts/thread-cert/Cert_5_5_02_LeaderReboot.py
  tests/scripts/thread-cert/Cert_5_5_05_SplitMergeREED.py
  tests/scripts/thread-cert/Cert_7_1_07_BorderRouterAsLeader.py
  tests/scripts/thread-cert/test_router_multicast_link_request.py
  tests/scripts/thread-cert/v1_2_router_5_1_1.py
Labels: enhancement, comp: mle

#8836 [mle] add `InitNeighbor()` method
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/topology.hpp
Labels: enhancement, P4, comp: mle

#8826 [netdata] mechanism to track max Network Data length since start/reset
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/core/api/netdata_api.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: netdata

#8807 [thread-cert] add Low Power test case 7_1_02
  tests/fuzz/ot_fuzz_framework.cpp
  tests/fuzz/ot_fuzz_framework.h
  tests/scripts/thread-cert/pktverify/consts.py
  tests/scripts/thread-cert/pktverify/layer_fields.py
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
  tests/scripts/thread-cert/v1_2_LowPower_7_1_02_SingleProbeLinkMetricsWithoutEnhancedAck.py
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
Labels: enhancement, P4, certification, comp: low-power, comp: link-metrics

#8701 [radio] mechanism to switch to PAN channel more quickly after CSL tx
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/mac_frame.hpp
  src/core/mac/sub_mac.cpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/mesh_forwarder.cpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_radio.cpp
Labels: enhancement, P4, api: platform, platform: posix, comp: rcp, comp: csl

#8845 [github-actions] update otns to python 3.9
  .github/workflows/otns.yml
Labels: continuous-integration

#8846 [dnssd] change `OT_DNS_QUERY_UPSTREAM` to `OT_DNS_UPSTREAM_QUERY` for consistency
  etc/cmake/options.cmake
  examples/README.md
  examples/common-switches.mk
  script/make-pretty
Labels: comp: build, comp: dns

#8834 [mesh-diag] add Net Diag Version TLV
  include/openthread/instance.h
  include/openthread/mesh_diag.h
  include/openthread/netdiag.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
Labels: enhancement, P4, comp: netdiag, comp: mesh-diag

#8848 [srp-server] fix -Werror=maybe-uninitialized
  src/core/net/srp_server.cpp
Labels: comp: build, comp:srp

#8849 [version] introduce `OT_THREAD_VERSION_1_3_1`
  CMakeLists.txt
  examples/common-switches.mk
  src/core/BUILD.gn
  src/core/openthread-core-config.h
  src/core/thread/version.hpp
Labels: enhancement, P4

#8839 [build] fix the warning `-Wunused-command-line-argument` on macOS
  src/posix/Makefile-posix
Labels: enhancement, P4, comp: build

#8720 [dataset] add `otDatasetConvertToTlvs()` API
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
  src/core/api/dataset_api.cpp
Labels: enhancement, P4, api: user, comp: cli, comp: dataset

#8831 [cli] update `dns` docs
  src/cli/cli.cpp
Labels: comp: docs, comp: cli, comp: dns

#8853 [mesh-diag] update `kMaxTlvsToRequest` constant
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
Labels: bug, P4, comp: mesh-diag

#8860 [netdata] ensure to free context ID once
  src/core/thread/network_data_leader_ftd.cpp
Labels: bug, P3, comp: netdata

#8851 [mle] update and enhance processing of Route TLV
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4, comp: mle

#8835 [tcp] update `otTcpConnect()` doc to indicate currently supported behavior
  include/openthread/instance.h
  include/openthread/tcp.h
Labels: enhancement, comp: docs, P3, comp: tcp

#8867 [csl] add code comment & explanation for `HandleCslTimer`
  src/core/mac/sub_mac.cpp
Labels: enhancement, comp: docs, P4, Thread 1.2, comp: low-power

#8863 [mac] add build config for timeout for receiving a Data Frame
  src/core/config/mac.h
  src/core/mac/mac.hpp
Labels: enhancement, comp: mac

#8877 [mle] add `IncrementLinkQuality()` to `ConnectivityTlv`
  src/core/thread/mle_router.cpp
  src/core/thread/mle_tlvs.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#8870 [netdata] new API to get lowpan context IDs
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/api/netdata_api.cpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_types.cpp
  src/core/thread/network_data_types.hpp
  tests/scripts/thread-cert/node.py
  tests/toranj/cli/cli.py
  tools/harness-thci/OpenThread.py
  tools/otci/otci/otci.py
Labels: enhancement, P4, api: user, comp: cli, comp: netdata

#8876 [netdata] simplify tracking of lowpan context IDs
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
  tests/toranj/cli/test-019-netdata-context-id.py
  tests/toranj/start.sh
Labels: enhancement, P4, comp: netdata

#8878 [mle] update how we set/get Parent Priority on `ConnectivityTlv`
  src/core/thread/mle_tlvs.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#8872 [dua] avoid unnecessary time ticker processing
  src/core/thread/dua_manager.cpp
Labels: comp: dua

#8868 [cli] add docs for `networkkey` through `parentpriority`
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8882 [netif] simplify `ThreadNetif`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/child_supervision.cpp
  src/core/thread/thread_netif.cpp
  src/core/thread/thread_netif.hpp
Labels: enhancement, P4

#8874 [dua] remove DUA address if network data no longer contains DUA prefix
  src/core/thread/dua_manager.cpp
  src/core/thread/mle.cpp
Labels: comp: dua

#8670 [mle] add `otDeviceProperties` to calculate local leader weight
  etc/cmake/options.cmake
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/config/misc.h
  src/core/config/mle.h
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  tests/unit/CMakeLists.txt
  tests/unit/test_mle.cpp
Labels: enhancement, comp: docs, P4, api: user, comp: cli, comp: mle

#8891 [trel] protect against invalid long TXT data keys from TREL peer
  src/core/radio/trel_interface.cpp
Labels: enhancement, P4, comp: trel

#8897 [tlv] fix `ReadStringTlv()`
  src/core/common/tlvs.cpp
Labels: bug, P4

#8879 [srp] add support for short (4-bytes) lease option variant
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#8875 [cli] add docs for `partitionid` through `pollperiod`
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8899 [logging] fix print format for some variables requiring `%u` or `%lu`
  src/core/mac/sub_mac.cpp
  src/core/utils/history_tracker.cpp
Labels: comp: logging

#8908 [ip6] combine `PassToHost()` calls in `Ip6::HandleDatagram()`
  src/core/net/ip6.cpp
Labels: enhancement, P4

#8909 [spinel] abort host after receiving unexpected reset from RCP
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P3

#8915 [docs] disable Doxygen autolink for the word "Joiner"
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8907 [netif] add diagnostic log for when no valid route is found
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#8894 [radio] clarify `mTimestamp` meaning in comments
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/mac_frame.hpp
Labels: comp: docs, api: platform, comp: low-power

#8847 [test] add tests for DNS forwarding
  script/test
  src/posix/platform/resolver.cpp
  tests/scripts/thread-cert/border_router/nat64/test_upstream_dns.py
  tests/scripts/thread-cert/border_router/test_dnssd_instance_name_with_space.py
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: dns
