Repository openthread/openthread, pull requests merged in 2023-02, with the labels that each got.

#8410 [mle] add API for changing number of child router links
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, api: user, comp: mle

#8706 [posix] remove Android.mk
  .github/workflows/build.yml
  Android.mk
  script/check-android-build
  script/update-makefiles.py
Labels: comp: build, platform: posix

#8707 [test] move tcplp tests into unit workflow
  .github/workflows/posix.yml
  .github/workflows/unit.yml
Labels: continuous-integration

#8709 [ip6] rename `Option` sub-classes
  src/core/coap/coap_message.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
  src/core/thread/lowpan.cpp
Labels: enhancement, P4, comp: ip6-mpl, comp: ip6

#8711 [ip6] refer to correct RFC in comments/docs
  src/core/net/ip4_types.cpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, comp: docs, P4, comp: ip6

#8648 [github-actions] update `toranj-ncp` to trigger on pull request only
  .github/workflows/toranj.yml
  tests/toranj/start.sh
Labels: enhancement, P4, continuous-integration

#8710 [cli] add documentation for `dns resolve4` command
  src/cli/README.md
Labels: enhancement, comp: docs, P4, comp: cli

#8712 [ip6] remove default constructor for `Ip6::Option`
  src/core/net/ip6_headers.cpp
  src/core/net/ip6_headers.hpp
  src/core/thread/lowpan.cpp
Labels: enhancement, P4, comp: ip6

#8717 [ip6] ensure to make room for new header at correct offset
  src/core/net/ip6.cpp
Labels: bug, P4, comp: ip6

#8714 [link-metrics] simplify `HandleManagementRequest()`
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
Labels: enhancement, P4, comp: link-metrics

#8721 [tests] declare python dependencies with specific versions
  tests/scripts/thread-cert/requirements.in
  tests/scripts/thread-cert/requirements.txt
Labels: enhancement, P4, continuous-integration

#8700 [coap] copy token from block2 request message to next response token
  src/core/coap/coap.cpp
Labels: comp: coap

#8704 [mle] retransmit link request after router reset
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  tests/scripts/expect/_common.exp
  tests/scripts/thread-cert/Cert_5_3_06_RouterIdMask.py
  tests/scripts/thread-cert/Cert_5_5_02_LeaderReboot.py
  tests/scripts/thread-cert/Cert_5_5_03_SplitMergeChildren.py
  tests/scripts/thread-cert/Cert_5_5_04_SplitMergeRouters.py
  tests/scripts/thread-cert/Cert_5_5_07_SplitMergeThreeWay.py
  tests/scripts/thread-cert/Cert_7_1_06_BorderRouterAsLeader.py
  tests/scripts/thread-cert/Cert_9_2_15_PendingPartition.py
  tests/scripts/thread-cert/Cert_9_2_16_ActivePendingPartition.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/test_detach.py
  tests/scripts/thread-cert/test_history_tracker.py
  tests/scripts/thread-cert/test_leader_reboot_multiple_link_request.py
  tests/scripts/thread-cert/test_router_reboot_multiple_link_request.py
  tests/scripts/thread-cert/test_set_mliid.py
  tests/scripts/thread-cert/v1_2_test_backbone_router_service.py
  tests/scripts/thread-cert/v1_2_test_csl_transmission.py
  tests/scripts/thread-cert/v1_2_test_multicast_listener_registration.py
  tests/toranj/ncp/test-017-parent-reset-child-recovery.py
  tests/toranj/ncp/test-027-child-mode-change.py
  tests/toranj/ncp/test-600-channel-manager-properties.py
  tests/unit/test_routing_manager.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, comp: mle

#8727 [cli] add documentation for the DNS CLI commands
  src/cli/cli.cpp
Labels: comp: docs, comp: cli, comp: dns

#8719 [ip6] add `Option::ParseFrom()` and common `PadOption`
  src/core/net/ip6.cpp
  src/core/net/ip6_headers.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
  src/core/thread/lowpan.cpp
Labels: enhancement, P4, comp: ip6-mpl, comp: ip6

#8730 [router-table] use `Tasklet` to signal changes
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4

#8729 [cli] `nexthop` command to output next hop and path cost table
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
Labels: enhancement, P4, api: user, comp: cli

#8723 [ncp] remove legacy network support
  etc/cmake/options.cmake
  examples/Makefile-simulation
  examples/README.md
  examples/common-switches.mk
  include/openthread/instance.h
  include/openthread/ncp.h
  script/check-scan-build
  script/check-simulation-build-autotools
  script/cmake-build
  script/make-pretty
  src/cli/cli.cpp
  src/core/BUILD.gn
  src/core/config/misc.h
  src/core/config/openthread-core-config-check.h
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
  src/posix/Makefile-posix
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, comp: ncp

#8724 [test] use cmake to run unit tests
  .github/workflows/unit.yml
  CMakeLists.txt
  configure.ac
  script/check-scan-build
  script/package
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/Makefile.am
  src/lib/url/CMakeLists.txt
  src/lib/url/Makefile.am
  src/posix/platform/CMakeLists.txt
  src/posix/platform/Makefile.am
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/unit/CMakeLists.txt
  tests/unit/Makefile.am
  tests/unit/test_binary_search.cpp
  tests/unit/test_platform.cpp
  tests/unit/test_spinel_encoder.cpp
  tests/unit/test_string.cpp
Labels: comp: build, continuous-integration

#8736 [mac] ensure CSL parameters are initialized to zero
  src/core/mac/mac.cpp
Labels: bug, Thread 1.2, comp: low-power

#8739 [cmake] guard unit tests with `BUILD_TESTING`
  src/lib/spinel/CMakeLists.txt
  src/lib/url/CMakeLists.txt
Labels: comp: build

#8734 [history-tracker] track changes to router table (next hop, cost)
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_history.cpp
  src/core/api/history_tracker_api.cpp
  src/core/config/history_tracker.h
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, comp: cli, comp:history-tracker

#8740 [simul-platform] enhance radio `nodeidfilter` command
  examples/apps/cli/main.c
  examples/platforms/simulation/radio.c
  tests/toranj/cli/cli.py
Labels: enhancement, P4, comp: cli, platform: simulation

#8746 [net-diag] simplify `NetworkDiagnostic`
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: enhancement, P4, comp: netdiag

#8750 [tcp] correct misspelling in API docs
  include/openthread/instance.h
  include/openthread/tcp_ext.h
Labels: comp: docs, api: user, comp: tcp

#8731 [trel] add `otTrelSetEnabled` API
  include/openthread/instance.h
  include/openthread/trel.h
  src/cli/cli.cpp
  src/core/api/trel_api.cpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
Labels: api: user, comp: trel

#8749 [posix] disable addrconf generating LL address
  src/posix/platform/netif.cpp
Labels: enhancement, platform: posix

#8756 [net] fix typo multicast in comments
  src/core/net/udp6.hpp
Labels: comp: docs

#8138 [harness-simulation] keep capture files in sync at runtime
  tools/harness-simulation/harness/Thread_Harness/Sniffer/SimSniffer.py
  tools/harness-simulation/posix/sniffer_sim/proto/sniffer.proto
  tools/harness-simulation/posix/sniffer_sim/sniffer.py
Labels: enhancement, certification, comp: thci

#8526 [posix] set link type to none explicitly
  src/posix/platform/netif.cpp
Labels: platform: posix

#8762 [code-utils] use `num_utils` `Min`/`Max` to simplify code
  src/cli/cli.cpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap_secure.cpp
  src/core/api/backbone_router_ftd_api.cpp
  src/core/common/message.cpp
  src/core/crypto/crypto_platform.cpp
  src/core/diags/factory_diags.cpp
  src/core/thread/mlr_manager.cpp
  src/lib/spinel/radio_spinel_impl.hpp
Labels: enhancement, P4

#8768 [test] update `test_srp_server` to clear the service instances
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4

#8770 [csl] fix indirect retransmission of frame previously transmitted via CSL
  src/core/mac/data_poll_handler.cpp
Labels: bug, Thread 1.2, comp: low-power

#8774 [test] allow TREL disabled by default
  tests/scripts/thread-cert/border_router/test_trel_connectivity.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: trel

#8775 [trel] remove deprecated `otTrelEnable`/`otTrelDisable` APIs
  include/openthread/instance.h
  include/openthread/trel.h
  src/core/api/trel_api.cpp
Labels: api: user, comp: trel

#8777 [routing-manager] use NA target address
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: bug, enhancement, P2, comp: border router

#8778 [build] add CMake option for enabling TCP
  etc/cmake/options.cmake
  examples/README.md
  examples/common-switches.mk
Labels: enhancement, P4, comp: build

#8780 [docker] avoid unnecessary copying when building an image for testing
  script/test
Labels: continuous-integration

#8785 [docs] add Nabu Casa to supporter list
  README.md
  doc/images/ot-contrib-nabu-casa.png
Labels: comp: docs

#8787 [ip6] simplify `Ip6::HandleDatagram()`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#8790 [cli] update dataset readme with the latest output
  src/cli/README_DATASET.md
Labels: comp: docs, comp: cli

#8776 [commissioner] add joiner session timeout
  src/core/config/commissioner.h
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
Labels: enhancement, comp: meshcop

#8801 [posix] add missing dependencies to "openthread-posix" target
  src/posix/platform/CMakeLists.txt
  src/posix/platform/memory.cpp
Labels: comp: build, platform: posix

#8804 [cmake] fix `OT_TCP` option
  etc/cmake/options.cmake
Labels: bug, P3, comp: build

#8791 [unit] add a README guide for unit tests
  tests/unit/README.md
Labels: enhancement, comp: docs, P4

#8809 [backbone-router] define C++ enum/types mirroring public definitions
  src/core/api/backbone_router_ftd_api.cpp
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/multicast_listeners_table.cpp
  src/core/backbone_router/multicast_listeners_table.hpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/backbone_router/ndproxy_table.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
Labels: enhancement, P4, comp: backbone-router

#8808 [core] use `Min()` and `Max()` to track next timer fire time
  src/core/coap/coap.cpp
  src/core/meshcop/commissioner.cpp
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/sntp_client.cpp
  src/core/net/srp_client.cpp
  src/core/thread/mle.cpp
Labels: enhancement, P4

#8805 [net-diag] define `AppendDiagTlv()`
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
Labels: enhancement, P4, comp: netdiag

#8784 [routing-manager] new APIs to get state and new CLI commands
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/README.md
  src/cli/README_BR.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/node.py
  tools/harness-thci/OpenThread.py
Labels: enhancement, comp: docs, P4, api: user, comp: cli, comp: border router

#8811 [time-sync] define cpp enum/types mirroring public definitions
  src/core/api/network_time_api.cpp
  src/core/thread/time_sync_service.cpp
  src/core/thread/time_sync_service.hpp
Labels: enhancement, P4

#8796 [message-pool] track max used buffers
  include/openthread/instance.h
  include/openthread/message.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/message_api.cpp
  src/core/common/instance.cpp
  src/core/common/instance.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
Labels: enhancement, P4

#8812 [mle] smaller enhancements
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
Labels: enhancement, P4, comp: mle

#8800 [cli] added documentation for rcp and route
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8818 [cli] fix bad CLI command tag
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#8813 [mle-router] add common `SetStateRouterOrLeader()`
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle
