Repository openthread/openthread, pull requests merged in 2023-01, with the labels that each got.

#8608 [mle] use DUA address directly in `AppendAddressRegistrationTlv()`
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle, comp: dua

#8609 [docs] fix typo in comment
  include/openthread/instance.h
  include/openthread/platform/crypto.h
Labels: comp: docs, api: platform

#8610 [mle] add helper `RxInfo::IsNeighborStateValid()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8611 [notifier] update to use `Callback<HandlerType>`
  src/core/common/callback.hpp
  src/core/common/notifier.cpp
  src/core/common/notifier.hpp
Labels: enhancement, P4

#8602 [mle] define constants (C++ style) for OT configs used in MLE
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8579 [cli] new command to enable/disable discovery request callback
  src/cli/cli.cpp
  src/cli/cli.hpp
  tests/scripts/expect/cli-scan-discover.exp
Labels: enhancement, P4, comp: cli

#8612 [posix] add posix config file configuration
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, platform: posix

#8615 [ip6] simplify `SelectSourceAddress()`
  src/core/api/ip6_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/tcp6.cpp
Labels: enhancement, P4, comp: ip6

#8616 [netdata] use `LeaderBase::FindNextMatchingPrefixTlv()`
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
Labels: enhancement, P4, comp: netdata

#8617 [rcp] RCP to inform host of its supported RCP API version range
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_radio.cpp
Labels: enhancement, P3, platform: posix, comp: rcp

#8623 [router-table] move cost calc and related methods to `RouterTable`
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4, comp: mle

#8624 [router-table] simplify `GetNextHop()`
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4

#8640 [github-actions] fix bootstrap on macos
  .github/workflows/posix.yml
Labels: continuous-integration

#8638 [router-table] update `FillRouteTlv()` to use `GetPathCost()`
  src/core/thread/router_table.cpp
Labels: enhancement, P4

#8606 [cli] add csl info in single child info
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli

#8630 [posix] rename and move the configuration of host-rcp time sync interval
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, P4, platform: posix

#8634 [radio] refine the definition of SYMBOL_TIME
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/platform/radio.h
  src/core/radio/radio.hpp
Labels: enhancement, P4, api: platform, api: user

#8639 [netdiag] include `netdiag.h` header in `network_diagnostic_tlvs.hpp`
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: enhancement, P4, comp: netdiag

#8629 [router-table] update cost on FED and enhance `GetPathCost()`
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  src/core/thread/topology.cpp
  src/core/thread/topology.hpp
  tests/toranj/cli/test-008-multicast-traffic.py
Labels: enhancement, P4, comp: mle

#8643 [mle] simplify `HandleAdvertisement()`
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#8619 [infra-if] add API for querying infra link status
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
Labels: enhancement, platform: posix

#8645 [mle] update `HandleAdv` to not exit when deciding to promote to router
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8646 [mle] always check for stale parent in `HandleAdv()`
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8644 [router-table] simplify `UpdateRoutes()` and how to reset Adv interval
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4

#8650 [trel] use same constant for noise-floor under TREL radio link only
  src/core/mac/mac_links.hpp
  src/core/radio/radio.hpp
Labels: enhancement, P4, comp: trel, comp: mac

#8651 [mac] ensure to apply RSS filter on all rx frame including ack
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_filter.cpp
  src/core/mac/mac_filter.hpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_callbacks.cpp
  src/core/thread/link_quality.hpp
Labels: bug, enhancement, P4, comp: mac

#8656 [netdata] update `CompareRouteEntries()` on MTD to prefer self
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/network_data_leader.cpp
Labels: enhancement, P4, comp: netdata

#8657 [mle] keep router table next hop and cost on REED to router promotion
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#8654 [data-poll-sender] faster rtx polling for CSL
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.hpp
  src/core/thread/mle.cpp
Labels: enhancement, Thread 1.2, comp: low-power

#8653 [router-table] new API to get next hop and cost
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-018-next-hop-and-path-cost.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: cli, continuous-integration, comp: mle

#8660 [mac-frame] update `InitMacHeader()`
  examples/platforms/utils/mac_frame.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/common/frame_builder.cpp
  src/core/common/frame_builder.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_types.hpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
  src/core/thread/link_metrics_types.cpp
  src/core/thread/link_metrics_types.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac

#8667 [log] fix some print format when enable csl debug
  src/core/mac/sub_mac.cpp
Labels: bug, P4, Thread 1.2, comp: low-power

#8665 [ip6] style enhancements and renames
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#8666 [ip6] check role to allow forwarding back to Thread
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: ip6

#8607 [radio] new API to update frame counter only if new value is larger
  include/openthread/instance.h
  include/openthread/link_raw.h
  include/openthread/platform/radio.h
  src/core/api/link_raw_api.cpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  src/core/thread/mle.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_radio.cpp
  src/posix/platform/radio.cpp
Labels: enhancement, P4, api: platform, comp: rcp, comp: mac

#8671 [github-actions] fix cmake 3.10.3 install
  .github/workflows/build.yml
Labels: continuous-integration

#8672 [ip6-mpl] check the length when reading MPL Option
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
Labels: enhancement, P4, comp: ip6-mpl

#8257 [cli-tcp] add TLS mode to TCP CLI tool and TLS callbacks to TCP API
  Android.mk
  include/openthread/instance.h
  include/openthread/tcp_ext.h
  src/cli/README_TCP.md
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
  src/core/api/tcp_ext_api.cpp
  src/core/config/ip6.h
  src/core/utils/heap.hpp
  tests/scripts/expect/cli-tcp-tls.exp
  third_party/mbedtls/mbedtls-config.h
Labels: comp: cli, comp: tcp

#8584 [diag] add power calibration related diag commands
  examples/platforms/simulation/diag.c
  include/openthread/instance.h
  include/openthread/platform/diag.h
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/core/utils/power_calibration.cpp
  src/core/utils/power_calibration.hpp
  src/posix/platform/openthread-core-posix-config.h
  src/posix/platform/radio.cpp
  tests/scripts/expect/cli-diags.exp
  tests/scripts/expect/posix-power-calibration.exp
Labels: P3, comp: diags

#8684 [ip6] add `GetSize()` to `ExtensionHeader` and `OptionHeader`
  src/core/net/ip6.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_mpl.hpp
  src/core/thread/lowpan.cpp
Labels: enhancement, P4, comp: ip6

#8683 [csl] reset tx attempt on `mCslTxChild` when msg is replaced/purged
  src/core/thread/csl_tx_scheduler.cpp
Labels: bug, P2, comp: low-power, comp: csl

#8398 [net-diags] include link quality in child table entry
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: enhancement, P4, comp: netdiag

#8686 [core] use `AppendBytesFromMessage()` to copy bytes between messages
  src/core/common/message.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/net/dns_client.cpp
  src/core/net/icmp6.cpp
Labels: enhancement, P4

#8693 [cli-tcp] fix TLS configuration for different platforms
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
Labels: comp: cli, comp: tcp

#8697 [api] include `mLinkMargin` in `otNeighborInfo`
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/thread/topology.cpp
Labels: enhancement, P4, api: user
