Repository openthread/openthread, pull requests merged in 2023-06, with the labels that each got.

#9117 [core] use `Min()`, `Max()` to clip values
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac_types.cpp
  src/core/mac/sub_mac.cpp
  src/core/net/srp_client.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_types.hpp
Labels: enhancement, P4

#9119 [backbone-router] use `Clamp` to check MLR timeout value
  src/core/backbone_router/bbr_leader.cpp
Labels: enhancement, P4, comp: backbone-router

#9121 [routing-manager] fix deprecating on-link prefix from inactive router
  src/core/border_router/routing_manager.cpp
Labels: bug, P4, comp: border router

#9115 [toranj] update `build.sh` script to use CMake for all builds
  .github/workflows/toranj.yml
  script/check-posix-build-autotools
  tests/toranj/README_CLI.md
  tests/toranj/build.sh
Labels: enhancement, P4

#9128 [cli] add CLI Backbone Router (`Bbr`) sub-module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/Makefile.am
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_bbr.cpp
  src/cli/cli_bbr.hpp
Labels: enhancement, P4, comp: cli, comp: backbone-router

#9107 [posix] unify the spinel interface functions
  src/lib/spinel/spinel_interface.hpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/vendor_interface.hpp
  src/posix/platform/vendor_interface_example.cpp
Labels: P3, platform: posix, comp: rcp

#9137 [mle] simplify tracking of registered DUA address by child
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/neighbor_table.cpp
Labels: enhancement, comp: mle, comp: dua

#9138 [cli] add helper `ProcessEnableDisable()` methods
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_dns.cpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
Labels: enhancement, P4, comp: cli

#9134 [mlr] use `Array<>` to track old registered MLR addresses
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
Labels: enhancement, P4, comp: backbone-router

#9147 [netif] use fix type to u8 for addr_gen_mode
  src/posix/platform/netif.cpp
Labels: bug, platform: posix

#9133 [logging] fix rtt logging not using defined buffer index
  examples/platforms/utils/logging_rtt.c
Labels: bug, comp: logging

#9127 [posix] replace fd_sets with the mainloop context
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/lib/spinel/spinel_interface.hpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/radio.cpp
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/system.cpp
  src/posix/platform/trel.cpp
  src/posix/platform/vendor_interface.hpp
  src/posix/platform/vendor_interface_example.cpp
  src/posix/platform/virtual_time.cpp
Labels: enhancement, P4, platform: posix

#9139 [spinel] fix the non-virtual destructor build error
  src/lib/spinel/spinel_interface.hpp
Labels: P2, comp: build

#9144 [tlvs] new helper to find the start and end offsets of a TLV value
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/utils/mesh_diag.cpp
Labels: enhancement, P4

#9050 [routing-manager] initial PD support with platform generated RA
  etc/cmake/options.cmake
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/border_routing.h
  include/openthread/instance.h
  include/openthread/platform/border_routing.h
  script/make-pretty
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  src/core/net/nd6.hpp
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/test_routing_manager.cpp
Labels: enhancement, comp: border router

#9152 [bbr] simplify `DomainPrefixEvent`
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_local.hpp
  src/core/backbone_router/ndproxy_table.cpp
  src/core/backbone_router/ndproxy_table.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
Labels: enhancement, P4, comp: backbone-router

#9158 [cmake] fix `OT_THREAD_VERSION` comparison in CMake
  CMakeLists.txt
  etc/cmake/options.cmake
Labels: bug, P4, comp: build

#9140 [spinel] remove fetching the ncp dataset
  .github/workflows/posix.yml
  script/check-ncp-rcp-migrate
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/radio_spinel_impl.hpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio_url.cpp
Labels: enhancement, P4, comp: rcp

#9157 [mle] restrict `otDeviceProperties` to version 1.3.1 or later
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.cpp
  src/core/thread/mle_types.hpp
  tests/unit/test_mle.cpp
Labels: enhancement, P4, api: user, comp: mle

#9040 [csl] improved CSL debug logging
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
Labels: Thread 1.2, comp: low-power

#9159 [toranj] update `build.sh` script to use Thread version 1.3.1
  tests/toranj/build.sh
Labels: enhancement, P4, comp: build, continuous-integration

#9155 [docs] cli cmd doc updates (mliid - multiradio neighbor)
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/multi_radio.h
  src/cli/cli.cpp
Labels: comp: docs, comp: cli

#9154 [mle] unicast Link Request to 1.2.1 or earlier parent on router role promo
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9150 [spinel] move the `MultiFrameBuffer` implementation to multi_frame_buffer.hpp
  src/lib/hdlc/CMakeLists.txt
  src/lib/hdlc/Makefile.am
  src/lib/hdlc/hdlc.cpp
  src/lib/hdlc/hdlc.hpp
  src/lib/spinel/Makefile.am
  src/lib/spinel/multi_frame_buffer.hpp
  src/lib/spinel/spinel_interface.hpp
  src/ncp/ncp_hdlc.hpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  tests/unit/test_hdlc.cpp
Labels: enhancement, P4, comp: spinel

#9164 [config] add `mesh_forwarder.h` config header file
  src/core/BUILD.gn
  src/core/Makefile.am
  src/core/config/mesh_forwarder.h
  src/core/config/misc.h
  src/core/openthread-core-config.h
Labels: enhancement, P4

#9167 [routing-manager] require valid on-link prefix to be /64
  src/core/border_router/routing_manager.cpp
Labels: enhancement, comp: border router

#9172 [mesh-diag] fix initializing of `mEndOffset` in `ChildIterator`
  src/core/utils/mesh_diag.cpp
Labels: bug, P3, comp: mesh-diag

#9171 [cli] update `OutputEidCacheEntry()`
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli

#9151 [spinel] move `SpiFrame` implementation to spi_frame.hpp
  src/lib/spinel/BUILD.gn
  src/lib/spinel/Makefile.am
  src/lib/spinel/spi_frame.hpp
  src/ncp/ncp_spi.cpp
  src/ncp/ncp_spi.hpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
Labels: enhancement, P4, comp: spinel

#9176 [routing-manager] remove unnecessary `kOnMeshPrefixLength` declaration
  src/core/border_router/routing_manager.cpp
Labels: enhancement, comp: border router

#9071 [radio] add radio statistics of tx/rx/sleep cycle
  examples/platforms/simulation/openthread-core-simulation-config.h
  include/Makefile.am
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/radio_stats.h
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/Makefile.am
  src/core/api/radio_stats_api.cpp
  src/core/common/instance.hpp
  src/core/config/radio_link.h
  src/core/mac/mac_frame.hpp
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_callbacks.cpp
  tests/scripts/expect/cli_non_rcp-radiostats.exp
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, comp: docs, P3, comp: cli, comp: low-power

#9142 [cli] add command to get tcp results
  src/cli/README_TCP.md
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
Labels: enhancement, comp: cli, comp: tcp

#9156 [mac] enable/disable radio together with MAC
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
Labels: enhancement, comp: mac

#9173 [netif] simplify signaling address events
  src/core/net/netif.cpp
  src/core/net/netif.hpp
Labels: enhancement, P4, comp: ip6

#9180 [coap] fix minor typo
  .code-spell-ignore
  tests/scripts/thread-cert/coap.py
Labels: comp: coap

#9175 [thci] revert spellcheck in THCI method names
  .code-spell-ignore
  tools/harness-thci/OpenThread.py
  tools/harness-thci/OpenThread_WpanCtl.py
Labels: certification

#9183 [expect] properly configure operational dataset
  tests/scripts/expect/_common.exp
  tests/scripts/expect/cli-multicast-loop.exp
  tests/scripts/expect/cli-networkname.exp
  tests/scripts/expect/cli-reset.exp
  tests/scripts/expect/posix-rcp-restoration.exp
  tests/scripts/expect/tun-dns-client.exp
  tests/scripts/expect/tun-sntp.exp
  tests/scripts/expect/tun-udp.exp
Labels: enhancement, continuous-integration

#9193 [cli] expose `otLinkSetEnabled`
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, comp: cli

#9160 [posix] add posix support for sending RA messages to routing manager
  include/openthread/icmp6.h
  include/openthread/instance.h
  include/openthread/ip6.h
  src/posix/platform/netif.cpp
Labels: enhancement, platform: posix, comp: border router

#9189 [thread-cert] properly configure operational dataset
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/thread_cert.py
Labels: enhancement, continuous-integration

#9190 [otci] properly configure operational dataset
  tools/otci/tests/test_otci.py
Labels: enhancement, continuous-integration

#9199 [csl] ensure child is synchronized when preparing a CSL transmission
  src/core/thread/csl_tx_scheduler.cpp
Labels: bug, comp: low-power

#9195 [docs] add radio defgroup for proper documentation
  doc/ot_api_doc.h
  include/openthread/instance.h
  include/openthread/radio_stats.h
Labels: comp: docs, api: user

#9200 [test] update unit test emulating radio
  tests/unit/test_dns_client.cpp
  tests/unit/test_routing_manager.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp: unit-test

#9202 [script] properly configure dataset in `check-posix-pty`
  script/check-posix-pty
Labels: enhancement, continuous-integration

#9198 [srp-server] allow service instance label with dot character
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_dns.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#9203 [unit-test] properly configure operational dataset
  tests/unit/test_dns_client.cpp
  tests/unit/test_routing_manager.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, continuous-integration

#9207 [toranj-cli] properly configure operational dataset
  tests/toranj/cli/cli.py
Labels: enhancement, continuous-integration

#9073 [netdata] mechanism to detect & signal when network data gets full
  include/openthread/border_router.h
  include/openthread/instance.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/api/border_router_api.cpp
  src/core/config/border_router.h
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_leader_ftd.hpp
  src/core/thread/network_data_local.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_notifier.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-022-netdata-full.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: netdata

#9209 [tests] properly configure operational dataset in BR tests
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: enhancement, continuous-integration

#9212 [logging] fix print format related to infra netif logs
  src/core/border_router/routing_manager.cpp
Labels: comp: border router

#9078 [tmf] BRs default to 256 address cache entries
  src/core/config/tmf.h
  src/posix/platform/openthread-core-posix-config.h
Labels: enhancement, P4, comp: tmf

#9213 [message] remove child mask from message metadata in MTD
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/thread/mesh_forwarder.cpp
Labels: enhancement

#9205 [message] allow heap usage when using non-thread commissioning
  src/core/common/message.cpp
Labels: enhancement, comp: build

#9206 [meshcop] fix compilation error mbedtls_base64_encode not defined
  src/core/meshcop/dtls.hpp
Labels: comp: build, comp: meshcop

#9215 [dataset] add build option for `GenerateLocal`
  etc/cmake/options.cmake
  src/core/config/misc.h
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/thread/mle_router.cpp
  tests/toranj/build.sh
Labels: enhancement, comp: meshcop

#9187 [mle] delay router role downgrade on security policy change
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/scripts/thread-cert/Cert_9_2_05_ActiveDataset.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_router_downgrade_on_sec_policy_change.py
  tools/otci/otci/otci.py
Labels: enhancement, P4, comp: mle, comp: dataset

#9245 [mac] move ack processing to `HandleTransmitDone()`
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_callbacks.cpp
  src/core/radio/trel_link.cpp
  tests/scripts/thread-cert/v1_2_test_enhanced_keep_alive.py
Labels: comp: mac

#9242 [build] cleanup autotools references
  .gitattributes
  .github/workflows/build.yml
  .gitignore
  etc/docker/Makefile
  examples/README.md
  examples/common-switches.mk
  examples/platforms/Makefile.platform.am
  examples/platforms/simulation/Makefile.platform.am
  script/bootstrap
Labels: enhancement, comp: build
