Repository openthread/openthread, pull requests merged in 2024-04, with the labels that each got.

#9986 [link-metrics] fix race condition
  src/core/mac/mac_frame.cpp
Labels: bug, P1, comp: link-metrics

#9989 [mle] simplify `CheckReachablity()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9987 [ip6] allow delivering RLOC/ALOC traffic to host
  src/core/net/ip6.cpp
Labels: comp: ip6

#9991 [dataset] define `Dataset::Tlvs` type
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/tcat_agent.cpp
Labels: enhancement, P4, comp: dataset

#9992 [srp-sever] add `LogError()`
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
Labels: enhancement, P4, comp:srp, comp: logging

#9990 [test] add tests for multi-BR network resilience during BR removal
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-501-multi-br-failure-recovery.py
  tests/toranj/cli/test-502-multi-br-leader-failure-recovery.py
  tests/toranj/start.sh
Labels: continuous-integration, comp: border router, tests

#9996 [logging] introduce `LogWarnOnError()` for standardized error logging
  src/core/common/log.cpp
  src/core/common/log.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/tcat_agent.cpp
  src/core/meshcop/tcat_agent.hpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/ip6.cpp
  src/core/net/sntp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/energy_scan_server.cpp
  src/core/thread/mle.cpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/panid_query_server.cpp
  src/core/utils/channel_manager.cpp
  src/core/utils/otns.cpp
Labels: enhancement, P4, comp: logging

#9937 [netdata-publisher] distinguish SRP/DNS unicast entries
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, comp: netdata

#9997 [plat-utils] enhance `otMacFrameDoesAddrMatch()`
  examples/platforms/utils/mac_frame.cpp
Labels: enhancement, P4

#9978 [mle] MTD to handle udp time sync message
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mle

#9977 [spinel] add time sync feature to the spinel
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: comp: spinel

#9966 [utils] implement Verhoeff checksum calculation and validation
  doc/ot_api_doc.h
  etc/cmake/options.cmake
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/verhoeff_checksum.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/verhoeff_checksum_api.cpp
  src/core/config/misc.h
  src/core/utils/verhoeff_checksum.cpp
  src/core/utils/verhoeff_checksum.hpp
  tests/unit/test_checksum.cpp
Labels: enhancement, P4, api: user, comp: cli

#9797 [mdns] add native mDNS support in OpenThread
  doc/ot_api_doc.h
  doc/ot_config_doc.h
  etc/cmake/options.cmake
  examples/config/ot-core-config-check-size-br.h
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/mdns_socket.c
  examples/platforms/simulation/platform-config.h
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/system.c
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/mdns.h
  include/openthread/platform/mdns_socket.h
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_mdns.cpp
  src/cli/cli_mdns.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/mdns_api.cpp
  src/core/config/mdns.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  src/core/openthread-core-config.h
  src/posix/platform/CMakeLists.txt
  src/posix/platform/mdns_socket.cpp
  src/posix/platform/mdns_socket.hpp
  src/posix/platform/system.cpp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/CMakeLists.txt
  tests/unit/test_mdns.cpp
  tests/unit/test_platform.cpp
  tests/unit/test_platform.h
Labels: api: platform, api: user, comp: dns, comp: mdns

#10007 [dataset] `GenerateRandom()` to build network name using `StringWriter`
  src/core/meshcop/dataset.cpp
Labels: enhancement, P4, comp: dataset

#10012 [message] introduce `RemoveFooter()`
  src/core/coap/coap_message.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/ip6_mpl.cpp
  src/core/thread/mle.cpp
Labels: enhancement, P4

#10013 [dataset] add `ApplyConfiguration()` overload without default parameter
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10018 [dataset] define template method to check/get/set components
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/tcat_agent.cpp
  src/core/utils/channel_manager.cpp
Labels: enhancement, P4, comp: dataset

#10019 [dataset] use `Tlv::Find<>()` to check commissioner session ID
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10021 [daemon] avoid using `defined(__ANDROID__)` macro in `daemon.cpp`
  src/posix/platform/daemon.cpp
Labels: bug, platform: posix

#10024 [dnssd-server] remove unused private method
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: enhancement, P4, comp: dns

#10020 [dataset] simplify `DatasetManager::HandleGet()` & `SendGetResponse()`
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset

#10023 [dataset] enforce maximum delay timer value and improve handling
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/meshcop_leader.cpp
  src/core/meshcop/meshcop_leader.hpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: enhancement, P4, comp: dataset

#10033 [mle] restart role transition timeout from `SetRouterEligible(true)`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10026 [cli] update README files to clarify a Commissioner is used for changing datasets
  src/cli/README_COMMISSIONER.md
  src/cli/README_COMMISSIONING.md
  src/cli/README_DATASET.md
Labels: comp: docs, comp: cli

#10025 [spinel] breakdown radio spinel
  src/lib/spinel/BUILD.gn
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel_driver.cpp
  src/lib/spinel/spinel_driver.hpp
Labels: enhancement, P3, comp: spinel

#10034 [cmake] add `OT_BORDER_AGENT_EPSKC` in CMake options
  etc/cmake/options.cmake
Labels: enhancement, P4, comp: border agent

#10037 [dns] add `Name::StripName()` and support in-place `ExtractLabels()`
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns

#10040 [dataset] use `IsActiveDataset()/IsPendingDataset()` for type checks
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10043 [dataset] simplify `AppendMleDatasetTlv()`
  src/core/common/tlvs.hpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10014 [icmp] add `OT_ICMP6_ECHO_HANDLER_RLOC_ALOC_ONLY` to `otIcmp6EchoMode`
  include/openthread/icmp6.h
  include/openthread/instance.h
  src/core/net/icmp6.cpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: api: user, comp: ip6

#9944 [dnssd] allow `Dnssd` platform to use native OT mDNS modules
  script/check-scan-build
  script/make-pretty
  src/core/border_router/infra_if.cpp
  src/core/border_router/routing_manager.cpp
  src/core/config/mdns.h
  src/core/config/platform.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/net/dnssd.cpp
  src/core/net/dnssd.hpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  src/core/net/srp_advertising_proxy.hpp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/test_mdns.cpp
  tests/unit/test_srp_adv_proxy.cpp
Labels: enhancement, P4, comp: dns, comp: mdns

#10041 [zephyr] add module name
  zephyr/module.yml
Labels: comp: build

#10000 ﻿[routing-manager] add support for to use a prefix received from DHCPv6 PD
  include/openthread/instance.h
  include/openthread/platform/border_routing.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: api: user, comp: border router

#9954 [mdns] add API to iterate over registered host/service/key entries
  include/openthread/instance.h
  include/openthread/mdns.h
  src/cli/cli_mdns.cpp
  src/cli/cli_mdns.hpp
  src/core/api/mdns_api.cpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
Labels: enhancement, P4, api: user, comp: mdns

#10056 [mesh-diag] fix a typo in a variable name
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
Labels: comp: mesh-diag

#9926 [dhcp] add callback to notify DHCPv6 PD state change
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: api: user

#10057 [spinel] fix spinel RCP min host api version cap bug
  src/lib/spinel/radio_spinel.cpp
Labels: bug, comp: rcp

#10055 [spinel] restore the source address match feature configuration
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: bug, P3, comp: spinel

#10059 [dataset] add generic `Read<Tlv>()` methods, refactor timestamp handling
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
Labels: enhancement, P4, comp: dataset

#10060 [dataset] relocate `IsTlvValid()` to `Dataset`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: enhancement, P4, comp: dataset

#10046 [link-metrics] add cli command to show link metrics manager state
  include/openthread/instance.h
  include/openthread/link_metrics.h
  src/cli/cli.cpp
  src/core/api/link_metrics_api.cpp
  src/core/utils/link_metrics_manager.hpp
  tests/scripts/expect/v1_2-linkmetricsmgr.exp
Labels: enhancement, P4, comp: cli, comp: link-metrics

#10028 [cli] add toggle to accept tmf udp messages from unknown origins
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: certification, platform: posix

#10063 [dataset] simplify `DatasetManager::HandleSet()`
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10064 [callback] add `InvokeAndClearIfSet()` helper
  src/core/common/callback.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/mle.cpp
  src/core/thread/mlr_manager.cpp
Labels: enhancement, P4

#10066 [dataset] update `SendGetRequest()` to use `TlvList` array
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10067 [test] add a CMake macro to simplify adding unit tests
  tests/unit/CMakeLists.txt
Labels: enhancement, comp: build

#10062 [routing-manager] exclude on-link prefixes with short preferred lifetime
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/scripts/thread-cert/border_router/test_on_link_prefix.py
  tests/scripts/thread-cert/node.py
Labels: enhancement, P4, comp: border router

#10068 [cli] fix ifdef guard
  src/cli/cli_utils.hpp
Labels: enhancement, P4, comp: cli

#10069 [dtls] fix undesired kernel filtering of connected UDP
  src/core/meshcop/secure_transport.cpp
Labels: comp: meshcop

#10088 [cli] fix namespace usage
  src/cli/cli_dns.cpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_udp.cpp
Labels: enhancement, P4, comp: cli

#10120 [dataset] define `MgmtSetCallback` type
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset
