Repository openthread/openthread, pull requests merged in 2024-05, with the labels that each got.

#10138 [cli] move a few static util methods to `Cli::Utils` class
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_br.cpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_dns.cpp
  src/cli/cli_history.cpp
  src/cli/cli_joiner.cpp
  src/cli/cli_network_data.cpp
  src/cli/cli_ping.cpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
  src/cli/cli_utils.cpp
  src/cli/cli_utils.hpp
Labels: enhancement, P4, comp: cli

#10051 [spinel] breakdown posix radio module
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel_driver.cpp
  src/lib/spinel/spinel_driver.hpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/coprocessor_type.h
  src/posix/platform/platform-posix.h
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/spinel_manager.cpp
  src/posix/platform/spinel_manager.hpp
  src/posix/platform/system.cpp
  src/posix/platform/virtual_time.cpp
Labels: enhancement, P3, platform: posix, comp: spinel

#10141 [routing-manager] update and simplify comments
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10144 [spinel] remove `mIsCoprocessorReady` flag check (#10134)
  src/lib/spinel/spinel_driver.cpp
Labels: comp: spinel

#10137 [simulation] remove example log lines from `otPlatLogCrashDump()`
  examples/platforms/simulation/misc.c
Labels: enhancement, P4, platform: simulation

#10111 [dataset] add `ValidateTlvs()`, helper methods, and unit test
  include/openthread/dataset.h
  include/openthread/instance.h
  src/cli/cli_dataset.cpp
  src/core/api/dataset_api.cpp
  src/core/common/settings.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/tcat_agent.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_dataset.cpp
  tests/unit/test_dns_client.cpp
  tests/unit/test_routing_manager.cpp
  tests/unit/test_srp_adv_proxy.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp: dataset

#10135 [dataset] simplify `SendSetRequest`
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset

#10139 [dataset] simplify dataset manager `MGMT_SET` request handling
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10197 [style] add comment to indicate the which conditional endif is associated with
  src/lib/spinel/radio_spinel.hpp
Labels: enhancement, P4

#10200 [cli] fix `ipaddr` and `ipmaddr` commands in debug cli
  src/cli/cli.cpp
Labels: comp: cli

#10145 [routing-manager] ensure correct handling of shorter PD prefix
  src/core/border_router/routing_manager.cpp
Labels: comp: border router

#10148 [dataset] send 'reject' response to `MGMT_SET` on non-leader
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10207 [routing-manager] add `CalculateExpirationTime()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10208 [spinel] move definition of coprocessor type to `lib/spinel`
  src/lib/spinel/coprocessor_type.h
  src/lib/spinel/spinel_driver.hpp
  src/posix/platform/platform-posix.h
Labels: enhancement, P3, platform: posix, comp: spinel

#10210 [owning-list] add `RemoveAndFreeAllMatching()` to `OwningList` class
  src/core/common/owning_list.hpp
  src/core/net/mdns.cpp
  tests/unit/test_linked_list.cpp
Labels: enhancement, P4

#10215 [dns] add checks for multi-label looped compressed DNS names
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  tests/unit/test_dns.cpp
Labels: enhancement, P4, comp: dns

#10214 [routing-manager] use `OwningList` for `Router` and `Entry` lists
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10213 [spinel] only request crash logs on RCP recovery if capable
  src/lib/spinel/radio_spinel.cpp
Labels: comp: rcp, comp: spinel

#10206 [cli] add UDP socket openness check before sending with `udp send`
  src/cli/cli_udp.cpp
Labels: comp: cli

#10194 [simulation] support simulating radio over IPv6
  .clang-format
  .github/workflows/simulation-1.1.yml
  examples/platforms/simulation/simul_utils.c
  examples/platforms/simulation/simul_utils.h
  examples/platforms/simulation/system.c
  script/check-simulation-local-host
  tests/scripts/expect/_common.exp
Labels: enhancement, platform: simulation

#10216 [routing-manager] introduce `RoutePrefix` and `OnLinkPrefix` types
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10201 [dataset] add support for handling `MGMT_ACTIVE_REPLACE` on leader
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/thread/tmf.cpp
  src/core/thread/uri_paths.cpp
  src/core/thread/uri_paths.hpp
Labels: enhancement, P4, comp: dataset

#10042 [clang-format] accept different patch versions of `clang-format`
  script/clang-format
Labels: continuous-integration

#10229 [routing-manager] track origin of received RA messages
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10227 [dataset] simplify dataset `Save()` methods
  src/core/api/dataset_api.cpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/tcat_agent.cpp
Labels: enhancement, P4, comp: dataset

#10230 [routing-manager] ignore checksum in RA hash calculation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10220 [posix] add return of co-processor type in otSysInit and allow posix plat run with NCP
  src/posix/main.c
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/system.cpp
Labels: P3, platform: posix

#10239 [network-data] optimize `ContainsOmrPrefix()`
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: border router, comp: netdata

#10240 [routing-manager] utilize `Network::Leader::ContainsOmrPrefix()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: border router

#10237 [dataset] enforce successful Dataset saves in non-volatile
  include/openthread/dataset.h
  include/openthread/instance.h
  src/core/api/dataset_api.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/dataset_local.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/joiner.cpp
Labels: enhancement, P4, comp: dataset

#10247 [gitignore] do not ignore .cmake files
  .gitignore
Labels: enhancement, P4

#10249 [dataset] add `ContainsAllTlvs()` helper method
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10245 [mle] add helper method `SetLeaderData(const LeaderData &)`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10254 [secure-transport] remove redundant null check
  src/core/meshcop/secure_transport.cpp
Labels: comp: meshcop

#10256 [routing-manager] fix received NA message min length check
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10250 [routing-manager] signal table change on M/O flag update of routers
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10248 [mle] simplify `HandleLeaderData()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#10255 [routing-manager] rename `DiscoveredPrefixTable` to `RxRaTracker`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10259 [tests] do not build unit tests in oss-fuzz
  tests/fuzz/oss-fuzz-build
Labels: continuous-integration

#10217 [dataset] move Active Dataset replacement check in `PendingDatasetManager`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  tests/toranj/cli/test-029-pending-dataset-key-change.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, comp: dataset

#10257 [routing-manager] move tracking of local RA header to `RxRaTracker`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#10264 [mdns] ensure callback is invoked when registering host with no address
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, comp: mdns

#10265 [routing-manager] move handling of prefix stale timer to `RxRaTracker`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10267 [dataset-manager] combine `protected` and `private` sections
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10268 [dataset-manager] ensure `mDelayTimer` is stopped when no Pending Dataset
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10272 [posix] add spinel driver getter to allow external app to access
  src/posix/platform/radio.cpp
  src/posix/platform/spinel_driver_getter.hpp
  src/posix/platform/spinel_manager.cpp
  src/posix/platform/spinel_manager.hpp
Labels: enhancement, platform: posix

#10270 [routing-manager] move decision to process PIO/RIO to `RxRaTracker`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10280 [dataset] move `ApplyConfiguration()` to `DatasetManager`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset

#10281 [routing-manager] update and simplify decisions for processing PIO/RIO
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10283 [dataset] simplify `Clear()` methods
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/thread/mle.cpp
Labels: enhancement, comp: meshcop

#10284 [routing-manager] track whether a discovered router is local device
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/cli_br.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10282 [string] add `ParseDigit()`, `ParseHexDigit()`, and other helper functions
  src/core/common/string.cpp
  src/core/common/string.hpp
  src/core/meshcop/meshcop.cpp
  src/core/net/ip6_address.cpp
  src/core/utils/parse_cmdline.cpp
  tests/unit/test_string.cpp
Labels: enhancement, P4

#10285 [spinel] parse correct RcpMinHostApiVersion capability
  src/lib/spinel/radio_spinel.cpp
Labels: bug, P3, comp: spinel

#10290 [dataset-manager] simplify `Restore()`
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: dataset

#10291 [routing-manager] simplify how `RxRaTracker` handles local on-link prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10292 [dataset] simplify `IsSubsetOf()`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  tests/unit/test_dataset.cpp
Labels: enhancement, P4, comp: dataset

#10301 [mle] fix warning with storedCount
  src/core/thread/mle_router.cpp
Labels: comp: mle

#10293 [dataset-updater] enhance `DatasetUpdater`
  include/openthread/dataset_updater.h
  include/openthread/instance.h
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/dataset_updater.hpp
Labels: comp: meshcop

#10304 [mdns] use `NextFireTime` class
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
Labels: enhancement, P4, comp: mdns

#10306 [dso] use `NextFireTime`
  src/core/net/dns_dso.cpp
  src/core/net/dns_dso.hpp
Labels: comp: dns

#10294 [utils] add API to reset/clear linked list of enh-ack link metrics
  examples/platforms/utils/link_metrics.cpp
  examples/platforms/utils/link_metrics.h
Labels: comp: low-power

#10310 [routing-manager] fix lifetime management of PD prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: bug, P4, comp: border router

#10307 [radio] update `otPlatRadioSetRxOnWhenIdle` documentation
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: comp: docs, api: platform

#10296 [mle] simplify signaling of DUA address change
  src/core/thread/child.cpp
  src/core/thread/child.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mle

#10309 [routing-manager] update and simplify RA beacon timing
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/random.cpp
Labels: enhancement, P4, comp: border router

#10316 [routing-manager] update stale time calculation for local RA header
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10319 [mle] add helper methods to `RxMessage`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle
