Repository openthread/openthread, pull requests merged in 2024-03, with the labels that each got.

#9887 [posix] fix member var access from static `CreateIcmp6Socket()`
  src/posix/platform/infra_if.cpp
Labels: enhancement, P4, platform: posix

#9891 [posix] enable building `infra_if.cpp` on macOS
  .github/workflows/toranj.yml
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, platform: posix

#9435 [border-agent] mechanism to use ephemeral key
  examples/config/ot-core-config-check-size-br.h
  examples/config/ot-core-config-check-size-ftd.h
  examples/config/ot-core-config-check-size-mtd.h
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/border_agent_api.cpp
  src/core/config/border_agent.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-028-border-agent-ephemeral-key.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: border agent

#9892 [posix] add missing header guards, style fixes
  src/posix/platform/config_file.hpp
  src/posix/platform/configuration.hpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/ip6_utils.hpp
  src/posix/platform/mainloop.hpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/platform-posix.h
  src/posix/platform/power.hpp
  src/posix/platform/radio.hpp
  src/posix/platform/radio_url.hpp
  src/posix/platform/resolver.hpp
  src/posix/platform/settings.hpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/vendor_interface.hpp
Labels: enhancement, P4, platform: posix

#9896 [routing-manager] delay sending RAs until after initial policy evaluation
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9895 [simulation] implement `otPlatInfraIf` APIs in simulation platform
  examples/platforms/simulation/infra_if.c
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/system.c
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-500-two-brs-two-networks.py
  tests/toranj/start.sh
Labels: platform: simulation

#9907 [toranj-config] disable `OT_BORDER_ROUTING` on NCP builds
  tests/toranj/build.sh
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
Labels: continuous-integration

#9871 [key-manager] update how key guard time is determined and applied
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/core/api/thread_api.cpp
  src/core/mac/mac.cpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  src/core/thread/mle.cpp
  src/ncp/ncp_base_mtd.cpp
  tests/scripts/thread-cert/test_mle_msg_key_seq_jump.py
Labels: bug, enhancement, P4

#9881 [srp-server] add snoop cache entries for registered host addresses
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/thread/address_resolver.hpp
  tests/toranj/cli/test-400-srp-client-server.py
  tests/toranj/cli/test-401-srp-server-address-cache-snoop.py
  tests/toranj/start.sh
Labels: enhancement, P4, comp:srp

#9906 [test] add `test_key_rotation_and_key_guard_time`
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_key_rotation_and_key_guard_time.py
Labels: continuous-integration

#9905 [docs] add documentation for CLI `dataset updater` command
  src/cli/README_DATASET.md
  src/cli/cli_dataset.cpp
Labels: comp: docs, comp: cli

#9911 [misc] remove stale forward declaration
  src/core/common/tasklet.hpp
Labels: enhancement, P4

#9919 [daemon] always initialize the OT CLI when setting up the daemon
  src/posix/platform/daemon.cpp
Labels: comp: cli, platform: posix

#9917 [posix] add IPv6 address helper funtions in `Ip6Utils`
  src/posix/platform/ip6_utils.hpp
  src/posix/platform/udp.cpp
  tests/toranj/openthread-core-toranj-config-posix.h
Labels: enhancement, P4, platform: posix

#9921 [thread-cert] set device mode in `test_mle_msg_key_seq_jump`
  tests/scripts/thread-cert/test_mle_msg_key_seq_jump.py
Labels: continuous-integration

#9923 [tests] fix `test_manual_maddress.py`
  tests/scripts/thread-cert/border_router/test_manual_maddress.py
Labels: continuous-integration

#9920 [posix] ensure module names are included in platform logs
  src/posix/platform/configuration.cpp
  src/posix/platform/configuration.hpp
  src/posix/platform/daemon.cpp
  src/posix/platform/daemon.hpp
  src/posix/platform/firewall.cpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/hdlc_interface.hpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/logger.hpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
  src/posix/platform/trel.cpp
  src/posix/platform/udp.cpp
  src/posix/platform/udp.hpp
Labels: enhancement, P4, platform: posix, comp: logging

#9924 [routing-manager] construct RA dynamically using `Heap::Array`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, comp: border router

#9925 [simulation] allow specify local host
  examples/platforms/simulation/simul_utils.c
  examples/platforms/simulation/simul_utils.h
  examples/platforms/simulation/system.c
  tests/scripts/expect/posix-rcp-local-host.exp
Labels: enhancement, platform: simulation

#9929 [mle] disable MLE retransmissions when detaching
  src/core/thread/mle.cpp
Labels: comp: mle

#9933 [thread-cert] use `ROUTER_STARTUP_DELAY` in `test_detach`
  tests/scripts/thread-cert/test_detach.py
Labels: continuous-integration

#9932 [test] enhance `test_netdata_publisher` robustness
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, continuous-integration

#9928 [posix] remove use of core-internal types in `netif.cpp` platform
  src/posix/platform/netif.cpp
  tests/toranj/openthread-core-toranj-config-posix.h
Labels: enhancement, P4, platform: posix

#9931 [routing-manager] update use of `Ip6::Nd::Option` enumerator
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9934 [lib] include `(void)` in function prototype in `reset_util.h`
  src/lib/platform/reset_util.h
Labels: enhancement, P4

#9936 [thread-cert] use `unittest` assert methods
  tests/scripts/thread-cert/v1_2_router_5_1_1.py
  tests/scripts/thread-cert/v1_2_test_backbone_router_service.py
  tests/scripts/thread-cert/v1_2_test_domain_unicast_address.py
  tests/scripts/thread-cert/v1_2_test_domain_unicast_address_registration.py
  tests/scripts/thread-cert/v1_2_test_multicast_listener_registration.py
  tests/scripts/thread-cert/v1_2_test_parent_selection.py
Labels: continuous-integration

#9938 [routing-manager] simplify `Ip6::Nd` type usage
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#9894 [coap] fix copying option
  src/core/coap/coap.cpp
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
Labels: comp: coap

#9724 [simulation] add simulation tests framework for tcat
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  examples/platforms/simulation/ble.c
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/system.c
  script/cmake-build
  tests/scripts/expect/cli-tcat.exp
  third_party/mbedtls/mbedtls-config.h
  tools/tcat_ble_client/bbtc.py
  tools/tcat_ble_client/ble/ble_stream_secure.py
  tools/tcat_ble_client/ble/udp_stream.py
Labels: platform: simulation

#9951 [cli] move `Process{Get/Set/Enable/Disable}` methods to separate class
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_bbr.cpp
  src/cli/cli_bbr.hpp
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_dataset.hpp
  src/cli/cli_dns.cpp
  src/cli/cli_dns.hpp
  src/cli/cli_history.hpp
  src/cli/cli_joiner.hpp
  src/cli/cli_link_metrics.cpp
  src/cli/cli_link_metrics.hpp
  src/cli/cli_mac_filter.hpp
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/cli/cli_ping.cpp
  src/cli/cli_ping.hpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_srp_server.hpp
  src/cli/cli_tcat.cpp
  src/cli/cli_tcat.hpp
  src/cli/cli_tcp.cpp
  src/cli/cli_tcp.hpp
  src/cli/cli_udp.cpp
  src/cli/cli_udp.hpp
  src/cli/cli_utils.cpp
  src/cli/cli_utils.hpp
  src/cli/radio.cmake
Labels: enhancement, P4, comp: cli

#9952 [test] simplify `test_pskc` unit test
  tests/unit/test_pskc.cpp
Labels: continuous-integration

#9956 [mle] retain direct child cache entries on Addr Solicit Response TX
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9955 [mle] simplify `HandleTimeTick()` code related to aging routers
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9957 [spinel] extract log module from radio spinel
  src/lib/spinel/BUILD.gn
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/logger.cpp
  src/lib/spinel/logger.hpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: enhancement, P4, comp: logging, comp: spinel

#9962 [config] update docs for `SED_BUFFER_SIZE` & `SED_DATAGRAM_COUNT`
  src/core/config/misc.h
Labels: enhancement, P4

#9946 [version] introduce `OT_THREAD_VERSION_1_4`
  etc/cmake/options.cmake
  src/core/BUILD.gn
  src/core/config/border_agent.h
  src/core/config/mle.h
  src/core/openthread-core-config.h
  src/core/thread/csl_tx_scheduler.hpp
  src/core/thread/version.hpp
  tests/toranj/build.sh
  tests/toranj/cli/test-020-net-diag-vendor-info.py
Labels: enhancement, comp: build

#9961 [netdata] add `FindRlocs()` to retrieve RLOC16 of entries
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_types.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#9641 [channel-manager] add local csl channel selection on SSED
  .github/workflows/simulation-1.2.yml
  etc/cmake/options.cmake
  include/openthread/channel_manager.h
  include/openthread/instance.h
  script/make-pretty
  src/cli/cli.cpp
  src/core/api/channel_manager_api.cpp
  src/core/config/channel_manager.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/mac/mac.cpp
  src/core/utils/channel_manager.cpp
  src/core/utils/channel_manager.hpp
  tests/scripts/thread-cert/addon_test_channel_manager_autocsl.py
  tests/scripts/thread-cert/node.py
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-602-channel-manager-channel-select.py
Labels: comp: csl

#9939 [routing-manager] employ RA hash tracking to detect self-originating RAs
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#9965 [cli] add `OutputNetworkData()`
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
Labels: enhancement, P4, comp: cli, comp: netdata

#9953 [test] add `tcat` unit tests
  src/core/radio/ble_secure.cpp
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/CMakeLists.txt
  tests/unit/test_platform.cpp
  tests/unit/test_tcat.cpp
Labels: continuous-integration

#9945 [routing-manager] support setting extra options to append to emitted RAs
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.hpp
Labels: enhancement, api: user, comp: border router

#9970 [netdata] refactor `MutableNetworkData` methods for code organization
  src/core/thread/network_data.cpp
Labels: enhancement, P4, comp: netdata

#9968 [mle] include child RLOC16 in the logs from `HandleTimeTick()`
  src/core/thread/mle_router.cpp
Labels: enhancement, P4

#9971 [cli] fix CoAP response code for POST 2.03 -> 2.04 per RFC 7252
  src/cli/cli_coap.cpp
Labels: comp: coap, comp: cli

#9972 [mle] improve MLE module comments
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#9969 [cli] `netdata show` to support filtering by RLOC16
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-011-network-data-timeout.py
Labels: enhancement, P4, comp: cli, comp: netdata

#9975 [netata] simplify `RemoveTemporaryData()`
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
Labels: enhancement, P4, comp: netdata

#9976 [mesh-forwarder] update `CheckReachablity()` to handle malformed msg
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: bug, P4, comp: mesh-forwarder
