Repository openthread/openthread, pull requests merged in 2024-07, with the labels that each got.

#10452 [routing-manager] add `OnLinkPrefix::IsFavoredOver()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10450 [otci] add diag commands support to otci
  tools/otci/otci/otci.py
Labels: enhancement, P3, comp: otci

#10451 [mesh-forwarder] add `RxInfo` to encapsulate received frame info
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#10443 [posix] add rcp diag command to check the Spinel interface speed
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/README_RCP_CAPS_DIAG.md
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
Labels: P3, platform: posix

#10449 [spinel] allow custom config file for lib spinel
  src/lib/CMakeLists.txt
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/openthread-spinel-config.h
Labels: enhancement, P4, comp: spinel

#10459 [mesh-forwarder] restore `FrameData` in `GetForwardFramePriority()`
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#10357 [srp-client] enhance selection of TX jitter based on trigger reason
  src/core/config/openthread-core-config-check.h
  src/core/config/srp_client.h
  src/core/net/netif.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/scripts/thread-cert/test_dnssd_name_with_special_chars.py
  tests/scripts/thread-cert/test_srp_auto_host_address.py
  tests/scripts/thread-cert/test_srp_client_remove_host.py
  tests/scripts/thread-cert/test_srp_client_save_server_info.py
  tests/scripts/thread-cert/test_srp_lease.py
  tests/scripts/thread-cert/test_srp_many_services_mtu_check.py
  tests/scripts/thread-cert/test_srp_register_services_diff_lease.py
  tests/scripts/thread-cert/test_srp_server_anycast_mode.py
  tests/scripts/thread-cert/test_srp_server_reboot_port.py
  tests/scripts/thread-cert/test_srp_sub_type.py
  tests/scripts/thread-cert/test_srp_ttl.py
  tests/toranj/cli/test-400-srp-client-server.py
  tests/toranj/cli/test-501-multi-br-failure-recovery.py
  tests/toranj/cli/test-502-multi-br-leader-failure-recovery.py
  tests/toranj/openthread-core-toranj-config.h
  tests/unit/test_srp_adv_proxy.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#10460 [cmake] disable c extensions
  CMakeLists.txt
Labels: enhancement, comp: build

#10461 [tlv] use `OffsetRange` and make `ParsedInfo` public
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/link_metrics.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: tlv

#10462 [mesh-forwarder] add `RxInfo::ToString()` to simplify logging
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: logging, comp: mesh-forwarder

#10466 [ip6] use `OffsetRange` for parsing options in extension headers
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_headers.cpp
  src/core/net/ip6_headers.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
  src/core/thread/lowpan.cpp
Labels: comp: ip6

#10445 [routing-manager] add support for tracking peer BRs
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
Labels: enhancement, P4, comp: border router

#10468 [spinel] merge spinel config files
  src/lib/spinel/logger.cpp
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/spinel-config.h
  src/lib/spinel/spinel_interface.hpp
Labels: enhancement, P4, comp: spinel

#10472 [routing-manager] add missing `exit` label
  src/core/border_router/routing_manager.cpp
Labels: bug, comp: build, comp: border router

#10471 [mesh-forwarder] use `RemoveMessageIfNoPendingTx()` on direct tx fails
  src/core/thread/mesh_forwarder.cpp
Labels: bug, P4, comp: mesh-forwarder

#10475 [mle] remove now undefined `UpdateChildAddresses()`
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10465 [meshcop] update `ChannelMaskTlv` to use `OffsetRange`
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
Labels: comp: meshcop

#10474 [test] harden `test_advertising_proxy`
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
Labels: enhancement, P4, comp: border router, tests

#10477 [csl] move sub_mac csl receiver related functions to sub_mac_csl_receiver.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
Labels: enhancement, P4, comp: csl

#10463 [test] add script to test which diag commands RCP supports
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
  tools/cp-caps/requirements.txt
  tools/otci/otci/otci.py
Labels: P3, tests

#10473 [srp-client] apply short random jitter to lease renew time
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
Labels: enhancement, P4, comp:srp

#10482 [otci] add network management API to otci
  tools/otci/otci/otci.py
Labels: P3, comp: otci

#10467 [mesh-forwarder] track parsed IPv6 header in `RxInfo`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#10476 [cli] simplify parsing dataset TLVs
  src/cli/cli_dataset.cpp
  src/cli/cli_dataset.hpp
Labels: enhancement, P4, comp: cli, comp: dataset

#10486 [test] harden `test_srp_server`
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, tests

#10453 [routing-manager] track router age
  include/openthread/border_routing.h
  include/openthread/instance.h
  script/check-scan-build
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, api: user, comp: cli, comp: border router

#10492 [cli] harmonize header include style
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: comp: cli

#10493 [network-data] refactor anycast dest lookup to `NetworkData::Leader`
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: enhancement, P4, comp: netdata

#10454 [posix] deassert DTR and RTS if flow control is disabled
  src/posix/platform/hdlc_interface.cpp
Labels: platform: posix

#10481 [platform] add per-frame tx power capability
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_links.hpp
  src/core/radio/radio.hpp
Labels: api: platform, comp: low-power

#10490 [dataset-manager] apply partial dataset config on channel set failure
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10502 [radio] move required radio caps from radio spinel into posix platform
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
Labels: enhancement, P3, platform: posix

#10003 [cli] add support for CoAP URI queries in CLI requests
  include/openthread/coap.h
  include/openthread/instance.h
  src/cli/cli_coap.cpp
  src/core/api/coap_api.cpp
  src/core/coap/coap_message.cpp
  src/core/coap/coap_message.hpp
Labels: api: user, comp: coap, comp: cli

#10495 [test] test whether the RCP support CSL transmitter
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
  tools/otci/otci/otci.py
Labels: P3, tests

#10266 [channel-manager] require CSL to enabled with `CSL_CHANNEL_SELECT_ENABLE`
  .github/workflows/simulation-1.2.yml
  src/cli/cli.cpp
  src/core/api/channel_manager_api.cpp
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/utils/channel_manager.cpp
  src/core/utils/channel_manager.hpp
Labels: enhancement, P4, comp: low-power

#10506 [spinel] extract SpinelStatusToOtError method from RadioSpinel into a helper module
  src/lib/spinel/BUILD.gn
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel_helper.cpp
  src/lib/spinel/spinel_helper.hpp
Labels: enhancement, P4, comp: spinel

#10494 [test] test whether the RCP supports data poll
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10515 [spinel] fix cmake source list for spinel_helper.cpp
  src/lib/spinel/CMakeLists.txt
Labels: bug, P1, comp: spinel

#10516 [spinel] add get iid method
  src/lib/spinel/spinel_driver.hpp
Labels: enhancement, P3, comp: spinel

#10512 [settings] reset the platform settings file descriptor once closed
  src/posix/platform/settings.cpp
Labels: platform: posix

#10513 [mesh-forwarder] use `RemoveMessageIfNoPendingTx()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: comp: mesh-forwarder

#10514 [mesh-forwarder] `RemoveMessagesForChild()` to use a predicate fn
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mesh-forwarder

#10509 [network-data] enhance route lookup for ALOC destination
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-031-service-aloc-route-lookup.py
  tests/toranj/start.sh
Labels: enhancement, P4, comp: netdata

#10522 [spinel] fix little endian in lib
  src/lib/spinel/multi_frame_buffer.hpp
  src/lib/spinel/spi_frame.hpp
Labels: bug, P0, comp: spinel

#10505 [srp-client] defer SRP update on SLAAC address deprecation
  src/core/net/srp_client.cpp
  tests/scripts/thread-cert/test_srp_auto_host_address.py
Labels: enhancement, P4, comp:srp

#9186 [mle] update `otThreadBecomeLeader()` to allow leader take over
  include/openthread/instance.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-032-leader-take-over.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: mle

#10521 [continuous-integration] fix the path for uploading artifacts when the BR fails
  .github/workflows/otbr.yml
Labels: continuous-integration, github_actions

#10520 [sub-mac] optimize the time related functions
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
Labels: enhancement, P4, comp: mac

#10488 [low-power] enhance `mCslFrameRequestAheadUs` calculation for RCP
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/radio/radio.hpp
  src/core/radio/radio_callbacks.cpp
  src/core/radio/radio_platform.cpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
  src/lib/spinel/README_RADIO_SPINEL_DIAG.md
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio_url.cpp
Labels: api: platform, comp: low-power

#10525 [sub-mac] use relative time when starting CSL TX delay
  src/core/mac/sub_mac.cpp
Labels: bug, P2, comp: mac

#10530 [test] set default paths of expect scripts
  script/check-simulation-local-host
  tests/scripts/expect/_common.exp
Labels: enhancement, continuous-integration

#10524 [border-agent] directly respond to MGMT_GET from non-active commissioner
  src/core/api/border_agent_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset, comp: tmf, comp: border agent

#10519 [otci] add iperf3 commands to otci
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: P3, comp: otci

#10534 [lib] add little endian methods in utils
  src/lib/spinel/multi_frame_buffer.hpp
  src/lib/spinel/spi_frame.hpp
  src/lib/utils/endian.hpp
Labels: enhancement, P4

#10542 [ip6] simplify `PassToHost()` to directly use `Ip6::Header`
  src/core/net/icmp6.cpp
  src/core/net/icmp6.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#10546 [ip6] remove UDP port check for messages with `HostTrusted` origin
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#10556 [api] fix dnssd platform API doc
  include/openthread/instance.h
  include/openthread/platform/dnssd.h
Labels: enhancement, P4, api: platform

#10545 [cmake] add option for `OPENTHREAD_CONFIG_NET_DIAG_VENDOR_INFO_SET_API_ENABLE`
  etc/cmake/options.cmake
  src/core/config/network_diagnostic.h
Labels: comp: build

#10547 [ncp] initialize diag output callback per instance in `NcpBase`
  src/ncp/ncp_base.cpp
Labels: comp: ncp

#10558 [ip6] avoid re-reading IPv6 header when updating BR counters
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#10541 [ip6] update `PassToHost` to use `aReceive` for applying RX filter
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: comp: ip6
