Repository openthread/openthread, pull requests merged in 2024-06, with the labels that each got.

#10317 [routing-manager] fix and enhance prefix stale time calculation
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10320 [meshcop] update `Timestamp::AdvanceRandomTicks()`
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/timestamp.cpp
  src/core/meshcop/timestamp.hpp
Labels: comp: meshcop

#10326 [encoding] declare `HostSwap()` functions as `constexpr`
  src/core/common/encoding.hpp
Labels: enhancement, P4

#10329 [mle] add `ConnectivityTlv::IsSingleton()`
  src/core/thread/mle.cpp
  src/core/thread/mle_tlvs.hpp
Labels: enhancement, P4, comp: mle

#10332 [mbedtls] enable MBEDTLS_OID_C when MBEDTLS_PK_PARSE_C is enabled
  third_party/mbedtls/mbedtls-config.h
Labels: security, comp: build

#10322 [spinel] remove including openthread-core-config.h
  src/lib/spinel/openthread-spinel-config.h
Labels: P3, comp: spinel

#10336 [mbedtls] remove `-Wno-unused-but-set-variable`
  third_party/mbedtls/BUILD.gn
  third_party/mbedtls/CMakeLists.txt
Labels: comp: build

#10334 [dataset-manager] enhance starting of Pending Dataset delay timer
  src/core/meshcop/dataset_manager.cpp
Labels: enhancement, P4, comp: dataset

#10339 [ip6] do not report an error for disabled host loopback
  src/core/net/ip6.cpp
Labels: comp: ip6

#10140 [mdns] add APIs to iterate over browsers and resolvers
  include/openthread/instance.h
  include/openthread/mdns.h
  src/cli/cli_mdns.cpp
  src/cli/cli_mdns.hpp
  src/core/api/mdns_api.cpp
  src/core/config/mdns.h
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, P4, api: user, comp: mdns

#10331 [mle] minor enhancements to `HandleParentResponse()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#10333 [dataset] add `WriteTimestamp()` and `RemoveTimestamp()`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
Labels: enhancement, P4, comp: dataset

#10325 [timestamp] add `IsValid()` and comparison operator overloads
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/meshcop/dataset_updater.cpp
  src/core/meshcop/timestamp.cpp
  src/core/meshcop/timestamp.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  tests/unit/test_meshcop.cpp
Labels: enhancement, P4, comp: meshcop, comp: dataset

#10327 [mle] allow appending pending timestamp TLV with zero seconds
  src/core/meshcop/dataset_updater.cpp
  src/core/thread/mle.cpp
Labels: comp: mle

#10340 [mle] add `Mle::TxMessage::AppendDatasetTlv()`
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: comp: mle

#10341 [mle] add `TxMessage::AppendActiveAndPendingTimestampTlvs()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10335 [posix] add RCP capability diag module
  src/posix/platform/CMakeLists.txt
  src/posix/platform/README_RCP_CAPS_DIAG.md
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
Labels: platform: posix

#10344 [posix] extract co-processor init out of otSysInit
  src/posix/main.c
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/system.cpp
Labels: P2, platform: posix, comp: spinel

#10053 [mdns] add support for legacy unicast response feature
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, comp: mdns

#10337 [ncp] add property to instruct NCP to leave gracefully
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: comp: ncp, P2

#10348 [mle] add `Mle::RxMessage::ReadAndSave{Active/Pending}Dataset()`
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: comp: mle

#10050 [dnssd-server] implement DNS-SD discovery proxy functionality in core
  etc/cmake/options.cmake
  examples/platforms/simulation/dnssd.c
  include/openthread/instance.h
  include/openthread/mdns.h
  include/openthread/platform/dnssd.h
  script/check-scan-build
  script/make-pretty
  src/core/border_router/infra_if.cpp
  src/core/config/dnssd_server.h
  src/core/net/dnssd.cpp
  src/core/net/dnssd.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/unit/CMakeLists.txt
  tests/unit/test_dnssd_discovery_proxy.cpp
  tests/unit/test_platform.cpp
Labels: api: user, comp: mdns

#10353 [srp-client] use sequential message IDs & allow older response IDs
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#10360 [style] unify using member variable
  src/core/mac/mac.cpp
Labels: comp: mac

#10362 [posix] improve the logging in netif
  src/posix/platform/netif.cpp
Labels: enhancement, platform: posix

#10369 [cli] fix unused retval warning on `otPlatLogCrashDump()` call
  examples/apps/cli/main.c
Labels: enhancement, P4

#10371 [mdns] use `NextFireTime` for scheduling timers
  src/core/net/mdns.cpp
Labels: enhancement, P4, comp: mdns

#10377 [cli] update `service add` command to allow empty server data
  src/cli/README.md
  src/cli/cli.cpp
Labels: enhancement, P4, comp: cli, comp: netdata

#10378 [mle] add `TxMessage::AppendLinkAndMleFrameCounterTlvs()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10379 [routing-manager] add `RxRaTracker::Router::IsReachable()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10380 [udp] clear all properties in `SocketHandle` from `Udp::Open()`
  src/core/net/udp6.cpp
Labels: enhancement, P4, comp: ip6

#10381 [dataset] move secure storage methods to `DatasetManager`
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
Labels: enhancement, P4, comp: dataset

#10383 [mle] add `GetLeaderRloc16()` helper method
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/router_table.cpp
Labels: enhancement, P4, comp: mle

#10384 [mle] use `RouterIdMatch()` to compare Router IDs of two RLOC16 values
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10385 [mle] rename mesh local address methods to use `Rloc` and `Eid`
  src/core/api/thread_api.cpp
  src/core/api/udp_api.cpp
  src/core/meshcop/commissioner.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/ip6_mpl.cpp
  src/core/net/srp_client.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/tmf.cpp
  src/core/utils/mesh_diag.cpp
  tests/unit/test_child.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp: mle

#10375 [ip6] fix warning when logging enabled
  src/core/net/ip6.cpp
Labels: comp: ip6

#10338 [netif] remove multicast promiscuous mode configuration
  include/openthread/instance.h
  include/openthread/ip6.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/ip6_api.cpp
  src/core/net/ip6.cpp
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  tests/scripts/expect/cli-ipmaddr.exp
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: enhancement, P4, api: user, comp: ip6

#10391 [mle] enhance RLOC and ALOC address generation
  src/core/api/thread_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager_ftd.cpp
  src/core/net/nd_agent.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
  src/core/utils/mesh_diag.cpp
Labels: enhancement, P4, comp: mle

#10394 [child-supervision] remove unused method declarations
  src/core/thread/child_supervision.hpp
Labels: enhancement, P4

#10388 [routing-manager] add `mIsReachable` to `otBorderRoutingRouterEntry`
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/border_router/routing_manager.cpp
Labels: enhancement, P4, api: user, comp: cli, comp: border router

#10393 [posix] add OT sys API to get the spinel driver
  src/lib/spinel/spinel_driver.hpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/system.cpp
Labels: P2, platform: posix, comp: spinel

#10370 [cli] `udp bind` doc update to clarify that multicast address cannot be used as argument
  src/cli/README_UDP.md
  src/cli/cli_udp.cpp
Labels: comp: docs, comp: cli

#10402 [simulation] fix tiny issue of infra if
  examples/platforms/simulation/infra_if.c
  examples/platforms/simulation/system.c
Labels: P4, platform: simulation

#10387 [posix] checks whether the RCP support specified Spinel properties
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
Labels: P3, platform: posix, comp: diags

#10406 [otci] add ADB USB connection support for OTCI
  tools/otci/otci/__init__.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: enhancement, P3, comp: otci

#10409 [otci] fix the `setDaemon() is deprecated` warning
  tools/otci/otci/command_handlers.py
Labels: P4, comp: otci

#10405 [ip6] add `Ip6::Address::IsLinkLocalUnicastOrMulticast()`
  src/core/backbone_router/backbone_tmf.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/net/ip6_filter.cpp
  src/core/net/netif.cpp
  src/core/net/srp_advertising_proxy.cpp
  src/core/net/srp_client.cpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/lowpan.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/thread/neighbor_table.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/tmf.cpp
  src/posix/platform/multicast_routing.cpp
Labels: enhancement, P4, comp: ip6

#10407 [mle] replace `Mle::GetNextHop()` with `GetParentRloc16()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#10354 [diag] replace diag output buffer with diag output callback
  examples/platforms/simulation/diag.c
  include/openthread/diag.h
  include/openthread/instance.h
  include/openthread/platform/diag.h
  script/check-size
  script/git-tool
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/diags_api.cpp
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/posix/platform/radio.cpp
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
  tests/fuzz/fuzzer_platform.cpp
  tests/unit/test_platform.cpp
  tests/unit/test_platform.h
Labels: P3, comp: diags

#10382 [routing-manager] simplify `RxRaTracker::HandleRouterTimer()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10408 [cli] output service ID when listing services in network data
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
Labels: enhancement, P4, comp: cli, comp: netdata

#10417 [mle] remove `GetNextHop()` and directly use `RouterTable` method
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10418 [child-table] add `HasMinimalChild()` and move logic from `MleRouter`
  src/core/thread/address_resolver.cpp
  src/core/thread/child_table.cpp
  src/core/thread/child_table.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10420 [mesh-forwarder] remove unused `SetDiscoverParameters()` method
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#10423 [mle] add `IsRouterRloc16()` and `IsChildRloc16()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/router_table.cpp
  src/core/utils/mesh_diag.cpp
Labels: comp: mle

#10430 [doc] fix the broken link of `meshdiag topology` in CLI README
  src/cli/README.md
Labels: comp: docs, comp: cli

#10421 [mesh-forwarder] move `CheckReachability()` to `MeshForwarder`
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mesh-forwarder

#10431 [posix] fix build with custom netif prefix route set
  src/posix/platform/netif.cpp
Labels: platform: posix

#10419 [mesh-forwarder] update forwarding messages to ALOC destination
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/toranj/cli/test-030-anycast-forwarding.py
  tests/toranj/start.sh
Labels: enhancement, P4, comp: mesh-forwarder

#10400 [posix] add rcp diag command to check RCP's radio and spinel capbility flags
  src/posix/platform/README_RCP_CAPS_DIAG.md
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
Labels: P3, platform: posix, comp: diags

#10425 [child] update MLR masks when removing registered IPv6 addresses
  src/core/thread/child.cpp
Labels: enhancement, P4, comp: mlr

#10433 [tcat-agent] use `Dataset` directly when setting Active Dataset
  src/core/meshcop/tcat_agent.cpp
Labels: enhancement, P4

#10434 [core] use RLOC16-related constants and methods consistently across modules
  src/core/api/thread_api.cpp
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/backbone_router/bbr_local.cpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/net/srp_server.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/child_table.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/neighbor.hpp
  src/core/thread/network_data_leader_ftd.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_tlvs.hpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, comp: mle

#10399 [posix] check the RCP supported short and extended source match table sizes
  src/posix/platform/README_RCP_CAPS_DIAG.md
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/rcp_caps_diag.hpp
Labels: P3, platform: posix, comp: diags

#10389 [routing-manager] centralize `RxRaTracker` decision logic and signaling
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10424 [child] add `GetIp6Addresses()` and simplify MLR state tracking
  src/core/api/thread_ftd_api.cpp
  src/core/thread/child.cpp
  src/core/thread/child.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/network_diagnostic.cpp
  tests/unit/test_child.cpp
Labels: comp: mle

#10441 [meshcop] simplify appending and parsing of `NetworkNameTlv`
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: meshcop

#10442 [posix] skip 0x00 bytes at the start of the received SPI frame
  src/posix/platform/spi_interface.cpp
Labels: P3, platform: posix

#10444 [dns-client] switch to separate SRV/TXT queries on response timeout
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#10439 [tlv] ensure handling of extended TLVs when iterating over sub-TLVs
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/link_metrics.cpp
  src/core/thread/mle_router.cpp
Labels: comp: mle

#10435 [srp] fix `otSrpClientStart` documentation
  include/openthread/instance.h
  include/openthread/srp_client.h
Labels: comp: docs, api: user, comp:srp

#10440 [mle] add RLOC16 related helper methods in `Mle`
  src/core/api/thread_api.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/child_table.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/router_table.cpp
  src/core/utils/mesh_diag.cpp
Labels: enhancement, P4, comp: mle
