Repository openthread/openthread, pull requests merged in 2024-09, with the labels that each got.

#10641 [border-agent] apply pskc if changed
  src/core/meshcop/border_agent.cpp
Labels: bug, P3, comp: border agent

#10664 [doc] fix typos in comments
  .code-spell-ignore
  include/openthread/ble_secure.h
  include/openthread/instance.h
  include/openthread/platform/multipan.h
  src/core/coap/coap.hpp
  src/core/common/heap_string.hpp
  src/core/common/string.hpp
  src/core/radio/ble_secure.hpp
  src/core/radio/radio.hpp
  src/core/thread/link_metrics.hpp
  src/core/thread/network_data_types.hpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.h
  src/posix/platform/netif.cpp
  tests/scripts/thread-cert/command.py
  tests/scripts/thread-cert/test_crypto.py
Labels: comp: docs, api: platform, api: user

#10665 [docs] add the missing section for `dns upstream` command
  src/cli/README.md
Labels: comp: docs, comp: cli

#10651 [csl] add `Mac::Frame` methods to process the CSL IE
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
  src/core/thread/mesh_forwarder.cpp
Labels: P4, comp: csl

#10655 [tests] add an expect test for `coaps disconnect`
  tests/scripts/expect/cli-coaps.exp
Labels: comp: coap, continuous-integration

#10659 [config] disable uptime logging when multi-instance enabled
  examples/platforms/simulation/openthread-core-simulation-config.h
  src/posix/platform/openthread-core-posix-config.h
Labels: platform: simulation, platform: posix

#10662 [posix] decouple `resolver.cpp` from `netif.cpp`
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/resolver.cpp
  src/posix/platform/system.cpp
Labels: api: platform, platform: posix

#10638 [ncp] add NCP based implementation (empty) of platform InfraIf APIs
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/infra_if.c
  examples/platforms/simulation/platform-config.h
  examples/platforms/simulation/platform-simulation.h
  examples/platforms/simulation/system.c
  script/test
  src/ncp/CMakeLists.txt
  src/ncp/ncp_config.h
  src/ncp/platform/infra_if.cpp
Labels: comp: ncp, P2, work-in-progress, api: platform, platform: simulation

#10663 [posix] support specifying DNS server for resolver
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
Labels: platform: posix

#10678 [pcap] fix pcap callback for TX frames
  src/core/mac/sub_mac.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: comp: ncp

#10680 [spinel] correct description of STREAM_RAW
  src/lib/spinel/spinel.h
Labels: comp: docs, comp: spinel

#10683 [mac] move `HeaderIe` definitions into separate files
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/mac/mac_header_ie.cpp
  src/core/mac/mac_header_ie.hpp
Labels: enhancement, P4, comp: mac

#10576 [mle] add API to configure the store frame counter ahead
  etc/cmake/options.cmake
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/api/thread_api.cpp
  src/core/config/mle.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: api: user, comp: mle

#10690 [build] set default Thread version to 1.4
  etc/cmake/options.cmake
  examples/config/ot-core-config-check-size-br.h
  examples/config/ot-core-config-check-size-ftd.h
  examples/config/ot-core-config-check-size-mtd.h
  script/cmake-build
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: comp: build

#10694 [github-actions] migrate version 1.3 checks to 1.4
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/simulation-1.4.yml
  script/check-arm-build
  script/check-gn-build
  script/check-simulation-build-cmake
  script/make-pretty
  script/test
  src/cli/cli.cpp
  tests/scripts/thread-cert/border_router/nat64/test_upstream_dns.py
  tests/scripts/thread-cert/border_router/test_firewall.py
  tests/scripts/thread-cert/border_router/test_multi_ail.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/pktverify/packet_verifier.py
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration

#10631 [mle] prioritize equivalent pending dataset update over MLE announce
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, comp: mle

#10670 [radio] add a helper of SFD handler
  examples/platforms/simulation/radio.c
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
Labels: api: platform

#10702 [trel] add cli to get TREL UDP port
  include/openthread/instance.h
  include/openthread/trel.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/trel_api.cpp
  src/core/radio/trel_interface.hpp
  tests/scripts/thread-cert/border_router/test_trel_connectivity.py
  tests/scripts/thread-cert/node.py
Labels: api: user, comp: cli, comp: trel

#10703 [test] use ubuntu 22.04 for otci workflow
  .github/workflows/otci.yml
Labels: continuous-integration

#10688 [radio] add tx timestamp
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/ncp/ncp_base_mtd.cpp
Labels: api: platform

#10695 [routing-manager] set SNAC Router Flag in emitted RA
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  src/core/config/openthread-core-config-check.h
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/scripts/thread-cert/node.py
  tests/toranj/cli/test-500-two-brs-two-networks.py
  tests/unit/test_routing_manager.cpp
Labels: api: user, comp: cli, comp: border router

#10716 [mesh-forwarder] simplify logging messages
  src/core/common/log.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: logging, comp: mesh-forwarder

#10540 [mesh-forwarder] use `Array` to track forwarded frame info
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#10681 [tcat] TCAT documentation cleanup
  include/openthread/ble_secure.h
  include/openthread/instance.h
  src/cli/cli_tcat.cpp
Labels: comp: docs, api: user, comp: cli

#10718 [mle] replace "FED" with "FTD child" when applicable
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/router_table.cpp
  src/core/thread/router_table.hpp
Labels: enhancement, P4, comp: mle

#10710 [include] fix `#include` style for public OT headers
  examples/platforms/simulation/ble.c
  include/openthread/instance.h
  include/openthread/trel.h
  src/core/common/debug.hpp
  src/core/crypto/context_size.hpp
  src/core/crypto/hkdf_sha256.cpp
  src/core/crypto/hkdf_sha256.hpp
  src/core/diags/factory_diags.cpp
  src/core/net/ip6.cpp
  src/core/radio/max_power_table.hpp
  src/ncp/ncp_base_mtd.cpp
  src/posix/platform/firewall.hpp
  src/posix/platform/utils.hpp
  tests/unit/test_multipan_rcp_instances.cpp
Labels: enhancement, P4

#10720 [coap] ensure CoAP header and token length are validated
  src/core/coap/coap_message.cpp
Labels: bug, P3, comp: coap

#10701 [settings] simplify saving of Border Agent ID
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/meshcop/border_agent.cpp
Labels: enhancement, P4, comp: border agent

#10719 [message] clarify partial read behavior of `Read()` vs `ReadByte()`
  src/core/common/message.cpp
  src/core/common/message.hpp
  tests/unit/test_message.cpp
Labels: enhancement, P4

#10721 [mle] rename `Mle::Handle{Command}()` methods to indicate constraints
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10706 [otci] update package info
  tools/cp-caps/requirements.txt
  tools/otci/pyproject.toml
  tools/otci/setup.py
Labels: enhancement

#10730 [core] remove redundant namespace usage
  src/core/mac/mac_frame.cpp
  src/core/thread/mle_tlvs.cpp
Labels: enhancement, P4

#10731 [message] fix comments
  src/core/common/message.hpp
Labels: enhancement, P4

#10707 [ncp] add border routing InfraIf setup
  .github/workflows/unit.yml
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/infra_if.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_ncp_infra_if.cpp
Labels: comp: ncp, P2, comp: border router, comp: spinel

#10734 [test] add version command to cp-caps
  tools/cp-caps/CHANGE_LOG.md
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10751 [github-actions] migrate from `macos-12` to `macos-14`
  .github/workflows/build.yml
  .github/workflows/posix.yml
Labels: github_actions

#10609 [border-agent] update ephemeral key connection timeout handling
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#10749 [ncp] add border routing InfraIf state update
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  tests/unit/test_ncp_infra_if.cpp
Labels: comp: ncp, P2, comp: border router, comp: spinel

#10745 [mle] add Thread Domain Name TLV (59) to MLE Discovery Response
  include/openthread/dataset.h
  include/openthread/instance.h
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/meshcop/network_name.cpp
  src/core/meshcop/network_name.hpp
  src/core/thread/mle_router.cpp
Labels: api: user, comp: mle, comp: meshcop

#10743 [mle] enhance MTD child IPv6 address registration
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/utils/slaac_address.cpp
  src/core/utils/slaac_address.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-035-context-id-change-addr-reg.py
  tests/toranj/start.sh
Labels: bug, comp: mle

#10733 [mle] add `DelayedSender` class to manage delayed msg tx
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10756 [cli] add docs for trel counters
  src/cli/README.md
Labels: comp: docs, comp: cli

#10649 [rcp] apply receive channel after tx done
  src/core/radio/radio_platform.cpp
Labels: comp: rcp

#10289 [routing-manager] stop PD if there is another prefix with higher preference in netdata
  include/openthread/border_routing.h
  include/openthread/instance.h
  script/test
  src/cli/cli_br.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/posix/platform/netif.cpp
  tests/scripts/thread-cert/border_router/test_dhcp6pd.py
  tests/scripts/thread-cert/node.py
  tests/unit/test_routing_manager.cpp
Labels: bug, comp: border router

#10755 [ncp] add border routing InfraIf recv ICMP6 ND
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/infra_if.cpp
Labels: comp: ncp, P2, comp: spinel

#10750 [border-agent] process Keep Alive messages only for active commissioner
  src/core/meshcop/border_agent.cpp
Labels: bug, P4, comp: border agent

#10759 [nd6] add `CONFIG_BORDER_ROUTING_ENABLE` guard check
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#10760 [message] introduce `FooterData<DataType>` class
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/common/message.hpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/joiner_router.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/ip6_mpl.hpp
  src/core/net/sntp_client.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4
