Repository openthread/openthread, pull requests merged in 2024-12, with the labels that each got.

#10979 [indirect-sender] reset msg timestamp on child mode change to non-sleepy
  src/core/thread/indirect_sender.cpp
Labels: comp: mac

#10986 [cli] fix the issue of overflow when calculating ping statistics
  src/cli/cli_ping.cpp
Labels: comp: cli

#10987 [secure-transport] refactor `Setup()` to separate component setup
  src/core/meshcop/secure_transport.cpp
Labels: comp: meshcop

#10993 [secure-transport] update mbedtls timer to track finish time
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: dtls

#10997 [mle] exclude loopback from Address Registration TLV
  src/core/thread/mle.cpp
Labels: comp: mle

#10998 [ip6] filter received packets with loopback addrs
  src/core/net/ip6.cpp
Labels: comp: ip6

#10999 [docs] remove empty lines
  src/core/config/parent_search.h
  src/core/net/nd6.hpp
  src/lib/spinel/spinel.h
  tests/nexus/openthread-core-nexus-config.h
Labels: comp: docs

#10996 [test] add `test_dtls` to nexus test cases
  tests/nexus/CMakeLists.txt
  tests/nexus/platform/nexus_node.hpp
  tests/nexus/test_dtls.cpp
Labels: continuous-integration, comp: dtls

#10992 [srp-server] use `kNetifThreadInternal` for UDP socket
  src/core/net/srp_server.cpp
  tests/scripts/thread-cert/border_router/test_advertising_proxy.py
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#10923 [mle] add mechanism to track current attach duration
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, api: user, comp: mle

#11005 [cli] update `ba counters` to use counter name lookup array
  src/cli/cli.cpp
Labels: comp: cli

#11004 [secure-transport] fix Send() method to send entire message
  src/core/coap/coap_secure.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/radio/ble_secure.cpp
  tests/nexus/test_dtls.cpp
Labels: comp: meshcop

#11007 [mle] do not request link when not recognized
  src/core/thread/mle_router.cpp
Labels: comp: mle

#11012 [mac] skip backoff when MaxBackoffs is 0
  src/core/mac/sub_mac.cpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: comp: mac

#11008 [test] make test_diag less flaky
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_diag.py
Labels: continuous-integration, comp: diags

#11009 [diag] use CmdLineParser to parse numbers in diag commands
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: P4, comp: diags

#11021 [secure-transport] track server/client role in `mIsServer`
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: dtls

#11011 [spinel] add an API to enable/disable the RCP restoration feature
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/radio.cpp
Labels: enhancement, P3, comp: spinel

#11010 [diag] add options `-b`, `-C`, `-d` and `-r` to the `diag frame` command
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: P3, comp: diags

#11034 [api] correct typo of CallbackContext
  include/openthread/instance.h
  include/openthread/thread.h
Labels: comp: docs, api: user

#10976 [spinel] do not update the sent frame if the frame has been updated before sending
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/lib/spinel/radio_spinel.cpp
Labels: P3, comp: diags, comp: spinel

#11022 [secure-transport] separate transport/socket and session states
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: dtls

#11040 [test] skip installing cmake 3.10.3
  .github/workflows/build.yml
Labels: continuous-integration

#11003 [mac-frame] process security of the wakeup frame
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
Labels: enhancement, security, P3

#11001 [diag] add new command to factory diags
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
Labels: comp: diags

#11035 [diag] set rx_on_when_idle mode when diag start/stop
  src/core/diags/factory_diags.cpp
Labels: comp: diags

#11033 [radio] fix sub-ghz build wrt channel page index
  src/core/radio/radio.hpp
Labels: comp: radio

#11047 [mac-frame] process key id mode 2 only when WC is enabled
  examples/platforms/utils/mac_frame.cpp
Labels: bug, security, P2

#11045 [mle] remove scheduled Link Request to a router if a link is established
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#11030 [mle] avoid link dead lock
  src/core/thread/mle_router.cpp
Labels: comp: mle

#11039 [diag] add diag receive command to show received specified number of frames
  src/cli/cli.cpp
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: enhancement, P3, comp: diags

#11044 [secure-transport] set app keys on config before SSL context setup
  src/core/meshcop/secure_transport.cpp
Labels: enhancement, P4, comp: dtls

#11046 [secure-transport] introduce `SecureSession` class
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: dtls

#11055 [diag] move `otPlatDiagModeGet()` check to `ProcessCmd`
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  tests/scripts/expect/cli-diags.exp
  tests/scripts/expect/posix-diag-rcp.exp
  tests/scripts/expect/posix-power-calibration.exp
  tests/scripts/thread-cert/test_diag.py
Labels: comp: diags

#11050 [secure-transport] simplify how `Connect/Receive` callbacks are set
  src/core/api/coap_secure_api.cpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/radio/ble_secure.cpp
  tests/nexus/test_dtls.cpp
Labels: enhancement, P4, comp: dtls

#11057 [linked-list] remove unused method & rename FindMatchingWithPrev()
  src/core/common/linked_list.hpp
  src/core/net/netif.cpp
  src/core/net/tcp6.cpp
  src/core/thread/address_resolver.cpp
  tests/unit/test_linked_list.cpp
Labels: enhancement, P4

#10869 [trel] detect and handle socket addr discrepancy for TREL peers
  examples/apps/cli/main.c
  examples/platforms/simulation/trel.c
  include/openthread/instance.h
  include/openthread/platform/trel.h
  src/core/mac/mac.cpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/posix/platform/trel.cpp
  tests/gtest/fake_platform.cpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-706-multi-radio-trel-peer-addr-port-change-discovery.py
  tests/toranj/start.sh
  tests/unit/test_platform.cpp
Labels: enhancement, P4, api: platform, comp: trel

#11074 [github-actions] fix `markdown-lint-check`
  .github/workflows/build.yml
Labels: continuous-integration

#11070 [border-agent] return `Counters` as reference
  src/core/api/border_agent_api.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11071 [border-agent] rearrange method definitions
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11054 [diag] add `diag radio receive filter` command support
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
Labels: P4, comp: diags

#11072 [meshcop] add `LogCertMessage()`
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/meshcop.hpp
Labels: enhancement, P4, comp: meshcop, comp: logging

#11069 [docs] update version to 1.4.0
  NOTICE
  README.md
Labels: comp: docs

#11068 [config] add guard checks for features that require DTLS/TLS support
  src/core/coap/coap_secure.hpp
  src/core/config/openthread-core-config-check.h
  src/core/config/secure_transport.h
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/joiner.hpp
  src/core/radio/ble_secure.hpp
Labels: enhancement, P4, comp: dtls

#11075 [border-agent] simplify `HandleUdpReceive()`
  src/core/meshcop/border_agent.cpp
Labels: comp: border agent

#10752 [netdata] add version number to DNS/SRP service entries
  include/openthread/instance.h
  include/openthread/netdata_publisher.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/core/api/netdata_publisher_api.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  src/core/thread/network_data_tlvs.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_netdata_publisher.py
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, api: user, comp: cli, comp: netdata

#11086 [border-agent] remove unused `GetUdpProxyPort()` method
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11088 [dataset] validate Active/Pending Timestamp and Delay Timer TLVs
  src/core/meshcop/dataset.cpp
Labels: enhancement, P4, comp: dataset

#11082 [secure-transport] reorder method definitions in cpp file
  src/core/meshcop/secure_transport.cpp
Labels: enhancement, P4, comp: dtls

#11085 [border-agent] use separate DTLS transport and CoAP secure session
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: enhancement, P4, comp: border agent
