Repository openthread/openthread, pull requests merged in 2024-08, with the labels that each got.

#10559 [dua] resume registration when fails to become router
  src/core/thread/dua_manager.cpp
Labels: comp: dua

#10552 [test] test the Thread network 1 hop throughput
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10564 [nat64] enhancements for `Translator::UpdateState`
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: bug, comp: nat64

#10544 [mac] support frames without sequence number
  examples/platforms/simulation/radio.c
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  tests/fuzz/fuzzer_platform.cpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, comp: mac

#10518 [cli] set the `linkmetrics` cli commands to `sync` mode by default
  src/cli/README.md
  src/cli/cli_link_metrics.cpp
  src/cli/cli_link_metrics.hpp
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py
  tests/scripts/thread-cert/v1_2_LowPower_7_1_02_SingleProbeLinkMetricsWithoutEnhancedAck.py
  tests/scripts/thread-cert/v1_2_LowPower_7_2_01_ForwardTrackingSeries.py
  tests/scripts/thread-cert/v1_2_LowPower_test_forward_tracking_series.py
  tests/scripts/thread-cert/v1_2_test_single_probe.py
Labels: P3, comp: cli, comp: link-metrics

#10569 [spinel] add spinel property to get/set dataset in raw TLVs
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, P3, comp: spinel

#10549 [border-agent] log enhancements
  src/core/meshcop/border_agent.cpp
Labels: comp: border agent

#10573 [spinel] stop Spinel time sync when Thread satck is not running
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/openthread-core-posix-config.h
  src/posix/platform/platform-posix.h
  src/posix/platform/radio.cpp
  src/posix/platform/system.cpp
Labels: enhancement, P3, comp: spinel

#10566 [posix] allow custom implementation of `otPlatInfraIfDiscoverNat64Prefix`
  src/core/border_router/infra_if.cpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  tests/toranj/openthread-core-toranj-config-posix.h
Labels: platform: posix, comp: nat64

#10577 [srp-client] update `MsgInfo` to include `mMessage`
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
Labels: enhancement, P4, comp:srp

#10574 [thread-cert] output docker stdout/stderr only when VERBOSE is non-zero
  tests/scripts/thread-cert/node.py
Labels: P4, tests

#10579 [srp-client] add `KeyInfo` type alias for `KeyPair` or `KeyPairAsRef`
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
Labels: comp:srp

#10580 [otci] add link metrics commands to otci
  tools/otci/otci/otci.py
Labels: P3, comp: otci

#10587 [spinel] add spinel property to send mgmt set dataset in TLVs format
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: comp: ncp, P2, comp: dataset, comp: spinel

#10590 [thread-cert] fix bug that docker network is not removed
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration

#10550 [test] support multiple backbone interfaces in otbr docker test
  tests/scripts/thread-cert/border_router/test_multi_ail.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration

#10593 [thread-cert] print elapsed time of each test when running cert suite
  tests/scripts/thread-cert/run_cert_suite.py
Labels: continuous-integration

#10592 [test] test whether the RCP supports the Link Metrics
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10585 [radio] update the description of `otPlatRadioSetChannelTargetPower()`
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/utils/power_calibration.cpp
  tests/unit/test_power_calibration.cpp
Labels: enhancement, P3, api: platform

#10596 [test] fix potential backbone name conflict when running cert suite
  tests/scripts/thread-cert/border_router/test_multi_ail.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/run_cert_suite.py
  tests/scripts/thread-cert/thread_cert.py
Labels: continuous-integration

#10599 [thread] move `OT_THREAD_VERSION_*` constants to public header
  include/openthread/instance.h
  include/openthread/thread.h
  src/core/BUILD.gn
  src/core/openthread-core-config.h
Labels: enhancement, P4

#10560 [ip6] style fixes and minor enhancements
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: ip6

#10537 [test] verify ephemeral key settings and `_meshcop-e`
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#10607 [routing-manager] fix typo in `IsInitialPolicyEvaluationDone()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#10602 [spinel] make `SendCommand` public to allow calling without variable arguments
  src/lib/spinel/spinel_driver.hpp
Labels: P3, comp: spinel

#10605 [docker] add `linux/arm64` to platforms
  .github/workflows/docker.yml
Labels: github_actions

#10364 [dsnsd-server] support handling of "A record" queries
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/unit/test_dnssd_discovery_proxy.cpp
Labels: enhancement, P4, comp: dns

#10403 [dns-client] track limited query (one question) servers
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns_client.cpp
Labels: comp: dns

#10575 [address-resolver] freshness timeout mechanism for cache entries
  src/core/thread/address_resolver.cpp
  src/core/thread/address_resolver.hpp
Labels: enhancement, P4, comp: tmf

#10610 [github-actions] free up disk space for docker build
  .github/workflows/docker.yml
Labels: github_actions

#10603 [thread-cert] support to get link-local address of the infra interface
  tests/scripts/thread-cert/border_router/test_multi_ail.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/node.py
Labels: certification

#10613 [thread-cert] wrap command `br peers` and `br routers`
  tests/scripts/thread-cert/border_router/test_multi_ail.py
  tests/scripts/thread-cert/node.py
Labels: certification

#10614 [cli] clarify docs - parameter use `dns config` to change service mode only
  src/cli/README.md
  src/cli/cli_dns.cpp
Labels: comp: docs, comp: cli, comp: dns

#10617 [spinel] correct `SPINEL_PROP_IPV6_ADDRESS_TABLE` documentation
  src/lib/spinel/spinel.h
Labels: enhancement, comp: docs, P4, comp: spinel

#10616 [netdata] update `GetNextDnsSrpUnicastInfo()` to use `Type`
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/thread/address_resolver.cpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#10615 [coap] fixes in parameter name and in comments.
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_message.hpp
Labels: comp: coap

#10622 [posix] update the max size of file path to PATH_MAX
  src/posix/platform/config_file.cpp
  src/posix/platform/config_file.hpp
Labels: enhancement, P3, platform: posix

#10548 [routing-manager] check reachability & send ICMPv6 unreach err
  include/openthread/border_routing.h
  include/openthread/icmp6.h
  include/openthread/instance.h
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  src/core/net/icmp6.hpp
  src/core/net/ip6.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-504-br-icmp-unreach-err.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: border router, comp: ip6

#10620 [netdata] enhance `GetNextDnsSrpAnycastInfo()` to include RLOC16
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#10526 [tcat] implement new tcat General commands
  include/openthread/instance.h
  include/openthread/tcat.h
  src/cli/README_TCAT.md
  src/cli/cli_tcat.cpp
  src/core/common/tlvs.cpp
  src/core/common/tlvs.hpp
  src/core/meshcop/tcat_agent.cpp
  src/core/meshcop/tcat_agent.hpp
  tests/scripts/expect/cli-tcat-advertisement.exp
  tests/scripts/expect/cli-tcat.exp
  tools/tcat_ble_client/cli/base_commands.py
  tools/tcat_ble_client/cli/cli.py
  tools/tcat_ble_client/cli/command.py
  tools/tcat_ble_client/tlv/tcat_tlv.py
Labels: api: user, comp: cli

#10624 [netdata] centralize service/server TLV logic in `Service::Manager`
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_local.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  src/core/thread/address_resolver.cpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_publisher.hpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#10625 [routing-manager] advertise deprecating RIO prefixes with low preference
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#10608 [epskc] add API for ePSKc telemetry
  include/openthread/border_agent.h
  include/openthread/coap_secure.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/core/api/border_agent_api.cpp
  src/core/api/coap_secure_api.cpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/radio/ble_secure.cpp
  src/core/radio/ble_secure.hpp
  tests/scripts/thread-cert/border_router/test_ephemeral_key_counters.py
  tests/scripts/thread-cert/node.py
Labels: api: user, comp: cli

#10632 [border-agent] directly respond to MGMT_COMMISSIONER_GET from non-active commissioner
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/thread/network_data_leader_ftd.cpp
Labels: comp: border agent

#10637 [tests] optimize multi-ail test case to run three BRs on two infra link
  tests/scripts/thread-cert/border_router/test_multi_ail.py
Labels: continuous-integration, comp: border router

#10635 [radio-spinel] fix tracking of current MAC frame counter
  include/openthread/instance.h
  include/openthread/link.h
  src/core/api/link_api.cpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: bug, api: user, comp: spinel

#10626 [mle] include Link Margin TLV in Child Update messages
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10645 [git-tool] explicit disable rebase
  script/git-tool
Labels: enhancement, continuous-integration

#10628 [mle] include Supervision TLV only from sleepy child
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/network_diagnostic_tlvs.cpp
  tests/toranj/cli/test-023-mesh-diag.py
Labels: enhancement, P4, comp: mle, comp: netdiag

#10644 [posix] add radio URL parameter `uart-init-deassert` to deassert DTR and RTS on init when flow control is disabled
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/radio_url.cpp
Labels: platform: posix

#10652 [border-agent] not forward MGMT_GET/SET commands directly to leader
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/thread/tmf.cpp
Labels: bug, comp: border agent
