Repository openthread/openthread, pull requests merged in 2024-10, with the labels that each got.

#10689 [mac-frame] add `TxFrame::Info` and simplify mac header preparation
  src/core/common/frame_builder.cpp
  src/core/common/frame_builder.hpp
  src/core/mac/data_poll_sender.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac, comp: mesh-forwarder

#10773 [toranj-config] explicitly enable `OPENTHREAD_CONFIG_TLS_ENABLE`
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, comp: build

#10774 [mac-frame] update `GenerateWakeupFrame()` to use `FrameBuilder`
  src/core/mac/mac_frame.cpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac

#10779 [mac-frame] remove unused `Set{Src/Dst}{Addr/PanId}()` methods
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  tests/unit/test_mac_frame.cpp
Labels: enhancement, P4, comp: mac

#10780 [mac-frame] add `DetermineFcfAddrType()` helper
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
Labels: enhancement, P4, comp: mac

#10786 [mle] reorder `MleRouter` class member variables
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10791 [routing-manager] update valid on-link prefix (PIO) condition
  src/core/border_router/routing_manager.cpp
  src/core/net/nd6.hpp
Labels: enhancement, P4, comp: border router

#10754 [border-agent] add api to disconnect from secure sessions
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_agent_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/scripts/expect/cli-misc.exp
Labels: api: user, comp: cli, comp: border agent

#10796 [mle] simplify condition in `Mle::BecomeDetached()`
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#10802 [github-actions] simplify `toranj-unittest`
  .github/workflows/toranj.yml
Labels: github_actions

#10801 [mle] update `SendParentResponse()` to use `Child &` input
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#10794 [thread-cert] create `internet` directory for NAT64 and PD tests
  .github/workflows/otbr.yml
  tests/scripts/thread-cert/border_router/internet/test_dhcp6pd.py
  tests/scripts/thread-cert/border_router/internet/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/internet/test_single_border_router.py
  tests/scripts/thread-cert/border_router/internet/test_upstream_dns.py
  tests/scripts/thread-cert/border_router/internet/test_with_infrastructure_prefix.py
Labels: tests

#10799 [github-actions] remove `g++multilib` where unused
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.4.yml
Labels: github_actions

#10797 [github-actions] use `setup-python` action
  .github/workflows/build.yml
  .github/workflows/otci.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.4.yml
  .github/workflows/toranj.yml
  tests/scripts/thread-cert/requirements.txt
Labels: github_actions

#10804 [spinel] support per-frame TX power in coprocessor
  src/lib/spinel/radio_spinel.cpp
  src/ncp/ncp_base_radio.cpp
  tests/gtest/CMakeLists.txt
  tests/gtest/fake_coprocessor_platform.cpp
  tests/gtest/fake_coprocessor_platform.hpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: comp: spinel

#10806 [indirect-sender] add `HasQueuedMessageForSleepyChild()`
  src/core/thread/indirect_sender.cpp
  src/core/thread/indirect_sender.hpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle, comp: mesh-forwarder

#10800 [mle] simplify graceful detach mechanism and reuse `mAttachTimer`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#10692 [mac] simplify preparation of header IE entries
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, comp: mac, comp: mesh-forwarder

#10793 [ncp] add border routing InfraIf send ICMP6 ND
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/infra_if.cpp
Labels: comp: ncp, P2, comp: spinel

#10811 [routing-manager] fix for updating prefix without deprecating the old one
  .github/workflows/unit.yml
  src/core/border_router/routing_manager.cpp
  tests/unit/test_routing_manager.cpp
Labels: bug, comp: border router

#10810 [spinel] parameters untouched on decoding error
  src/lib/spinel/spinel_decoder.hpp
Labels: comp: docs, comp: spinel

#10798 [mle] simplify router/leader role restoration upon reset
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/config.py
  tests/scripts/thread-cert/test_detach.py
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-012-reset-recovery.py
Labels: enhancement, P4, comp: mle

#10816 [radio] fix ACK frame counter using previous key
  examples/platforms/simulation/radio.c
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
Labels: platform: simulation

#10817 [test] verify behavior of RxChannelAfterTxDone
  tests/gtest/fake_platform.cpp
  tests/gtest/fake_platform.hpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: comp: spinel, tests

#10647 [routing-manager] append source link-layer option in ND6 message
  include/openthread/instance.h
  include/openthread/platform/infra_if.h
  src/core/border_router/infra_if.cpp
  src/core/border_router/infra_if.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: comp: border router

#10809 [message] track the MLE command type in Message
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  tests/unit/test_message.cpp
Labels: enhancement, P4, comp: mle

#10781 [dns-client] enhance logic for following up with IPv4 address query
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  tests/unit/test_dnssd_discovery_proxy.cpp
Labels: enhancement, P4, comp: dns

#10813 [ip6] style changes and renames
  src/core/api/ip6_api.cpp
  src/core/api/nat64_api.cpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: comp: ip6

#10814 [ip6] simplify `Ip6::InsertMplOption()`
  src/core/net/ip6.cpp
Labels: comp: ip6

#10818 [github-actions] remove clang-32 checks
  .github/workflows/build.yml
Labels: github_actions

#10819 [toranj] SC2086: double quote to prevent globbing and word splitting
  tests/toranj/build.sh
Labels: tests

#10820 [check-size] SC2004: `$`/`${}` is unnecessary on arithmetic variables
  script/check-size
Labels: github_actions

#10822 [ip6] simplify applying of TMF UDP filter in `Ip6::HandleDatagram()`
  src/core/net/ip6.cpp
Labels: comp: ip6

#10823 [assert] fix set-but-unused warnings
  src/core/thread/mlr_manager.cpp
  src/lib/spinel/spinel_buffer.cpp
Labels: comp: build

#10821 [scripts] SC2317: command appears to be unreachable
  script/test
  tests/nexus/build.sh
Labels: continuous-integration

#10835 [github-actions] migrate markdown check to Linkspector
  .github/workflows/build.yml
Labels: github_actions

#10824 [message] simplify accessing of indirect tx `ChildMask` bit-set
  src/core/BUILD.gn
  src/core/common/bit_set.hpp
  src/core/common/bit_vector.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/thread/child.cpp
  src/core/thread/child.hpp
  src/core/thread/child_mask.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4

#10762 [mac] enable wake-up frame periodic sniffing
  include/openthread/instance.h
  include/openthread/link.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/link_api.cpp
  src/core/config/wakeup.h
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_wed.cpp
  src/core/radio/radio.hpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  src/core/thread/tmf.hpp
Labels: api: platform, api: user, comp: mac

#10830 [mesh-forwarder] introduce `FinalizeAndRemoveMessage()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mesh_forwarder_mtd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#10724 [spinel] allow registering callback to handle compatibility errors
  src/lib/spinel/openthread-spinel-config.h
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: comp: spinel

#10837 [github-actions] switch to using llvm install script
  .github/workflows/build.yml
Labels: github_actions

#10840 [dns-client] Initialize mSendLink structure in Client constructor
  src/core/net/dns_client.cpp
Labels: comp: dns

#10841 [mle] fix updating of `mDataRequestState` for Network Data
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#10844 [test] add missing platform APIs in FakePlatform
  tests/gtest/fake_platform.cpp
  tests/gtest/fake_platform.hpp
Labels: enhancement, P2, tests

#10834 [srp-client] improve Client::Start error handling
  src/core/net/srp_client.cpp
Labels: comp:srp

#10847 [diag] support per-frame tx power
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  tests/scripts/expect/cli-diags.exp
Labels: comp: diags

#10836 [routing-manager] check local on-link prefix in `IsAddressOnLink()`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: bug, P4, comp: border router

#10843 [style] simplify checking conditional enum values
  src/core/BUILD.gn
  src/core/mac/mac.cpp
  src/core/mac/sub_mac.cpp
  src/core/net/dns_client.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mle.cpp
  src/core/utils/static_counter.hpp
Labels: enhancement

#10850 [ncp] fix implementation of NCP get dataset tlvs
  src/ncp/ncp_base_mtd.cpp
Labels: bug, comp: ncp, P1

#10839 [api] update descriptions of the radio platform power APIs
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: P3, api: platform

#10854 [border-agent] update docs for set and clear ephemeral key APIs
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/meshcop/border_agent.hpp
Labels: comp: docs, api: user

#10860 [radio-spinel] separate RCP version check and caps check
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/radio.cpp
Labels: comp: spinel

#10856 [rcp] always support sleep-to-tx capability
  src/core/mac/sub_mac.cpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: comp: rcp

#10826 [mac] apply RxChannelAfterTxDone only if RxOnWhenIdle
  include/openthread/instance.h
  include/openthread/link.h
  src/core/api/link_raw_api.cpp
  src/core/mac/sub_mac.cpp
  src/core/radio/radio_platform.cpp
  src/ncp/ncp_base.cpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: api: user, comp: mac

#10864 [posix] bind the resolver's UDP socket to the infra network interface
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
  tests/scripts/thread-cert/border_router/internet/test_upstream_dns.py
  tests/scripts/thread-cert/node.py
Labels: bug, platform: posix, comp: dns

#10848 [nat64] add API `otNat64ClearIp4Cidr`
  include/openthread/instance.h
  include/openthread/nat64.h
  src/core/api/nat64_api.cpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: api: user, comp: nat64

#10866 [ncp] add ncp srp server properties
  .github/workflows/unit.yml
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_ncp_srp_server.cpp
Labels: comp: ncp, P2, comp:srp, comp: spinel

#10871 [nat64] clear NAT64 counters when allocating new mapping table item
  .code-spell-ignore
  src/core/net/nat64_translator.cpp
  tests/unit/test_nat64.cpp
Labels: bug, comp: nat64

#10699 [border-agent] invoke ephemeral key callback on session connection
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/meshcop/border_agent.cpp
Labels: enhancement, P4, api: user, comp: border agent

#10876 [mdns] simplify response and query preparation by passing `Context`
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
Labels: enhancement, P4, comp: dns, comp: mdns

#10006 [mle] implement alternate RLOC16 usage during role transition
  examples/platforms/simulation/radio.c
  examples/platforms/utils/mac_frame.cpp
  examples/platforms/utils/mac_frame.h
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/link_raw.h
  include/openthread/platform/radio.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/link_api.cpp
  src/core/api/link_raw_api.cpp
  src/core/mac/link_raw.cpp
  src/core/mac/link_raw.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.cpp
  src/core/mac/mac_links.hpp
  src/core/mac/mac_types.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_radio.cpp
  src/posix/platform/radio.cpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-033-alt-short-addr-role-transition.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: platform, api: user, comp: rcp, comp: mle, comp: mac

#10883 [tests] fix `test_upstream_dns.py`
  tests/scripts/thread-cert/border_router/internet/test_upstream_dns.py
Labels: bug, continuous-integration, tests

#10872 [trel] add otSys API to init/deinit TREL
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/system.cpp
  src/posix/platform/trel.cpp
Labels: platform: posix

#10858 [udp] track netif ID in socket and simplify handling of backbone sockets
  include/openthread/instance.h
  include/openthread/udp.h
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
Labels: enhancement, P4, api: user, comp: ip6
