Repository openthread/openthread, pull requests merged in 2024-02, with the labels that each got.

#9819 [codecov] enable use of `CODECOV_TOKEN`
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
  .github/workflows/unit.yml
Labels: continuous-integration

#9807 [netdata-publisher] remove SRP unicast on anycast entry added by a BR
  src/core/thread/network_data_publisher.cpp
  tests/scripts/thread-cert/test_netdata_publisher.py
Labels: enhancement, P4, comp: netdata

#9818 [common] add `ClearAllBytes()` template function
  src/cli/cli.cpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dns.cpp
  src/cli/cli_joiner.cpp
  src/cli/cli_link_metrics.cpp
  src/cli/cli_output.hpp
  src/cli/cli_ping.cpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
  src/core/common/clearable.hpp
  src/core/common/message.cpp
  src/core/common/settings.hpp
  src/core/diags/factory_diags.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/dataset.cpp
  src/core/meshcop/dataset_local.cpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dns_client.cpp
  src/core/net/ip6.hpp
  src/core/net/ip6_mpl.cpp
  src/core/net/tcp6.cpp
  src/core/radio/trel_link.cpp
  src/core/thread/child.cpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_tlvs.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/radio_selector.cpp
  src/core/thread/router.cpp
  src/core/thread/router_table.hpp
  src/core/utils/channel_monitor.cpp
  src/core/utils/history_tracker.cpp
  src/core/utils/slaac_address.cpp
Labels: enhancement, P4

#9822 [routing-manager] fix `IsDeprecated()` to handle large lifetime
  src/core/border_router/routing_manager.cpp
  tests/unit/test_routing_manager.cpp
Labels: bug, P4, comp: border router

#9827 [ci] fix artifact name conflict
  .github/workflows/posix.yml
Labels: continuous-integration

#9823 [trel] fix typo in `OPENTHREAD_CONFIG_TREL_PEER_TABLE_SIZE`
  src/core/radio/trel_interface.hpp
Labels: bug, comp: trel

#9825 [ncp] set message origin to host untrusted
  src/ncp/ncp_base_mtd.cpp
Labels: comp: ncp

#9824 [ip6] always deliver multicast to host
  src/core/net/ip6.cpp
Labels: comp: ip6

#9826 [posix] do not loop back to host
  src/posix/platform/netif.cpp
Labels: platform: posix

#9830 [ip6] `SelectSourceAddress()` rule 1 on preferring same address
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#9815 [ip6] mesh-local addresses as preferred, platform control flag on host stack
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/net/netif.cpp
  src/core/net/netif.hpp
  src/core/thread/mle.cpp
  src/posix/platform/netif.cpp
Labels: enhancement, P4, comp: ip6

#9821 [cli] add Doxygen tags to CoAP commands
  src/cli/cli_coap.cpp
Labels: comp: docs, comp: cli

#9832 [ip6] simplify `Ip6::SelectSourceAddress()`
  src/core/net/ip6.cpp
Labels: enhancement, P4, comp: ip6

#9268 [srp] implement `AdvertisingProxy` and define `Dnssd` platform APIs
  doc/ot_api_doc.h
  etc/cmake/options.cmake
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/dnssd.c
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/platform/dnssd.h
  script/check-scan-build
  script/make-pretty
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/border_router/infra_if.cpp
  src/core/common/heap_data.hpp
  src/core/config/platform.h
  src/core/config/srp_server.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd.cpp
  src/core/net/dnssd.hpp
  src/core/net/srp_advertising_proxy.cpp
  src/core/net/srp_advertising_proxy.hpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/fuzz/oss-fuzz-build
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/unit/CMakeLists.txt
  tests/unit/test_platform.cpp
  tests/unit/test_platform.h
  tests/unit/test_srp_adv_proxy.cpp
Labels: api: platform, comp: dns, comp:srp

#9840 [csl] reset data poll timer after successful csl transmission
  src/core/mac/mac.cpp
Labels: comp: csl

#9843 [instance] init `BackboneRouter::Local` before `Mle`
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
Labels: enhancement, P4

#9837 [cli] add Doxygen tags for coaps commands
  src/cli/cli_coap_secure.cpp
Labels: comp: docs, comp: cli

#9585 [slaac] implement address deprecation mechanism
  src/core/config/ip6.h
  src/core/thread/network_data.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_leader.cpp
  src/core/utils/slaac_address.cpp
  src/core/utils/slaac_address.hpp
  tests/scripts/thread-cert/Cert_5_6_06_NetworkDataExpiration.py
  tests/scripts/thread-cert/border_router/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/test_single_border_router.py
  tests/scripts/thread-cert/test_srp_auto_host_address.py
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-027-slaac-address.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: comp: ip6

#9849 [cli] update coaps readme
  src/cli/README_COAPS.md
Labels: comp: docs

#9848 [mbedtls] make debug logging independent from builtin
  src/core/crypto/mbedtls.cpp
Labels: comp: logging

#9850 [mle] generate challenge for "Child Update Request" early
  src/core/thread/child_table.cpp
  src/core/thread/mle_router.cpp
Labels: comp: mle

#9816 [netdiag] add support for Vendor App URL TLV
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
  src/core/api/netdiag_api.cpp
  src/core/config/network_diagnostic.h
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-020-net-diag-vendor-info.py
Labels: enhancement, P4, comp: netdiag

#9856 [cli] add references to CoAP concepts guide from CLI
  src/cli/cli_coap.cpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
Labels: comp: docs, comp: cli

#9866 [netdiag] update comments and fix style
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
Labels: enhancement, P4, comp: netdiag

#9863 [ip6] filter multicast packets to host
  src/core/config/ip6.h
  src/core/net/ip6.cpp
Labels: comp: ip6

#9868 [cli] style fixes & remove core defined error constants
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_dns.cpp
  src/cli/cli_ping.cpp
  src/cli/cli_tcat.cpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
Labels: enhancement, P4, comp: cli

#9869 [cli-tcat] define `VendorInfo` as a member variable
  src/cli/cli_tcat.cpp
  src/cli/cli_tcat.hpp
Labels: enhancement, P4, comp: cli

#9875 [core] use `NumericLimits<>` constants
  src/core/backbone_router/bbr_manager.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/core/thread/link_quality.cpp
Labels: enhancement, P4

#9867 [cli] add `@moreinfo` Doxygen tags to reference CoAPS Concepts Guide
  src/cli/cli_coap_secure.cpp
Labels: comp: docs, comp: cli

#9876 [link-quality] prevent overflow in `LqiAverager` calculation
  src/core/thread/link_quality.cpp
Labels: enhancement, P4

#9793 [spinel] drop received frames between RCP disable and reset
  src/lib/spinel/multi_frame_buffer.hpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/spinel_encoder.cpp
  src/lib/spinel/spinel_encoder.hpp
  src/ncp/ncp_base.cpp
Labels: comp: spinel

#9878 [message] track received `ThreadLinkInfo` in `Message` metadata
  include/openthread/instance.h
  include/openthread/ip6.h
  include/openthread/link.h
  include/openthread/message.h
  src/core/api/message_api.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
  src/core/net/socket.hpp
  src/core/thread/discover_scanner.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, api: user, comp: ip6

#9879 [simulation] add `simul_utils.h` for socket operation helpers
  examples/platforms/simulation/CMakeLists.txt
  examples/platforms/simulation/radio.c
  examples/platforms/simulation/simul_utils.c
  examples/platforms/simulation/simul_utils.h
  examples/platforms/simulation/trel.c
  examples/platforms/simulation/uart.c
Labels: enhancement, P4, platform: simulation

#9882 [cli] add documentation for `nexthop` command in `README.md`
  src/cli/README.md
Labels: enhancement, comp: docs, P4, comp: cli
