Repository openthread/openthread, pull requests merged in 2024-11, with the labels that each got.

#10882 [ncp] implement ncp version of otPlatDnssd
  .github/workflows/unit.yml
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/dnssd.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_ncp_dnssd.cpp
Labels: comp: ncp, P2, api: platform

#10795 [github-actions] migrate ubuntu runners to 24.04
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/makefile-check.yml
  .github/workflows/otbr.yml
  .github/workflows/otci.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.4.yml
  .github/workflows/size.yml
  .github/workflows/toranj.yml
  .github/workflows/unit.yml
  .github/workflows/version.yml
Labels: github_actions

#10891 [docs] formatting fix
  src/cli/cli.cpp
Labels: comp: docs

#10894 [trel] fix crash
  src/posix/platform/trel.cpp
Labels: comp: trel

#10890 [secure-transport] apply style fixes and renames
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: comp: meshcop

#10846 [mle] update `DelayedSender` to keep the tx schedule
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: mle

#10900 [secure-transport] use `LogAt()` in `HandleMbedtlsDebug()` method
  src/core/meshcop/secure_transport.cpp
Labels: enhancement, P4, comp: meshcop

#10899 [coaps] use `LinkSecurityMode` to determine layer two security usage
  src/core/coap/coap.cpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/common/message.hpp
  src/core/instance/instance.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/net/icmp6.cpp
  src/core/radio/ble_secure.cpp
  src/core/thread/mle.cpp
  src/core/thread/tmf.cpp
  tests/unit/test_message.cpp
Labels: enhancement, P4, comp: coap, comp: tmf

#10893 [ncp] implement ncp version of otPlatDnssdRegisterHost
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/dnssd.cpp
  tests/unit/test_ncp_dnssd.cpp
Labels: comp: ncp, P2, api: platform

#10898 [otci] add the parameter wakeup channel to the method create_dataset
  tools/otci/otci/otci.py
Labels: bug, P2, comp: otci

#10907 [notifier] use `Array` to track external callbacks
  src/core/common/callback.hpp
  src/core/common/notifier.cpp
  src/core/common/notifier.hpp
Labels: enhancement, P4

#10902 [secure-transport] track key-exchange info in separate structs
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4

#10722 [mle] implement periodic parent search mechanism on FED/REED
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/config/parent_search.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/router.hpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-034-fed-parent-search.py
  tests/toranj/openthread-core-toranj-config.h
  tests/toranj/start.sh
Labels: enhancement, P4, comp: mle

#10915 [config] remove `CONFIG_MLE_SEND_LINK_REQUEST_ON_ADV_TIMEOUT`
  src/core/config/mle.h
  src/core/config/openthread-core-config-check.h
  src/core/thread/mle_router.cpp
Labels: comp: mle

#10914 [mac-frame] enhance comments regarding PAN ID compression behavior
  src/core/mac/mac_frame.cpp
Labels: comp: docs, comp: mac

#10916 [mle] track Link Accept timeout in `Router` entry
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/router.hpp
Labels: enhancement, P4, comp: mle

#10917 [secure-transport] simplify tracking of selected cipher suite
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: comp: meshcop

#10919 [mle] simplify handling of Link Accept variants
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mle

#10912 [test] test whether the RCP supports tx/rx 154 frames of all formats
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10881 [mdns] implement response aggregation
  src/core/common/timer.cpp
  src/core/common/timer.hpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, comp: dns, comp: mdns

#10909 [ncp] implement ncp dnssd update service and key record
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/platform/dnssd.cpp
  tests/unit/test_ncp_dnssd.cpp
Labels: comp: ncp, P2, api: platform

#10921 [spinel] add SPINEL_PROP_MAC_RX_AT
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  tests/gtest/fake_platform.cpp
  tests/gtest/fake_platform.hpp
  tests/gtest/radio_spinel_rcp_test.cpp
Labels: comp: rcp, comp: spinel

#10771 [mac] wake-up frame sequence transmission
  include/openthread/instance.h
  include/openthread/thread.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/thread_api.cpp
  src/core/config/wakeup.h
  src/core/instance/instance.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/mac/wakeup_tx_scheduler.hpp
  src/core/radio/radio_callbacks.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/posix/platform/openthread-core-posix-config.h
Labels: api: user, comp: cli, comp: mac

#10939 [mac-frame] set `mCslPresent` on `TxFrame` when CSL IE is added
  src/core/mac/mac_frame.cpp
Labels: bug, P1, comp: mac, comp: csl

#10940 [neighbor] update and clean up property documentation
  src/core/thread/child.hpp
  src/core/thread/neighbor.hpp
Labels: comp: docs

#10932 [secure-transport] smaller enhancements in `SecureTransport`
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4

#10933 [secure-transport] simplify `Process()` method
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: comp: meshcop

#10936 [simulation] log the exit information when the program exits
  examples/platforms/simulation/alarm.c
  examples/platforms/simulation/ble.c
  examples/platforms/simulation/infra_if.c
  examples/platforms/simulation/mdns_socket.c
  examples/platforms/simulation/radio.c
  examples/platforms/simulation/simul_utils.c
  examples/platforms/simulation/trel.c
  examples/platforms/simulation/uart.c
  examples/platforms/simulation/virtual_time/platform-sim.c
Labels: enhancement, P3, platform: simulation

#10946 [secure-transport] reorder member variables to avoid alignment gaps
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: dtls

#10947 [secure-transport] remove extra `mbedtls_ssl_close_notify()` calls
  src/core/meshcop/secure_transport.cpp
Labels: enhancement, P4, comp: dtls

#10945 [coap] add base class `CoapSecureBase` and `ApplicationCoapSecure`
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/instance/instance.hpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
Labels: enhancement, P4, comp: coap

#10934 [spinel] add spinel property codec
  src/lib/spinel/CMakeLists.txt
  src/lib/spinel/spinel.h
  src/lib/spinel/spinel_prop_codec.cpp
  src/lib/spinel/spinel_prop_codec.hpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_ftd.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_spinel_prop_codec.cpp
Labels: enhancement, comp: ncp, P2, comp: spinel, comp: unit-test

#10870 [mle] apply random delay when sending Link Request on Adv rx
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: mle

#10859 [tcat] implementation of tcat disconnect command
  src/core/radio/ble_secure.cpp
  tools/tcat_ble_client/bbtc.py
  tools/tcat_ble_client/cli/base_commands.py
  tools/tcat_ble_client/cli/cli.py
  tools/tcat_ble_client/dataset/dataset_entries.py
Labels: comp: tcat

#10884 [spinel] return no_buf error when src entry count exceeds the maximum
  src/lib/spinel/radio_spinel.cpp
Labels: comp: spinel

#10948 [log] add build option OT_LOG_MAX_SIZE to set the max log string size
  etc/cmake/options.cmake
  examples/platforms/simulation/logging.c
  examples/platforms/utils/logging_rtt.h
Labels: enhancement, P4, comp: logging

#10879 [tcat] fix: use normalize_uuid_str() on BBTC_SERVICE_UUID
  tools/tcat_ble_client/ble/ble_scanner.py
Labels: comp: tcat

#10950 [spinel] fix spinel_prop_codec unit test
  tests/unit/test_spinel_prop_codec.cpp
Labels: bug, P1, comp: spinel

#10951 [fuzz] expect no ACK if TX frame is invalid
  tests/fuzz/fuzzer_platform.cpp
Labels: continuous-integration

#10955 [indirect-sender] remove callbacks to its sub-components
  src/core/mac/data_poll_handler.cpp
  src/core/mac/data_poll_handler.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/indirect_sender.hpp
Labels: enhancement, P4, comp: mac

#10952 [simulation] enable the platform assert
  examples/platforms/simulation/misc.c
  examples/platforms/simulation/openthread-core-simulation-config.h
  tests/gtest/fake_platform.cpp
  tests/unit/test_platform.cpp
Labels: enhancement, P4, platform: simulation

#10959 [radio] add `GetBusSpeed()` and `GetBusLatency()` methods
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/radio/radio.hpp
  src/core/thread/csl_tx_scheduler.cpp
Labels: enhancement, P4, comp: mac

#10961 [radio] refactor `Radio::Statistics`
  src/core/api/radio_stats_api.cpp
  src/core/instance/instance.hpp
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_callbacks.cpp
Labels: enhancement, P4, comp: radio

#10958 [logging] aling define guards on `RegisterLogModule` and `LogAt`
  src/core/common/log.hpp
Labels: comp: logging

#10957 [trel] bind the socket to TREL interface
  src/posix/platform/trel.cpp
Labels: comp: trel

#10963 [mac] define `Mac::kCslRequestAhead` constant
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/mac/wakeup_tx_scheduler.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
Labels: enhancement, P4, comp: mac

#10967 [ncp] fix get property handler of SRP SERVER
  src/ncp/ncp_base_ftd.cpp
Labels: bug, comp: ncp, P1

#10956 [csl] introduce `CslNeighbor` class
  examples/config/ot-core-config-check-size-br.h
  examples/config/ot-core-config-check-size-ftd.h
  examples/config/ot-core-config-check-size-mtd.h
  src/core/instance/instance.hpp
  src/core/mac/data_poll_handler.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_frame.hpp
  src/core/thread/child.hpp
  src/core/thread/csl_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.hpp
  src/core/thread/indirect_sender.cpp
  src/core/thread/indirect_sender.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/neighbor.hpp
Labels: enhancement, P4, comp: csl

#10962 [udp] remove extra `ShouldUsePlatformUdp()` checks
  src/core/net/ip6.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
Labels: enhancement, P4, comp: ip6

#10964 [udp] update `Socket::Open()` to include `NetifId`
  src/core/api/udp_api.cpp
  src/core/coap/coap.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dns_client.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/sntp_client.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/thread/mle.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp: ip6

#10966 [mac] add `CalculateRadioBusTransferTime()` helper method
  src/core/common/time.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/thread/csl_tx_scheduler.cpp
Labels: enhancement, P4, comp: mac

#10954 [test] fix address list comparison in `spinel_prop_codec`
  tests/unit/test_spinel_prop_codec.cpp
Labels: enhancement, P4, comp: spinel, tests

#10977 [cli] set `mUseTls` to false after de-initializing TCP session
  src/cli/cli_tcp.cpp
Labels: comp: cli, comp: tcp

#10965 [udp] add `kNetifThreadInternal` which disallows platform UDP use
  include/openthread/instance.h
  include/openthread/udp.h
  src/cli/cli_udp.cpp
  src/core/api/udp_api.cpp
  src/core/meshcop/joiner_router.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dnssd_server.cpp
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/net/udp6.cpp
  src/core/net/udp6.hpp
  src/core/thread/mle.cpp
  src/core/thread/tmf.cpp
  src/posix/platform/udp.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp: ip6
