Repository openthread/openthread, pull requests merged in 2024-01, with the labels that each got.

#9729 [telemetry] add upstream DNS metrics
  include/openthread/dnssd_server.h
  include/openthread/instance.h
  src/core/net/dnssd_server.cpp
Labels: api: user, comp: dns

#9751 [cli] add Doxygen tags for history commands
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli.cpp
  src/cli/cli_history.cpp
Labels: comp: docs, comp: cli

#9750 [trel] add config for peer table size and packet pool size
  src/core/BUILD.gn
  src/core/config/trel.h
  src/core/openthread-core-config.h
  src/core/radio/trel_interface.hpp
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/trel.cpp
Labels: enhancement, comp: trel

#9710 [telemetry] add API for TREL telemetry
  examples/platforms/simulation/trel.c
  include/openthread/instance.h
  include/openthread/platform/trel.h
  include/openthread/trel.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/api/trel_api.cpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/posix/platform/trel.cpp
  tests/scripts/thread-cert/border_router/test_trel_connectivity.py
  tests/scripts/thread-cert/node.py
  tests/unit/test_platform.cpp
  tests/unit/test_platform.h
Labels: comp: trel

#9752 [docs] fixed some common typos
  include/openthread/coap.h
  include/openthread/dns_client.h
  include/openthread/instance.h
  include/openthread/tcp.h
  include/openthread/thread.h
Labels: comp: docs, api: user

#9756 [cli] separate ping sender as a module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_ping.cpp
  src/cli/cli_ping.hpp
Labels: enhancement, P4, comp: cli

#9758 [docs] add Aqara to who supports list
  README.md
  doc/images/ot-contrib-aqara.png
Labels: comp: docs

#9760 [ncp] differentiate DETACHED role and DISABLED role
  src/ncp/ncp_base_mtd.cpp
Labels: enhancement, comp: ncp, P4, comp: spinel

#9738 [srp] update config for auto-start mode to be enabled by default
  src/core/config/srp_client.h
  tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
  tests/scripts/thread-cert/test_srp_auto_host_address.py
  tests/scripts/thread-cert/test_srp_auto_start_mode.py
  tests/scripts/thread-cert/test_srp_client_change_lease.py
  tests/scripts/thread-cert/test_srp_client_save_server_info.py
  tests/scripts/thread-cert/test_srp_lease.py
  tests/scripts/thread-cert/test_srp_name_conflicts.py
  tests/scripts/thread-cert/test_srp_register_500_services.py
  tests/scripts/thread-cert/test_srp_register_single_service.py
  tests/scripts/thread-cert/test_srp_server_reboot_port.py
  tests/scripts/thread-cert/test_srp_ttl.py
  tests/toranj/cli/test-400-srp-client-server.py
  tools/otci/tests/test_otci.py
Labels: comp:srp

#9766 [test] move heap plat APIs in unit test under `extern "C"` block
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: unit-test

#9767 [dtls] fix `OPENTHREAD_CONFIG_DTLS_ENABLE` check
  src/core/config/secure_transport.h
Labels: comp: build

#9757 [cli] add pd state
  src/cli/README_BR.md
  src/cli/cli_br.cpp
Labels: comp: docs, comp: cli

#9764 [srp] simplify crypto `ReadOrGenerateKey` in srp client
  src/core/net/srp_client.cpp
Labels: comp:srp

#9762 [posix] only add IPv4 route if NAT64 is enabled
  src/posix/platform/netif.cpp
Labels: platform: posix, comp: nat64

#9768 [tcat] define config defaults
  src/cli/cli_config.h
  src/core/config/ip6.h
  src/core/config/misc.h
Labels: comp: build

#9769 [github-actions] bump actions/upload-artifact and actions/download-artifact
  .github/workflows/otbr.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
  .github/workflows/unit.yml
Labels: github_actions

#9780 [github-actions] add write permissions for geekyeggo/delete-artifact
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
  .github/workflows/unit.yml
Labels: github_actions

#9777 [net-diag] handle `MleCounterTlv` in `AppendDiagTlv()`
  src/core/thread/network_diagnostic.cpp
  tests/toranj/cli/test-020-net-diag-vendor-info.py
Labels: enhancement, P4, comp: netdiag

#9785 [github-actions] remove use of geekyeggo/delete-artifact
  .github/workflows/otbr.yml
  .github/workflows/otns.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.2.yml
  .github/workflows/toranj.yml
  .github/workflows/unit.yml
Labels: github_actions

#9779 [posix] fix netlink address deletion on posix
  src/posix/platform/netif.cpp
Labels: bug, P4, platform: posix

#9772 [radio] add API for resetting CSL parameters
  examples/platforms/simulation/radio.c
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  tests/unit/test_platform.cpp
Labels: api: platform, comp: csl

#9789 [cli] use `static constexpr` for constants instead of of `enum`
  src/cli/cli.hpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.hpp
  src/cli/cli_srp_client.hpp
  src/cli/cli_udp.cpp
Labels: enhancement, P4, comp: cli

#9791 [docs] add TREL config group
  doc/ot_config_doc.h
Labels: comp: docs

#9745 [spinel] fix passing an unexpected transmit error to mac layer
  src/lib/spinel/radio_spinel.cpp
Labels: comp: spinel

#9794 [border-agent] enable `otBorderAgentGetId` API when Border Agent is enabled
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/config/border_agent.h
Labels: comp: build, comp: border agent

#9694 [coap-secure] introduce maximum connection attempt limit for CoAP agent
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: enhancement, P4, comp: coap

#9799 [ip6] add method for creating/parsing IPv4-mapped IPv6 address
  include/openthread/instance.h
  include/openthread/nat64.h
  src/core/api/nat64_api.cpp
  src/core/net/ip4_types.cpp
  src/core/net/ip4_types.hpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  tests/unit/test_ip_address.cpp
Labels: enhancement, P4, api: user, comp: ip6

#9803 [coap-secure] fix and test to validate max connection attempt limit
  include/openthread/coap_secure.h
  include/openthread/instance.h
  src/cli/README_COAPS.md
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/core/api/coap_secure_api.cpp
  src/core/coap/coap_secure.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  tests/toranj/cli/test-026-coaps-conn-limit.py
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/start.sh
Labels: bug, enhancement, P4, api: user, comp: coap

#9781 [multipan] fix for multipan use case to handle tx timeout
  etc/cmake/options.cmake
  src/lib/spinel/radio_spinel.cpp
Labels: comp: spinel

#9795 [net-diag] add Eui64Tlv support
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: comp: netdiag

#9812 [spinel] fix set rx on when idle for RCP
  src/ncp/ncp_base_dispatcher.cpp
Labels: comp: spinel

#9798 [cli] commissioner commands
  src/cli/cli_commissioner.cpp
Labels: comp: docs, comp: cli

#9814 [key-manager] check if the key is present before exporting the key
  src/core/thread/key_manager.cpp
Labels: security

#9773 [spinel] allow registering callback to restore vendor properties
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
Labels: comp: spinel
