Repository openthread/openthread, pull requests merged in 2025-06, with the labels that each got.

#11551 [dhcp6] add helper methods for option parsing and generation
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/instance/instance.hpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_client.hpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dhcp6_server.hpp
  src/core/net/dhcp6_types.cpp
  src/core/net/dhcp6_types.hpp
  tests/toranj/cli/test-036-dhcp-prefix-netdata.py
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/start.sh
Labels: enhancement, P4, comp: dhcp6

#11554 [routing-manager] simplify PD prefix processing
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, comp: br pd-prefix-manager

#11545 [posix] fix misleading log message in DNS resolver
  src/posix/platform/resolver.cpp
Labels: platform: posix, comp: dns

#11557 [fuzz] enable border router services
  tests/fuzz/radio-one-node.cpp
  tests/nexus/openthread-core-nexus-config.h
Labels: continuous-integration

#11552 [tcp][posix] ensure struct fields are initialized
  src/core/net/tcp6.cpp
  src/posix/platform/udp.cpp
Labels: platform: posix, comp: tcp

#11555 [posix] set sin6_scope_id / ipi6_ifindex for all transmits to link-local
  examples/platforms/simulation/simul_utils.h
  src/posix/platform/udp.cpp
Labels: platform: posix

#11568 [routing-manager] fix typo
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: comp: border router

#11573 [fuzz] load only value enum values
  tests/fuzz/radio-one-node.cpp
Labels: continuous-integration

#11566 [test] fix warning of escape in regex string
  tests/scripts/thread-cert/node.py
Labels: continuous-integration

#11571 [coap] match only token for multicast and anycast (#11570)
  src/core/coap/coap.cpp
Labels: comp: coap

#11029 [simulation] add reliable virtual time transport
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.4.yml
  examples/platforms/simulation/virtual_time/platform-sim.c
  script/test
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/simulator.py
Labels: platform: simulation, continuous-integration

#11564 [test] stabilize Cert_5_1_05_RouterAddressTimeout
  tests/scripts/thread-cert/Cert_5_1_05_RouterAddressTimeout.py
  tests/scripts/thread-cert/config.py
Labels: continuous-integration

#11585 [posix] fix region configuration loading order
  src/posix/platform/radio.cpp
Labels: bug, platform: posix

#11589 [routing-manager] enhance MultiAilDetector
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: comp: border router

#11599 [posix] fix `MdnsSocket` iteration over message queue
  src/posix/platform/mdns_socket.cpp
Labels: bug, P4, platform: posix, comp: mdns

#11586 [trel] fix a format error of log
  src/core/radio/trel_peer.cpp
Labels: comp: trel

#11577 [gn] move gn build into etc
  .gn
  etc/gn/BUILDCONFIG.gn
  etc/gn/toolchain/BUILD.gn
  third_party/build_gn/BUILDCONFIG.gn
  third_party/build_gn/README.md
Labels: comp: build

#11604 [routing-manager] remove duplicate logging of RA header
  src/core/border_router/routing_manager.cpp
Labels: comp: border router

#11616 [message] remove `MessagePool` from the `Message::Metadata`
  src/core/common/locator.hpp
  src/core/common/message.cpp
  src/core/common/message.hpp
Labels: enhancement, P4

#11584 [dhcp6] implement DHCPv6 Prefix Delegation (PD) client
  etc/cmake/options.cmake
  examples/platforms/simulation/infra_if.c
  include/openthread/instance.h
  include/openthread/platform/border_routing.h
  include/openthread/platform/infra_if.h
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/border_router/dhcp6_pd_client.cpp
  src/core/border_router/dhcp6_pd_client.hpp
  src/core/border_router/infra_if.cpp
  src/core/border_router/infra_if.hpp
  src/core/border_router/routing_manager.cpp
  src/core/common/message.cpp
  src/core/common/message.hpp
  src/core/config/border_routing.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/net/dhcp6_types.cpp
  src/core/net/dhcp6_types.hpp
  tests/nexus/openthread-core-nexus-config.h
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/unit/CMakeLists.txt
  tests/unit/test_dhcp6_pd_client.cpp
  tests/unit/test_platform.cpp
Labels: enhancement, P4, comp: dhcp6

#11621 [test] ensure `v1_2_test_backbone_router_service.py` uses correct seqno
  tests/scripts/thread-cert/v1_2_test_backbone_router_service.py
Labels: enhancement, P4, tests

#11631 [dhcp6-pd-client] initialize `msgType` to fix compiler warning
  src/core/border_router/dhcp6_pd_client.cpp
  src/core/net/dhcp6_types.hpp
Labels: enhancement, P4, comp: dhcp6

#11592 [srp-client] update message ID assignment model
  src/core/net/srp_client.cpp
  src/core/net/srp_client.hpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, comp:srp

#11639 [posix] reorder declarations in `MdnsSocket`
  src/posix/platform/mdns_socket.hpp
Labels: enhancement, P4, platform: posix, comp: mdns

#11640 [tests] fix spelling errors
  tests/gtest/fake_platform.cpp
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_timeout.py
  tests/unit/test_mdns.cpp
Labels: continuous-integration

#11641 [posix] implement address monitoring in `MdnsSocket`
  src/posix/platform/mdns_socket.cpp
  src/posix/platform/mdns_socket.hpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, P4, platform: posix, comp: mdns

#11644 [toranj] remove duplicate define
  tests/toranj/openthread-core-toranj-config-posix.h
Labels: continuous-integration

#11643 [otns] make various enhancements to `Otns`
  examples/platforms/simulation/misc.c
  examples/platforms/simulation/platform-config.h
  script/make-pretty
  src/core/utils/otns.cpp
  src/core/utils/otns.hpp
  tests/gtest/fake_platform.cpp
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: enhancement, P4, comp: otns

#11645 [posix] add netlink-based address monitoring to `MdnsSocket`
  src/posix/platform/mdns_socket.cpp
  src/posix/platform/mdns_socket.hpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, P4, platform: posix, comp: mdns
