Repository openthread/openthread, pull requests merged in 2025-10, with the labels that each got.

#11914 [instance] expose multi-instance getter as instance API
  include/openthread/instance.h
  src/core/api/instance_api.cpp
Labels: api: user

#11989 [border-agent] read NetName and XPanId from active dataset for TXT data
  src/core/meshcop/border_agent.cpp
  tests/nexus/test_border_agent.cpp
Labels: enhancement, P4, comp: border agent

#11991 [fuzz] fix bounds checking in `cli-fuzzer`
  tests/fuzz/cli.cpp
Labels: continuous-integration

#11637 [rcp] add support for OTNS
  src/core/CMakeLists.txt
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/radio/radio.cpp
  src/core/utils/otns.cpp
  src/core/utils/otns.hpp
Labels: comp: rcp

#11906 [tcat] improve TCAT Commissioner output logging for SSL errors
  tools/tcat_ble_client/bbtc.py
  tools/tcat_ble_client/ble/ble_stream.py
  tools/tcat_ble_client/ble/ble_stream_secure.py
  tools/tcat_ble_client/ble/udp_stream.py
  tools/tcat_ble_client/cli/cli.py
Labels: comp: tcat

#11998 [border-router] introduce `br_log` for logging helpers
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/border_router/br_log.cpp
  src/core/border_router/br_log.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#11999 [fuzz] increase wait time in CLI fuzzer
  tests/fuzz/cli.cpp
Labels: tests

#11985 [meshcop] add `BorderAgentTracker` to discover Border Agents
  doc/ot_api_doc.h
  etc/cmake/options.cmake
  include/openthread/BUILD.gn
  include/openthread/border_agent_tracker.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli_utils.cpp
  src/cli/cli_utils.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/border_agent_tracker_api.cpp
  src/core/common/heap_string.hpp
  src/core/config/border_agent.h
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  src/core/meshcop/border_agent_tracker.cpp
  src/core/meshcop/border_agent_tracker.hpp
  src/core/net/dnssd.cpp
  tests/nexus/CMakeLists.txt
  tests/nexus/openthread-core-nexus-config.h
  tests/nexus/test_border_agent_tracker.cpp
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, api: user, comp: cli, comp: border agent

#11979 [cmake] added build command flag to set RCP time sync interval
  etc/cmake/options.cmake
Labels: comp: build, comp: rcp
