Repository openthread/openthread, pull requests merged in 2025-05, with the labels that each got.

#11463 [border-agent] simplify State Bitmap preparation
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11465 [udp] relax `SocketHandle::Matches()` for host interface
  src/core/net/udp6.cpp
Labels: enhancement, P4, comp: ip6

#11469 [dns] add common `TxtDataEncoder`
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/radio/trel_interface.cpp
Labels: enhancement, P4, comp: dns, comp: trel, comp: border agent

#11476 [trel] use `LinkedList` for TREL peer tracking
  include/openthread/instance.h
  include/openthread/trel.h
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
Labels: enhancement, P4, comp: trel

#11481 [nat64] remove support for `ipv4only.arpa`
  src/posix/platform/CMakeLists.txt
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  tests/scripts/thread-cert/border_router/internet/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/internet/test_with_infrastructure_prefix.py
Labels: comp: nat64

#11477 [trel] refactor `Peer` class and enhance `PeerInfo` parsing
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.hpp
  src/core/radio/trel_peer.cpp
  src/core/radio/trel_peer.hpp
Labels: enhancement, P4, comp: trel

#11482 [posix] remove `libanl`
  src/posix/platform/CMakeLists.txt
Labels: comp: build, platform: posix

#11483 [dua] suppress warning logs on normal behaviors
  src/core/thread/dua_manager.cpp
Labels: comp: dua

#11455 [border-agent] manage mDNS MeshCoP service registrations
  etc/cmake/options.cmake
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_agent_api.cpp
  src/core/config/border_agent.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/net/dnssd.cpp
  tests/nexus/openthread-core-nexus-config.h
  tests/nexus/platform/nexus_misc.cpp
  tests/nexus/test_border_agent.cpp
  tests/unit/test_mdns.cpp
  tests/unit/test_srp_adv_proxy.cpp
Labels: enhancement, P4, api: user, comp: meshcop, comp: border agent, comp: mdns

#11484 [trel] add `PeerTable` using `OwningList` and allow heap use
  src/core/api/trel_api.cpp
  src/core/config/trel.h
  src/core/instance/instance.hpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
  src/core/radio/trel_peer.cpp
  src/core/radio/trel_peer.hpp
  tests/toranj/openthread-core-toranj-config-posix.h
  tests/toranj/openthread-core-toranj-config-simulation.h
Labels: comp: trel

#11486 [posix] make the link-local route's metric configurable
  src/posix/platform/netif.cpp
  src/posix/platform/openthread-posix-config.h
Labels: enhancement, platform: posix

#11487 [border-agent] new API to set vendor-specific extra TXT data
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/api/border_agent_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
Labels: enhancement, P4, api: user, comp: dns, comp: border agent

#11493 [trel] introduce `Trel::PeerDiscoverer` class
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/instance/instance.hpp
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_link.hpp
  src/core/radio/trel_peer.hpp
  src/core/radio/trel_peer_discoverer.cpp
  src/core/radio/trel_peer_discoverer.hpp
Labels: enhancement, P4, comp: trel

#11496 [trel] introduce `TxtData` and `TxtDataEncoder` in `PeerDiscoverer`
  src/core/radio/trel_peer_discoverer.cpp
  src/core/radio/trel_peer_discoverer.hpp
Labels: enhancement, P4, comp: trel

#11498 [meshcop] fix the build when Border Agent ID is disabled
  src/core/meshcop/border_agent.hpp
Labels: bug, P2, comp: build, comp: meshcop

#11501 [docs] remove offline state from CLI README
  src/cli/README.md
Labels: comp: docs, comp: cli

#11506 [github-actions] pin dependencies
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: github_actions

#11504 [border-agent] add 'rv' key to MeshCoP TXT data
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
Labels: comp: border agent

#11490 [cli] add cli commands to show CSL accuracy and uncertainty
  src/cli/README.md
  src/cli/cli.cpp
Labels: P4, comp: cli

#11510 [dnssd] echo all questions in the response on `NameError`
  src/core/net/dnssd_server.cpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#11489 [dns] update comments DNS-types to match IANA
  src/core/net/dns_types.hpp
Labels: comp: docs, comp: dns

#11511 [trel] implement delayed peer removal in `PeerTable`
  src/core/radio/trel_peer.cpp
  src/core/radio/trel_peer.hpp
  src/core/radio/trel_peer_discoverer.cpp
  src/core/radio/trel_peer_discoverer.hpp
Labels: enhancement, P4, comp: trel

#11480 [dns] signal an error immediately when no upstream DNS server available
  examples/platforms/simulation/dns.c
  include/openthread/instance.h
  include/openthread/platform/dns.h
  src/core/net/dnssd_server.cpp
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
  tests/unit/test_platform.cpp
Labels: api: platform, comp: dns

#11516 [examples] define `OPENTHREAD_FTD` and `OPENTHREAD_MTD`
  examples/apps/cli/ftd.cmake
  examples/apps/cli/mtd.cmake
  examples/apps/cli/radio.cmake
Labels: comp: build

#11413 [dnssd-server] support SOA and NS query
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dns_client.cpp
Labels: enhancement, P4, comp: dns

#11521 [github-actions] bump go version to 1.23
  .github/workflows/otns.yml
Labels: github_actions

#11523 [docs] remove unmaintained badges from README
  README.md
Labels: comp: docs

#11524 [posix] add conditional around `SIGRTMIN`
  src/posix/main.c
Labels: platform: posix

#11526 [test] relax checks in `test_publish_meshcop_service`
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
Labels: enhancement, P4, tests

#11513 [type-traits] add `IsUint<Type>` and `IsInt<Type>`
  src/core/common/num_utils.hpp
  src/core/common/serial_number.hpp
  src/core/common/tlvs.hpp
  src/core/common/type_traits.hpp
  src/core/net/dns_types.hpp
  src/core/net/mdns.cpp
Labels: enhancement, P4

#11520 [docs] add guide on using python venv for cp-caps test
  tools/cp-caps/README.md
Labels: comp: docs

#11532 [mac] avoid logging frame that has not been validated
  src/core/mac/mac.cpp
Labels: comp: mac

#11539 [dhcp6-client] remove undefined method declaration
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_client.hpp
Labels: enhancement, P4, comp: dhcp6

#11538 [fuzz] migrate fuzz framework to nexus platform
  tests/fuzz/CMakeLists.txt
  tests/fuzz/cli_received.cpp
  tests/fuzz/corpora/radio-receive-done/mle-parent-request
  tests/fuzz/fuzzer_platform.cpp
  tests/fuzz/fuzzer_platform.h
  tests/fuzz/ip6_send.cpp
  tests/fuzz/ncp_hdlc_received.cpp
  tests/fuzz/oss-fuzz-build
  tests/fuzz/ot_fuzz_framework.cpp
  tests/fuzz/ot_fuzz_framework.h
  tests/fuzz/radio-one-node.cpp
  tests/fuzz/radio_receive_done.cpp
  tests/nexus/platform/nexus_misc.cpp
Labels: continuous-integration

#11537 [trel] explicitly request trel ack for broadcast tx to known neighbors
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_interface.hpp
  src/core/radio/trel_link.hpp
Labels: enhancement, P4, comp: trel

#11543 [dhcp6] style fixes and minor enhancements
  src/core/net/dhcp6.hpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_client.hpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dhcp6_server.hpp
Labels: enhancement, P4, comp: dhcp6

#11514 [posix] add runtime configuration file path support
  src/posix/platform/config_file.cpp
  src/posix/platform/config_file.hpp
  src/posix/platform/configuration.cpp
  src/posix/platform/configuration.hpp
  src/posix/platform/radio.cpp
  src/posix/platform/radio_url.cpp
Labels: platform: posix

#11549 [fuzz] avoid undefined enum values
  tests/fuzz/radio-one-node.cpp
Labels: continuous-integration

#11546 [notifier] streamline event delivery to core modules
  src/core/backbone_router/bbr_leader.cpp
  src/core/backbone_router/bbr_leader.hpp
  src/core/common/notifier.cpp
  src/core/net/dhcp6_client.cpp
  src/core/net/dhcp6_client.hpp
  src/core/net/dhcp6_server.cpp
  src/core/net/dhcp6_server.hpp
  src/core/net/nd_agent.cpp
  src/core/net/nd_agent.hpp
  src/core/thread/mle.cpp
Labels: enhancement, P4

#11550 [message] add destructors for `MessageQueue` and `PriorityQueue`
  src/core/common/message.hpp
Labels: enhancement, P4, platform: nexus
