Repository openthread/openthread, pull requests merged in 2025-09, with the labels that each got.

#11889 [cli] fix typo in `csl timeout` docs
  src/cli/cli.cpp
Labels: comp: docs, P4, comp: cli

#11882 [nexus] add test for nat64 translator
  tests/nexus/CMakeLists.txt
  tests/nexus/openthread-core-nexus-config.h
  tests/nexus/test_nat64_translator.cpp
Labels: enhancement, P4, comp: nat64, tests, platform: nexus

#11494 [p2p] add initial peer-to-peer support
  doc/ot_api_doc.h
  doc/ot_config_doc.h
  etc/cmake/options.cmake
  include/openthread/BUILD.gn
  include/openthread/instance.h
  include/openthread/provisional/link.h
  include/openthread/provisional/p2p.h
  script/test
  src/cli/README.md
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/api/p2p_api.cpp
  src/core/config/p2p.h
  src/core/config/wakeup.h
  src/core/instance/instance.hpp
  src/core/mac/mac.cpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/mac/wakeup_tx_scheduler.hpp
  src/core/openthread-core-config.h
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_p2p.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/neighbor.cpp
  src/core/thread/neighbor.hpp
  src/core/thread/neighbor_table.cpp
  src/core/thread/neighbor_table.hpp
  src/core/thread/peer.cpp
  src/core/thread/peer.hpp
  src/core/thread/peer_table.cpp
  src/core/thread/peer_table.hpp
  tests/scripts/expect/v1_5-cli-p2p-link.exp
  tests/unit/test_child_table.cpp
Labels: P3, api: user, comp: thread-in-mobile

#11893 [bit-utils] add `CountMatchingBits` utility function
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/common/bit_utils.cpp
  src/core/common/bit_utils.hpp
  src/core/net/ip4_types.cpp
  src/core/net/ip6_address.cpp
  src/core/net/ip6_address.hpp
  src/core/thread/network_data_tlvs.hpp
  tests/unit/CMakeLists.txt
  tests/unit/test_bit_utils.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4

#11894 [nat64] ensure translator is active before translation
  src/core/net/nat64_translator.cpp
  tests/unit/test_nat64.cpp
Labels: bug, enhancement, P4, comp: nat64

#11902 [api] add API to test whether the IPv6 address is a link local unicast address
  include/openthread/instance.h
  include/openthread/ip6.h
  src/core/api/ip6_api.cpp
Labels: P4, api: user

#11909 [nat64] use host ID tracking for IPv4 address allocation
  src/core/common/linked_list.hpp
  src/core/net/ip4_types.hpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  tests/nexus/test_nat64_translator.cpp
  tests/unit/test_linked_list.cpp
Labels: enhancement, P4, comp: nat64

#11935 [toranj] support default network key for debug
  tests/toranj/cli/cli.py
Labels: tests

#11892 [history-tracker] enable tracking indirect tx
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: comp:history-tracker

#11946 [fuzz] add CLI test
  tests/fuzz/CMakeLists.txt
  tests/fuzz/cli.cpp
Labels: continuous-integration

#11949 [nat64] introduce eviction mechanism for stale mappings
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
  tests/nexus/openthread-core-nexus-config.h
  tests/nexus/test_nat64_translator.cpp
Labels: enhancement, P4, comp: nat64

#11953 [mle] avoid overwriting parent candidate during child ID request phase
  src/core/thread/mle.cpp
Labels: bug, comp: mle

#11927 [cli] add LQ In to the neighbor table output
  src/cli/README.md
  src/cli/cli.cpp
  tests/scripts/expect/cli-neighbor.exp
Labels: comp: cli

#11962 [br-tracker] move iteration logic out of `RoutingManager::Iterator`
  src/core/border_router/br_tracker.cpp
  src/core/border_router/br_tracker.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#11963 [br-tracker] initialize `aMinAge` to `uint32_t::kMax`
  src/core/border_router/br_tracker.cpp
Labels: bug, P4, comp: border router

#11964 [br-tracker] enhance `NetDataBrTracker` to support filtering
  src/core/api/border_routing_api.cpp
  src/core/border_router/br_tracker.cpp
  src/core/border_router/br_tracker.hpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/notifier.cpp
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
  tests/unit/test_dns_client.cpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, comp: border router

#11973 [routing-manager] remove confusing log of nat64 prefix discovery
  src/core/border_router/routing_manager.cpp
Labels: P3, comp: logging, comp: nat64

#11978 [posix] use LogInfo if SPI reset device is not given
  src/posix/platform/spi_interface.cpp
Labels: platform: posix

#11986 [routing-manager] make getter methods const
  src/core/border_router/routing_manager.hpp
Labels: comp: border router
