Repository openthread/openthread, pull requests merged in 2025-02, with the labels that each got.

#11166 [border-agent] introduce `BorderAgent::EphemeralKeyManager`
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_agent_api.cpp
  src/core/config/border_agent.h
  src/core/instance/instance.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
  tests/scripts/expect/cli-misc.exp
  tests/scripts/thread-cert/border_router/test_ephemeral_key_counters.py
  tests/scripts/thread-cert/border_router/test_publish_meshcop_service.py
  tests/scripts/thread-cert/node.py
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-028-border-agent-ephemeral-key.py
Labels: enhancement, P4, api: user, comp: cli, comp: border agent

#11184 [diag] do not allow running `diag send` and `diag repeat` concurrently
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  tests/scripts/expect/cli-diags.exp
Labels: enhancement, P3, comp: diags

#11216 [border-agent] track `ForwardContext` and abort TMF txn on disconnect
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: bug, enhancement, P4, comp: border agent

#11220 [docker] use `arm64` runner instead of `qemu`
  .github/workflows/docker.yml
Labels: github_actions

#11218 [cli] add '-x' flag to tcp client to send hexadecimal data
  src/cli/cli_tcp.cpp
  tests/scripts/expect/cli-tcp.exp
Labels: comp: cli, comp: tcp

#11222 [tests] reduce waiting time in the test of registering 500 SRP services
  tests/scripts/thread-cert/test_srp_register_500_services.py
Labels: continuous-integration, tests

#11223 [tests] deal with the `No Such Record` lines in the output of `dns-sd`
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, tests

#11024 [wake-up] enable CCA for wake up frames
  src/core/config/wakeup.h
  src/core/mac/wakeup_tx_scheduler.cpp
  src/core/mac/wakeup_tx_scheduler.hpp
Labels: comp: mac

#11235 [diag] set `mIsSecurityProcessed` field before sending frames
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: P4, comp: diags

#11229 [tests] set the number of retry when executing the command
  tools/cp-caps/rcp_caps_test.py
  tools/otci/otci/command_handlers.py
Labels: enhancement, P3, comp: otci, tests

#11238 [utils] check whether `mInfo.mTxInfo.mIeInfo` is null before using it
  examples/platforms/simulation/radio.c
  examples/platforms/utils/mac_frame.cpp
Labels: bug, P3, platform: simulation

#11236 [routing-manager] track and log favored OMR prefix changes
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#11244 [tests] extend the waiting time in `test_mdns_restart` for SRP server to start
  tests/scripts/thread-cert/border_router/test_mdns_restart.py
Labels: continuous-integration, tests

#11241 [routing-manager] rename `PrefixEntry` to `PdPrefix`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, comp: br pd-prefix-manager

#11242 [routing-manager] simplify `PdPrefixManager::HasPrefix()`
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, comp: br pd-prefix-manager

#11252 [docker] combine multiarch build into single manifest
  .github/workflows/docker.yml
Labels: github_actions

#10953 [posix] set `IPV6_ADDR_PREFERENCES` on trel socket
  src/posix/platform/trel.cpp
Labels: enhancement, P4, platform: posix, comp: trel

#11246 [routing-manager] remove prefix change tracking in `PdPrefixManager`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, comp: br pd-prefix-manager

#11234 [doc] instruct to build nexus test in a directory
  tests/nexus/README.md
Labels: comp: docs, P4, tests

#11221 [radio] clarify `otPlatRadioReceiveAt()` behavior
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: enhancement, P4, api: platform, comp: radio

#11257 [radio] fix `ClearSrcMatchExtEntry()` Extended Address byte order
  src/core/radio/radio.cpp
  src/core/radio/radio.hpp
Labels: bug, P1, comp: radio

#11254 [test] relax BR tests that expect a single address on mDNS resolve
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
Labels: enhancement, comp: border router, tests

#11213 [cp-caps] use unittest to refactor the cp-caps test
  tools/cp-caps/README.md
  tools/cp-caps/device_manager.py
  tools/cp-caps/rcp_caps_test.py
  tools/cp-caps/test_csl.py
  tools/cp-caps/test_data_poll.py
  tools/cp-caps/test_diag_commands.py
  tools/cp-caps/test_frame_formats.py
  tools/cp-caps/test_link_metrics.py
  tools/cp-caps/test_radio_frame_tx_info.py
  tools/cp-caps/test_throughput.py
Labels: enhancement, P4, tests

#11250 [routing-manager] simplify state management in `PdPrefixManager`
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router, comp: br pd-prefix-manager

#11215 [border-agent] add new apis for refactoring meshcop service publishing
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/api/border_agent_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/net/dns_types.hpp
  tests/nexus/test_border_agent.cpp
Labels: P2, api: user, comp: border agent

#11266 [docker] use "ENV key=value" format
  etc/docker/environment/Dockerfile
Labels: comp: docker

#11270 [border-agent] try getting coap dtls session from ephemeral key manager
  src/core/meshcop/border_agent.cpp
Labels: comp: border agent

#11164 [channel-monitor] allow configuring startup behavior
  etc/cmake/options.cmake
  src/core/config/channel_monitor.h
  src/core/thread/thread_netif.cpp
Labels: comp: build

#11278 [mle] clamp child timeout to min/max range
  src/core/common/time.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#11283 [netdata] skip invalid TLVs in Network Data during iteration/search
  src/core/thread/network_data.cpp
  src/core/thread/network_data_tlvs.cpp
  src/core/thread/network_data_tlvs.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#11294 [srp-server] fix typo in docs
  src/core/net/srp_server.cpp
Labels: comp: docs, P4, comp:srp

#11243 [test] fix socat version to 1.7.4.4
  .github/workflows/otbr.yml
  .github/workflows/posix.yml
  .github/workflows/simulation-1.1.yml
  .github/workflows/simulation-1.4.yml
  script/install_socat
Labels: enhancement, P3, continuous-integration

#11289 [gtest] fix build error when building posix
  tests/gtest/fake_platform.cpp
Labels: continuous-integration, platform: posix

#11301 [csl] set the `SubMac` to handle the `CslSample()` method
  src/core/mac/mac.cpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.cpp
  src/core/mac/sub_mac.hpp
Labels: enhancement, P4, comp: csl

#11300 [mle] update `kAloc16ServiceEnd` and add explicit ALOC16 range check
  src/core/common/num_utils.hpp
  src/core/thread/mle_types.hpp
  src/core/thread/network_data_leader_ftd.cpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4, comp: mle

#11291 [border agent] add OT API to get Border Agent MeshCoP Service TXT data
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/api/border_agent_api.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
Labels: P2, api: user, comp: border agent

#11303 [posix] remove the polling mode from spi interface
  src/posix/platform/radio_url.cpp
  src/posix/platform/spi_interface.cpp
  src/posix/platform/spi_interface.hpp
Labels: enhancement, P4, platform: posix

#11292 [posix] introduce `OT_EXIT_RCP_RESET_REQUIRED` for platform reset requests
  src/lib/platform/exit_code.c
  src/lib/platform/exit_code.h
  src/posix/platform/radio_url.cpp
  src/posix/platform/spi_interface.cpp
Labels: platform: posix

#11180 [srp-server] add new `otSrpServerAddressMode` for faster start up
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/cli/cli_srp_server.cpp
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/toranj/cli/cli.py
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, api: user, comp:srp

#11306 [csl] update CSL methods to use core MAC address types
  src/core/mac/mac.cpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
  src/core/radio/radio.hpp
Labels: enhancement, P4, comp: csl

#11305 [srp-server] introduce "fast start mode" feature
  etc/cmake/options.cmake
  include/openthread/instance.h
  include/openthread/srp_server.h
  script/check-scan-build
  script/cmake-build
  script/test
  src/cli/README_SRP_SERVER.md
  src/cli/cli_srp_server.cpp
  src/core/api/srp_server_api.cpp
  src/core/common/notifier.cpp
  src/core/config/srp_server.h
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, api: user, comp:srp

#11271 [ncp] add spinel properties for border agent
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
Labels: comp: ncp, P2, comp: border agent
