Repository openthread/openthread, pull requests merged in 2025-07, with the labels that each got.

#11652 [posix] add helpers in `Mainloop::Source` to update `Context`
  src/posix/platform/alarm.cpp
  src/posix/platform/daemon.cpp
  src/posix/platform/daemon.hpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/mainloop.cpp
  src/posix/platform/mainloop.hpp
  src/posix/platform/mdns_socket.cpp
  src/posix/platform/mdns_socket.hpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/multicast_routing.hpp
  src/posix/platform/netif.cpp
  src/posix/platform/resolver.cpp
  src/posix/platform/resolver.hpp
  src/posix/platform/trel.cpp
  src/posix/platform/udp.cpp
  src/posix/platform/udp.hpp
  src/posix/platform/virtual_time.cpp
Labels: enhancement, P4, platform: posix

#11660 [tests] add support for enable/disable OT mdns
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/node.py
Labels: continuous-integration, comp: mdns

#11656 [mle] ignore Child Update Request when detached
  src/core/thread/mle.cpp
Labels: bug, enhancement, P3, comp: mle

#11658 [posix] fix the compile errors of src/posix/platform/alarm.cpp
  src/posix/platform/alarm.cpp
Labels: P3, platform: posix

#11654 [nat64] schedule evaluation of policy when `Nat64PrefixManager::Discover()` fails
  src/core/border_router/routing_manager.cpp
Labels: P1, comp: border router, comp: nat64

#11661 [nexus] ensure platform components are initialized first
  tests/nexus/platform/nexus_alarm.hpp
  tests/nexus/platform/nexus_node.hpp
  tests/nexus/platform/nexus_radio.cpp
  tests/nexus/platform/nexus_radio.hpp
Labels: enhancement, P4, platform: nexus

#11632 [mle] introduce `RetxTracker` to manage retransmissions
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11667 [routing-manager] new API to get infrastructure interface info
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, api: user, comp: border router

#11684 [github-actions] remove use of `Glitch` from size check
  .github/workflows/size.yml
Labels: github_actions

#11662 [nexus] add mechanism to emulate node reset
  tests/nexus/CMakeLists.txt
  tests/nexus/platform/nexus_alarm.hpp
  tests/nexus/platform/nexus_mdns.cpp
  tests/nexus/platform/nexus_mdns.hpp
  tests/nexus/platform/nexus_node.cpp
  tests/nexus/platform/nexus_node.hpp
  tests/nexus/platform/nexus_radio.cpp
  tests/nexus/platform/nexus_radio.hpp
  tests/nexus/platform/nexus_trel.cpp
  tests/nexus/platform/nexus_trel.hpp
  tests/nexus/test_full_network_reset.cpp
Labels: enhancement, P4, platform: nexus

#11678 [energy-scan-server] use `OwnedPtr` to prevent memory leak
  src/core/thread/energy_scan_server.cpp
  src/core/thread/energy_scan_server.hpp
Labels: enhancement, P4, comp: meshcop

#11683 [build] include necessary headers in spinel
  src/lib/spinel/radio_spinel_metrics.h
  src/lib/spinel/spinel_encrypter.hpp
Labels: comp: build, comp: spinel

#11680 [netdata] enhance `NetworkData::Service::Iterator`
  src/core/net/srp_client.cpp
  src/core/net/srp_server.cpp
  src/core/thread/address_resolver.cpp
  src/core/thread/network_data.hpp
  src/core/thread/network_data_publisher.cpp
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P4, comp: netdata

#11679 [mle] enhance role restoration logic in `Start()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#11615 [diag] deprecate otPlatDiagRadioTransmitDone() and otPlatDiagRadioReceiveDone()
  examples/platforms/simulation/radio.c
  include/openthread/instance.h
  include/openthread/platform/radio.h
  src/core/diags/factory_diags.cpp
  src/core/radio/radio.hpp
  src/core/radio/radio_platform.cpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/radio.cpp
Labels: P4, api: platform, comp: diags

#11650 [diag] add `diag sweep` command
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: comp: diags

#11682 [style] upgrade clang-format and clang-tidy from 14 to 16
  .clang-tidy
  .github/workflows/build.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  examples/platforms/simulation/uart.c
  script/bootstrap
  script/clang-format
  script/clang-tidy
  src/cli/cli.cpp
  src/core/border_router/routing_manager.hpp
  src/core/coap/coap.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/radio/radio.hpp
  src/core/thread/key_manager.cpp
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/daemon.cpp
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/include/openthread/openthread-system.h
  tests/unit/test_child.cpp
  tests/unit/test_link_quality.cpp
  tests/unit/test_spinel_prop_codec.cpp
  tests/unit/test_srp_adv_proxy.cpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P2, continuous-integration

#11710 [radio] fix clang-format (make-pretty) issue
  src/core/radio/radio.hpp
Labels: comp: radio

#11708 [mle] use `uint32_t` for delay parameter in `DelayedSender`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11709 [core] fix implicit integer conversion warnings
  src/core/border_router/dhcp6_pd_client.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/num_utils.hpp
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  src/core/ftd.cmake
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/mtd.cmake
  src/core/net/dhcp6_types.hpp
  src/core/net/dns_client.cpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/ip4_types.hpp
  src/core/net/ip6.hpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  src/core/net/nd6.hpp
  src/core/radio.cmake
  src/core/radio/trel_interface.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
  tests/unit/test_routing_manager.cpp
Labels: bug, enhancement, P4

#11722 [check-size] use `pull_request_target` event to trigger post report
  .github/workflows/size.yml
Labels: github_actions

#11714 [ip6] refactor `Filter::Accept` to `Filter::Apply` and return `Error`
  src/core/net/ip6_filter.cpp
  src/core/net/ip6_filter.hpp
  src/core/thread/mesh_forwarder.cpp
Labels: enhancement, P4, comp: ip6

#11721 [mle] avoid scheduling `RetxTracker` timer when disabled
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#11719 [mle] simplify requesting shorter Child ID Request msg
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle

#11732 [size-report] correct the checkout ref
  .github/workflows/size.yml
Labels: github_actions

#11728 [mle] refactor previous router/leader role restoration
  src/core/thread/mle.cpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11692 [trel] ignore mDNS service removal for peer table update
  src/core/radio/trel_interface.cpp
  src/core/radio/trel_link.cpp
  src/core/radio/trel_peer.cpp
  src/core/radio/trel_peer.hpp
  src/core/radio/trel_peer_discoverer.cpp
  src/core/radio/trel_peer_discoverer.hpp
  tests/nexus/test_trel.cpp
Labels: enhancement, P4, comp: trel

#11607 [posix] implement `Posix::Dhcp6PdSocket` for `otPlatInfraIfDhcp6Pd*`
  src/posix/platform/CMakeLists.txt
  src/posix/platform/dhcp6_pd_socket.cpp
  src/posix/platform/dhcp6_pd_socket.hpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/infra_if.hpp
  src/posix/platform/netif.cpp
  tests/toranj/openthread-core-toranj-config-simulation.h
  tests/toranj/openthread-core-toranj-config.h
Labels: enhancement, P4, platform: posix, comp: dhcp6

#11734 [mle] reorganize `Detacher` methods
  src/core/thread/mle.cpp
Labels: comp: mle

#11741 [dns-client] increase default response timeout to 7 seconds
  src/core/config/dns_client.h
Labels: enhancement, P4, comp: dns

#11685 [history-tracker] add Network Data DNS/SRP address entry tracking
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_history.cpp
  src/cli/cli_history.hpp
  src/core/api/history_tracker_api.cpp
  src/core/config/history_tracker.h
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, api: user, comp: cli, comp:history-tracker

#11748 [dns] add missing include
  src/core/net/dns_platform.cpp
Labels: comp: build, comp: dns

#11752 [test] remove the node type rcp-ncp
  script/test
Labels: enhancement, P4

#11762 [netdiag] fix incorrect bitmask for `AnswerTlv` index
  src/core/thread/network_diagnostic_tlvs.hpp
Labels: bug, P4, comp: netdiag

#11764 [mle] move child ID allocation logic to `ChildTable`
  src/core/thread/child_table.cpp
  src/core/thread/child_table.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11753 [mesh-diag] add API to configure response timeout
  include/openthread/instance.h
  include/openthread/mesh_diag.h
  src/cli/README.md
  src/cli/cli_mesh_diag.cpp
  src/core/api/mesh_diag_api.cpp
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
Labels: enhancement, P4, api: user, comp: cli, comp: mesh-diag
