Repository openthread/openthread, pull requests merged in 2025-03, with the labels that each got.

#11310 [border-agent] change meshcop service TXT value after enabling/disabling Epskc
  src/core/meshcop/border_agent.cpp
Labels: bug, P3, comp: border agent

#11027 [csl] enable CCA for CSL transmission
  src/core/thread/csl_tx_scheduler.cpp
Labels: comp: csl

#11302 [csl] handle `ReceiveAt()` and `Sleep() or Receive()` operations in different functions
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
Labels: enhancement, P4, comp: csl

#11320 [border-agent] fix meshcop service update issue
  src/core/meshcop/border_agent.cpp
Labels: bug, P2, comp: border agent

#11319 [srp-server] allow disabling "Fast Start Mode" via auto-enable
  include/openthread/instance.h
  include/openthread/srp_server.h
  src/core/net/srp_server.cpp
  src/core/net/srp_server.hpp
  tests/unit/test_srp_server.cpp
Labels: enhancement, P4, api: user, comp:srp

#11321 [cli] add `targetpower` command support
  src/cli/README.md
  src/cli/cli.cpp
  src/core/radio/radio_platform.cpp
  tests/scripts/expect/cli-misc.exp
Labels: P3, comp: cli

#11326 [cli] add validation of targetpower channel
  src/cli/cli.cpp
Labels: comp: cli

#11330 [srp-server] fix fast-start mode disruption when device role changes
  src/core/net/srp_server.cpp
Labels: comp:srp

#11333 [github-actions] remove avahi + TREL test
  .github/workflows/otbr.yml
Labels: github_actions

#11314 [csl] use correct time basis for CSL sample time
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
Labels: comp: csl

#11335 [mesh-forwarder] handle route lookup errors in `UpdateIp6RouteFtd()`
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#11336 [csl] use `mPanChannel` as default CSL channel
  src/core/mac/mac.cpp
Labels: enhancement, P4, comp: csl

#11328 [routing-manager] process RDNSS options and track addresses
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/net/nd6.cpp
  src/core/net/nd6.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, api: user, comp: cli, comp: border router

#11312 [csl] update CSL parameters only when necessary
  src/core/api/link_api.cpp
  src/core/mac/mac.cpp
  src/core/mac/mac.hpp
  src/core/mac/mac_links.hpp
  src/core/mac/sub_mac.hpp
  src/core/mac/sub_mac_csl_receiver.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
Labels: enhancement, P4, comp: csl

#11332 [mesh-forwarder] fix Ip6 route selected when OMR prefix has been removed but the OMR address is still valid
  src/core/net/ip6.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: comp: mesh-forwarder

#11338 [secure-transport] add option to specify NetifIdentifier
  src/core/meshcop/joiner.cpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
Labels: comp: meshcop

#11288 [mdns] introduce `RecordQuerier` for continuous record queries
  include/openthread/instance.h
  include/openthread/mdns.h
  src/cli/cli_mdns.cpp
  src/cli/cli_mdns.hpp
  src/core/api/mdns_api.cpp
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, api: user, comp: cli, comp: mdns

#11348 [coap] ensure correct retransmission timer scheduling
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
Labels: bug, enhancement, P2, comp: coap

#11015 [otci] update to support more commands
  tests/scripts/thread-cert/command.py
  tools/otci/otci/__init__.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/connectors.py
  tools/otci/otci/constants.py
  tools/otci/otci/errors.py
  tools/otci/otci/otci.py
  tools/otci/otci/types.py
  tools/otci/otci/utils.py
  tools/otci/tests/test_otci.py
Labels: comp: otci

#11350 [ncp] implement backbone router multicast forwarding
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/changed_props_set.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_ftd.cpp
  src/ncp/ncp_base_mtd.cpp
Labels: comp: ncp, P2, comp: backbone-router

#11352 [tests] fix: ensure radvd service starts correctly
  tests/scripts/thread-cert/node.py
Labels: tests

#11356 [cp-caps] replace nrfjprog with nrfutil in docs
  src/posix/README.md
  tools/cp-caps/README.md
Labels: comp: docs

#11197 [instance] add `otInstanceGetIndex()`
  include/openthread/instance.h
  src/core/api/instance_api.cpp
Labels: api: user

#11361 [mesh-forwarder] do not add CSL IE for non-neighbors
  src/core/thread/mesh_forwarder.cpp
Labels: comp: mesh-forwarder

#11344 [ncp] add spinel properties for CLI
  .github/workflows/unit.yml
  src/lib/spinel/spinel.c
  src/lib/spinel/spinel.h
  src/ncp/CMakeLists.txt
  src/ncp/ftd.cmake
  src/ncp/mtd.cmake
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base.hpp
  src/ncp/ncp_base_dispatcher.cpp
  src/ncp/ncp_base_mtd.cpp
  src/ncp/ncp_config.h
  tests/unit/CMakeLists.txt
  tests/unit/test_ncp_cli.cpp
Labels: comp: ncp, comp: spinel

#11354 [uptime] enforce `UPTIME` feature for MTD and FTD builds
  include/openthread/instance.h
  include/openthread/thread.h
  include/openthread/thread_ftd.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/thread_api.cpp
  src/core/border_router/routing_manager.hpp
  src/core/common/uptime.hpp
  src/core/config/misc.h
  src/core/meshcop/border_agent.hpp
  src/core/thread/child.cpp
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/neighbor.cpp
  src/core/thread/neighbor.hpp
  src/posix/platform/openthread-core-posix-config.h
Labels: enhancement, P4, api: user

#11334 [netdata] add stable flag to `otLowpanContextInfo` and CLI output
  include/openthread/instance.h
  include/openthread/netdata.h
  src/cli/README_NETDATA.md
  src/cli/cli_network_data.cpp
  src/cli/cli_network_data.hpp
  src/core/thread/network_data_types.cpp
  tests/toranj/cli/test-019-netdata-context-id.py
  tests/toranj/cli/test-035-context-id-change-addr-reg.py
Labels: enhancement, P4, api: user, comp: netdata

#11368 [test] fix `get_srp_server_port()` to handle the version field
  tests/scripts/thread-cert/node.py
Labels: bug, P4, tests

#11366 [radio] clarify `otExtAddress` byte order and `otPlatGetRssi` behavior
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: comp: docs, api: platform, comp: radio

#11211 [netdiag] add support for Enhanced Route TLV
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.cpp
  src/core/thread/network_diagnostic_tlvs.hpp
  tests/toranj/cli/test-023-mesh-diag.py
Labels: enhancement, P4, comp: netdiag

#11374 [cli] simplify simple commands using `Process{Get/Set}()` helpers
  src/cli/cli.cpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_srp_server.cpp
Labels: enhancement, P4, comp: cli

#11372 [srp-config] update `SRP_CLIENT_BUFFERS_MAX_SERVICES` for ref device
  src/core/config/srp_client.h
Labels: enhancement, P4, comp:srp

#11353 [mdns] support registering local host and its IPv6/IPv4 addresses
  include/openthread/instance.h
  include/openthread/mdns.h
  include/openthread/platform/mdns_socket.h
  src/cli/cli_mdns.cpp
  src/core/api/mdns_api.cpp
  src/core/instance/instance.cpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, api: platform, api: user, comp: mdns
