Repository openthread/openthread, pull requests merged in 2025-08, with the labels that each got.

#11773 [fuzz] add fuzzer for `otPlatInfraIfRecvIcmp6Nd`
  tests/fuzz/CMakeLists.txt
  tests/fuzz/icmp6.cpp
Labels: continuous-integration, comp: border router

#11781 [trel] fix possible use-after-free in `HandleTxtResult()`
  src/core/radio/trel_peer_discoverer.cpp
  src/core/radio/trel_peer_discoverer.hpp
Labels: bug, P3, comp: trel

#11789 [tcp] skip checksum validation during fuzz tests
  src/core/net/tcp6.cpp
Labels: continuous-integration, comp: tcp

#11783 [format] upgrade clang-format to 19
  .clang-tidy
  .github/workflows/build.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  include/openthread/coap.h
  include/openthread/instance.h
  script/bootstrap
  script/clang-format
  script/clang-tidy
  src/cli/cli.cpp
  src/cli/cli_br.cpp
  src/cli/cli_coap.cpp
  src/cli/cli_coap.hpp
  src/cli/cli_coap_secure.cpp
  src/cli/cli_coap_secure.hpp
  src/cli/cli_commissioner.cpp
  src/cli/cli_dataset.cpp
  src/cli/cli_dns.cpp
  src/cli/cli_history.cpp
  src/cli/cli_joiner.cpp
  src/cli/cli_link_metrics.cpp
  src/cli/cli_mac_filter.cpp
  src/cli/cli_mdns.cpp
  src/cli/cli_mesh_diag.cpp
  src/cli/cli_network_data.cpp
  src/cli/cli_srp_client.cpp
  src/cli/cli_srp_server.cpp
  src/cli/cli_tcat.cpp
  src/cli/cli_tcp.cpp
  src/cli/cli_udp.cpp
  src/core/mac/link_raw.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/net/nat64_translator.cpp
  src/core/net/srp_client.hpp
  src/core/radio/radio.hpp
  src/core/radio/trel_peer_discoverer.hpp
  src/core/thread/key_manager.cpp
  src/core/thread/key_manager.hpp
  src/core/thread/mle.hpp
  src/core/thread/network_diagnostic.hpp
  src/core/utils/heap.cpp
  src/include/common/code_utils.hpp
  src/lib/spinel/spinel.h
  src/ncp/ncp_base.cpp
  src/ncp/ncp_base_dispatcher.cpp
  src/posix/platform/include/openthread/openthread-system.h
  src/posix/platform/netif.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/radio_url.cpp
  src/posix/platform/rcp_caps_diag.cpp
  src/posix/platform/spi_interface.cpp
Labels: enhancement, P3

#11782 [mle] simplify `ThreadStatusTlv` handling
  src/core/api/backbone_router_ftd_api.cpp
  src/core/api/thread_ftd_api.cpp
  src/core/backbone_router/bbr_manager.cpp
  src/core/backbone_router/bbr_manager.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_types.hpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/thread_tlvs.hpp
Labels: enhancement, P4, comp: mle

#11784 [trel] fix compilation issue when `otPlatTrelNotifyPeerSocketAddressDifference` is undefined
  src/core/radio/trel_peer_discoverer.cpp
Labels: comp: trel

#11780 [routing-manager] update tracking of favored on-link prefix
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
Labels: enhancement, P4, comp: border router

#11798 [cmake] fix SRP server fast start mode option typo
  etc/cmake/options.cmake
  script/check-scan-build
  script/cmake-build
  script/test
Labels: comp: build

#11803 [child] remove redundant OPENTHREAD_FTDs
  src/core/thread/child.cpp
  src/core/thread/child.hpp
Labels: enhancement, P4

#11788 [cli] add `mdns` command guide
  src/cli/README.md
  src/cli/README_MDNS.md
Labels: enhancement, comp: docs, comp: cli, comp: mdns

#11786 [otci] fix parsing of dns_resolve4 and csl get/set methods
  tools/otci/otci/otci.py
  tools/otci/tests/test_otci.py
Labels: comp: otci

#11797 [format] standardize clang-format to 19.1.7
  .github/workflows/build.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  etc/docker/environment/Dockerfile
  script/bootstrap
  script/clang-format
  script/clang-tidy
  script/install-llvm.sh
  src/core/meshcop/border_agent.cpp
  tests/unit/test_network_data.cpp
Labels: enhancement, P3, continuous-integration

#11814 [netdata] reorder methods under `NetworkData::Service`
  src/core/thread/network_data_service.cpp
  src/core/thread/network_data_service.hpp
Labels: comp: netdata

#11809 [cli] document mdns `verboselogging` command
  src/cli/README_MDNS.md
Labels: comp: docs, comp: cli, comp: mdns

#11831 [mle] introduce `Attacher` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11834 [message] check for potential integer overflows
  src/core/common/message.cpp
  src/core/common/num_utils.hpp
  tests/unit/test_serial_number.cpp
Labels: enhancement, P4

#11835 [mle] introduce `Attacher` class
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_ftd.cpp
Labels: enhancement, P4, comp: mle

#11843 [mpl] use RLOC as IPv6 source address
  src/core/net/ip6.cpp
  tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py
Labels: comp: ip6-mpl

#11832 [cli] clarify and improve TCAT CLI README, including links to relevant ID types
  src/cli/README_TCAT.md
Labels: comp: cli, comp: tcat

#11836 [netdata] enhance `FindContext()` methods and `Lowpan::Context`
  src/core/net/dhcp6_server.cpp
  src/core/net/dhcp6_server.hpp
  src/core/net/nd_agent.cpp
  src/core/thread/dua_manager.cpp
  src/core/thread/lowpan.cpp
  src/core/thread/lowpan.hpp
  src/core/thread/mle.cpp
  src/core/thread/mle_ftd.cpp
  src/core/thread/network_data_leader.cpp
  src/core/thread/network_data_leader.hpp
  src/core/utils/slaac_address.cpp
  tests/unit/test_lowpan.hpp
Labels: enhancement, P4, comp: netdata

#11841 [mle] group `Attacher` method definitions in `mle.cpp`
  src/core/thread/mle.cpp
Labels: enhancement, P4, comp: mle

#11847 [nat64-translator] enhance and harmonize code style
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: enhancement, P4, comp: nat64

#11849 [nat64] introduce helpers for getting port or ICMP ID
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: enhancement, P4, comp: nat64

#11850 [nat64] simplify and enhance handling of counters
  src/core/api/nat64_api.cpp
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: enhancement, P4, comp: nat64

#11857 [mdns] add test for truncated query eviction
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, comp: unit-test, comp: mdns

#11848 [history-tracker] add DHCPv6 PD state and prefix history
  include/openthread/history_tracker.h
  include/openthread/instance.h
  src/cli/README_HISTORY.md
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
  src/cli/cli_history.cpp
  src/core/api/history_tracker_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/history_tracker.h
  src/core/utils/history_tracker.cpp
  src/core/utils/history_tracker.hpp
Labels: enhancement, P4, api: user, comp:history-tracker

#11863 [ipv4] smaller improvements in `Address`, `Cidr`, and `Header`
  src/core/net/ip4_types.cpp
  src/core/net/ip4_types.hpp
  tests/unit/test_ip4_header.cpp
Labels: enhancement, P4, comp: ip6

#11864 [nat64] simplify mapping lookup and `Touch()` method
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: enhancement, P4, comp: nat64

#11874 [core] harmonize access to MLE component using `Get<Mle::Mle>()`
  src/core/thread/dua_manager.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder_ftd.cpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/neighbor_table.cpp
Labels: enhancement, P4

#11879 [ipv4] fix `Cidr::Clear()`
  src/core/net/ip4_types.hpp
Labels: bug, P4, comp: nat64

#11869 [nat64] improve unit tests for `Nat64::Translator`
  src/core/net/nat64_translator.hpp
  tests/unit/test_nat64.cpp
Labels: comp: nat64, tests

#11583 [coap] add `otCoapSetResponseFallback` to process unmatched responses
  include/openthread/coap.h
  include/openthread/instance.h
  src/core/api/coap_api.cpp
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_message.hpp
Labels: api: user, comp: coap

#11878 [nat64] use `OwningList` to manage active mappings
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: enhancement, P4, comp: nat64

#11885 [message] improve scoping of `Buffer` constants
  src/core/common/message.hpp
  src/core/meshcop/meshcop.cpp
  src/core/meshcop/tcat_agent.hpp
  tests/unit/test_checksum.cpp
  tests/unit/test_message.cpp
Labels: enhancement, P4
