Repository openthread/openthread, pull requests merged in 2025-01, with the labels that each got.

#11087 [border-agent] update interactions with native `Commissioner`
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
Labels: enhancement, P4, comp: border agent

#11036 [api] clarify CSMA/CA behavior in TxInfo
  include/openthread/instance.h
  include/openthread/platform/radio.h
Labels: api: platform, comp: radio

#11107 [mle] remove redundant checks in otThreadBecomeRouter
  src/core/api/thread_ftd_api.cpp
  src/core/thread/mle_router.cpp
Labels: comp: mle

#11108 [diag] count the number of packets that are sent succeed and failed
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  tests/scripts/expect/cli-diags.exp
  tests/scripts/thread-cert/test_diag.py
  tools/cp-caps/rcp_caps_test.py
  tools/otci/otci/otci.py
Labels: enhancement, P3, comp: diags

#11114 [mle] fix warning of maybe-uninitialized tlvType
  src/core/thread/mle.cpp
Labels: comp: mle

#11112 [otci] add `diag frame` and `diag radio` related commands support
  tools/otci/otci/otci.py
Labels: enhancement, P3, comp: otci

#11067 [thread-netif] do not close `Tmf::SecureAgent` on `Down()`
  src/core/thread/thread_netif.cpp
Labels: enhancement, P4, comp: meshcop, comp: dtls

#11105 [cli] make meshdiag cli as a separate module
  src/cli/BUILD.gn
  src/cli/CMakeLists.txt
  src/cli/cli.cpp
  src/cli/cli.hpp
  src/cli/cli_mesh_diag.cpp
  src/cli/cli_mesh_diag.hpp
Labels: comp: cli

#11109 [border-agent] track successful connection with ephemeral key
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11126 [mesh-diag] fix typo `didPorcess` -> `didProcess`
  src/core/utils/mesh_diag.cpp
Labels: comp: mesh-diag

#11110 [test] add `test_border_agent` to nexus test cases
  tests/nexus/CMakeLists.txt
  tests/nexus/platform/nexus_core.cpp
  tests/nexus/platform/nexus_core.hpp
  tests/nexus/test_border_agent.cpp
Labels: enhancement, P4, comp: border agent, tests

#11118 [diag] remove redundant messages output by the diag module
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  tests/scripts/expect/cli-diags.exp
  tests/scripts/expect/posix-diag-rcp.exp
  tests/scripts/expect/posix-power-calibration.exp
  tests/scripts/thread-cert/test_diag.py
  tools/otci/otci/otci.py
Labels: enhancement, P4, comp: diags

#11115 [coap] use otError in C handlers
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/commissioner.cpp
  src/core/meshcop/commissioner.hpp
  src/core/meshcop/dataset_manager.cpp
  src/core/meshcop/dataset_manager.hpp
  src/core/meshcop/joiner.cpp
  src/core/meshcop/joiner.hpp
  src/core/meshcop/joiner_router.cpp
  src/core/meshcop/joiner_router.hpp
  src/core/thread/anycast_locator.cpp
  src/core/thread/anycast_locator.hpp
  src/core/thread/dua_manager.cpp
  src/core/thread/dua_manager.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/mlr_manager.cpp
  src/core/thread/mlr_manager.hpp
  src/core/thread/network_data_notifier.cpp
  src/core/thread/network_data_notifier.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/utils/channel_manager.cpp
  src/core/utils/channel_manager.hpp
  src/core/utils/mesh_diag.cpp
  src/core/utils/mesh_diag.hpp
Labels: comp: coap

#11101 [tasklet] add `Unpost()` method
  src/core/common/tasklet.cpp
  src/core/common/tasklet.hpp
  tests/unit/CMakeLists.txt
  tests/unit/test_tasklet.cpp
Labels: enhancement, P4

#11134 [gitignore] ignore nexus unit test binaries
  .gitignore
Labels: enhancement, P4

#11129 [continuous-integration] print summary for thread-cert tests
  tests/scripts/thread-cert/run_cert_suite.py
Labels: continuous-integration, tests

#11077 [tcat] add tlv command tree
  tools/tcat_ble_client/cli/__init__.py
  tools/tcat_ble_client/cli/cli.py
  tools/tcat_ble_client/cli/tlv_commands.py
Labels: comp: tcat

#11092 [secure-transport] support multiple sessions on the same transport
  src/core/coap/coap.cpp
  src/core/coap/coap.hpp
  src/core/coap/coap_secure.cpp
  src/core/coap/coap_secure.hpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/thread/tmf.cpp
  src/core/thread/tmf.hpp
  tests/nexus/test_dtls.cpp
Labels: enhancement, P4, comp: border agent, comp: dtls

#11140 [cli] simplify `ProcessLine()` implementation
  src/cli/cli.cpp
  src/cli/cli.hpp
Labels: enhancement, P4, comp: cli

#11139 [nat64-translator] ensure expired mappings are released in timer callback
  src/core/net/nat64_translator.cpp
Labels: bug, P2, comp: nat64

#11025 [mle] introduce "gradual router link establishment" on FTD children
  src/core/config/mle.h
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: comp: mle

#10906 [mle] expedite recovery from temporary router link quality mismatch
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
  src/core/thread/router_table.cpp
Labels: enhancement, P4, comp: mle

#11076 [diag] handle errors of `TransmitPacket()`
  src/core/diags/README.md
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
  tests/scripts/expect/cli-diags.exp
  tests/scripts/thread-cert/test_diag.py
  tools/otci/otci/otci.py
Labels: comp: diags

#11149 [otci] add adb key support for adb interface
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/otci.py
Labels: enhancement, P4, comp: thci

#11106 [cli] allow executing the `factoryreset` command when running sync commands
  src/cli/cli.cpp
Labels: enhancement, P3, comp: cli

#11154 [github-actions] add arm-gnu-toolchain-14.2rel1
  .github/workflows/build.yml
Labels: github_actions

#11131 [border-agent] update `CoapDtlsSession` to handle session functionality
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#11058 [spinel] save the radio spinel metrics to temporary storage
  src/lib/spinel/radio_spinel.cpp
  src/lib/spinel/radio_spinel.hpp
  src/posix/platform/CMakeLists.txt
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/radio.cpp
  src/posix/platform/radio.hpp
  src/posix/platform/tmp_storage.cpp
  src/posix/platform/tmp_storage.hpp
Labels: enhancement, P3, platform: posix, comp: spinel

#11142 [border-agent] organize `CoapDtlsSession` method definitions
  src/core/meshcop/border_agent.cpp
Labels: enhancement, P4, comp: border agent

#11155 [link-quality] track "link quality out" in `LinkQualityInfo`
  src/core/mac/mac.cpp
  src/core/thread/link_quality.cpp
  src/core/thread/link_quality.hpp
  src/core/thread/neighbor.hpp
  src/core/thread/router.hpp
  tests/unit/test_link_quality.cpp
Labels: enhancement, P4

#11119 [border-agent] add APIs to enable/disable ephemeral key feature
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/border_agent_api.cpp
  src/core/config/border_agent.h
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-028-border-agent-ephemeral-key.py
Labels: P2, api: user, comp: border agent

#11161 [style] use `constexpr` instead of anonymous `enum` for constants
  src/cli/cli_br.hpp
  src/core/net/tcp6.hpp
  src/core/thread/mle.cpp
  src/core/utils/parse_cmdline.cpp
  src/ncp/ncp_base.hpp
  tests/unit/test_message.cpp
  tests/unit/test_pool.cpp
Labels: enhancement, P4

#11165 [border-agent] remove unnecessary state checks in `CoapDtlsSession` methods
  src/core/meshcop/border_agent.cpp
Labels: enhancement, P4, comp: border agent

#11162 [cp-caps] compare sent and received frames to check whether specified frame format is supported
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: enhancement, P3, tests

#11160 [mle] track remaining Link Request attempts when re-establishing links
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
  src/core/thread/mle_router.cpp
  src/core/thread/mle_types.hpp
  src/core/thread/router.hpp
Labels: enhancement, P4, comp: mle

#10991 [tcat] implement extraction of active dataset and commissioner cert
  include/openthread/ble_secure.h
  include/openthread/instance.h
  include/openthread/platform/settings.h
  src/core/api/ble_secure_api.cpp
  src/core/common/settings.cpp
  src/core/common/settings.hpp
  src/core/meshcop/secure_transport.cpp
  src/core/meshcop/secure_transport.hpp
  src/core/meshcop/tcat_agent.cpp
  src/core/meshcop/tcat_agent.hpp
  src/core/radio/ble_secure.hpp
  src/core/utils/flash.hpp
  tests/scripts/expect/cli-tcat.exp
  tools/tcat_ble_client/cli/base_commands.py
  tools/tcat_ble_client/cli/cli.py
  tools/tcat_ble_client/tlv/tcat_tlv.py
Labels: api: platform, api: user, comp: tcat

#11174 [tcp] redefine conflicting symbols
  src/core/net/tcp6.cpp
  third_party/tcplp/bsdtcp/tcp.h
  third_party/tcplp/bsdtcp/tcp_fsm.h
  third_party/tcplp/bsdtcp/tcp_input.c
  third_party/tcplp/bsdtcp/tcp_output.c
  third_party/tcplp/bsdtcp/tcp_reass.c
  third_party/tcplp/bsdtcp/tcp_sack.c
  third_party/tcplp/bsdtcp/tcp_subr.c
  third_party/tcplp/bsdtcp/tcp_timer.c
  third_party/tcplp/bsdtcp/tcp_timewait.c
  third_party/tcplp/bsdtcp/tcp_usrreq.c
  third_party/tcplp/bsdtcp/tcp_var.h
Labels: comp: tcp

#11043 [nat64] add support for port translation
  include/openthread/instance.h
  include/openthread/nat64.h
  src/cli/cli.cpp
  src/core/config/nat64.h
  src/core/net/nat64_translator.cpp
  src/core/net/nat64_translator.hpp
Labels: api: user, comp: cli, comp: nat64

#11181 [diag] go back to sleep after transmission
  src/core/diags/factory_diags.cpp
  src/core/diags/factory_diags.hpp
Labels: comp: diags

#11169 [cp-caps] test the mTxInfo of the radio frame
  tools/cp-caps/README.md
  tools/cp-caps/rcp_caps_test.py
Labels: P3, tests

#10985 [mle] enhance neighbor aging & suppress Link Requests on FTD children
  src/core/thread/mle_router.cpp
  src/core/thread/mle_router.hpp
Labels: enhancement, P4, comp: mle

#11190 [core] replace `#if !OPENTHREAD_RADIO` with explicit FTD or MTD check
  src/core/common/random.cpp
  src/core/common/random.hpp
  src/core/crypto/aes_ccm.cpp
  src/core/crypto/aes_ccm.hpp
  src/core/crypto/crypto_platform.cpp
  src/core/crypto/mbedtls.cpp
  src/core/crypto/mbedtls.hpp
  src/core/mac/mac_frame.cpp
  src/core/mac/mac_types.cpp
  src/core/mac/mac_types.hpp
  src/core/thread/key_manager.hpp
Labels: comp: build

#11199 [docker] fix multi-arch docker builds
  .github/workflows/docker.yml
  etc/docker/environment/Dockerfile
Labels: github_actions

#11187 [cli] update default bind interface
  src/cli/README_UDP.md
  src/cli/cli_udp.cpp
Labels: comp: cli

#11182 [common] update and enhance CRC calculation
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/common/crc.cpp
  src/core/common/crc.hpp
  src/core/common/crc16.cpp
  src/core/common/message.hpp
  src/core/meshcop/meshcop.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_crc.cpp
Labels: enhancement, P4

#11192 [config] define uptime feature for MTDs
  src/core/config/misc.h
Labels: comp: build

#11200 [joiner] support a new EUI-64 at run time
  src/core/meshcop/joiner.cpp
Labels: comp: meshcop

#11205 [mle] introduce `TxMessage::AppendAddressRegistrationEntry()`
  src/core/thread/mle.cpp
  src/core/thread/mle.hpp
Labels: enhancement, P4, comp: mle
