Repository openthread/openthread, pull requests merged in 2025-04, with the labels that each got.

#11384 [github-actions] add `-DCMAKE_POLICY_VERSION_MINIMUM=3.5` to ot-commissioner build
  .github/workflows/simulation-1.1.yml
Labels: github_actions

#11383 [github-actions] add `-DCMAKE_POLICY_VERSION_MINIMUM=3.5` to mbedtls2 build
  .github/workflows/build.yml
Labels: github_actions

#11365 [routing-manager] add manual OMR prefix configuration on BR
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  tests/unit/test_routing_manager.cpp
Labels: enhancement, P4, api: user, comp: border router

#11376 [core] check exclusive selection of FTD, MTD, or RADIO configs
  src/core/instance/instance.cpp
Labels: enhancement, P4, comp: build

#11382 [uptime] add `GetUptimeInSeconds()` method for simplified uptime retrieval
  src/core/border_router/routing_manager.cpp
  src/core/common/uptime.cpp
  src/core/common/uptime.hpp
  src/core/thread/mle.cpp
  src/core/thread/neighbor.cpp
Labels: enhancement, P4

#11387 [coap] update `Instance::Get<Type>()` to support application CoAP comonents
  src/core/api/coap_api.cpp
  src/core/api/coap_secure_api.cpp
  src/core/coap/coap.hpp
  src/core/instance/instance.cpp
  src/core/instance/instance.hpp
Labels: enhancement, P4, comp: coap

#11367 [net-diag] implement non-preferred channels TLV support
  include/openthread/dataset.h
  include/openthread/instance.h
  include/openthread/netdiag.h
  src/cli/README.md
  src/cli/cli.cpp
  src/core/api/netdiag_api.cpp
  src/core/meshcop/meshcop_tlvs.cpp
  src/core/meshcop/meshcop_tlvs.hpp
  src/core/thread/network_diagnostic.cpp
  src/core/thread/network_diagnostic.hpp
  src/core/thread/network_diagnostic_tlvs.hpp
  tests/toranj/cli/test-020-net-diag-vendor-info.py
Labels: enhancement, P4, api: user, comp: netdiag

#11391 [mesh-forwarder] simplify destination MAC address determination
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#11393 [mesh-forwarder] rename `UpdateEidRlocCacheAndStaleChild()`
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#11392 [ip6] refactor and simplify `HandleDatagram()`
  src/core/net/ip6.cpp
  src/core/net/ip6.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#11395 [mesh-forwarder] improve reachability check method names
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/mesh_forwarder_ftd.cpp
Labels: enhancement, P4, comp: mesh-forwarder

#11359 [dns-client] add support for arbitrary DNS record type query
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/cli/README.md
  src/cli/cli_dns.cpp
  src/cli/cli_dns.hpp
  src/core/api/dns_api.cpp
  src/core/config/dns_client.h
  src/core/net/dns_client.cpp
  src/core/net/dns_client.hpp
  src/core/net/dns_types.hpp
Labels: api: user, comp: dns

#11394 [mdns] alternate platform API for signaling local address changes
  include/openthread/instance.h
  include/openthread/platform/mdns_socket.h
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: enhancement, P4, api: platform, comp: mdns

#11415 [border-agent] fix meshcop service omr entry
  include/openthread/border_agent.h
  include/openthread/instance.h
  src/core/meshcop/border_agent.cpp
Labels: bug, P1, comp: meshcop, comp: border agent

#11418 [build] enable `-Wundef` for MTD, FTD, and Radio builds
  CMakeLists.txt
  src/cli/ftd.cmake
  src/cli/mtd.cmake
  src/cli/radio.cmake
  src/core/config/misc.h
  src/core/ftd.cmake
  src/core/mtd.cmake
  src/core/radio.cmake
  src/ncp/ftd.cmake
  src/ncp/mtd.cmake
  src/ncp/ncp_config.h
Labels: comp: build

#11419 [mesh-forwarder] update and simplify `Counters` tracking
  src/core/thread/indirect_sender.cpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
Labels: enhancement, P4, comp: mesh-forwarder

#11424 [posix] enhance `otPlatAlarm` implementation
  src/posix/platform/alarm.cpp
Labels: enhancement, P4, platform: posix

#11404 [mdns] add API to get the list of local host IP addresses
  include/openthread/instance.h
  include/openthread/mdns.h
  src/cli/cli_mdns.cpp
  src/core/api/mdns_api.cpp
  src/core/net/mdns.cpp
  src/core/net/mdns.hpp
  tests/unit/test_mdns.cpp
Labels: api: user, comp: mdns

#11426 [posix] enhance config header file
  src/posix/platform/openthread-posix-config.h
  src/posix/platform/platform-posix.h
Labels: enhancement, P4, platform: posix

#11408 [dns] introduce `DecompressRecordData()` and use it in mDNS
  include/openthread/instance.h
  include/openthread/mdns.h
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/mdns.cpp
  tests/unit/test_dns.cpp
Labels: api: user, comp: dns, comp: mdns

#11397 [otci] add support for IPv4, vendor commands, networkdiagnostics
  src/cli/README.md
  src/cli/cli.cpp
  tools/otci/README.md
  tools/otci/otci/__init__.py
  tools/otci/otci/command_handlers.py
  tools/otci/otci/connectors.py
  tools/otci/otci/otci.py
  tools/otci/otci/types.py
  tools/otci/otci/utils.py
  tools/otci/tests/test_otci.py
Labels: comp: cli, comp: otci

#11427 [posix] move `SocketWithCloseExec()` helper to common `utils.hpp`
  src/posix/platform/daemon.cpp
  src/posix/platform/infra_if.cpp
  src/posix/platform/misc.cpp
  src/posix/platform/multicast_routing.cpp
  src/posix/platform/netif.cpp
  src/posix/platform/platform-posix.h
  src/posix/platform/trel.cpp
  src/posix/platform/udp.cpp
  src/posix/platform/utils.cpp
  src/posix/platform/utils.hpp
  src/posix/platform/virtual_time.cpp
Labels: platform: posix

#11432 [rcp] change default baud rate to 460800
  src/posix/README.md
  src/posix/platform/hdlc_interface.cpp
  src/posix/platform/radio_url.cpp
  tests/scripts/misc/test_rcp_reset.py
  tests/unit/test_url.cpp
Labels: comp: rcp

#11400 [routing-manager] introduce `MultiAilDetector`
  include/openthread/border_routing.h
  include/openthread/instance.h
  src/cli/README_BR.md
  src/cli/cli_br.cpp
  src/cli/cli_br.hpp
  src/core/api/border_routing_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/border_router/routing_manager.hpp
  src/core/config/border_routing.h
  tests/toranj/cli/cli.py
  tests/toranj/cli/test-505-multi-ail-detection.py
  tests/toranj/start.sh
Labels: enhancement, P4, api: user, comp: border router

#11269 [tcp] send RST and clear send buffer on abort
  src/core/net/tcp6.cpp
  third_party/tcplp/bsdtcp/tcp_subr.c
  third_party/tcplp/bsdtcp/tcp_usrreq.c
Labels: comp: tcp

#11435 [docs] use `NULL` in place of `nullptr`
  include/openthread/backbone_router_ftd.h
  include/openthread/instance.h
  include/openthread/link.h
  include/openthread/nat64.h
  include/openthread/platform/dns.h
  include/openthread/platform/multipan.h
  include/openthread/platform/radio.h
Labels: comp: docs, api: user

#11438 [tests] allow `service bind9 stop` to fail
  tests/scripts/thread-cert/border_router/internet/test_multi_border_routers.py
  tests/scripts/thread-cert/border_router/internet/test_single_border_router.py
  tests/scripts/thread-cert/border_router/internet/test_upstream_dns.py
  tests/scripts/thread-cert/border_router/internet/test_with_infrastructure_prefix.py
Labels: continuous-integration

#11357 [dnssd] support generic record queries via discovery proxy and SRP
  examples/platforms/simulation/dnssd.c
  include/openthread/instance.h
  include/openthread/mdns.h
  include/openthread/platform/dnssd.h
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd.cpp
  src/core/net/dnssd.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  src/ncp/platform/dnssd.cpp
  tests/scripts/thread-cert/border_router/test_dnssd_server.py
  tests/scripts/thread-cert/border_router/test_dnssd_server_multi_border_routers.py
  tests/scripts/thread-cert/node.py
  tests/scripts/thread-cert/test_dnssd.py
  tests/unit/test_dns_client.cpp
  tests/unit/test_dnssd_discovery_proxy.cpp
  tests/unit/test_platform.cpp
Labels: enhancement, P4, api: platform, comp: dns, comp:srp

#11412 [dns-client] use `DecompressRecordData()` for broader record type support
  include/openthread/dns_client.h
  include/openthread/instance.h
  src/core/net/dns_client.cpp
Labels: enhancement, P4, api: user, comp: dns

#11439 [dnssd] smaller enhancements in `Server`
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: enhancement, P4, comp: dns

#11443 [dnssd] introduce `AppendServiceRecords()` helper
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
Labels: enhancement, P4, comp: dns

#11444 [core] move `ThreadLinkInfo` to its own header and source files
  src/core/BUILD.gn
  src/core/CMakeLists.txt
  src/core/common/message.hpp
  src/core/thread/mesh_forwarder.cpp
  src/core/thread/mesh_forwarder.hpp
  src/core/thread/thread_link_info.cpp
  src/core/thread/thread_link_info.hpp
Labels: enhancement, P4

#11437 [dnssd] support RDATA translation in discovery proxy
  src/core/net/dns_types.cpp
  src/core/net/dns_types.hpp
  src/core/net/dnssd_server.cpp
  src/core/net/dnssd_server.hpp
  tests/unit/test_dnssd_discovery_proxy.cpp
Labels: enhancement, P4, comp: dns

#11442 [mle] add safeguard for link request scheduling failures
  src/core/thread/mle_ftd.cpp
Labels: bug, enhancement, P4, comp: mle

#11456 [border-agent] shorten method and variable names
  src/core/api/border_agent_api.cpp
  src/core/border_router/routing_manager.cpp
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
Labels: enhancement, P4, comp: border agent

#11457 [border-agent] signal TXT data change when Id is updated
  src/core/meshcop/border_agent.cpp
  src/core/meshcop/border_agent.hpp
  tests/nexus/test_border_agent.cpp
Labels: enhancement, P4, comp: border agent
